@use 'styles/theme-helpers' as th;

@mixin command-member-card-component-theme($theme) {
    app-command-member-card {
        .member-panel {
            .header-panel {
                .header-title-container {
                    .header-title {
                        &.edit {
                            &:hover {
                                border-color: th.primary($theme) !important;

                                .underline {
                                    background-color: var(--uksf-underline);
                                }
                            }
                        }
                    }
                }
            }

            .member-panel-content-container {
                .member-panel-content {
                    .member-panel-content-item {
                        .member-panel-content-element {
                            background-color: var(--uksf-selected);

                            &.edit {
                                border-color: var(--uksf-selected);

                                &:hover {
                                    color: th.primary($theme) !important;
                                    border-color: var(--uksf-hover);
                                }
                            }
                        }
                    }
                }
            }
        }

        ::-webkit-scrollbar-track {
            background-color: var(--uksf-side-bar);
        }

        ::-webkit-scrollbar-thumb {
            background-color: var(--uksf-scroll-thumb);
        }
    }
}
