@use '@angular/material' as mat;
@mixin command-member-card-component-theme($theme) {
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);

    app-command-member-card {
        .member-panel {
            &.hover {
                background-color: mat.get-color-from-palette($background, hover);
            }

            .header-panel {
                .header-title-container {
                    .header-title {
                        &.edit {
                            &:hover {
                                border-color: mat.get-color-from-palette($primary) !important;

                                .underline {
                                    background-color: mat.get-color-from-palette($background, underline);
                                }
                            }
                        }
                    }
                }
            }

            .member-panel-content-container {
                .member-panel-content {
                    .member-panel-content-item {
                        .member-panel-content-element {
                            background-color: mat.get-color-from-palette($background, selected);

                            &.edit {
                                border-color: mat.get-color-from-palette($background, selected);

                                &:hover {
                                    color: mat.get-color-from-palette($primary) !important;
                                    border-color: mat.get-color-from-palette($background, hover);
                                }
                            }
                        }
                    }
                }
            }
        }

        ::-webkit-scrollbar-track {
            background-color: mat.get-color-from-palette($background, side-bar);
        }

        ::-webkit-scrollbar-thumb {
            background-color: mat.get-color-from-palette($background, scroll-thumb);
        }
    }
}
