<div *ngIf="!issueUrl">
    <h2 mat-dialog-title *ngIf="type === newIssueTypeEnum.WEBSITE">Create Website Issue</h2>
    <h2 mat-dialog-title *ngIf="type === newIssueTypeEnum.MODPACK">Create Modpack Issue</h2>
    <mat-dialog-content>
        <form [formGroup]="form" class="container">
            <mat-form-field class="title">
                <input #input matInput formControlName="title" required placeholder="Issue Title" [errorStateMatcher]="instantErrorStateMatcher" />
                <mat-error *ngFor="let validation of validationMessages.title">
                    <mat-error class="error-message" *ngIf="form.get('title').hasError(validation.type)">{{ validation.message }}</mat-error>
                </mat-error>
            </mat-form-field>
            <div class="container-body">
                <mat-form-field class="textarea">
                    <textarea
                        matInput
                        class="textarea-input"
                        formControlName="body"
                        required
                        placeholder="Issue Body (Markdown supported)"
                        [errorStateMatcher]="instantErrorStateMatcher"
                        [(ngModel)]="body"
                        matTextareaAutosize
                        matAutosizeMinRows="25"
                        matAutosizeMaxRows="25"
                        maxlength="10000"
                    ></textarea>
                    <mat-hint *ngIf="body.length > 9500">{{ body.length }} / 10000</mat-hint>
                    <mat-error *ngFor="let validation of validationMessages.body">
                        <mat-error class="error-message" *ngIf="form.get('body').hasError(validation.type)">{{ validation.message }}</mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="button-container">
                <mat-error class="error-message" *ngIf="error">{{ error }}</mat-error>
                <app-flex-filler></app-flex-filler>
                <app-button-pending (clicked)="submit()" [pending]="pending" [disabled]="!form.valid">Submit</app-button-pending>
            </div>
        </form>
    </mat-dialog-content>
</div>
<div *ngIf="issueUrl">
    <h3 mat-dialog-title class="issue-url">
        Issue Created: <a target="_blank" [href]="issueUrl">{{ issueUrl }}</a>
    </h3>
</div>
