@use '@angular/material' as mat;

@mixin docs-permissions-component-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);

    app-docs-permissions {
        .mat-expansion-panel {
            background-color: mat.get-color-from-palette($background, 450);

            .permissions-header {        
                span {
                    color: mat.get-color-from-palette($primary);
                }
            }
        }
    }
} 
