@use 'styles/theme-helpers' as th;

@mixin docs-permissions-component-theme($theme) {
    app-docs-permissions {
        .mat-expansion-panel {
            background-color: var(--uksf-gray-450);

            .permissions-header {
                span {
                    color: th.primary($theme);
                }
            }
        }
    }
}
