<div>
    <h2 mat-dialog-title>Reset Password</h2>
    <form #form="ngForm" (ngSubmit)="submit()" [mustMatch]="['formPassword', 'formConfirmPassword']">
        <div class="special-field-form-container">
            <label for="name">If you see this, keep this field blank</label>
            <input type="text" id="name" name="formName" [(ngModel)]="model.name" tabindex="-1" autocomplete="off" [maxLength]="0" />
        </div>
        <app-text-input class="full-width" label="Email Address" type="email"
            name="formEmail" [(ngModel)]="model.email" autocomplete="username"
            [required]="true" email
            [validationMessages]="validationMessages.email">
        </app-text-input>
        <app-text-input class="full-width" label="New Password" type="password"
            name="formPassword" [(ngModel)]="model.password" autocomplete="current-password"
            [required]="true"
            [validationMessages]="validationMessages.password">
        </app-text-input>
        <app-text-input class="full-width" label="Confirm New Password" type="password"
            name="formConfirmPassword" [(ngModel)]="model.confirmPassword" autocomplete="new-password"
            [required]="true"
            [validationMessages]="validationMessages.confirmPassword">
        </app-text-input>
        <app-button-hidden-submit></app-button-hidden-submit>
    </form>
    <div class="options-container">
        <mat-checkbox color="primary" [(ngModel)]="stayLogged">Stay logged in</mat-checkbox>
        <app-flex-filler></app-flex-filler>
    </div>
    <div *ngIf="loginError != ''" class="invalid-message">
        <span>{{ loginError }}</span>
    </div>
    <form>
        <div class="button-container">
            <app-button (clicked)="submit()" [disabled]="!form.valid" [pending]="pending">Reset Password</app-button>
        </div>
    </form>
</div>
