<div>
    <h2 mat-dialog-title>Reset Password</h2>
    <form #form="ngForm" (ngSubmit)="submit()" [mustMatch]="['formPassword', 'formConfirmPassword']">
        <div class="special-field-form-container">
            <label for="name">If you see this, keep this field blank</label>
            <input type="text" id="name" name="formName" [(ngModel)]="model.name" tabindex="-1" autocomplete="off" [maxLength]="0" />
        </div>
        <mat-form-field class="full-width">
            <mat-label>Email Address</mat-label>
            <input
                matInput
                #email="ngModel"
                id="email"
                type="email"
                name="formEmail"
                [(ngModel)]="model.email"
               
                autocomplete="username"
                required
                email
                [errorStateMatcher]="instantErrorStateMatcher"
            />
            <mat-error>{{ getValidationError(email.control, validationMessages.email) }}</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="full-width">
            <mat-label>New Password</mat-label>
            <input
                matInput
                #password="ngModel"
                id="password"
                type="password"
                name="formPassword"
                [(ngModel)]="model.password"
               
                autocomplete="current-password"
                required
                [errorStateMatcher]="instantErrorStateMatcher"
            />
            <mat-error>{{ getValidationError(password.control, validationMessages.password) }}</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="full-width">
            <mat-label>Confirm New Password</mat-label>
            <input
                matInput
                #confirmPassword="ngModel"
                id="confirmPassword"
                type="password"
                name="formConfirmPassword"
                [(ngModel)]="model.confirmPassword"
               
                autocomplete="new-password"
                required
                [errorStateMatcher]="instantErrorStateMatcher"
            />
            <mat-error>{{ getValidationError(confirmPassword.control, validationMessages.confirmPassword) }}</mat-error>
        </mat-form-field>
        <app-button-hidden-submit></app-button-hidden-submit>
    </form>
    <div class="options-container">
        <mat-checkbox color="primary" [(ngModel)]="stayLogged">Stay logged in</mat-checkbox>
        <app-flex-filler></app-flex-filler>
    </div>
    <div *ngIf="loginError != ''">
        <br />
        <div class="invalid-message">
            <span>{{ loginError }}</span>
        </div>
    </div>
    <br />
    <form>
        <div class="button-container">
            <app-button (clicked)="submit()" [disabled]="!form.valid" [pending]="pending">Reset Password</app-button>
        </div>
    </form>
</div>
