<app-default-content-areas>
    <app-main-content-area style="grid-column: span 3">
        <app-admin-page></app-admin-page>
        <h4>Current user ID: {{ accountId }}</h4>
        <h4>Tools</h4>
        <div class="flex-container flex-row flex-wrap">
            <app-button-pending *ngFor="let tool of tools" (clicked)="runFunction(tool)" [pending]="tool.pending">{{ tool.title }}</app-button-pending>
        </div>
        <div class="flex-container no-padding-left" *ngIf="debug">
            <h4>Debug Tools</h4>
            <div class="flex-container flex-row flex-wrap">
                <app-button-pending *ngFor="let tool of debugTools" (clicked)="runFunction(tool)" [pending]="tool.pending" [disabled]="true">{{ tool.title }}</app-button-pending>
            </div>
        </div>
    </app-main-content-area>
</app-default-content-areas>
