.flex-container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-left: 16px;
    padding-right: 16px;

    &.flex-row {
        flex-direction: row;
    }

    &.no-padding-left {
        padding-left: 0;
    }

    &.flex-wrap {
        flex-wrap: wrap;
    }
}

.mat-form-field {
    width: 100%;
}

.dropdown {
    width: 300px;
}

.button-container {
    display: flex;
    flex-direction: row;
    padding-left: 16px;
}

h4 {
    margin: 16px;
}

app-button {
    width: fit-content;
    height: min-content;
    align-self: center;
    margin: 5px 5px 0 0;
}
