.flex-container {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    padding-left: 16px;
    padding-right: 16px;
}

button {
    width: fit-content;
    height: min-content;
    align-self: center;
    margin-right: 5px;
}
