.normal {
    display: block;
}

.name-container {
    display: flex;
    flex-direction: column;

    .names-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .name {
            display: block;
            width: 100%;

            &:first-of-type {
                margin-right: 5px;
            }
        }
    }
}

.dob {
    display: inline-block;
    width: 35px;
    margin-right: 5px;
}

.year {
    width: 40px;
}

.dob-error {
    font-size: 11px;
    line-height: 16px;
    color: var(--mdc-theme-error, #f44336);
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

:host ::ng-deep .nation {
    max-width: 605px; // Width of both name boxes with margin
}

.nation-name {
    margin-left: 10px;
}

.button-container {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 500px) {
    .name-container {
        .names-container {
            flex-direction: column;
            align-items: flex-start;

            .name {
                &:first-of-type {
                    margin-right: 0;
                }
            }
        }
    }

    :host ::ng-deep .nation {
        max-width: 300px;
    }
}
