.name-container {
    display: flex;
    flex-direction: column;

    .names-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .name {
            display: block;
            width: 100%;

            &:first-of-type {
                margin-right: 5px;
            }
        }
    }
}

.display-name {
    visibility: hidden;
    display: block;

    &.visible {
        visibility: visible;
    }
}

.dob {
    display: inline-block;
    width: 75px;
    min-width: 0;
    margin-right: 5px;
}

.dob-error {
    font-size: 11px;
    line-height: 16px;
    color: var(--mdc-theme-error, #f44336);
}

:host ::ng-deep .nation {
    max-width: 50%;
}

.nation-name {
    margin-left: 10px;
}

.button-container {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 500px) {
    .name-container {
        .names-container {
            flex-direction: column;
            align-items: flex-start;

            .name {
                &:first-of-type {
                    margin-right: 0;
                }
            }
        }
    }

    :host ::ng-deep .nation {
        max-width: 100%;
    }
}
