<mat-card>
    <h2>Identity</h2>
    <form [formGroup]="formGroup">
        <div class="special-field-form-container">
            <label for="name">If you see this, keep this field blank</label>
            <input type="text" id="name" formControlName="name" tabindex="-1" autocomplete="off" />
        </div>
        <app-text-input class="normal" label="Email" formControlName="email" [required]="true" autocomplete="username"
            [validationMessages]="validation_messages.email">
        </app-text-input>
        <br />
        <div formGroupName="passwordGroup">
            <app-text-input class="normal" label="Password (min 12 chars)" formControlName="password" type="password" [required]="true"
                autocomplete="new-password" [validationMessages]="validation_messages.password">
            </app-text-input>
            <br />
            <app-text-input class="normal" label="Confirm Password" formControlName="confirmPassword" type="password"
                autocomplete="new-password" [validationMessages]="validation_messages.confirmPassword">
            </app-text-input>
        </div>
        <br />
        <div class="name-container">
            <p>This name will be used in-game, on TeamSpeak, and on Discord.</p>
            <p>If you do not wish to use your real name, you may use a realistic fake name (for example, Barry Miller)</p>
            <div class="names-container">
                <app-text-input class="name" label="First name" formControlName="firstName" [required]="true"
                    autocomplete="given-name" appCharacterBlock>
                </app-text-input>
                <app-text-input class="name" label="Last name" formControlName="lastName" [required]="true"
                    autocomplete="family-name" appCharacterBlock>
                </app-text-input>
            </div>
            <span *ngIf="formGroup.value.firstName && formGroup.value.lastName">
                Your name will be displayed as:
                <b>{{ displayName }}</b>
            </span>
        </div>
        <br />
        <div formGroupName="dobGroup">
            <p>Date of Birth</p>
            <p>For example: 15/02/1989</p>
            <app-text-input class="dob" #day placeholder="dd" type="number" formControlName="day" [required]="true"
                autocomplete="bday-day" [reserveErrorSpace]="false" (keyup)="numberOnly($event, 'day', 0, 31)">
            </app-text-input>/
            <app-text-input class="dob" #month placeholder="mm" type="number" formControlName="month" [required]="true"
                autocomplete="bday-month" [reserveErrorSpace]="false" (keyup)="numberOnly($event, 'month', 0, 12)">
            </app-text-input>/
            <app-text-input class="dob year" #year placeholder="yyyy" type="number" formControlName="year" [required]="true"
                autocomplete="bday-year" [reserveErrorSpace]="false" (keyup)="numberOnly($event, 'year', 1, 2030)">
            </app-text-input>
            <div class="dob-error" *ngIf="formGroup.get('dobGroup').invalid && (formGroup.get('dobGroup').dirty || formGroup.get('dobGroup').touched)">
                {{ getValidationError(formGroup.get('dobGroup'), validation_messages.dob) }}
            </div>
        </div>
        <br />
        <app-dropdown [elementName]="'Nation of Residence'" [elements]="countries" [formFieldClass]="'nation'" [isRequired]="true" [placeholder]="'Nation of Residence'" formControlName="nation">
            <ng-template #element let-element>
                <img alt="{{ mapCountry(element).name }}" src="{{ mapCountry(element).image }}" width="35" />
                <span class="nation-name">{{ mapCountry(element).name }}</span>
            </ng-template>
        </app-dropdown>
        <br />
        <app-form-value-debug-reactive [form]="formGroup"></app-form-value-debug-reactive>
        <div class="button-next button-container">
            <app-button (clicked)="previous()" [disabled]="pending">Previous</app-button>
            <app-flex-filler></app-flex-filler>
            <app-button (clicked)="next()" [disabled]="!formGroup.valid || pending || validating" [pending]="pending"> Next </app-button>
        </div>
    </form>
</mat-card>
