<div #editorBounds class="content">
    @if (readonly) {
        <quill-view [content]="content" [modules]="modules" [preserveWhitespace]="true" class="content-view" format="json"></quill-view>
    } @else {
        <quill-editor
            [ngModel]="content"
            (ngModelChange)="onContentChange($event)"
            (onEditorCreated)="decorateTableButtons($event)"
            [bounds]="editorBounds"
            [modules]="modules"
            [preserveWhitespace]="true"
            class="content-editor"
            format="json"
            placeholder=""
        ></quill-editor>
    }
</div>
