@mixin command-training-component-theme($theme) {
    app-command-training {
    }

    &.cdk-drag-preview {
        &.trainings-list-item {
            background-color: var(--uksf-card);
        }
    }
}
