<app-default-content-areas>
    <app-main-content-area style="grid-column: span 3;">
        <app-admin-page></app-admin-page>
        <div class="flex-container">
            <div class="spinner-container" *ngIf="!variables">
                <mat-spinner></mat-spinner>
            </div>
            <div *ngIf="variables" class="variables-container">
                <div>
                    <form [formGroup]="form" class="flex-container-slim">
                        <mat-form-field class="key-field">
                            <input #input matInput formControlName="key" required placeholder="Key" [errorStateMatcher]="instantErrorStateMatcher">
                            <mat-error *ngFor="let validation of validationMessages.key">
                                <mat-error class="error-message" *ngIf="form.get('key').hasError(validation.type)">{{validation.message}}</mat-error>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="item-field">
                            <input #input matInput formControlName="item" required placeholder="Item" [errorStateMatcher]="instantErrorStateMatcher">
                            <mat-error *ngFor="let validation of validationMessages.item">
                                <mat-error class="error-message" *ngIf="form.get('item').hasError(validation.type)">{{validation.message}}</mat-error>
                            </mat-error>
                        </mat-form-field>
                        <button mat-raised-button color="primary" (click)="addVariable()" [disabled]="!form.valid || updating">Add Variable</button>
                    </form>
                </div>
                <br>
                <div>
                    <mat-card *ngFor="let variable of variables">
                        <span class="key">{{variable.key}}</span>
                        <app-inline-edit class="item" [(ngModel)]="variable.item" [required]="true" type="text" (finishedEvent)="editVariable(variable, $event)"></app-inline-edit>
                        <mat-icon class="delete-icon" (click)="deleteVariable($event, variable)" [ngClass]="{'disabled': updating}">highlight_off</mat-icon>
                    </mat-card>
                </div>
            </div>
        </div>
    </app-main-content-area>
</app-default-content-areas>
