.flex-container {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    padding-left: 16px;
    padding-right: 16px;

    .variables-container {
        width: 100%;
        padding-bottom: 16px;

        .variables-header {
            position: sticky;
            top: 0;
            z-index: 1;

            .variables-form-container {
                display: flex;
                flex-direction: row;
                margin-left: 0;

                .key-field {
                    margin-right: 10px;
                    width: 275px;
                }

                .item-field {
                    margin-right: 10px;
                    flex: 1;
                }

                .mat-raised-button {
                    width: fit-content;
                    height: min-content;
                    align-self: center;
                }

                .mat-icon-button {
                    margin: auto;
                }
            }
        }

        .variables-list-container {
            .variables-list {
                .variables-list-item {
                    background: transparent;
                    box-shadow: unset;
                    border-radius: 0;

                    &.mat-expansion-panel-spacing {
                        margin: 0;
                    }

                    .mat-expansion-panel-header {
                        padding: 0 0 0 8px;
                        width: fit-content;

                        &:hover {
                            background: transparent;
                        }
                    }

                    .variable-item {
                        display: flex;
                        flex-direction: row;
                        padding: 0;
                        align-items: center;
                        margin-bottom: 3px;
                        height: 36px;
                        padding-right: 10px;
                        padding-left: 10px;

                        .delete-icon {
                            color: red;
                            cursor: pointer;

                            &.disabled {
                                opacity: 0.5;
                                cursor: default;
                                pointer-events: none;
                            }
                        }

                        .key {
                            padding-left: 10px;
                            font-weight: bold;
                            width: 250px;
                        }

                        .item {
                            flex: 1;
                            padding-left: 10px;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }
}
