.mat-mdc-dialog-content {
    overflow: hidden;
    min-width: 450px;

    .spinner-container {
        height: 152px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        width: fit-content;
        min-width: 450px;
        max-height: 600px;

        .pbos-list-container {
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow-y: auto;
            padding-right: 6px;

            .pbos-list-item-container {
                display: flex;
                flex-direction: row;

                .pbos-list-item {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    height: 40px;
                    font-size: 16px;
                    line-height: 16px;

                    span {
                        margin: auto 0;
                    }
                }

                .mat-mdc-checkbox {
                    padding: 6px;
                    margin: auto;
                }
            }
        }
    }
}

label {
    margin-bottom: 0;
}
