@use 'styles/theme-helpers' as th;

@mixin workshop-mod-intervention-modal-component-theme($theme) {
    app-workshop-mod-intervention-modal {
        .pbos-list-item {
            span {
                color: th.fg-base($theme);

                &.conflict {
                    color: red;
                }
            }
        }

        ::-webkit-scrollbar-track {
            background-color: var(--uksf-side-bar);
        }

        ::-webkit-scrollbar-thumb {
            background-color: var(--uksf-scroll-thumb);
        }
    }
}
