@use '@angular/material' as mat;

@mixin workshop-mod-intervention-modal-component-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);

    app-workshop-mod-intervention-modal {
        .pbos-list-item {
            span {
                color: mat.m2-get-color-from-palette($foreground, base);

                &.conflict {
                    color: red;
                }
            }
        }

        ::-webkit-scrollbar-track {
            background-color: mat.m2-get-color-from-palette($background, side-bar);
        }

        ::-webkit-scrollbar-thumb {
            background-color: mat.m2-get-color-from-palette($background, scroll-thumb);
        }
    }
}
