<app-theme-emitter></app-theme-emitter>
@if (build) {
<div class="log-container">
    <div class="log-steps">
        <h3>Steps</h3>
        <div class="steps-container">
            @for (step of build.steps; track stepTrackBy(stepIndex, step); let stepIndex = $index) {
            <button type="button" class="log-step-item" [ngClass]="{ selected: selectedStepIndex === stepIndex }" (click)="selectStep(stepIndex, true)">
                @if (!step.running && !step.finished) {
                <i class="far fa-circle"></i>
                } @if (step.running && step.buildResult !== modpackBuildResult.WARNING) {
                <i class="fas fa-chevron-circle-right running"></i>
                } @if (step.buildResult === modpackBuildResult.SUCCESS) {
                <i class="fas fa-check-circle success"></i>
                } @if (step.buildResult === modpackBuildResult.FAILED) {
                <i class="fas fa-minus-circle fail"></i>
                } @if (step.buildResult === modpackBuildResult.CANCELLED) {
                <i class="fas fa-stop-circle cancelled"></i>
                } @if (step.buildResult === modpackBuildResult.WARNING) {
                <i class="fas fa-exclamation-circle warning"></i>
                } @if (step.buildResult === modpackBuildResult.SKIPPED) {
                <i class="fas fa-exclamation-circle skipped"></i>
                }
                <span class="wide">{{ step.name }}</span>
                <span class="narrow">{{ step.index + 1 }}</span>
            </button>
            }
        </div>
    </div>
    @if (selectedStep) {
    <div class="log-output">
        <div class="log-output-header">
            <div class="log-step-title">
                @if (!selectedStep.running && !selectedStep.finished) {
                <i class="far fa-circle"></i>
                } @if (selectedStep.running && selectedStep.buildResult !== modpackBuildResult.WARNING) {
                <i class="fas fa-chevron-circle-right running"></i>
                } @if (selectedStep.buildResult === modpackBuildResult.SUCCESS) {
                <i class="fas fa-check-circle success"></i>
                } @if (selectedStep.buildResult === modpackBuildResult.FAILED) {
                <i class="fas fa-minus-circle fail"></i>
                } @if (selectedStep.buildResult === modpackBuildResult.CANCELLED) {
                <i class="fas fa-stop-circle cancelled"></i>
                } @if (selectedStep.buildResult === modpackBuildResult.WARNING) {
                <i class="fas fa-exclamation-circle warning"></i>
                } @if (selectedStep.buildResult === modpackBuildResult.SKIPPED) {
                <i class="fas fa-exclamation-circle skipped"></i>
                }
                <h1 class="build-title">{{ selectedStep.name }}</h1>
            </div>
            <app-flex-filler></app-flex-filler>
            <div class="buttons">
                <div class="state">
                    @if (!build.running && !build.finished) {
                    <i class="queued">Queued</i>
                    } @if (build.running) {
                    <i class="running" [ngClass]="{ warning: anyWarning }">Running...</i>
                    } @if (build.buildResult === modpackBuildResult.SUCCESS) {
                    <span class="success" [ngClass]="{ warning: anyWarning }">Success</span>
                    } @if (build.buildResult === modpackBuildResult.FAILED) {
                    <span class="fail">Failed</span>
                    } @if (build.buildResult === modpackBuildResult.CANCELLED) {
                    <span class="cancelled">Cancelled</span>
                    } @if (build.buildResult === modpackBuildResult.WARNING) {
                    <span class="warning">Warning</span>
                    }
                </div>
                <app-flex-filler></app-flex-filler>
                @if (canControl) { @if (!build.finished && !cancelling) {
                <button mat-raised-button color="primary" (click)="cancelBuild()">Cancel Build</button>
                } @if (rebuildCondition()) {
                <button mat-raised-button color="primary" (click)="rebuild()">Rebuild</button>
                } }
                <button mat-raised-button color="primary" (click)="closeLog()">Close Log</button>
                <button
                    mat-raised-button
                    color="primary"
                    class="scroll"
                    [ngClass]="{
                        autoScroll: selectedStep.running && !autoScroll
                    }"
                    (click)="toggleAutoScroll()"
                    [matTooltip]="selectedStep.running ? 'Turn autoscroll ' + (autoScroll ? 'off' : 'on') : 'Scroll to bottom'"
                >
                    <mat-icon>arrow_downward</mat-icon>
                </button>
            </div>
        </div>
        <cdk-virtual-scroll-viewport itemSize="20" class="build-log">
            @if (selectedStep.logs.length === 0) {
            <div class="log-item">
                <div class="index">0</div>
                @if (!build.running && !build.finished) {
                <div class="text">Waiting for build to start...</div>
                } @if (selectedStep.index > 0 && build.running) {
                <div class="text" style="color: #0c78ff">Waiting for previous step to finish...</div>
                } @if (build.buildResult === modpackBuildResult.FAILED) {
                <div class="text" style="color: red">Build failed</div>
                } @if (build.buildResult === modpackBuildResult.CANCELLED) {
                <div class="text" style="color: goldenrod">Build cancelled</div>
                }
            </div>
            }
            <div class="log-item" [ngClass]="{ selected: selectedLogIndex === logIndex }" *cdkVirtualFor="let log of selectedStep.logs; let logIndex = index">
                <div class="index">{{ logIndex + 1 }}</div>
                <div class="text" [style.color]="getLogItemColour(logIndex)">
                    <span [innerHTML]="log.text | ansiToHtml"></span>
                </div>
                @if (log.text && build.finished) {
                <mat-icon class="link" (click)="selectLogLine(logIndex)" [matTooltip]="selectedLogIndex === logIndex ? 'Deselect line' : 'Copy link to line'">link</mat-icon>
                }
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
    }
</div>
}
