@use 'styles/theme-helpers' as th;

@mixin modpack-builds-steps-component-theme($theme) {
    app-modpack-builds-steps {
        a {
            color: th.primary($theme);
        }

        .log-container {
            .log-steps {
                border-right: 1px solid var(--uksf-selected);

                h3 {
                    border-bottom: 1px solid var(--uksf-selected);
                }

                .log-step-item {
                    border-bottom: 1px solid var(--uksf-selected);

                    &.selected {
                        color: th.primary($theme);
                        background-color: var(--uksf-selected);
                    }

                    &:hover {
                        background-color: var(--uksf-hover);
                    }
                }
            }

            .log-output {
                .log-output-header {
                    .buttons {
                        .mat-mdc-raised-button {
                            &.scroll {
                                &.autoScroll {
                                    background-color: var(--uksf-selected);
                                }
                            }
                        }
                    }
                }

                .build-log {
                    color: var(--uksf-contrast);
                    background-color: transparent;

                    .log-item {
                        color: th.fg-base($theme);

                        &.selected {
                            background-color: var(--uksf-selected);

                            .link {
                                color: var(--uksf-contrast);
                            }
                        }

                        &:hover {
                            background-color: var(--uksf-hover);

                            &.selected {
                                background-color: var(--uksf-selected);
                            }

                            .link {
                                color: th.fg-base($theme);
                            }
                        }

                        .link {
                            color: transparent;

                            &:hover {
                                color: th.primary($theme);
                            }
                        }
                    }
                }
            }

            i {
                color: var(--uksf-contrast);
            }
        }
    }
}
