@use '@angular/material' as mat;
@use 'sass:map';

@mixin modpack-builds-steps-component-theme($theme) {
    $foreground: map.get($theme, foreground);
    $primary: map.get($theme, primary);
    $accent: map.get($theme, accent);
    $background: map.get($theme, background);

    app-modpack-builds-steps {
        a {
            color: mat.m2-get-color-from-palette($primary);
        }

        .log-container {
            .log-steps {
                border-right: 1px solid mat.m2-get-color-from-palette($background, selected);

                h3 {
                    border-bottom: 1px solid mat.m2-get-color-from-palette($background, selected);
                }

                .log-step-item {
                    border-bottom: 1px solid mat.m2-get-color-from-palette($background, selected);

                    &.selected {
                        color: mat.m2-get-color-from-palette($primary, default);
                        background-color: mat.m2-get-color-from-palette($background, selected);
                    }

                    &:hover {
                        background-color: mat.m2-get-color-from-palette($background, hover);
                    }
                }
            }

            .log-output {
                .log-output-header {
                    .buttons {
                        .mat-mdc-raised-button {
                            &.scroll {
                                &.autoScroll {
                                    background-color: mat.m2-get-color-from-palette($background, selected);
                                }
                            }
                        }
                    }
                }

                .build-log {
                    color: mat.m2-get-color-from-palette($background, contrast);
                    background-color: transparent;

                    .log-item {
                        color: mat.m2-get-color-from-palette($foreground, base);

                        &.selected {
                            background-color: mat.m2-get-color-from-palette($background, selected);

                            .link {
                                color: mat.m2-get-color-from-palette($background, contrast);
                            }
                        }

                        &:hover {
                            background-color: mat.m2-get-color-from-palette($background, hover);

                            &.selected {
                                background-color: mat.m2-get-color-from-palette($background, selected);
                            }

                            .link {
                                color: mat.m2-get-color-from-palette($foreground, base);
                            }
                        }

                        .link {
                            color: transparent;

                            &:hover {
                                color: mat.m2-get-color-from-palette($primary);
                            }
                        }
                    }
                }
            }

            i {
                color: mat.m2-get-color-from-palette($background, contrast);
            }
        }
    }
}
