:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

h3 {
    margin: 12px 0;
}

.content-placeholder {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    .content-header {
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 16px;

        .document-title {
            font-size: 24px;
            align-self: center;
        }

        .buttons-container {
            display: flex;
            flex-direction: row;

            app-button {
                height: fit-content;
                align-self: center;
            }
        }
    }

    .content {
        flex-grow: 1;
        display: flex;
        overflow-y: hidden;

        .content-view {
            flex: 1;
        }

        .content-editor {
            flex: 1;
            display: flex;
            flex-direction: column;
        }
    }
}

::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}
