<h2 mat-dialog-title>Edit members</h2>
<mat-dialog-content>
    <div style="display:flex">
        <div style="padding-bottom: 1.25em;
        align-self: flex-end;margin-right:15px;">Maj.Fisher.M</div>
        <mat-form-field style="width:100%;clear:right;margin-right:15px;">
            <input matInput placeholder="Role">
        </mat-form-field>
        <mat-form-field style="width:100%;clear:right;">
            <input matInput placeholder="Group roles (comma separated)">
        </mat-form-field>
    </div>
    <div style="display:flex">
        <div style="padding-bottom: 1.25em;
        align-self: flex-end;margin-right:15px;">Maj.Fisher.M</div>
        <mat-form-field style="width:100%;clear:right;margin-right:15px;">
            <input matInput placeholder="Role">
        </mat-form-field>
        <mat-form-field style="width:100%;clear:right;">
            <input matInput placeholder="Group roles (comma separated)">
        </mat-form-field>
    </div>
    <div style="display:flex">
        <div style="padding-bottom: 1.25em;
        align-self: flex-end;margin-right:15px;">Maj.Fisher.M</div>
        <mat-form-field style="width:100%;clear:right;margin-right:15px;">
            <input matInput placeholder="Role">
        </mat-form-field>
        <mat-form-field style="width:100%;clear:right;">
            <input matInput placeholder="Group roles (comma separated)">
        </mat-form-field>
    </div>
</mat-dialog-content>
<button mat-button mat-dialog-close style="float:left;">Cancel</button>
<button mat-button mat-dialog-close style="float:right;">Save</button>
<br style="clear:both;">