.mat-mdc-dialog-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0;
}

h2 {
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 450px;
    max-height: 600px;
    padding: 0 12px;

    .mods-list-header {
        display: flex;
        flex-direction: row;
        margin: 6px 18px 0;

        .mods-list-header-item {
            font-weight: bold;
            margin-right: 11px;

            &:first-of-type {
                line-height: 18px;
            }
        }
    }

    .mods-list-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: auto;
        padding: 4px 24px 16px 16px;

        .mods-list-item-container {
            display: flex;
            flex-direction: row;

            .mods-list-item {
                display: flex;
                flex-direction: row;
                width: 100%;
                margin-left: 4px;
                font-size: 16px;
            }

            .mat-mdc-checkbox {
                margin: auto 6px auto 0;
            }
        }
    }

    .button-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0 24px;
        margin-top: 12px;
    }
}

::-webkit-scrollbar {
    width: 7px;
    padding-left: 2px;
}

::-webkit-scrollbar-track {
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
}
