.flex-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 450px;

    .mods-list-header {
        display: flex;
        flex-direction: row;
        padding: 6px 0 4px;

        .mods-list-header-item {
            font-weight: bold;
            width: 40px;
            text-align: center;
            flex-shrink: 0;

            &:first-of-type {
                line-height: 18px;
            }
        }
    }

    .mods-list-container {
        display: flex;
        flex-direction: column;
        max-height: 55vh;
        overflow-y: auto;

        .mods-list-item-container {
            display: flex;
            flex-direction: row;
            align-items: center;

            .mods-list-item {
                display: flex;
                flex-direction: row;
                width: 100%;
                margin-left: 4px;
                font-size: 16px;
            }

            .mat-mdc-checkbox {
                width: 40px;
                flex-shrink: 0;
                display: flex;
                justify-content: center;
            }
        }
    }
}
