@use '@angular/material' as mat;
@import '@angular/material/theming';
@mixin edit-server-mods-modal-component-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);

    app-edit-server-mods-modal {
        .mods-list-item {
            span {
                color: mat.get-color-from-palette($foreground, base);
            }
        }

        ::-webkit-scrollbar-track {
            background-color: mat.get-color-from-palette($background, side-bar);
        }

        ::-webkit-scrollbar-thumb {
            background-color: mat.get-color-from-palette($background, scroll-thumb);
        }
    }
}
