@use '@angular/material' as mat;

@mixin modpack-workshop-component-theme($theme) {
    $primary: map-get($theme, primary);
    $background: map-get($theme, background);
    $inset-colour: mat.get-color-from-palette($primary, default);

    app-modpack-workshop {
        a {
            color: mat.get-color-from-palette($primary);
        }

        .flex-container {
            .mods-container {
                .mod-card {
                    .mod-card-section {
                        .mod-card-buttons {
                            button {
                                background-color: transparent;
                            }

                            .icon {
                                &.delete {
                                    color: red;
                                }
                            }
                        }
                    }
                }
            }
        }

        ::-webkit-scrollbar-track {
            background-color: mat.get-color-from-palette($background, side-bar);
        }

        ::-webkit-scrollbar-thumb {
            background-color: mat.get-color-from-palette($background, scroll-thumb);
        }

        //@media only screen and (max-width: 600px) {
        //    .flex-container {
        //
        //    }
        //}
    }
}
