<app-default-content-areas>
    <app-full-content-area>
        <app-modpack-page></app-modpack-page>
        <div class="flex-container">
            <div class="mods-header">
                <h1>Workshop Mods</h1>
                <button mat-raised-button color="primary" (click)="install()">Install</button>
            </div>
            <div class="mods-container">
                <mat-card class="mod-card" *ngFor="let mod of mods; trackBy: trackBySteamId">
                    <div class="mod-card-section">
                        <h3>{{ mod.name }}</h3>
                        <span *ngIf="mod.rootMod" class="mod-badge root-mod">Root Mod</span>
                        <app-flex-filler></app-flex-filler>
                        <span>{{ mod.statusMessage }}</span>
                    </div>
                    <div class="mod-card-section">
                        <div class="mod-links">
                            <span>
                                Steam ID:
                                <a target="_blank" rel="nofollow" href="https://steamcommunity.com/sharedfiles/filedetails/?id={{ mod.steamId }}">
                                    {{ mod.steamId }}
                                </a>
                            </span>
                            <span *ngIf="mod.modpackVersionFirstAdded">
                                Added with:
                                <a target="_blank" [href]="'/modpack/releases?version=' + mod.modpackVersionFirstAdded">
                                    {{ mod.modpackVersionFirstAdded }}
                                </a>
                            </span>
                            <span *ngIf="mod.modpackVersionLastUpdated">
                                Last updated with:
                                <a target="_blank" [href]="'/modpack/releases?version=' + mod.modpackVersionLastUpdated">
                                    {{ mod.modpackVersionLastUpdated }}
                                </a>
                            </span>
                        </div>
                        <app-flex-filler></app-flex-filler>
                        <span *ngIf="updateAvailable(mod)">Update available</span>
                        <ng-template [ngxPermissionsOnly]="['ADMIN']">
                            <div class="mod-card-buttons">
                                <button mat-button class="icon delete" *ngIf="hasError(mod)" (click)="showError(mod)">
                                    <mat-icon matTooltip="View error">error_outline</mat-icon>
                                </button>
                                <button mat-button class="icon" *ngIf="interventionRequired(mod)" (click)="resolveIntervention(mod)">
                                    <mat-icon matTooltip="Resolve Intervention">construction</mat-icon>
                                </button>
                                <button mat-button class="icon" *ngIf="updateAvailable(mod)" (click)="update(mod)">
                                    <mat-icon matTooltip="Update">download</mat-icon>
                                </button>
                                <button mat-button class="icon" *ngIf="canUninstall(mod)" (click)="uninstall(mod)">
                                    <mat-icon matTooltip="Uninstall">eject</mat-icon>
                                </button>
                                <button mat-button class="icon delete" *ngIf="canDelete(mod)" (click)="delete(mod)">
                                    <mat-icon matTooltip="Delete">delete</mat-icon>
                                </button>
                            </div>
                        </ng-template>
                    </div>
                </mat-card>
            </div>
        </div>
    </app-full-content-area>
</app-default-content-areas>
