<app-default-content-areas>
    <app-main-content-area>
        <div class="flex-container">
            <h3>Information Areas</h3>
            <mat-card>
                <table>
                    <tr>
                        <td>
                            <mat-icon>book</mat-icon>
                        </td>
                        <td>
                            <h2>
                                <a routerLink="/docs">Docs</a>
                            </h2>
                        </td>
                        <td>
                            <ul>
                                <li>Documentation on all subjects of the unit.</li>
                                <li>Enforced definitions and understandings.</li>
                                <li>Full archive of history.</li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </mat-card>
            <br>
            <mat-card>
                <table>
                    <tr>
                        <td>
                            <mat-icon>gavel</mat-icon>
                        </td>
                        <td>
                            <h2>
                                <a routerLink="/policy">Policy</a>
                            </h2>
                        </td>
                        <td>
                            <ul>
                                <li>Statement of rules we adhere to.</li>
                                <li>Procedure for infractions.</li>
                                <li>Our approach to community management.</li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </mat-card>
            <br>
            <mat-card>
                <table>
                    <tr>
                        <td>
                            <mat-icon>terrain</mat-icon>
                        </td>
                        <td>
                            <h2>
                                <a routerLink="/modpack">Modpack</a>
                            </h2>
                        </td>
                        <td>
                            <ul>
                                <li>Getting started guide to downloading the modpack.</li>
                                <li>Modpack information.</li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </mat-card>
            <br>
            <mat-card>
                <table>
                    <tr>
                        <td>
                            <mat-icon>info_outline</mat-icon>
                        </td>
                        <td>
                            <h2>
                                <a routerLink="/about">About</a>
                            </h2>
                        </td>
                        <td>
                            <ul>
                                <li>Advertisements for new joiners.</li>
                                <li>Highlighted information.</li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </mat-card>
        </div>
    </app-main-content-area>
</app-default-content-areas>
