@use 'styles/theme-helpers' as th;

@mixin theme-emitter-component-theme($theme) {
    app-theme-emitter {
        .foreground {
            color: th.fg-base($theme);
        }
        .primary {
            color: th.primary($theme);
        }
        .primary-contrast {
            color: th.primary-contrast($theme);
        }
        .accent {
            color: var(--uksf-accent);
        }
        .warn {
            color: th.warn($theme);
        }
        .warn-contrast {
            color: th.warn-contrast($theme);
        }
    }
}
