@use '@angular/material' as mat;

@mixin theme-emitter-component-theme($theme) {
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    app-theme-emitter {
        .foreground {
            color: mat.m2-get-color-from-palette($foreground, base);
        }
        .primary {
            color: mat.m2-get-color-from-palette($primary);
        }
        .primary-contrast {
            color: mat.m2-get-color-from-palette($primary, default-contrast);
        }
        .accent {
            color: mat.m2-get-color-from-palette($accent);
        }
        .warn {
            color: mat.m2-get-color-from-palette($warn);
        }
        .warn-contrast {
            color: mat.m2-get-color-from-palette($warn, default-contrast);
        }
    }
}
