@use 'styles/variables' as v;

:host {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-top: 2px;
}

.document-container-line {
    width: 17px;
    margin-right: v.$spacing-4px;
    margin-top: 14px;
    padding-top: 13px;
    border-top-style: solid;
    border-top-width: 1px;
}

.document-title {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: v.$spacing-4px;
    padding-left: 2px;
    min-width: 0;
    cursor: pointer;

    .document-name {
        flex: 1;
        padding: 0 0 0 v.$spacing-4px;
        line-height: v.$spacing-24px;
        align-self: flex-end;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .document-title-button-container {
        display: none;

        .icon-container {
            display: flex;
            height: 26px;
            width: 26px;
            border-radius: 4px;

            .mat-icon {
                font-size: 20px;
                height: 20px;
                width: 20px;
                margin: auto;
                cursor: pointer;
            }
        }

        &.hover {
            display: flex;
            align-items: center;
        }

        .document-menu {
            button {
                .mat-icon {
                    font-size: 20px;
                    height: 20px;
                    width: 20px;
                    margin: auto;
                    cursor: pointer;
                }

                span {
                }
            }
        }
    }
}
