@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin docs-document-component-theme($theme) {
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);

    app-docs-document {
        .document-container-line {
            border-top-color: mat.get-color-from-palette($background, 200);
        }

        .document-title {
            &.hover {
                background-color: mat.get-color-from-palette($background, app-bar-hover);
            }

            &.selected {
                background-color: mat.get-color-from-palette($background, selected);
            }

            .document-title-button-container {
                .icon-container {
                    &:hover {
                        background-color: mat.get-color-from-palette($background, hover);
                    }

                    .mat-icon {
                    }
                }
            }
        }
    }
}
