@use '@angular/material' as mat;

@mixin modpack-releases-component-theme($theme) {
    $primary: map-get($theme, primary);
    $background: map-get($theme, background);
    $inset-colour: mat.m2-get-color-from-palette($primary, default);

    app-modpack-releases {
        a {
            color: mat.m2-get-color-from-palette($primary);
        }

        .flex-container {
            .release-history-container {
                background-color: mat.m2-get-color-from-palette($background, app-bar);

                .release-history-item {
                    border-bottom: 1px solid mat.m2-get-color-from-palette($background, selected);

                    &.selected {
                        color: mat.m2-get-color-from-palette($primary, default);
                        background-color: mat.m2-get-color-from-palette($background, selected);
                    }

                    &:hover {
                        background-color: mat.m2-get-color-from-palette($background, hover);
                    }
                }
            }

            .release-container {
                .release-content {
                    textarea {
                        background-color: mat.m2-get-color-from-palette($background, app-bar);
                    }

                    .release-changelog {
                        markdown {
                            h4 {
                                color: mat.m2-get-color-from-palette($primary, default);
                            }
                        }
                    }
                }
            }
        }

        ::-webkit-scrollbar-track {
            background-color: mat.m2-get-color-from-palette($background, side-bar);
        }

        ::-webkit-scrollbar-thumb {
            background-color: mat.m2-get-color-from-palette($background, scroll-thumb);
        }

        @media only screen and (max-width: 600px) {
            .flex-container {
                .release-history-container {
                    .release-history-item {
                        border-bottom: unset;
                        border-right: 1px solid mat.m2-get-color-from-palette($background, selected);
                    }
                }
            }
        }
    }
}
