@use 'styles/theme-helpers' as th;

@mixin modpack-releases-component-theme($theme) {
    app-modpack-releases {
        a {
            color: th.primary($theme);
        }

        .flex-container {
            .release-history-container {
                background-color: var(--uksf-app-bar);

                .release-history-item {
                    border-bottom: 1px solid var(--uksf-selected);

                    &.selected {
                        color: th.primary($theme);
                        background-color: var(--uksf-selected);
                    }

                    &:hover {
                        background-color: var(--uksf-hover);
                    }
                }
            }

            .release-container {
                .release-content {
                    textarea {
                        background-color: var(--uksf-app-bar);
                    }

                    .release-changelog {
                        markdown {
                            h4 {
                                color: th.primary($theme);
                            }
                        }
                    }
                }
            }
        }

        ::-webkit-scrollbar-track {
            background-color: var(--uksf-side-bar);
        }

        ::-webkit-scrollbar-thumb {
            background-color: var(--uksf-scroll-thumb);
        }

        @media only screen and (max-width: 600px) {
            .flex-container {
                .release-history-container {
                    .release-history-item {
                        border-bottom: unset;
                        border-right: 1px solid var(--uksf-selected);
                    }
                }
            }
        }
    }
}
