<app-default-content-areas>
    <app-full-content-area>
        <app-modpack-page></app-modpack-page>
        <div class="flex-container no-padding-left">
            <div class="release-history-container">
                <ng-template [ngxPermissionsOnly]="['ADMIN']">
                    <div class="new-button">
                        <button (click)="newRelease()" [disabled]="latestReleaseIsDraft" color="primary" mat-raised-button>New</button>
                        <button (click)="newRelease()" [disabled]="latestReleaseIsDraft" color="primary" mat-icon-button>
                            <mat-icon>add_circle</mat-icon>
                        </button>
                    </div>
                </ng-template>
                <div (click)="selectRelease(release.version)" *ngFor="let release of publicReleases" [ngClass]="{ selected: selectedReleaseVersion === release.version }" class="release-history-item">
                    <i *ngIf="release.isDraft">{{ release.version }}</i>
                    <span *ngIf="!release.isDraft">{{ release.version }}</span>
                </div>
            </div>
            <div class="release-container" *ngIf="selectedRelease && !selectedRelease.isDraft">
                <div class="release-header">
                    <h1 class="release-title">Release Version {{ selectedRelease.version }}</h1>
                    <app-flex-filler></app-flex-filler>
                    <div class="release-date">Released {{ selectedRelease.timestamp | date: 'dd MMM y':'Europe/London' }}</div>
                </div>
                <div class="release-content">
                    <div class="release-date released">Released {{ selectedRelease.timestamp | date: 'dd MMM y':'Europe/London' }}</div>
                    <h3>Changelog</h3>
                    <div class="release-changelog">
                        <markdown ngPreserveWhitespaces [data]="changelogMarkdown"></markdown>
                    </div>
                </div>
            </div>
            <div class="release-container" *ngIf="selectedRelease && selectedRelease.isDraft">
                <div class="release-header">
                    <h1 class="release-title">Release Version {{ selectedRelease.version }} <i>(Draft)</i></h1>
                    <app-flex-filler></app-flex-filler>
                    <div class="buttons">
                        <ng-template [ngxPermissionsOnly]="['ADMIN']">
                            <app-button (click)="regenerateChangelog()" *ngIf="!editing" [pending]="savingChangelog"> Regenerate Changelog </app-button>
                            <app-button (click)="edit()" *ngIf="!editing" [disabled]="savingChangelog">Edit Draft </app-button>
                            <app-button (click)="save()" *ngIf="editing" [pending]="savingChangelog">Save Draft </app-button>
                            <app-button (click)="togglePreview()" *ngIf="editing" [disabled]="savingChangelog">Toggle Preview </app-button>
                            <app-button (click)="discard()" *ngIf="editing" [disabled]="savingChangelog">Discard Changes </app-button>
                            <app-button (clicked)="release()" *ngIf="!editing" [disabled]="savingChangelog" [pending]="releasing">Release </app-button>
                        </ng-template>
                    </div>
                </div>
                <div class="release-content" *ngIf="!editing">
                    <div class="release-date">Draft created {{ selectedRelease.timestamp | date: 'dd MMM y':'Europe/London' }}</div>
                    <h3>Changelog</h3>
                    <div class="release-changelog">
                        <markdown ngPreserveWhitespaces [data]="changelogMarkdown"></markdown>
                    </div>
                </div>
                <div class="release-content" *ngIf="editing">
                    <h3>Changelog</h3>
                    <div class="release-changelog" *ngIf="!preview">
                        <textarea [(ngModel)]="changelogEditing" type="text" placeholder="Changelog" maxlength="5000" wrap="soft"></textarea>
                    </div>
                    <div class="release-changelog" *ngIf="preview">
                        <markdown ngPreserveWhitespaces [data]="changelogMarkdown"></markdown>
                    </div>
                </div>
            </div>
        </div>
    </app-full-content-area>
</app-default-content-areas>
