<app-default-content-areas>
    <app-full-content-area>
        <app-modpack-page></app-modpack-page>
        <div class="flex-container no-padding-left">
            <div class="release-history-container">
                <ng-template [ngxPermissionsOnly]="['ADMIN']">
                    <div class="new-button">
                        <button (click)="newRelease()" [disabled]="latestReleaseIsDraft" color="primary" mat-raised-button>New</button>
                        <button (click)="newRelease()" [disabled]="latestReleaseIsDraft" color="primary" mat-icon-button>
                            <mat-icon>add_circle</mat-icon>
                        </button>
                    </div>
                </ng-template>
                @for (release of publicReleases; track release) {
                <button type="button" (click)="selectRelease(release.version)" [ngClass]="{ selected: selectedReleaseVersion === release.version }" class="release-history-item">
                    @if (release.isDraft) {
                    <i>{{ release.version }}</i>
                    } @else {
                    <span>{{ release.version }}</span>
                    }
                </button>
                }
            </div>
            @if (selectedRelease && !selectedRelease.isDraft) {
            <div class="release-container">
                <div class="release-header">
                    <h1 class="release-title">Release Version {{ selectedRelease.version }}</h1>
                    <app-flex-filler></app-flex-filler>
                    <div class="release-date">Released {{ selectedRelease.timestamp | date : 'dd MMM y' : 'Europe/London' }}</div>
                </div>
                <div class="release-content">
                    <div class="release-date released">Released {{ selectedRelease.timestamp | date : 'dd MMM y' : 'Europe/London' }}</div>
                    <h3>Changelog</h3>
                    <div class="release-changelog">
                        <markdown ngPreserveWhitespaces [data]="changelogMarkdown"></markdown>
                    </div>
                </div>
            </div>
            } @else if (selectedRelease && selectedRelease.isDraft) {
            <div class="release-container">
                <div class="release-header">
                    <h1 class="release-title">Release Version {{ selectedRelease.version }} <i>(Draft)</i></h1>
                    <app-flex-filler></app-flex-filler>
                    <div class="buttons">
                        <ng-template [ngxPermissionsOnly]="['ADMIN']">
                            @if (!editing) {
                            <app-button (click)="regenerateChangelog()" [pending]="savingChangelog"> Regenerate Changelog </app-button>
                            <app-button (click)="edit()" [disabled]="savingChangelog">Edit Draft </app-button>
                            <app-button (clicked)="release()" [disabled]="savingChangelog" [pending]="releasing">Release </app-button>
                            } @else {
                            <app-button (click)="save()" [pending]="savingChangelog">Save Draft </app-button>
                            <app-button (click)="togglePreview()" [disabled]="savingChangelog">Toggle Preview </app-button>
                            <app-button (click)="discard()" [disabled]="savingChangelog">Discard Changes </app-button>
                            }
                        </ng-template>
                    </div>
                </div>
                @if (!editing) {
                <div class="release-content">
                    <div class="release-date">Draft created {{ selectedRelease.timestamp | date : 'dd MMM y' : 'Europe/London' }}</div>
                    <h3>Changelog</h3>
                    <div class="release-changelog">
                        <markdown ngPreserveWhitespaces [data]="changelogMarkdown"></markdown>
                    </div>
                </div>
                } @else {
                <div class="release-content">
                    <h3>Changelog</h3>
                    @if (!preview) {
                    <div class="release-changelog">
                        <textarea [(ngModel)]="changelogEditing" type="text" placeholder="Changelog" maxlength="5000" wrap="soft"></textarea>
                    </div>
                    } @else {
                    <div class="release-changelog">
                        <markdown ngPreserveWhitespaces [data]="changelogMarkdown"></markdown>
                    </div>
                    }
                </div>
                }
            </div>
            }
        </div>
    </app-full-content-area>
</app-default-content-areas>
