<app-default-content-areas>
    <app-main-content-area style="grid-column: span 3">
        <app-personnel-page></app-personnel-page>
        <div class="flex-container">
            <div class="div-container">
                <div class="flex-container-slim">
                    <div class="loa-buttons-container">
                        <div>
                            <button mat-raised-button class="new-loa-button" color="primary" (click)="createLoa()">New LOA</button>
                        </div>
                        <app-flex-filler></app-flex-filler>
                        <mat-form-field>
                            <input matInput (keyup)="filter()" placeholder="Filter" [(ngModel)]="filterString" />
                            <button mat-button *ngIf="filterString" matSuffix mat-icon-button aria-label="Clear" (click)="filterString = ''; filter(); $event.stopPropagation()">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                        <div class="loa-filter-buttons-container">
                            <button mat-raised-button class="loa-filter-button" [disabled]="viewMode == 'all'" (click)="changeViewMode('all')"><mat-icon>people_outline</mat-icon>All</button>
                            <button mat-raised-button class="loa-filter-button" [disabled]="viewMode == 'coc'" (click)="changeViewMode('coc')"><mat-icon>people</mat-icon>My CoC</button>
                            <button mat-raised-button class="loa-filter-button" [disabled]="viewMode == 'me'" (click)="changeViewMode('me')"><mat-icon>person</mat-icon>You</button>
                        </div>
                    </div>
                    <br />
                    <div>
                        <app-personnel-loas-list [selectionMode]="'current'" (deleteEvent)="delete($event)"></app-personnel-loas-list>
                        <app-personnel-loas-list [selectionMode]="'future'" (deleteEvent)="delete($event)"></app-personnel-loas-list>
                        <app-personnel-loas-list [selectionMode]="'past'" [deletable]="false"></app-personnel-loas-list>
                    </div>
                </div>
            </div>
        </div>
    </app-main-content-area>
</app-default-content-areas>
