@mixin admin-variables-component-theme($theme) {
    app-admin-variables {
        .page-container {
            .variables-container {
                .variables-header {
                  background-color: var(--uksf-background);
                }
            }
        }
    }
}
