@use '../../admin-shared' as admin;

@include admin.admin-table-base;

.variables-container {
    width: 100%;

    .variables-header {
        position: sticky;
        top: 0;
        z-index: 1;
        padding: 8px 0;

        .variables-form-container {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 10px;
            margin-left: 0;

            .key-field {
                display: block;
                width: 275px;
            }

            .item-field {
                display: block;
                flex: 1;
            }

            .mat-mdc-raised-button {
                width: fit-content;
                margin-top: 4px;
            }

            .expand-collapse-buttons {
                display: flex;
            }
        }
    }

    .variables-list-container {
        .variables-list {
            .variables-list-item {
                background: transparent;
                box-shadow: unset;
                border-radius: 0;

                &.mat-expansion-panel-spacing {
                    margin: 0;
                }

                .mat-expansion-panel-header {
                    padding: 0 0 0 8px;
                    width: fit-content;

                    &:hover {
                        background: transparent;
                    }
                }

                .variable-item {
                    display: flex;
                    flex-direction: row;
                    padding: 0;
                    align-items: center;
                    margin-bottom: 3px;
                    height: 36px;
                    padding-right: 10px;
                    padding-left: 10px;

                    .delete-icon {
                        color: red;
                        cursor: pointer;

                        &.disabled {
                            opacity: 0.5;
                            cursor: default;
                            pointer-events: none;
                        }
                    }

                    .key {
                        padding-left: 10px;
                        font-weight: bold;
                        width: 250px;
                    }

                    .item {
                        flex: 1;
                        padding-left: 10px;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}
