trigger:
  batch: true
  branches:
    include:
      - main

pool: Avengers

variables:
  buildOutput: '$(Build.SourcesDirectory)\dist'

stages:
  - stage: Build
    displayName: Build
    jobs:
      - job: Build
        displayName: Build
        steps:
          - checkout: self
            clean: false

          - task: NodeTool@0
            inputs:
              versionSpec: '17.x'
            displayName: 'Install Node.js'

          - script: |
              bun install
            displayName: 'bun install'

          - script: |
              bun x ng build -c production --aot --build-optimizer --optimization
            displayName: 'ng build'

  - template: templates/deploy-web.yml
    parameters:
      environment: Dev
      deployPath: 'C:\Server\Nginx\html-dev'
      apiUrl: 'https://api-dev.uk-sf.co.uk'
      variableGroup: UKSF Web - Dev
      dependsOn: Build

  - template: templates/deploy-web.yml
    parameters:
      environment: Prod
      deployPath: 'C:\Server\Nginx\html'
      apiUrl: 'https://api.uk-sf.co.uk'
      variableGroup: UKSF Web - Production
      dependsOn: DeployDev
