trigger:
  batch: true
  branches:
    include:
      - main

pool: Avengers

variables:
  buildOutput: '$(Build.SourcesDirectory)\dist'

jobs:
  - job: Build
    displayName: Build
    steps:
      - checkout: self
        clean: false

      - task: NodeTool@0
        inputs:
          versionSpec: '17.x'
        displayName: 'Install Node.js'

      - script: |
          bun install
        displayName: 'bun install'

      - script: |
          bun x ng build -c production --aot --build-optimizer --optimization
        displayName: 'ng build'

  - template: templates/deploy-web.yml
    parameters:
      environment: Dev
      deployPath: 'C:\Server\Nginx\html-dev'
      variableGroup: UKSF Web - Dev
      dependsOn: Build

  - template: templates/deploy-web.yml
    parameters:
      environment: Prod
      deployPath: 'C:\Server\Nginx\html'
      variableGroup: UKSF Web - Production
      dependsOn: DeployDev
