<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
         </staticContent>
        <rewrite>
            <rules>
                <rule name="Test Rule" stopProcessing="true">
                        <match url="[^\.]+\.[^\.]+" negate="true"/>
                    <action type="Rewrite" url="index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>