.flex-container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-left: 16px;
    padding-right: 16px;
}

.mat-column-id {
    flex: 0 0 200px;
}

.mat-column-partitionKey {
    flex: 0 0 100px;
}

.mat-column-timestamp {
    flex: 0 0 150px;
}

.mat-column-who {
    flex: 0 0 200px;
}

.mat-column-message {
    flex: 1 0 400px;
    cursor: pointer;
}
