<app-default-content-areas>
    <app-main-content-area style="grid-column: span 3">
        <app-admin-page></app-admin-page>
        <div class="flex-container">
            <div class="table-header">
                <mat-form-field style="width: 30%">
                    <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="filter" placeholder="Filter" />
                    <button mat-button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="applyFilter(''); $event.stopPropagation()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <app-flex-filler></app-flex-filler>
                <span class="expand-hint">Some columns can be expanding by clicking on the data cell</span>
            </div>
            <div class="spinner-container" *ngIf="!dataLoaded">
                <mat-spinner></mat-spinner>
            </div>
            <div class="table-container mat-elevation-z8">
                <mat-table [dataSource]="datasource" matSort>
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                        <mat-cell *matCellDef="let row"
                            ><span>{{ row.id }}</span></mat-cell
                        >
                    </ng-container>
                    <ng-container matColumnDef="timestamp">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Timestamp </mat-header-cell>
                        <mat-cell *matCellDef="let row"
                            ><span>{{ row.timestamp | date: 'dd/MM/yy HH:mm:ss' }}</span></mat-cell
                        >
                    </ng-container>
                    <ng-container matColumnDef="who">
                        <mat-header-cell *matHeaderCellDef style="cursor: auto"> Who </mat-header-cell>
                        <mat-cell *matCellDef="let row"
                            ><span>{{ row.who }}</span></mat-cell
                        >
                    </ng-container>
                    <ng-container matColumnDef="message">
                        <mat-header-cell *matHeaderCellDef style="cursor: auto"> Message </mat-header-cell>
                        <mat-cell *matCellDef="let row" (click)="openMessageDialog($event.target.textContent)"
                            ><span>{{ row.message }}</span></mat-cell
                        >
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="auditLogDisplayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: auditLogDisplayedColumns"> </mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[25, 50, 100, 200]"></mat-paginator>
            </div>
        </div>
    </app-main-content-area>
</app-default-content-areas>
