@use 'styles/theme-helpers' as th;

@mixin inline-edit-component-theme($theme) {
    app-inline-edit {
        input {
            color: th.fg-base($theme);
            background-color: var(--uksf-hover);
        }
    }
}
