@use '@angular/material' as mat;

@mixin inline-edit-component-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);

    app-inline-edit {
        input {
            color: mat.get-color-from-palette($foreground, base);
            background-color: mat.get-color-from-palette($background, hover);
        }
    }
}
