<app-default-content-areas>
    <app-main-content-area style="grid-column: span 3">
        <div class="flex-container">
            <div class="spinner-container" *ngIf="!ranks">
                <mat-spinner></mat-spinner>
            </div>
            <div *ngIf="ranks">
                <ng-template [ngxPermissionsOnly]="['ADMIN']">
                    <div>
                        <button mat-raised-button color="primary" (click)="addRank()">Add Rank</button>
                    </div>
                    <br />
                    <div class="ranks-list" cdkDropList (cdkDropListDropped)="onMove($event)" [cdkDropListDisabled]="updatingOrder" [class.disabled]="updatingOrder">
                        <mat-card appearance="outlined" class="ranks-list-item header">
                            <span class="filler"></span>
                            <span class="name" style="flex-basis: 38%">Name</span>
                            <span class="abbreviation" style="flex-basis: 19%">Abbreviation</span>
                            <span class="teamspeakGroup" style="flex-basis: 14%">TS Group ID</span>
                            <span class="discordRoleId" style="flex-basis: 27%">Discord Role ID</span>
                        </mat-card>
                        <div (cdkDragStarted)="onDragStarted($event)" *ngFor="let rank of ranks; trackBy: trackByRankId" cdkDrag>
                            <mat-card appearance="outlined" class="ranks-list-item">
                                <span class="handle" cdkDragHandle>=</span>
                                <app-inline-edit
                                    (finishedEvent)="editRank($event)"
                                    [(ngModel)]="rank.name"
                                    [required]="true"
                                    [validator]="validateInlineRank(rank)"
                                    class="name"
                                    type="text"
                                ></app-inline-edit>
                                <app-inline-edit class="abbreviation" [(ngModel)]="rank.abbreviation" [required]="true" type="text" (finishedEvent)="editRank($event)"></app-inline-edit>
                                <app-inline-edit
                                    (finishedEvent)="editRank($event)"
                                    [(ngModel)]="rank.teamspeakGroup"
                                    [required]="true"
                                    [validator]="validateInlineRank(rank)"
                                    class="teamspeakGroup"
                                    type="text"
                                ></app-inline-edit>
                                <app-inline-edit class="discordRoleId" [(ngModel)]="rank.discordRoleId" type="text" (finishedEvent)="editRank($event)"></app-inline-edit>
                                <app-flex-filler></app-flex-filler>
                                <mat-icon (click)="deleteRank($event, rank)" class="delete-icon">highlight_off </mat-icon>
                            </mat-card>
                        </div>
                    </div>
                </ng-template>
                <ng-template [ngxPermissionsExcept]="['ADMIN']">
                    <br />
                    <div class="ranks-list">
                        <div *ngFor="let rank of ranks; trackBy: trackByRankId">
                            <mat-card appearance="outlined" class="ranks-list-item">
                                <span class="name">{{ rank.name }}</span>
                                <span class="abbreviation">{{ rank.abbreviation }}</span>
                            </mat-card>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </app-main-content-area>
</app-default-content-areas>
