@use 'ranks-list-item-layout' as layout;

.flex-container {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    padding: 0 16px 16px;
}

.ranks-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: fit-content;
}

.ranks-list-item {
    font-size: 16px;
    width: fit-content;

    &.header {
        display: flex;
        background-color: transparent;

        span {
            font-weight: bold;
        }
    }

    @include layout.ranks-list-item-layout;
}

.disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.cdk-drag-placeholder {
    opacity: 0;
}
