@use '@angular/material' as mat;

@mixin command-ranks-component-theme($theme) {
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);

    app-command-ranks {
    }

    @at-root .cdk-drag-preview .ranks-list-item {
        $foreground: map-get($theme, foreground);
        background-color: mat.get-color-from-palette($background, card);
        color: mat.get-color-from-palette($foreground, text);
    }
}
