@use '@angular/material' as mat;
@use 'sass:map';
@mixin header-bar-component-theme($theme) {
    $foreground: map.get($theme, foreground);
    $background: map.get($theme, background);
    $primary: map.get($theme, primary);
    $warn: map.get($theme, warn);

    app-header-bar {
        .logo-wrapper {
            color: mat.m2-get-color-from-palette($foreground, base);
        }

        .name-wrapper span:hover {
            color: mat.m2-get-color-from-palette($primary);
        }

        a {
            color: mat.m2-get-color-from-palette($foreground, base);
        }
        .mat-mdc-menu-panel {
            background-color: mat.m2-get-color-from-palette($background, card);
        }

        @media only screen and (max-width: 768px) {
            .development {
                background-color: mat.m2-get-color-from-palette($warn);
            }
        }
    }
}
