@use 'styles/theme-helpers' as th;

@mixin header-bar-component-theme($theme) {
    app-header-bar {
        .logo-wrapper {
            color: th.fg-base($theme);
        }

        .name-wrapper span:hover {
            color: th.primary($theme);
        }

        a {
            color: th.fg-base($theme);
        }
        .mat-mdc-menu-panel {
            background-color: var(--uksf-card);
        }

        @media only screen and (max-width: 768px) {
            .development {
                background-color: th.warn($theme);
            }
        }
    }
}
