@use '@angular/material' as mat;
@import '@angular/material/theming';
@mixin header-bar-component-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);
    $warn: map-get($theme, warn);

    app-header-bar {
        .logo-wrapper {
            color: mat.get-color-from-palette($foreground, base);
        }

        a {
            color: mat.get-color-from-palette($foreground, base);
        }
        /* TODO(mdc-migration): The following rule targets internal classes of menu that may no longer apply for the MDC version. */
        .mat-menu {
            background-color: mat.get-color-from-palette($background, card);
        }

        @media only screen and (max-width: 768px) {
            .development {
                background-color: mat.get-color-from-palette($warn);
            }
        }
    }
}
