<app-default-content-areas>
    <app-theme-emitter></app-theme-emitter>
    <app-full-content-area>
        <app-modpack-page></app-modpack-page>
        <div class="flex-container no-padding-left" *ngIf="builds">
            <div class="build-item-container">
                <ng-template [ngxPermissionsOnly]="['TESTER']">
                    <div class="new-button">
                        <button mat-raised-button color="primary" (click)="newBuild()" [disabled]="branches.length === 0">
                            New
                        </button>
                        <button mat-icon-button (click)="newBuild()" [disabled]="branches.length === 0" color="primary">
                            <mat-icon>add_circle</mat-icon>
                         </button>
                    </div>
                </ng-template>
                <div class="build-history-container">
                    <div class="history-item" [ngClass]="{'selected': selectedBuildId === build.id}" [ngStyle]="getBuildColour(build)" *ngFor="let build of builds;" (click)="selectBuild(build.id)">
                        <span>#{{build.buildNumber}}</span>
                    </div>
                </div>
            </div>
            <div class="build-container" *ngIf="selectedBuild && !logOpen">
                <div class="build-header">
                    <div>
                        <h1 class="build-title">Dev Build #{{selectedBuild.buildNumber}}</h1>
                    </div>
                    <app-flex-filler></app-flex-filler>
                    <div class="buttons">
                        <div class="state">
                            <i class="running" *ngIf="selectedBuild.running">Running...</i>
                            <span class="success" *ngIf="selectedBuild.buildResult === modpackBuildResult.SUCCESS">Success</span>
                            <span class="fail" *ngIf="selectedBuild.buildResult === modpackBuildResult.FAILED">Failed</span>
                            <span class="cancelled" *ngIf="selectedBuild.buildResult === modpackBuildResult.CANCELLED">Cancelled</span>
                        </div>
                        <app-flex-filler></app-flex-filler>
                        <ng-template [ngxPermissionsOnly]="['ADMIN']">
                            <button mat-raised-button color="primary" *ngIf="selectedBuild.running && !cancelling" (click)="cancelBuild()">
                                Cancel Build
                            </button>
                            <button mat-raised-button color="primary" *ngIf="selectedBuild.finished && selectedBuild.buildResult !== modpackBuildResult.SUCCESS" (click)="rebuild()">
                                Rebuild
                            </button>
                        </ng-template>
                        <button mat-raised-button color="primary" *ngIf="selectedBuild.steps.length > 0" (click)="openLog()">
                            Build Log
                        </button>
                    </div>
                </div>
                <div class="build-content">
                    <h3 class="build-description">Changes</h3>
                    <div class="build-changelog">
                        <markdown ngPreserveWhitespaces [data]="changesMarkdown"></markdown>
                    </div>
                </div>
            </div>
            <app-modpack-builds-steps *ngIf="selectedBuild && logOpen" [build]="selectedBuild" (onCloseLog)="closeLog()"></app-modpack-builds-steps>
            <app-flex-filler></app-flex-filler>
            <div class="build-footer" *ngIf="selectedBuild">
                <div class="footer-item">
                    {{selectedBuild.startTime | date:'MMM dd HH:mm'}}
                </div>
                <div class="footer-item" *ngIf="selectedBuild.finished">
                    {{duration}}
                </div>
                <app-flex-filler></app-flex-filler>
                <div class="footer-item">
                    Branch: {{branch}}
                </div>
                <div class="footer-item">
                    Built By: {{builderName}}
                </div>
            </div>
        </div>
    </app-full-content-area>
</app-default-content-areas>
