.flex-container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-left: 16px;
    padding-right: 16px;
}

.mat-column-id {
    flex: 0 0 75px;
    cursor: pointer;
}

.mat-column-timestamp {
    flex: 0 0 100px;
}

.mat-column-statusCode {
    flex: 0 0 85px;

    &.mat-mdc-cell {
        padding-right: 18px;
        justify-content: center;
    }
}

.mat-column-method {
    flex: 0 0 60px;
}

.mat-column-url {
    flex: 0 0 200px;
    cursor: pointer;
}

.mat-column-endpointName {
    flex: 0 0 200px;
    cursor: pointer;
}

.mat-column-userId {
    flex: 0 0 175px;
}

.mat-column-name {
    flex: 0 0 125px;
}

.mat-column-exception {
    flex: 1 1 150px;
    cursor: pointer;
}
