<mat-card>
    <h2>Identity</h2>
    <form [formGroup]="formGroup">
        <div class="special-field-form-container">
            <label for="name">If you see this, keep this field blank</label>
            <input type="text" id="name" formControlName="name" tabindex="-1" autocomplete="off" />
        </div>
        <mat-form-field class="normal">
            <input matInput formControlName="email" required placeholder="Email" autocomplete="username" [errorStateMatcher]="instantErrorStateMatcher" />
            <mat-error *ngFor="let validation of validation_messages.email">
                <mat-error class="error-message" *ngIf="formGroup.get('email').hasError(validation.type)">{{ validation.message }}</mat-error>
            </mat-error>
        </mat-form-field>
        <br />
        <div formGroupName="passwordGroup">
            <mat-form-field class="normal">
                <input matInput formControlName="password" type="password" required placeholder="Password" autocomplete="new-password" [errorStateMatcher]="instantErrorStateMatcher" />
                <mat-error *ngFor="let validation of validation_messages.password">
                    <mat-error class="error-message" *ngIf="formGroup.get('passwordGroup.password').hasError(validation.type)">{{ validation.message }}</mat-error>
                </mat-error>
            </mat-form-field>
            <br />
            <mat-form-field class="normal">
                <input matInput formControlName="confirmPassword" type="password" required placeholder="Confirm Password" autocomplete="new-password" [errorStateMatcher]="confirmValidParentMatcher" />
                <mat-error *ngFor="let validation of validation_messages.confirmPassword">
                    <mat-error class="error-message" *ngIf="formGroup.get('passwordGroup').hasError(validation.type) || formGroup.get('passwordGroup.confirmPassword').hasError(validation.type)">{{
                        validation.message
                    }}</mat-error>
                </mat-error>
            </mat-form-field>
        </div>
        <br />
        <div>
            <p>This name will be used in-game, on TeamSpeak, and on Discord.</p>
            <p>If you do not wish to use your real name, you may use a realistic fake name (for example, Barry Miller)</p>
            <mat-form-field class="names">
                <input matInput formControlName="firstname" placeholder="First name" required autocomplete="given-name" />
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="lastname" placeholder="Last name" required autocomplete="family-name" />
            </mat-form-field>
        </div>
        <br />
        <div formGroupName="dobGroup">
            <p>Date of Birth</p>
            <p>For example: 15/02/1989</p>
            <mat-form-field class="dob">
                <input matInput type="number" formControlName="day" #day placeholder="dd" maxlength="2" required autocomplete="bday-day" (keyup)="numberOnly($event, 'day', 0, 31)" /> </mat-form-field
            >/
            <mat-form-field class="dob">
                <input
                    matInput
                    type="number"
                    formControlName="month"
                    #month
                    placeholder="mm"
                    maxlength="2"
                    required
                    autocomplete="bday-month"
                    (keyup)="numberOnly($event, 'month', 0, 12)"
                /> </mat-form-field
            >/
            <mat-form-field class="dob year">
                <input matInput type="number" formControlName="year" #year placeholder="yyyy" maxlength="4" required autocomplete="bday-year" (keyup)="numberOnly($event, 'year', 1, 2030)" />
            </mat-form-field>
            <mat-error *ngFor="let validation of validation_messages.dob">
                <mat-error class="error-message" *ngIf="formGroup.get('dobGroup').hasError(validation.type)">{{ validation.message }}</mat-error>
            </mat-error>
        </div>
        <br />
        <mat-form-field class="nation">
            <input type="text" placeholder="Nation of Residence" matInput formControlName="nation" [matAutocomplete]="auto" />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="countryDisplayName">
                <mat-option *ngFor="let country of filteredCountries | async" [value]="country.value">
                    <img src="{{ country.value | countryImage }}" width="35"  alt="{{ country.value | countryName }}"/> {{ country.value | countryName }}
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngFor="let validation of validation_messages.nation">
                <mat-error class="error-message" *ngIf="formGroup.get('nation').hasError(validation.type)">{{ validation.message }}</mat-error>
            </mat-error>
        </mat-form-field>
        <br />
        <div class="button-next">
            <button mat-raised-button color="primary" [disabled]="!formGroup.valid || pending || validating" (click)="next()">Next</button>
        </div>
    </form>
</mat-card>
