.names {
    margin-right: 5px;
}

.dob {
    width: 35px;
    margin-right: 5px;
}

.year {
    width: 40px;
}

input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.mat-select {
    max-width: 300px;
    width: 100%;
}
