.name-container {
    display: flex;
    flex-direction: column;

    .names-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .name {
            width: 100%;

            &:first-of-type {
                margin-right: 5px;
            }
        }
    }
}

.dob {
    width: 35px;
    margin-right: 5px;
}

.year {
    width: 40px;
}

input[type='number'] {
    -moz-appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.nation {
    max-width: 610px;
}
