<mat-card>
    <h2>Identity</h2>
    <form [formGroup]="formGroup">
        <div class="special-field-form-container">
            <label for="name">If you see this, keep this field blank</label>
            <input type="text" id="name" formControlName="name" tabindex="-1" autocomplete="off" />
        </div>
        <mat-form-field class="normal">
            <input matInput formControlName="email" required placeholder="Email" autocomplete="username" [errorStateMatcher]="instantErrorStateMatcher" />
            <mat-error *ngFor="let validation of validation_messages.email">
                <mat-error class="error-message" *ngIf="formGroup.get('email').hasError(validation.type)">{{ validation.message }}</mat-error>
            </mat-error>
        </mat-form-field>
        <br />
        <div formGroupName="passwordGroup">
            <mat-form-field class="normal">
                <input matInput formControlName="password" type="password" required placeholder="Password (min 12 chars)" autocomplete="new-password" [errorStateMatcher]="instantErrorStateMatcher" />
                <mat-error *ngFor="let validation of validation_messages.password">
                    <mat-error class="error-message" *ngIf="formGroup.get('passwordGroup').hasError(validation.type) || formGroup.get('passwordGroup.password').hasError(validation.type)">{{
                        validation.message
                    }}</mat-error>
                </mat-error>
            </mat-form-field>
            <br />
            <mat-form-field class="normal">
                <input matInput formControlName="confirmPassword" type="password" required placeholder="Confirm Password" autocomplete="new-password" [errorStateMatcher]="confirmValidParentMatcher" />
                <mat-error *ngFor="let validation of validation_messages.confirmPassword">
                    <mat-error class="error-message" *ngIf="formGroup.get('passwordGroup').hasError(validation.type) || formGroup.get('passwordGroup.confirmPassword').hasError(validation.type)">{{
                        validation.message
                    }}</mat-error>
                </mat-error>
            </mat-form-field>
        </div>
        <br />
        <div class="name-container">
            <p>This name will be used in-game, on TeamSpeak, and on Discord.</p>
            <p>If you do not wish to use your real name, you may use a realistic fake name (for example, Barry Miller)</p>
            <div class="names-container">
                <mat-form-field class="name">
                    <input matInput formControlName="firstName" placeholder="First name" required autocomplete="given-name" appCharacterBlock />
                </mat-form-field>
                <mat-form-field class="name">
                    <input matInput formControlName="lastName" placeholder="Last name" required autocomplete="family-name" appCharacterBlock />
                </mat-form-field>
            </div>
            <span *ngIf="formGroup.value.firstName && formGroup.value.lastName">
                Your name will be displayed as:
                <b>{{ displayName }}</b>
            </span>
        </div>
        <br />
        <div formGroupName="dobGroup">
            <p>Date of Birth</p>
            <p>For example: 15/02/1989</p>
            <mat-form-field class="dob">
                <input matInput type="number" formControlName="day" #day placeholder="dd" maxlength="2" required autocomplete="bday-day" (keyup)="numberOnly($event, 'day', 0, 31)" /> </mat-form-field
            >/
            <mat-form-field class="dob">
                <input #month (keyup)="numberOnly($event, 'month', 0, 12)" autocomplete="bday-month" formControlName="month" matInput maxlength="2" placeholder="mm" required type="number"
            /></mat-form-field>
            /
            <mat-form-field class="dob year">
                <input #year (keyup)="numberOnly($event, 'year', 1, 2030)" autocomplete="bday-year" formControlName="year" matInput maxlength="4" placeholder="yyyy" required type="number" />
            </mat-form-field>
            <mat-error *ngFor="let validation of validation_messages.dob">
                <mat-error *ngIf="formGroup.get('dobGroup').hasError(validation.type)" class="error-message">{{ validation.message }}</mat-error>
            </mat-error>
        </div>
        <br />
        <app-dropdown [elementName]="'Nation of Residence'" [elements]="countries" [formFieldClass]="'nation'" [isRequired]="true" [placeholder]="'Nation of Residence'" formControlName="nation">
            <ng-template #element let-element>
                <img alt="{{ mapCountry(element).name }}" src="{{ mapCountry(element).image }}" width="35" />
                <span class="nation-name">{{ mapCountry(element).name }}</span>
            </ng-template>
        </app-dropdown>
        <br />
        <app-form-value-debug-reactive [form]="formGroup"></app-form-value-debug-reactive>
        <div class="button-next button-container">
            <app-button-pending (clicked)="previous()" [disabled]="pending">Previous</app-button-pending>
            <app-flex-filler></app-flex-filler>
            <app-button-pending (clicked)="next()" [pending]="pending" [disabled]="!formGroup.valid || pending || validating">Next</app-button-pending>
        </div>
    </form>
</mat-card>
