<app-default-content-areas>
    <app-main-content-area style="grid-column: span 3">
        <app-units-page></app-units-page>
        <div class="org-container">
            <h3>Organisation Chart</h3>
            <div class="spinner-container" *ngIf="!rootNodes">
                <mat-spinner></mat-spinner>
            </div>
            <div class="scroll-container" *ngIf="rootNodes">
                <p-organizationChart [value]="rootNodes" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)">
                    <ng-template let-node pTemplate="unit">
                        <div class="node-header p-corner-top">
                            <h4 class="title">{{ node.label }}</h4>
                        </div>
                        <div class="node-content" *ngIf="node.data.members.length > 0">
                            <table class="inner-table">
                                <tr *ngFor="let unitMember of node.data.members">
                                    <div class="row-container">
                                        <td style="padding-right: 3px">
                                            <b class="unit-role">{{ unitMember.chainOfCommandPosition?.charAt(0) }}</b>
                                        </td>
                                        <app-flex-filler></app-flex-filler>
                                        <td class="name">{{ unitMember.name }}</td>
                                        <app-flex-filler></app-flex-filler>
                                    </div>
                                </tr>
                            </table>
                        </div>
                    </ng-template>
                </p-organizationChart>
            </div>
        </div>
    </app-main-content-area>
</app-default-content-areas>
