@import '~@angular/material/theming';

@mixin units-orbat-component-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);

    app-units-orbat {
        ::-webkit-scrollbar-track {
            background-color: mat-color($background, scroll-track);
        }

        ::-webkit-scrollbar-thumb {
            background-color: mat-color($background, scroll-thumb);
        }

        .p-organizationchart {
            .p-organizationchart-line-down {
                background-color: mat-color($background, org-line);
            }

            .p-organizationchart-line-left,
            .p-organizationchart-line-top {
                border-top: 1px solid mat-color($background, org-line);
            }

            .p-organizationchart-node-content {
                border-color: mat-color($background, org-line);

                .p-node-toggler {
                    color: mat-color($background, org-line);
                }

                &.p-organizationchart-selectable-node {
                    h4 {
                        color: mat-color($primary);
                    }

                    &:not(.p-state-highlight) {
                        &:hover {
                            border-color: mat-color($background, org-line);
                            background-color: mat-color($background, org-hover);
                            color: mat-color($foreground, base);

                            &a {
                                color: mat-color($primary);
                            }
                        }
                    }
                }
            }

            .p-widget-content {
                color: mat-color($foreground, base);
                background-color: mat-color($background, org-content);

                h4 {
                    color: mat-color($foreground, base);
                    background-color: transparent;
                }
            }
        }
    }
}
