::-webkit-scrollbar {
    width: 12px;
    min-height: 0px;
}

.flex-container {
    display: flex;
    flex-direction: column;

    h3 {
        padding-left: 16px;
    }

    .spinner-container {
        height: 200px;
        position: relative;
    }

    .scroll-container {
        font-size: 11px;
        overflow-x: auto;
        flex: 1;

        .inner-table {
            width: 100%;

            .row-container {
                display: flex;
                flex-direction: row;
            }
        }
    }
}

:host ::ng-deep .p-organizationchart {
    .node-header,
    .node-content {
        padding: 0.5em 0.7rem;
    }
}
