@use 'styles/theme-helpers' as th;

@mixin recruitment-page-component-theme($theme) {
    app-recruitment-page {
        a {
            color: th.primary($theme);
        }
        .applications-container {
            .applicationCardOthers {
                background-color: var(--uksf-dark-card);
            }
        }
    }
}
