<app-default-content-areas>
    <app-theme-emitter></app-theme-emitter>
    <app-main-content-area>
        <div class="flex-container">
            <div class="applications">
                @if (userActiveApplications.length > 0 || allOtherActiveApplications.length > 0) {
                <h3>Active Applications</h3>
                }
                @if (userActiveApplications.length == 0 && allOtherActiveApplications.length > 0) {
                <div>
                    <h4>You have no active applications</h4>
                </div>
                }
                @if (userActiveApplications.length > 0) {
                <div class="applications-container">
                    @for (application of userActiveApplications; track trackByActiveApplication($index, application)) {
                    <mat-card (click)="openApplication(application)" class="application-card mine" appSpotlight>
                        <div class="name">
                            <h4 [ngStyle]="{ color: application._colour }">{{ application.account.firstname }} {{ application.account.lastname }}</h4>
                        </div>
                        <div class="details">
                            <div class="row top">
                                <div class="item recruiter">
                                    <b>SR1: </b>
                                    <small>{{ application.recruiter }}</small>
                                </div>
                                <div class="item teamspeak">
                                    <b>TeamSpeak: </b>
                                    <small>
                                        @if (teamspeakStates.Item(application.account.id) | async; as teamspeakState) {
                                        <span class="green">
                                            {{ teamspeakState.online ? 'Online as ' + teamspeakState.nickname : 'Offline' }}
                                        </span>
                                        } @else {
                                        <span class="red">Offline</span>
                                        }
                                    </small>
                                </div>
                                <div class="item applied">
                                    <b>Applied: </b>
                                    <small>{{ application.account.application.dateCreated | date: 'mediumDate':'Europe/London' }}</small>
                                </div>
                            </div>
                            <div class="row bottom">
                                <div class="item email" (click)="$event.stopPropagation()">
                                    <b>Email: </b>
                                    <small
                                        ><a [attr.href]="'mailto:' + application.account.email" target="_blank">{{ application.account.email }}</a></small
                                    >
                                </div>
                                <div class="item steam">
                                    <b>Steam: </b>
                                    <small>
                                        <a [attr.href]="application.steamProfile" target="_blank" (click)="$event.stopPropagation()">Steam Profile</a>
                                    </small>
                                </div>
                                <div class="item processing">
                                    <span>
                                        <b>Processing: </b>
                                    </span>
                                    <small [ngStyle]="{ color: application._colour }">
                                        {{ application.daysProcessing }}
                                        @if (application.daysProcessing == 1) {
                                        <span>Day</span>
                                        } @else {
                                        <span>Days</span>
                                        }
                                    </small>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                    }
                </div>
                }
                <br />
                @if (userActiveApplications.length == 0 && allOtherActiveApplications.length == 0) {
                <div>
                    <h4>There are no active applications</h4>
                </div>
                }
                @if (allOtherActiveApplications.length > 0) {
                <div class="applications-container">
                    <h4>Other Applications</h4>
                    @for (application of allOtherActiveApplications; track trackByActiveApplication($index, application)) {
                    <mat-card (click)="openApplication(application)" class="application-card others" appSpotlight>
                        <div class="name">
                            <h4 [ngStyle]="{ color: application._colour }">{{ application.account.firstname }} {{ application.account.lastname }}</h4>
                        </div>
                        <div class="details">
                            <div class="row top">
                                <div class="item recruiter">
                                    <b>SR1: </b>
                                    <small>{{ application.recruiter }}</small>
                                </div>
                                <div class="item teamspeak">
                                    <b>TeamSpeak: </b>
                                    <small>
                                        @if (teamspeakStates.Item(application.account.id) | async; as teamspeakState) {
                                        <span class="green">
                                            {{ teamspeakState.online ? 'Online as ' + teamspeakState.nickname : 'Offline' }}
                                        </span>
                                        } @else {
                                        <span class="red">Offline</span>
                                        }
                                    </small>
                                </div>
                                <div class="item applied">
                                    <b>Applied: </b>
                                    <small>{{ application.account.application.dateCreated | date: 'mediumDate':'Europe/London' }}</small>
                                </div>
                            </div>
                            <div class="row bottom">
                                <div class="item email" (click)="$event.stopPropagation()">
                                    <b>Email: </b>
                                    <small
                                        ><a [attr.href]="'mailto:' + application.account.email" target="_blank">{{ application.account.email }}</a></small
                                    >
                                </div>
                                <div class="item steam">
                                    <b>Steam: </b>
                                    <small>
                                        <a [attr.href]="application.steamProfile" target="_blank" (click)="$event.stopPropagation()">Steam Profile</a>
                                    </small>
                                </div>
                                <div class="item processing">
                                    <span>
                                        <b>Processing: </b>
                                    </span>
                                    <small [ngStyle]="{ color: application._colour }">
                                        {{ application.daysProcessing }}
                                        @if (application.daysProcessing == 1) {
                                        <span>Day</span>
                                        } @else {
                                        <span>Days</span>
                                        }
                                    </small>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                    }
                </div>
                }
            </div>
            <div class="history">
                @if (loaded) {
                <div class="history-header">
                    <div class="history-header-part-container title">
                        <h3>Application History</h3>
                    </div>
                    <div class="history-header-part-container actions">
                        <div class="history-header-part search">
                            <app-text-input label="Filter" [(ngModel)]="filterString"
                                tooltip="Use operators 'AND' or 'OR' to combine filters"
                                [clearable]="true" [reserveErrorSpace]="false"
                                (input)="filter()" (cleared)="filter()">
                            </app-text-input>
                        </div>
                        <div class="history-header-part sort">
                            <button mat-raised-button [matMenuTriggerFor]="sortMenu">
                                <mat-icon class="icon-right">sort</mat-icon>
                                <span>Sort</span>
                            </button>
                            <mat-menu #sortMenu="matMenu">
                                @for (sortDefinition of sortDefinitions; track sortDefinition.name) {
                                <button
                                    (click)="sort(sortDefinition.mode, sortDefinition.direction)"
                                    [disabled]="sortMode === sortDefinition.mode && sortDirection === sortDefinition.direction"
                                    mat-menu-item
                                >
                                    {{ sortDefinition.name }}
                                </button>
                                }
                            </mat-menu>
                            <button mat-raised-button [matMenuTriggerFor]="filterMenu">
                                <mat-icon class="icon-right">filter_list</mat-icon>
                                <span>Filter SR1</span>
                            </button>
                            <mat-menu #filterMenu="matMenu">
                                <button (click)="filterByRecruiter('')" [disabled]="recruiterIdFilter === ''" mat-menu-item>All</button>
                                @for (recruiter of recruiters; track recruiter.id) {
                                <div>
                                    <button (click)="filterByRecruiter(recruiter.id)" [disabled]="recruiterIdFilter === recruiter.id" mat-menu-item>{{ recruiter.name }}</button>
                                </div>
                                }
                            </mat-menu>
                        </div>
                        <app-paginator (page)="page($event)" [total]="totalCompletedApplications"></app-paginator>
                    </div>
                </div>
                }
                @if (loaded) {
                <div class="history-applications">
                    @for (application of completedApplications; track trackByApplication($index, application)) {
                    <mat-card (click)="openApplication(application)" class="history-application" appSpotlight>
                        <div class="name">
                            <b [ngClass]="getHistoryColour(application)">{{ application.displayName }}</b>
                        </div>
                        <div class="details">
                            <div class="item recruiter">
                                <b>SR1: </b>
                                <small>{{ application.recruiter }}</small>
                            </div>
                            <div class="item applied">
                                <b>Applied: </b>
                                <small>{{ application.account.application.dateCreated | date: 'mediumDate':'Europe/London' }}</small>
                            </div>
                            <div class="item accepted">
                                @if (application.account.application.state == applicationState.ACCEPTED) {
                                <span>
                                    <b>Accepted: </b>
                                </span>
                                } @else {
                                <b>Rejected: </b>
                                }
                                <small>{{ application.account.application.dateAccepted | date: 'mediumDate':'Europe/London' }}</small>
                            </div>
                            <div class="item processed">
                                <b>Processed: </b>
                                <small
                                    >{{ application.daysProcessed }}
                                    @if (application.daysProcessed == 1) {
                                    <span>Day</span>
                                    } @else {
                                    <span>Days</span>
                                    }
                                </small>
                            </div>
                        </div>
                    </mat-card>
                    }
                </div>
                }
            </div>
        </div>
    </app-main-content-area>
    <app-side-content-area>
        <div class="flex-container stats">
            @if (getUserAccount() != null) {
            <div class="stats-container">
                <div class="stats-item">
                    <h3>SR1 State</h3>
                    <mat-card>
                        <div class="state-container">
                            @if (getUserAccount().settings.sr1Enabled) {
                            <h4 class="enabled">You are taking applications</h4>
                            } @else {
                            <h4 class="disabled">You are not taking applications</h4>
                            }
                            <button mat-raised-button color="primary" class="state-button" (click)="setAccountSr1Enabled()">
                                @if (getUserAccount().settings.sr1Enabled) {
                                <span>Disable</span>
                                } @else {
                                <span>Enable</span>
                                }
                            </button>
                        </div>
                    </mat-card>
                </div>
                <div class="stats-item activity">
                    <h3>SR1 Activity</h3>
                    <mat-card>
                        <div class="activity-row">
                            <ng-template [ngxPermissionsOnly]="['RECRUITER_LEAD']">
                                <div class="item state"><b>On/Off</b></div>
                            </ng-template>
                            <div class="item recruiter"><b>Recruiter</b></div>
                            <div class="item active"><b>Active</b></div>
                            <div class="item accepted"><b>Accepted</b></div>
                            <div class="item rejected"><b>Rejected</b></div>
                            <div class="item total"><b>Total</b></div>
                        </div>
                        @for (item of activity; track item.name) {
                        <div class="activity-row">
                            <ng-template [ngxPermissionsOnly]="['RECRUITER_LEAD']">
                                <div class="item state row">
                                    <mat-checkbox color="primary" matTooltip="Recruiter enabled/disabled" [(ngModel)]="item.account.settings.sr1Enabled" (change)="setSr1Enabled(item)"></mat-checkbox>
                                </div>
                            </ng-template>
                            <div class="item recruiter">{{ item.name }}</div>
                            <div class="item active">{{ item.active }}</div>
                            <div class="item accepted">{{ item.accepted }}</div>
                            <div class="item rejected">{{ item.rejected }}</div>
                            <div class="item total">{{ item.active + item.accepted + item.rejected }}</div>
                        </div>
                        }
                    </mat-card>
                </div>
            </div>
            }
            @if (activity != null && yourStats != null && sr1Stats != null) {
            <div class="stats-container">
                <div class="stats-item statistics">
                    <h3>SR1 Statistics</h3>
                    <mat-card class="statistics-container">
                        <mat-tab-group mat-stretch-tabs="true">
                            <mat-tab label="Your Statistics" style="width: 100%">
                                <mat-card class="statistics-content">
                                    <h4>Last Month</h4>
                                    @for (stats of yourStats.lastMonth; track stats.fieldName) {
                                    <p>{{ stats.fieldName }} - {{ stats.fieldValue }}</p>
                                    }
                                    <br />
                                    <h4>Total</h4>
                                    @for (stats of yourStats.overall; track stats.fieldName) {
                                    <p>{{ stats.fieldName }} - {{ stats.fieldValue }}</p>
                                    }
                                </mat-card>
                            </mat-tab>
                            <mat-tab label="All Statistics" style="width: 100%">
                                <mat-card class="statistics-content">
                                    <h4>Last Month</h4>
                                    @for (stats of sr1Stats.lastMonth; track stats.fieldName) {
                                    <p>{{ stats.fieldName }} - {{ stats.fieldValue }}</p>
                                    }
                                    <br />
                                    <h4>Total</h4>
                                    @for (stats of sr1Stats.overall; track stats.fieldName) {
                                    <p>{{ stats.fieldName }} - {{ stats.fieldValue }}</p>
                                    }
                                </mat-card>
                            </mat-tab>
                        </mat-tab-group>
                    </mat-card>
                </div>
            </div>
            }
        </div>
    </app-side-content-area>
</app-default-content-areas>
