app-side-content-area {
    td.tr-stats {
        margin: 2px 5px;
        padding: 2px 5px;
        border: 0;
        text-align: center;
    }

    .td-stats-checkbox {
        margin: 2px 5px;
        padding: 2px 5px 2px 0;
        border: 0;
        text-align: center;
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;

    .applications {
        .applications-container {
            .application-card {
                display: flex;
                flex-direction: row;
                width: 100%;
                margin-bottom: 5px;
                padding: 5px;
                cursor: pointer;

                &.others {
                    opacity: 0.9;
                }

                .name {
                    flex-grow: 1;
                    flex-basis: 20%;
                    padding: 10px;
                    margin: auto 0;
                }

                .details {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    flex-basis: 80%;

                    .row {
                        display: flex;
                        flex-direction: row;
                        margin: auto 0;
                    }

                    .item {
                        flex-grow: 1;
                        padding: 5px 10px;

                        &.recruiter {
                            flex-basis: 40%;
                        }

                        &.teamspeak {
                            flex-basis: 30%;
                        }

                        &.applied {
                            flex-basis: 30%;
                        }

                        &.email {
                            cursor: default;
                            flex-basis: 40%;
                        }

                        &.steam {
                            flex-basis: 30%;
                        }

                        &.processing {
                            flex-basis: 30%;
                        }
                    }
                }
            }
        }
    }

    .history {
        .history-header {
            display: flex;
            flex-direction: row;
            margin-top: 10px;
            margin-bottom: 5px;

            .history-header-part-container {
                display: flex;
                flex-direction: row;

                h3 {
                    margin: auto 15px auto 0;
                }

                &.actions {
                    flex-grow: 1;
                }

                &.buttons {
                    flex-grow: 1;
                }

                .history-header-part {
                    align-self: center;
                    display: flex;
                    flex-direction: row;

                    .icon-right {
                        vertical-align: middle;
                    }

                    &.search {
                        flex-grow: 1;

                        .mat-mdc-form-field {
                            width: 100%;

                            .mat-mdc-icon-button {
                                background-color: transparent;
                                margin-left: -21px;

                                .mat-icon {
                                    margin: 0;
                                    height: 21px;
                                    line-height: 21px;
                                }
                            }
                        }
                    }

                    &.sort {
                        button {
                            margin-left: 10px;
                        }
                    }
                }

                app-paginator {
                    margin: auto 0;
                    padding-left: 4px;
                }
            }
        }

        .history-application {
            display: flex;
            flex-direction: row;
            width: 100%;
            margin-bottom: 3px;
            padding: 5px;
            cursor: pointer;

            &:first-of-type {
                margin-top: 3px;
            }

            .name {
                flex-grow: 1;
                flex-basis: 15%;
                margin: auto 0;
                padding: 2px 5px;
            }

            .details {
                display: flex;
                flex-direction: row;
                flex-grow: 1;
                flex-basis: 75%;

                .item {
                    flex-grow: 1;
                    padding: 2px 5px;

                    &.recruiter {
                        flex-basis: 25%;
                    }

                    &.applied {
                        flex-basis: 25%;
                    }

                    &.accepted {
                        flex-basis: 25%;
                    }

                    &.processed {
                        flex-basis: 25%;
                    }
                }
            }
        }
    }

    .state-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .enabled {
            color: green;
            margin: 0;
            flex: 1;
        }

        .disabled {
            color: red;
            margin: 0;
            flex: 1;
        }
    }

    &.stats {
        .stats-container {
            display: flex;
            flex-direction: column;

            .stats-item {
                &.activity {
                    .activity-row {
                        display: flex;
                        flex-direction: row;
                        padding: 6px 0;

                        .item {
                            text-align: center;
                            flex-grow: 1;
                            flex-basis: 20%;
                            margin: auto;

                            &.state {
                                text-align: left;
                                max-width: 20px;
                                min-width: 16px;
                                height: 24px;
                                margin: auto 5px auto 0;
                            }

                            &.recruiter {
                                text-align: left;
                                min-width: 100px;
                            }

                            &.active {
                                flex-basis: 15%;
                            }

                            &.total {
                                flex-basis: 10%;
                            }
                        }
                    }
                }

                &.statistics {
                    .statistics-container {
                        padding: 2px;
                    }
                }
            }
        }
    }
}

.green {
    color: green;
}

.goldenrod {
    color: goldenrod;
}

.red {
    color: red;
}

@media screen and (max-width: 1450px) {
    app-default-content-areas {
        grid-template-areas: 'main' 'side';
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .flex-container {
        &.stats {
            flex-direction: row;

            .stats-container {
                width: 50%;

                &:last-of-type {
                    margin-left: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .flex-container {
        .applications {
            .applications-container {
                .application-card {
                    .name {
                        flex-basis: 25%;
                    }

                    .details {
                        flex-basis: 75%;

                        .item {
                            &.teamspeak {
                                flex-basis: 20%;
                            }

                            &.applied {
                                flex-basis: 20%;
                            }

                            &.steam {
                                flex-basis: 20%;
                            }

                            &.processing {
                                flex-basis: 20%;
                            }
                        }
                    }
                }
            }
        }

        .history {
            .history-header {
                flex-direction: column;
            }

            .history-application {
                .details {
                    .item {
                        &.processed {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    app-default-content-areas {
        grid-template-columns: 1fr;
    }

    .flex-container {
        .applications {
            .applications-container {
                .application-card {
                    .name {
                        flex-basis: 35%;
                    }

                    .details {
                        .item {
                            &.recruiter {
                                flex-basis: 50%;
                            }

                            &.teamspeak {
                                display: none;
                            }

                            &.applied {
                                flex-basis: 30%;
                            }

                            &.email {
                                flex-basis: 50%;
                            }

                            &.steam {
                                display: none;
                            }

                            &.processing {
                                flex-basis: 30%;
                            }
                        }
                    }
                }
            }
        }

        &.stats {
            flex-direction: column;

            .stats-container {
                width: 100%;

                &:last-of-type {
                    margin-left: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .flex-container {
        .applications {
            .applications-container {
                .application-card {
                    padding: 8px;

                    .name {
                        flex-basis: 50%;
                        padding: 5px;
                    }

                    .details {
                        flex-basis: 20%;

                        .item {
                            padding: 2px 5px;

                            &.applied {
                                display: none;
                            }

                            &.email {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .history {
            .history-header {
                .history-header-part-container {
                    &.actions {
                        flex-direction: column;
                    }

                    .history-header-part {
                        &.search {
                            align-self: unset;
                        }

                        &.sort {
                            button {
                                margin-left: 0;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }

            .history-application {
                .name {
                    flex-basis: 25%;
                }

                .details {
                    flex-basis: 60%;

                    .item {
                        &.accepted {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    app-side-content-area {
        .enabled {
            font-size: 16px;
        }

        .disabled {
            font-size: 16px;
        }
    }

    .flex-container {
        .applications {
            .applications-container {
                .application-card {
                    .name {
                        flex-basis: 30%;
                        padding: 0;

                        h4 {
                            font-size: 16px;
                        }
                    }

                    .details {
                        flex-basis: 20%;

                        .item {
                            padding: 0;
                        }
                    }
                }
            }
        }

        .history {
            .history-header {
                .history-header-part-container {
                    .history-header-part {
                        margin: 5px;
                        flex: 1;
                    }
                }
            }

            .history-applications {
                .history-application {
                    .name {
                        flex-basis: 0;
                    }

                    .details {
                        flex-basis: 0;

                        .item {
                            &.applied {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        &.stats {
            .stats-container {
                .stats-item {
                    &.statistics {
                        .mat-mdc-card {
                            padding: 8px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .flex-container {
        .history {
            .history-header {
                .history-header-part-container {
                    &.buttons {
                        flex-direction: column;

                        app-flex-filler {
                            display: none;
                        }

                        .history-header-part {
                            align-self: flex-start;
                        }
                    }
                }
            }
        }

        &.stats {
            .stats-container {
                .stats-item {
                    &.activity {
                        .mat-mdc-card {
                            padding: 8px;
                        }

                        .activity-row {
                            .item {
                                font-size: 11px;

                                &.recruiter {
                                    min-width: 80px;
                                }
                            }
                        }
                    }

                    &.statistics {
                        /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
                        ::ng-deep .mat-tab-label {
                            padding: 0 12px !important;
                        }
                    }
                }
            }
        }
    }
}
