@use '@angular/material' as mat;

@mixin recruitment-page-component-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);

    app-recruitment-page {
        a {
            color: mat.get-color-from-palette($primary);
        }
        .applications-container {
            .applicationCardOthers {
                background-color: mat.get-color-from-palette($background, dark-card);
            }
        }
    }
}
