@use '@angular/material' as mat;
@use 'sass:map';

@mixin command-roles-component-theme($theme) {
    $background: map.get($theme, background);
    $primary: map.get($theme, primary);

    app-command-roles {
    }

    &.cdk-drag-preview {
        &.roles-list-item {
            background-color: mat.m2-get-color-from-palette($background, card);
        }
    }
}
