.flex-container {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    padding: 0 16px 16px;
}

.flex-container-input {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 0;
}

.normal {
    display: block;
    width: 292px;
}

.mat-mdc-raised-button {
    margin-left: 20px;
}

.column-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 16px;
}

.roles-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: fit-content;
}

.roles-list-item {
    font-size: 16px;
    width: fit-content;
}

.handle {
    font-size: 30px;
    width: 40px;
    line-height: 0;
}

.mat-mdc-card {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    align-items: center;
    width: 400px;
    margin-bottom: 1px;
    height: 36px;
}

.inline-edit {
    flex: 1;
    flex-basis: 100%;
    margin-right: 10px;
}

.no-handle {
    margin-left: 16px;
}

.delete-icon {
    color: red;
    cursor: pointer;
}

.disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.cdk-drag-placeholder {
    opacity: 0;
}
