@use '@angular/material' as mat;

@mixin command-roles-component-theme($theme) {
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);

    app-command-roles {
    }

    &.cdk-drag-preview {
        &.roles-list-item {
            background-color: mat.get-color-from-palette($background, card);
        }
    }
}
