@use '~@angular/material' as mat;

@mixin units-orbat-aux-component-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);

    app-units-orbat-aux {
        ::-webkit-scrollbar-track {
            background-color: mat.get-color-from-palette($background, card);
        }

        ::-webkit-scrollbar-thumb {
            background-color: mat.get-color-from-palette($background, hover);
        }

        .p-organizationchart {
            .p-organizationchart-line-down {
                background-color: mat.get-color-from-palette($background, org-line);
            }

            .p-organizationchart-line-left {
                border-right: 1px solid mat.get-color-from-palette($background, org-line);
            }

            .p-organizationchart-line-top {
                border-top: 1px solid mat.get-color-from-palette($background, org-line);
            }

            .p-organizationchart-node-content {
                border-color: mat.get-color-from-palette($background, org-line);

                .p-node-toggler {
                    color: mat.get-color-from-palette($background, org-line);
                }

                &.p-organizationchart-selectable-node {
                    &:hover {
                        border-color: mat.get-color-from-palette($background, org-line);
                        background-color: mat.get-color-from-palette($background, org-hover);
                        color: mat.get-color-from-palette($foreground, base);

                        h4 {
                            color: mat.get-color-from-palette($primary);
                        }

                        a {
                            color: mat.get-color-from-palette($primary);
                        }
                    }
                }
            }

            .p-widget-content {
                color: mat.get-color-from-palette($foreground, base);
                background-color: mat.get-color-from-palette($background, org-content);

                h4 {
                    color: mat.get-color-from-palette($foreground, base);
                    background-color: transparent;
                }
            }
        }
    }
}
