@import "~@angular/material/theming";

@mixin units-roster-component-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);

    app-units-roster {
        .mat-row:hover {
            background-color: mat-color($background, hover);
        }
    }
}
