@use '~@angular/material' as mat;
@import "~@angular/material/theming";
@mixin operations-servers-component-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    app-operations-servers {
        .uploading {
          color: mat.get-color-from-palette($accent, default-contrast) !important;
          background-color: mat.get-color-from-palette($accent) !important;
        }

        .admin-container {
            .control-disabled {
                color: red;
            }
            .refresh-button {
                background-color: transparent;
            }
        }

        .servers-list-item {
          background-color: mat.get-color-from-palette($background, server);

          &.server-running {
            background-color: mat.get-color-from-palette($background, server-running);
          }

          .servers-list-header {
            button {
              background-color: transparent;
            }

                .title-updating {
                  color: mat.get-color-from-palette($primary);
                }
            }
        }

        .server-buttons {
            button {
                background-color: transparent;
            }
        }

        .dropZone {
          border-color: mat.get-color-from-palette($primary);
        }

        h3 {
            background-color: transparent !important;
        }
    }

    &.cdk-drag-preview {
        .servers-list-item {
          background-color: mat.get-color-from-palette($background, server);

          &.server-running {
            background-color: mat.get-color-from-palette($background, server-running);
          }

          .servers-list-header {
            button {
              background-color: transparent;
            }
          }
        }

        .server-buttons {
            button {
                background-color: transparent;
            }
        }
    }
}
