<app-default-content-areas>
    <app-main-content-area style="grid-column: span 3;">
        <app-operations-page></app-operations-page>
        <div class="flex-container column">
            <div class="spinner-container" *ngIf="!servers">
                <mat-spinner></mat-spinner>
            </div>
            <app-file-drop (onFileOver)="onFileOver()" (onFileLeave)="onFileLeave()" (onFileDrop)="onFileDrop($event)">
                <div #serversContainer [ngClass]="{'fileDragging': fileDragging}">
                    <div class="admin-container">
                        <ng-template [ngxPermissionsOnly]="['ADMIN']">
                            <button mat-raised-button color="primary" (click)="toggleDisabledState()" *ngIf="!disabled">
                                Disable Server Control
                            </button>
                            <button mat-raised-button color="primary" (click)="toggleDisabledState()" *ngIf="disabled">
                                Enable Server Control
                            </button>
                            <button mat-raised-button color="primary" (click)="addServer()">
                                Add Server
                            </button>
                            <button mat-raised-button color="primary" (click)="killAll()" *ngIf="statuses.length > 0">
                                Kill {{statuses.length}} Arma Instances
                            </button>
                        </ng-template>
                        <button mat-raised-button color="primary" (click)="uploader.click()" class="uploading-button" [ngClass]="{'uploading': uploadingFile}" [disabled]="isDisabled">
                            <span *ngIf="!uploadingFile">Upload Mission</span>
                            <mat-icon *ngIf="uploadingFile" class="uploading-icon">autorenew</mat-icon>
                        </button>
                        <app-flex-filler></app-flex-filler>
                        <div class="admin-container">
                            <div class="control-disabled" *ngIf="disabled">
                                Server control has been disabled by an admin
                            </div>
                        </div>
                    </div>
                    <div *ngIf="servers">
                        <div class="servers-container" *ngIf="servers.length == 0">
                            <h3>There are no game servers defined</h3>
                        </div>
                        <div class="servers-list" *ngIf="servers.length > 0" cdkDropList [cdkDropListDisabled]="updatingOrder" (cdkDropListDropped)="onMove($event)" [class.disabled]="updatingOrder">
                            <div *ngFor="let server of servers" cdkDrag (cdkDragStarted)="onDragStarted($event)" (cdkDragDropped)="onDragStopped($event)">
                                <mat-card class="servers-list-item" [ngClass]="{'server-running': isRunning(server)}">
                                    <div class="servers-list-header">
                                        <ng-template [ngxPermissionsOnly]="['ADMIN']">
                                            <span class="handle" cdkDragHandle [class.disabled]="updatingOrder">=</span>
                                        </ng-template>
                                        <h3 class="servers-list-h3"
                                            [ngClass]="{'title-updating': false, 'title-stopping': false, 'title': !isRunning(server), 'title-started': false, 'title-running': isRunning(server)}">
                                            {{server.name}}
                                            - {{getServerStatus(server)}}</h3>
                                    </div>
                                    <div class="server-container">
                                        <div class="server-details" *ngIf="getStatus(server); let status">
                                            <span *ngIf="status.mission"><b>Map:</b> {{status.map}}</span>
                                            <span *ngIf="status.mission"><b>Mission:</b> {{status.mission}}</span>
                                            <span *ngIf="status.parsedUptime !== '00:00:00'"><b>Players:</b>
                                                {{status.players}}</span>
                                            <span *ngIf="status.parsedUptime !== '00:00:00'"><b>Max Players:</b>
                                                {{status.maxPlayers}}</span>
                                            <span *ngIf="status.parsedUptime !== '00:00:00'"><b>Uptime:</b>
                                                {{getUptime(status)}}</span>
                                            <app-flex-filler></app-flex-filler>
                                        </div>
                                        <app-flex-filler></app-flex-filler>
                                        <div class="server-buttons">
                                                <!-- [disabled]="server.updating || server.status.running || server.status.started || server.status.stopping" -->
                                            <ng-template [ngxPermissionsOnly]="['ADMIN']">
                                                <button mat-button class="delete-icon" (click)="deleteServer($event, server)" [disabled]="isRunning(server)">
                                                    <mat-icon matTooltip="Delete game server">highlight_off</mat-icon>
                                                </button>
                                            </ng-template>
                                            <ng-template [ngxPermissionsOnly]="['ADMIN']">
                                                <button mat-button class="icon" (click)="editServer($event, server)" [disabled]="isRunning(server)">
                                                    <mat-icon matTooltip="Edit game server">edit</mat-icon>
                                                </button>
                                            </ng-template>
                                            <ng-template [ngxPermissionsOnly]="['ADMIN']">
                                                <button mat-button class="icon" (click)="editServerMods($event, server)" [disabled]="isRunning(server)">
                                                    <mat-icon matTooltip="Edit game server mods">extension</mat-icon>
                                                </button>
                                            </ng-template>
                                            <app-flex-filler></app-flex-filler>
                                            <mat-select *ngIf="!isRunning(server)" placeholder="Select mission" class="mission-select" [disabled]="isDisabled">
                                                <mat-option *ngFor="let mission of missions" [value]="mission.path" (onSelectionChange)="missionSelectionChange($event, server)">
                                                    {{mission.map}}, {{mission.name}}
                                                </mat-option>
                                            </mat-select>
                                            <button mat-raised-button color="primary" *ngIf="!isRunning(server)" [ngClass]="{'control-button': !isRunning(server)}"
                                                [disabled]="!server.missionSelection || isDisabled" (click)="launch(server)">Launch</button>
                                            <!-- <button mat-raised-button color="primary" *ngIf="server.status.running && !server.status.stopping && server.status.parsedUptime !== '00:00:00'"
                                                [ngClass]="{'control-button-running': server.status.running && !server.status.stopping && server.status.parsedUptime !== '00:00:00'}" [disabled]="server.updating || isDisabled" (click)="stop(server)">Stop</button>
                                            <button mat-raised-button color="primary" *ngIf="server.status.running && !server.status.stopping && server.status.parsedUptime === '00:00:00'"
                                                [ngClass]="{'control-button-running': server.status.running && !server.status.stopping && server.status.parsedUptime === '00:00:00'}" [disabled]="server.updating || isDisabled" (click)="stop(server, true)">Stop</button>
                                            <button mat-raised-button color="primary" *ngIf="server.status.started || server.status.stopping" [ngClass]="{'control-button-running': server.status.started || server.status.stopping || server.status.parsedUptime === '00:00:00'}"
                                                [disabled]="server.updating || isDisabled" (click)="kill(server)">Kill</button> -->
                                            <button mat-raised-button color="primary" *ngIf="isRunning(server)" [ngClass]="{'control-button-running': isRunning(server)}" [disabled]="isDisabled"
                                                (click)="kill(server, true)">Stop</button>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropZone" [style.height.px]="dropZoneHeight" [style.width.px]="dropZoneWidth" *ngIf="fileDragging">
                    <span>Drop mission files here to upload them</span>
                </div>
            </app-file-drop>
            <input #uploader hidden type="file" accept=".pbo" multiple (change)="upload($event.target.files)" style="display: none;" />
        </div>
    </app-main-content-area>
</app-default-content-areas>
