<app-default-content-areas>
    <app-main-content-area style="grid-column: span 3">
        <app-operations-page></app-operations-page>
        <div class="flex-container column">
            <div class="spinner-container" *ngIf="!servers">
                <mat-spinner></mat-spinner>
            </div>
            <app-file-drop (onFileOver)="onFileOver()" (onFileLeave)="onFileLeave()" (onFileDrop)="onFileDrop($event)">
                <div #serversContainer [ngClass]="{ fileDragging: fileDragging }">
                    <div class="admin-container">
                        <ng-template [ngxPermissionsOnly]="['ADMIN']">
                            <button (click)="toggleDisabledState()" *ngIf="!disabled" color="primary" mat-raised-button>Disable Server Control</button>
                            <button (click)="toggleDisabledState()" *ngIf="disabled" color="primary" mat-raised-button>Enable Server Control</button>
                            <button (click)="addServer()" color="primary" mat-raised-button>Add Server</button>
                            <button (click)="killAll()" *ngIf="instanceCount > 0" color="primary" mat-raised-button>Kill {{ instanceCount }} Arma Instances</button>
                        </ng-template>
                        <button (click)="uploader.click()" [disabled]="isDisabled" [ngClass]="{ uploading: uploadingFile }" class="uploading-button" color="primary" mat-raised-button>
                            <span *ngIf="!uploadingFile">Upload Mission</span>
                            <mat-icon *ngIf="uploadingFile" class="uploading-icon">autorenew</mat-icon>
                        </button>
                        <app-flex-filler></app-flex-filler>
                        <div class="admin-container">
                            <div *ngIf="disabled" class="control-disabled">Server control has been disabled by an admin</div>
                            <button mat-button class="refresh-button icon" (click)="getServers()">
                                <mat-icon [ngClass]="{ 'server-updating': updating }" matTooltip="Refresh all">refresh </mat-icon>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="servers">
                        <div class="servers-container" *ngIf="servers.length == 0">
                            <h3>There are no game servers defined</h3>
                        </div>
                        <div
                            (cdkDropListDropped)="onMove($event)"
                            *ngIf="servers.length > 0"
                            [cdkDropListDisabled]="updating || updatingOrder"
                            [class.disabled]="updatingOrder"
                            cdkDropList
                            class="servers-list"
                        >
                            <div (cdkDragStarted)="onDragStarted($event)" *ngFor="let server of servers" cdkDrag>
                                <mat-card [ngClass]="{ 'server-running': server.status.running }" class="servers-list-item">
                                    <div class="server-header">
                                        <ng-template [ngxPermissionsOnly]="['ADMIN']">
                                            <span [class.disabled]="updating || updatingOrder" cdkDragHandle class="handle">=</span>
                                        </ng-template>
                                        <h3
                                            [ngClass]="{
                                                'title-updating': server.updating,
                                                'title-stopping': server.status.stopping,
                                                'title-started': server.status.started && !server.updating && !server.status.running,
                                                'title-running': !server.updating && server.status.running
                                            }"
                                        >
                                            {{ server.name }}
                                            - {{ getServerStatus(server) }}
                                        </h3>
                                        <app-flex-filler></app-flex-filler>
                                        <button mat-button class="icon" (click)="refreshServerStatus(server)">
                                            <mat-icon [ngClass]="{ 'server-updating': server.updating }" matTooltip="Refresh server status">refresh </mat-icon>
                                        </button>
                                    </div>
                                    <div class="server-container">
                                        <div class="server-details" *ngIf="server.status.running">
                                            <span *ngIf="server.status.mission"><b>Map:</b> {{ server.status.map }}</span>
                                            <span *ngIf="server.status.mission"><b>Mission:</b> {{ server.status.mission }}</span>
                                            <span *ngIf="server.status.parsedUptime !== '00:00:00'"><b>Players:</b> {{ server.status.players }}</span>
                                            <span *ngIf="server.status.parsedUptime !== '00:00:00'"><b>Max Players:</b> {{ server.status.maxPlayers }}</span>
                                            <span *ngIf="server.status.parsedUptime !== '00:00:00'"><b>Uptime:</b> {{ server.status.parsedUptime }}</span>
                                            <app-flex-filler></app-flex-filler>
                                        </div>
                                        <app-flex-filler></app-flex-filler>
                                        <div class="server-buttons">
                                            <ng-template [ngxPermissionsOnly]="['ADMIN']">
                                                <div class="admin">
                                                    <button
                                                        (click)="deleteServer($event, server)"
                                                        [disabled]="server.updating || server.status.running || server.status.started || server.status.stopping"
                                                        class="icon delete"
                                                        mat-button
                                                    >
                                                        <mat-icon matTooltip="Delete game server">highlight_off </mat-icon>
                                                    </button>
                                                    <button
                                                        (click)="editServer($event, server)"
                                                        [disabled]="server.updating || server.status.running || server.status.started || server.status.stopping"
                                                        class="icon"
                                                        mat-button
                                                    >
                                                        <mat-icon matTooltip="Edit game server">edit</mat-icon>
                                                    </button>
                                                    <button
                                                        (click)="editServerMods($event, server)"
                                                        [disabled]="server.updating || server.status.running || server.status.started || server.status.stopping"
                                                        class="icon"
                                                        mat-button
                                                    >
                                                        <mat-icon matTooltip="Edit game server mods">extension </mat-icon>
                                                    </button>
                                                </div>
                                            </ng-template>
                                            <app-flex-filler></app-flex-filler>
                                            <app-dropdown
                                                *ngIf="!server.status.running && !server.status.started && !server.updating && !server.status.stopping"
                                                [(ngModel)]="server.missionSelection"
                                                [displayWith]="displayWithMission"
                                                [elementFilter]="missionFilter"
                                                [elementMatcher]="missionMatcher"
                                                [elementName]="'Mission'"
                                                [elements]="missions"
                                                [formFieldClass]="'mission-select'"
                                                [hidden]="server.updating || isDisabled"
                                                [optionClass]="'mission-option'"
                                                [placeholder]="'Select mission'"
                                                [showErrors]="false"
                                                [tooltip]="getMissionTooltip"
                                            >
                                                <ng-template #element let-element>{{ getMissionName(element) }}</ng-template>
                                            </app-dropdown>
                                            <button
                                                (click)="launch(server)"
                                                *ngIf="!server.status.started && !server.status.running && !server.status.stopping"
                                                [disabled]="server.updating || !server.missionSelection || isDisabled"
                                                [ngClass]="{ 'control-button': !server.status.started && !server.status.running && !server.status.stopping }"
                                                color="primary"
                                                mat-raised-button
                                            >
                                                Launch
                                            </button>
                                            <!-- <button mat-raised-button color="primary" *ngIf="server.status.running && !server.status.stopping && server.status.parsedUptime !== '00:00:00'"
                                                [ngClass]="{'control-button-running': server.status.running && !server.status.stopping && server.status.parsedUptime !== '00:00:00'}" [disabled]="server.updating || isDisabled" (click)="stop(server)">Stop</button>
                                            <button mat-raised-button color="primary" *ngIf="server.status.running && !server.status.stopping && server.status.parsedUptime === '00:00:00'"
                                                [ngClass]="{'control-button-running': server.status.running && !server.status.stopping && server.status.parsedUptime === '00:00:00'}" [disabled]="server.updating || isDisabled" (click)="stop(server, true)">Stop</button>
                                            <button mat-raised-button color="primary" *ngIf="server.status.started || server.status.stopping" [ngClass]="{'control-button-running': server.status.started || server.status.stopping || server.status.parsedUptime === '00:00:00'}"
                                                [disabled]="server.updating || isDisabled" (click)="kill(server)">Kill</button> -->
                                            <button
                                                (click)="kill(server, true)"
                                                *ngIf="server.status.started || server.status.running"
                                                [disabled]="server.updating || isDisabled"
                                                color="primary"
                                                mat-raised-button
                                            >
                                                Stop
                                            </button>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropZone" [style.height.px]="dropZoneHeight" [style.width.px]="dropZoneWidth" *ngIf="fileDragging">
                    <span>Drop mission files here to upload them</span>
                </div>
            </app-file-drop>
            <input #uploader (change)="upload($event.target.files)" accept=".pbo" hidden multiple style="display: none" type="file" />
        </div>
    </app-main-content-area>
</app-default-content-areas>
