<div *ngIf="accepted">
    <mat-card>
        <h2>{{ applicationState }}</h2>
        <p>Congratulations! Your application to join UKSF was accepted.</p>
        <p>Your next steps will be detailed to you by either an SR1, or a member of SFSG.</p>
    </mat-card>
</div>
<div *ngIf="rejected">
    <mat-card>
        <h2>{{ applicationState }}</h2>
        <p>We are sorry but your application to join UKSF has been rejected</p>
        <p>Thank you for your interest in our unit. We hope you find a suitable alternative.</p>
    </mat-card>
    <div class="application-container">
        <mat-card class="no-margin-right">
            <h3>Application Chat</h3>
            <app-comment-display [threadId]="applicationCommentThread"></app-comment-display>
        </mat-card>
    </div>
</div>
<div *ngIf="!accepted && !rejected">
    <mat-card>
        <h2>{{ applicationState }}</h2>
        <p>Your application has been successfully submitted. Please wait for your SR1 recruitment officer to contact you.</p>
        <p>They will take you through some information and answer any questions you have. Your SR1 is your point of contact during the application process.</p>
        <p>You may edit certain parts of the application below, as well as communicate directly with your SR1 Recruitment Officer</p>
        <br />
        <h3>Please read the following information</h3>
        <h4>Next steps</h4>
        <p>
            We require all applicants to play a candidate op with us to complete the process. This is an opportunity for you to see what kind of missions we play and how we play them, as well as the
            kind of people you will be playing with. Please note that some ops we do are not representative of the missions we play normally. Your SR1 will inform you if this is the case.
        </p>
        <br />
        <h4>TeamSpeak</h4>
        <p>Feel free to join our TeamSpeak <a href="ts3server://uk-sf.co.uk">(uk-sf.co.uk)</a> at any time</p>
        <p>Members with a red <span style="color: red">R</span> tag are SR1 Recruitment Officers and are available should you have any questions.</p>
        <p>The 'General Discussion Lobby' is a public lobby that you may join at any time.</p>
        <p>'Private Discussion' lobbies are private, thus you should ask the people inside if you may join them before joining.</p>
        <br />
        <h4>Game Setup</h4>
        <p>You should visit the <a routerLink="/modpack/guide">Modpack Setup Guide</a> whilst you wait for your SR1 to contact you.</p>
        <p>
            Your Arma profile name and your TeamSpeak name both need to be changed to <b>{{ name }}</b>
        </p>
    </mat-card>
    <div class="application-container">
        <mat-card>
            <h3>Edit Application</h3>
            <form [formGroup]="formGroup">
                <div class="special-field-form-container">
                    <label for="name">If you see this, keep this field blank</label>
                    <input type="text" id="name" formControlName="name" tabindex="-1" autocomplete="off" />
                </div>
                <div>
                    <mat-form-field class="large-input">
                        <mat-label>How much experience do you have playing Arma?</mat-label>
                        <textarea
                            matInput
                            matTextareaAutosize
                            matAutosizeMinRows="2"
                            matAutosizeMaxRows="5"
                            formControlName="armaExperience"
                            maxlength="500"
                            #armaText
                        ></textarea>
                        <mat-hint *ngIf="armaText.value.length > 200">{{ armaText.value.length }} / 500</mat-hint>
                        <mat-error>{{ getValidationError(formGroup.get('armaExperience'), validation_messages.armaExperience) }}</mat-error>
                    </mat-form-field>
                    <br />
                    <mat-form-field class="large-input">
                        <mat-label>Other Units - have you ever been in an Arma unit? Which?</mat-label>
                        <textarea
                            matInput
                            matTextareaAutosize
                            matAutosizeMinRows="2"
                            matAutosizeMaxRows="4"
                            formControlName="unitsExperience"
                            maxlength="250"
                            #unitsText
                        ></textarea>
                        <mat-hint *ngIf="unitsText.value.length > 200">{{ unitsText.value.length }} / 250</mat-hint>
                        <mat-error>{{ getValidationError(formGroup.get('unitsExperience'), validation_messages.unitsExperience) }}</mat-error>
                    </mat-form-field>
                    <br />
                    <mat-form-field class="large-input">
                        <mat-label>Personal background - tell us a little about yourself</mat-label>
                        <textarea
                            matInput
                            matTextareaAutosize
                            matAutosizeMinRows="5"
                            matAutosizeMaxRows="10"
                            formControlName="background"
                            maxlength="500"
                            #backgroundText
                        ></textarea>
                        <mat-hint *ngIf="backgroundText.value.length > 400">{{ backgroundText.value.length }} / 500</mat-hint>
                        <mat-error>{{ getValidationError(formGroup.get('background'), validation_messages.background) }}</mat-error>
                    </mat-form-field>
                </div>
                <mat-checkbox color="primary" formControlName="militaryExperience">Are you or have you ever been a member of the military?</mat-checkbox>
                <br />
                <br />
                <div formGroupName="rolePreferences">
                    <p>These options exist to give us an idea of what kind of role you are interested in. There is no guarantee you will be admitted to any of these programmes.</p>
                    <div *ngFor="let rolePreferenceOption of rolePreferenceOptions">
                        <mat-checkbox color="primary" formControlName="{{ rolePreferenceOption }}">{{ rolePreferenceOption }}</mat-checkbox>
                    </div>
                </div>
                <br />
                <mat-form-field>
                    <mat-label>Where did you hear about UKSF?</mat-label>
                    <mat-select formControlName="reference">
                        <mat-option *ngFor="let referenceOption of referenceOptions" [value]="referenceOption.value">
                            {{ referenceOption.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br />
                <br />
                <div class="button-next">
                    <app-button (clicked)="update()" [disabled]="!formGroup.valid || !changesMade" [pending]="pending"> Update </app-button>
                </div>
            </form>
        </mat-card>
        <mat-card>
            <h3>Application Chat</h3>
            <app-comment-display [threadId]="applicationCommentThread"></app-comment-display>
        </mat-card>
    </div>
</div>
