.application-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    .large-input {
        width: 100%;
        margin-bottom: 10px;
    }

    .mat-mdc-select {
        width: 300px;
    }

    .mat-mdc-card:first-child {
        flex-basis: 40%;
        margin-right: 10px;

        &.no-margin-right {
            margin-right: 0;
        }
    }

    .mat-mdc-card {
        flex: 1;
    }
}
