.application-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    mat-checkbox {
        margin-top: 0;
    }

    .mat-mdc-card:first-child {
        flex-basis: 40%;
        margin-right: 10px;

        &.no-margin-right {
            margin-right: 0;
        }
    }

    .mat-mdc-card {
        flex: 1;
    }
}

@media screen and (max-width: 800px) {
    .application-container {
        flex-direction: column;

        .mat-mdc-card:first-child {
            flex-basis: unset;
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
}
