@use '@angular/material' as mat;
@use 'sass:map';

@mixin docs-sidebar-component-theme($theme) {
    $background: map.get($theme, background);
    $primary: map.get($theme, primary);

    app-docs-sidebar {
        .sidebar-layout {
            background-color: mat.m2-get-color-from-palette($background, app-bar);

            .sidebar-container {
                .sidebar-header {
                    .add-icon-container {
                        &:hover {
                            background-color: mat.m2-get-color-from-palette($primary);

                            .mat-icon {
                                color: mat.m2-get-color-from-palette($background, app-bar);
                            }
                        }

                        .mat-icon {
                            color: mat.m2-get-color-from-palette($background, contrast);
                        }
                    }
                }
            }

            .sidebar-collapse-container {
                .sidebar-collapse-button {
                    .sidebar-collapse-icon {
                        background-color: mat.m2-get-color-from-palette($primary);

                        .mat-icon {
                            color: mat.m2-get-color-from-palette($background, app-bar);
                        }
                    }
                }
            }
        }

        ::-webkit-scrollbar-track {
            background-color: mat.m2-get-color-from-palette($background, side-bar);
        }

        ::-webkit-scrollbar-thumb {
            background-color: mat.m2-get-color-from-palette($background, scroll-thumb);
        }
    }
}
