@use 'styles/theme-helpers' as th;

@mixin docs-sidebar-component-theme($theme) {
    app-docs-sidebar {
        .sidebar-layout {
            background-color: var(--uksf-app-bar);

            .sidebar-container {
                .sidebar-header {
                    .add-icon-container {
                        &:hover {
                            background-color: th.primary($theme);

                            .mat-icon {
                                color: var(--uksf-app-bar);
                            }
                        }

                        .mat-icon {
                            color: var(--uksf-contrast);
                        }
                    }
                }
            }

            .sidebar-collapse-container {
                .sidebar-collapse-button {
                    .sidebar-collapse-icon {
                        background-color: th.primary($theme);

                        .mat-icon {
                            color: var(--uksf-app-bar);
                        }
                    }
                }
            }
        }

        ::-webkit-scrollbar-track {
            background-color: var(--uksf-side-bar);
        }

        ::-webkit-scrollbar-thumb {
            background-color: var(--uksf-scroll-thumb);
        }
    }
}
