<h2 mat-dialog-title>Edit Training for {{ name }}</h2>
<mat-dialog-content>
    @if (availableTrainings) {
    <div class="flex-container">
        <div class="trainings-list-container">
            @for (training of availableTrainings; track trackByTrainingId($index, training)) {
            <div class="trainings-list-item-container">
                <div class="trainings-list-item">
                    <span>{{ training.name }}</span>
                </div>
                <app-flex-filler></app-flex-filler>
                <mat-checkbox [(ngModel)]="training.selected" color="primary"></mat-checkbox>
            </div>
            }
        </div>
    </div>
    }
</mat-dialog-content>
<mat-dialog-actions>
    <button (click)="save()" [disabled]="!changes" color="primary" mat-raised-button>Save</button>
</mat-dialog-actions>
