.flex-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 450px;

    .trainings-list-container {
        display: flex;
        flex-direction: column;
        padding: 0 6px;

        .trainings-list-item-container {
            display: flex;
            flex-direction: row;

            .trainings-list-item {
                display: flex;
                flex-direction: row;
                width: 100%;
                padding-left: 4px;
                font-size: 16px;
                line-height: 16px;

                span {
                    margin: auto 0;
                }
            }
        }
    }
}
