@use 'styles/theme-helpers' as th;

@mixin edit-member-training-modal-component-theme($theme) {
    app-edit-member-training-modal {
        .trainings-list-item {
            span {
                color: th.fg-base($theme);
            }
        }

        ::-webkit-scrollbar-track {
            background-color: var(--uksf-side-bar);
        }

        ::-webkit-scrollbar-thumb {
            background-color: var(--uksf-scroll-thumb);
        }
    }
}
