@use '@angular/material' as mat;

@mixin edit-member-training-modal-component-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);

    app-edit-member-training-modal {
        .trainings-list-item {
            span {
                color: mat.m2-get-color-from-palette($foreground, base);
            }
        }

        ::-webkit-scrollbar-track {
            background-color: mat.m2-get-color-from-palette($background, side-bar);
        }

        ::-webkit-scrollbar-thumb {
            background-color: mat.m2-get-color-from-palette($background, scroll-thumb);
        }
    }
}
