.names-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;

    .name {
        display: block;
        width: 100%;

        &:first-of-type {
            margin-right: 5px;
        }
    }
}
