<app-autofocus-stop></app-autofocus-stop>
<h2 mat-dialog-title>Change Name</h2>
<mat-dialog-content>
    @if (!changed) {
    <div>
        <form [formGroup]="form">
            <div class="names-container">
                <app-text-input class="name" formControlName="firstName" [required]="true" [keypressFilter]="characterBlockPattern" [reserveErrorSpace]="false"> </app-text-input>
                <app-text-input class="name" formControlName="lastName" [required]="true" [keypressFilter]="characterBlockPattern" [reserveErrorSpace]="false"> </app-text-input>
                @if (form.errors != null) {
                <mat-error>{{ formErrors }}</mat-error>
                }
            </div>
        </form>
    </div>
    } @if (changed) {
    <div>
        <span>
            Please change your TeamSpeak name and Arma profile name to: <b>{{ displayName }}</b>
        </span>
    </div>
    }
</mat-dialog-content>
@if (!changed) {
<mat-dialog-actions>
    <span>
        Your new name will be
        <b>{{ displayName }}</b>
    </span>
    <app-flex-filler></app-flex-filler>
    <button mat-raised-button color="primary" type="button" (click)="changeName()" [disabled]="!form.valid || !changesMade">Submit</button>
</mat-dialog-actions>
}
