.names-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;

    .name {
        width: 100%;

        &:first-of-type {
            margin-right: 5px;
        }
    }
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .mat-raised-button {
        left: 15px;
    }
}
