@use 'styles/theme-helpers' as th;

@mixin notifications-component-theme($theme) {
    app-notifications {
        .mat-icon.clear {
          color: th.primary-contrast($theme);
        }

        .mat-badge-content {
          background: red;
          color: th.fg-base($theme);
        }

        .notification-panel-header {
          background-color: th.primary($theme);
        }

        .notification-card-container {
          background-color: var(--uksf-card);
        }

        ::-webkit-scrollbar-track {
          background-color: var(--uksf-background);
        }

        ::-webkit-scrollbar-thumb {
          background-color: var(--uksf-hover);
        }

        .notification-header-text {
          color: th.primary-contrast($theme);
        }

        .notification-card {
          background-color: var(--uksf-card);
        }

        .notification-card:hover {
          background-color: var(--uksf-hover);
        }

        .notification-card-nohover {
          background-color: var(--uksf-card);
        }

        .notification-text {
          color: th.fg-base($theme);
        }

        .notification-text-timestamp {
          color: th.fg-base($theme);
        }
    }
}
