<div class="icon-container">
    @if (unreadNotifications.length > 0) {
    <mat-icon class="notification" (click)="togglePanel()" matBadge="{{ unreadNotifications.length }}" matBadgePosition="above after" matBadgeColor="warning" matBadgeSize="small"
        aria-hidden="false" aria-label="Notifications">notifications</mat-icon
    >
    } @else if (notifications.length > 0) {
    <mat-icon class="notification" (click)="togglePanel()">notifications</mat-icon>
    } @else {
    <mat-icon class="notification" (click)="togglePanel()">notifications_none</mat-icon>
    }
</div>
@if (panel) {
<div class="notification-panel-container">
    <div class="notification-panel-header" color="primary">
        <h4 class="notification-header-text">Notifications</h4>
        @if (notifications.length > 0) {
        <mat-icon class="clear" matTooltip="Clear all notifications" (click)="clear()">clear_all</mat-icon>
        }
    </div>
    <div class="notification-card-container">
        @if (notifications.length == 0) {
        <div class="notification-card-nohover">
            <h4 class="notification-none">You have no notifications</h4>
        </div>
        } @for (notification of notifications; track trackById($index, notification)) {
        <div>
            <div class="notification-card" [class.clickable]="notification.link" (click)="openNotification(notification)">
                <div class="notification-read" [class.read]="!notification.read"></div>
                <div class="notification-icon-container">
                    <mat-icon class="notification-icon">{{ notification.icon }}</mat-icon>
                </div>
                <div class="notification-text-container">
                    <span class="notification-text">{{ notification.message }}</span>
                    <span class="notification-text-timestamp" [matTooltip]="notification.timestamp | date:'medium'">{{ notification.timestamp | timeAgo }}</span>
                </div>
                <mat-icon class="clear-single" matTooltip="Clear notification" (click)="clear(notification)">clear</mat-icon>
            </div>
        </div>
        }
    </div>
</div>
}
