@use '@angular/material' as mat;
@use 'sass:map';
@mixin notifications-component-theme($theme) {
    $foreground: map.get($theme, foreground);
    $background: map.get($theme, background);
    $primary: map.get($theme, primary);

    app-notifications {
        .mat-icon.clear {
          color: mat.m2-get-color-from-palette($primary, default-contrast);
        }

        .mat-badge-content {
          background: red;
          color: mat.m2-get-color-from-palette($foreground, base);
        }

        .notification-panel-header {
          background-color: mat.m2-get-color-from-palette($primary);
        }

        .notification-card-container {
          background-color: mat.m2-get-color-from-palette($background, card);
        }

        ::-webkit-scrollbar-track {
          background-color: mat.m2-get-color-from-palette($background, background);
        }

        ::-webkit-scrollbar-thumb {
          background-color: mat.m2-get-color-from-palette($background, hover);
        }

        .notification-header-text {
          color: mat.m2-get-color-from-palette($primary, default-contrast);
        }

        .notification-card {
          background-color: mat.m2-get-color-from-palette($background, card);
        }

        .notification-card:hover {
          background-color: mat.m2-get-color-from-palette($background, hover);
        }

        .notification-card-nohover {
          background-color: mat.m2-get-color-from-palette($background, card);
        }

        .notification-text {
          color: mat.m2-get-color-from-palette($foreground, base);
        }

        .notification-text-timestamp {
          color: mat.m2-get-color-from-palette($foreground, base);
        }
    }
}
