@use 'styles/theme-helpers' as th;

@mixin home-page-component-theme($theme) {
    app-home-page {
        .issues-container {
          color: th.primary-contrast($theme);
        }

        .teamspeak-container {
          background-color: th.primary($theme);

          .teamspeak-header {
            .teamspeak-text {
              color: th.primary-contrast($theme);
            }

            a {
              color: th.primary-contrast($theme);
            }
          }

            .teamspeak-content-container {
              background-color: var(--uksf-card);
            }
        }
    }
}
