@use '@angular/material' as mat;

@mixin home-page-component-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    app-home-page {
        .issues-container {
          color: mat.get-color-from-palette($primary, default-contrast);
        }

        .teamspeak-container {
          background-color: mat.get-color-from-palette($primary);

          .teamspeak-header {
            .teamspeak-text {
              color: mat.get-color-from-palette($primary, default-contrast);
            }

            a {
              color: mat.get-color-from-palette($primary, default-contrast);
            }
          }

            .teamspeak-content-container {
              background-color: mat.get-color-from-palette($background, card);
            }
        }
    }
}
