@use 'styles/variables' as v;

app-side-content-area {
    margin-top: 10px;

    .flex-container {
        padding-left: 0;
    }
}

.timezone-container {
    display: flex;
    flex-direction: row;
    height: 48px;
    margin-top: 5px;

    .timezone {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-self: center;

        span {
            text-align: center;
        }

        .short {
            display: none;
        }

        .short-time {
            display: none;
        }
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-left: v.$spacing-16px;
    padding-right: v.$spacing-16px;

    & > * {
        margin-bottom: v.$spacing-16px;
    }

    &.no-padding-left {
        padding-left: 0;
    }

    &.instagram-feed {
        padding: v.$spacing-16px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .instagram-image {
            justify-content: center;
            align-self: center;
            max-width: 500px;
            width: 50%;
            margin-bottom: 0;

            img {
                width: 100%;
            }
        }
    }
}

.issues-container {
    display: flex;
    flex-direction: row;

    .issues-button {
        flex: 1;
        padding: 0px 10px 0 5px;
        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            span {
                text-align: center;
                width: 100%;
            }
        }
        &:last-of-type {
            margin-left: 5px;
        }
    }
}

.teamspeak-container {
    padding: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .teamspeak-header {
        display: flex;
        width: 100%;
        font-size: 22px;
        height: 64px;
        align-items: center;
        padding: 0 v.$spacing-16px;

        .teamspeak-text {
            flex: 1;
        }

        .teamspeak-icon {
            align-self: center;
        }
    }

    .teamspeak-content-container {
        border-bottom-left-radius: v.$spacing-4px;
        border-bottom-right-radius: v.$spacing-4px;
        padding: v.$spacing-16px;
        .spinner-container {
            height: 152px;
            display: flex;
            align-items: center;
            text-align: center;
        }
    }
}

// Custom breakpoint: timezone text switches to short format
@media only screen and (max-width: 1275px) {
    .timezone-container {
        .timezone {
            .normal {
                display: none;
            }

            .short {
                display: block;
            }
        }
    }

    .flex-container {
        &.instagram-feed {
            flex-direction: column;

            .instagram-image {
                width: 85%;
            }
        }
    }
}

@include v.below(v.$layout-standard) {
    .teamspeak-container {
        .teamspeak-header {
            height: 56px;
        }
    }

    .flex-container {
        &.instagram-feed {
            flex-direction: row;

            .instagram-image {
                width: 50%;
            }
        }
    }
}

@include v.below(v.$layout-medium) {
    app-side-content-area {
        margin-left: 0;

        .flex-container {
            padding-left: v.$spacing-16px;
        }
    }

    .flex-container {
        &.instagram-feed {
            padding: v.$spacing-8px;
        }
    }
}

@include v.below(v.$layout-narrow) {
    .flex-container {
        &.instagram-feed {
            flex-direction: column;

            .instagram-image {
                width: 90%;

                &:nth-child(n + 6) {
                    display: none;
                }
            }
        }
    }
}

// Custom breakpoint: issues stack vertically on very small screens
@media screen and (max-width: 400px) {
    .issues-container {
        flex-direction: column;
        .issues-button {
            &:last-of-type {
                margin-left: 0;
                margin-top: 5px;
            }
        }
    }
    .teamspeak-container {
        .teamspeak-header {
            .teamspeak-text {
                font-size: 20px;
            }
        }
    }
}

// Custom breakpoint: time format switches to short on tiny screens
@media screen and (max-width: 330px) {
    .timezone-container {
        .timezone {
            .normal-time {
                display: none;
            }

            .short-time {
                display: block;
            }
        }
    }
}
