@use '@angular/material' as mat;
@import '@angular/material/theming';
@mixin command-members-component-theme($theme) {
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);

    app-command-members {
        .flex-container {
            .members-list-container {
                .members-list-header {
                    .mat-mdc-paginator {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}
