<div class="flex-container">
    <div class="spinner-container" *ngIf="!loaded">
        <mat-spinner></mat-spinner>
    </div>
    <div class="members-list-container" *ngIf="loaded">
        <div class="members-list-header">
            <mat-form-field style="width: 30%">
                <input matInput (keyup)="filter()" [(ngModel)]="filterString" placeholder="Filter" matTooltip="Use operators 'AND' or 'OR' to combine filters" />
                <button mat-button *ngIf="filterString" matSuffix mat-icon-button aria-label="Clear" (click)="filterString = ''; filter(); $event.stopPropagation()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <app-flex-filler></app-flex-filler>
            <div class="members-list-header-buttons">
                <button mat-raised-button [matMenuTriggerFor]="modeMenu">
                    <mat-icon class="icon-right">sort</mat-icon>
                    View Mode
                </button>
                <mat-menu #modeMenu="matMenu">
                    <button mat-menu-item *ngFor="let mode of viewModes; trackBy: trackByMode" [disabled]="viewMode === mode.mode" (click)="changeViewMode(mode.mode)">
                        <mat-icon class="icon-right">{{ mode.icon }}</mat-icon>
                        <span class="item-text">{{ mode.name }}</span>
                    </button>
                </mat-menu>
                <button mat-raised-button (click)="toggleGroupByUnit()"><mat-icon class="icon-right">group</mat-icon> {{ groupByUnit ? 'Ungroup by Unit' : 'Group by Unit' }}</button>
                <button mat-raised-button [matMenuTriggerFor]="sortMenu">
                    <mat-icon class="icon-right">sort</mat-icon>
                    Sort
                </button>
                <mat-menu #sortMenu="matMenu">
                    <button
                        mat-menu-item
                        *ngFor="let sortDefinition of sortDefinitions; trackBy: trackBySortName"
                        [disabled]="sortMode === sortDefinition.mode && sortDirection === sortDefinition.direction"
                        (click)="sort(sortDefinition.mode, sortDefinition.direction)"
                    >
                        {{ sortDefinition.name }}
                    </button>
                </mat-menu>
            </div>
            <app-paginator [total]="totalMembers" (page)="page($event)" [hidden]="groupByUnit"></app-paginator>
            <div class="unit-group-expand-container" *ngIf="groupByUnit">
                <button mat-icon-button (click)="unitGroupsRoot.expandAll(); groupsExpanded = true" matTooltip="Expand all" [disabled]="groupsExpanded">
                    <mat-icon>unfold_more</mat-icon>
                </button>
                <button mat-icon-button (click)="unitGroupsRoot.collapseAll(); groupsExpanded = false" matTooltip="Collapse all" [disabled]="!groupsExpanded">
                    <mat-icon>unfold_less</mat-icon>
                </button>
            </div>
        </div>

        <div *ngIf="!showUnitGroups">
            <mat-accordion [multi]="true">
                <app-command-member-card *ngFor="let member of members; trackBy: trackByMemberId" [member]="member"></app-command-member-card>
            </mat-accordion>
        </div>
        <div *ngIf="showUnitGroups">
            <app-command-unit-group-card [unit]="unitRoot" [hideEmpty]="viewMode !== 'all'"></app-command-unit-group-card>
        </div>
    </div>
</div>
