:host {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.flex-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding: 0 16px 16px;

    .spinner-container {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .members-list-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .members-list-header {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            .filter-input {
                width: 30%;
            }

            .mat-mdc-icon-button {
                background-color: transparent;

                .mat-icon {
                    margin: 0;
                    height: 21px;
                    line-height: 21px;
                }
            }

            .members-list-header-buttons {
                margin: auto;

                .mat-mdc-raised-button {
                    margin-left: 8px;

                    .icon-right {
                        margin-right: 6px;
                    }
                }

                .group-by-button {
                    width: 165px;
                }
            }

            app-paginator,
            .unit-group-expand-container {
                margin: auto 0 auto 16px;
            }
        }

        .mat-mdc-card {
            margin-bottom: 5px;
        }

        ::ng-deep .mat-expansion-panel-body {
            padding: 0;
            margin: 0;
        }
    }
}

::ng-deep .mat-mdc-menu-item {
    .icon-right {
        margin-right: 6px;
    }

    .item-text {
        vertical-align: middle;
    }
}
