@use '../../../../../node_modules/@angular/material/index' as mat;
@import '../../../../../node_modules/@angular/material/theming';

@mixin modpack-builds-dev-component-theme($theme) {
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);

    app-modpack-builds-dev {
        a {
            color: mat.get-color-from-palette($primary);
        }

        .flex-container {
            .build-item-container {
                background-color: mat.get-color-from-palette($background, app-bar);

                .build-history-container {
                    .history-item {
                        border-bottom: 1px solid mat.get-color-from-palette($background, selected);

                        &.selected {
                            background-color: mat.get-color-from-palette($background, selected);

                            &.release {
                                color: mat.get-color-from-palette($primary, default);
                            }
                        }

                        &:hover {
                            background-color: mat.get-color-from-palette($background, hover);
                        }

                        &.no-select {
                            border: unset;

                            &:hover {
                                background-color: unset;
                            }
                        }
                    }
                }
            }

            .build-footer {
                background-color: mat.get-color-from-palette($background, dark-bar);

                .footer-item {
                    &:nth-child(2) {
                        border-left: 1px solid mat.get-color-from-palette($background, selected);
                    }
                }
            }
        }

        @media only screen and (max-width: 600px) {
            .flex-container {
                .build-history-container {
                    .history-item {
                        border-bottom: unset;
                        border-right: 1px solid mat.get-color-from-palette($background, selected);
                    }
                }
            }
        }
    }
}
