<app-default-content-areas>
    <app-theme-emitter></app-theme-emitter>
    <app-full-content-area>
        <app-modpack-page></app-modpack-page>
        @if (builds) {
        <div class="flex-container no-padding-left">
            <div class="build-item-container">
                <ng-template [ngxPermissionsOnly]="['TESTER']">
                    <div class="new-button">
                        <button mat-raised-button color="primary" (click)="newBuild()" [disabled]="branches.length === 0">New</button>
                        <button mat-icon-button (click)="newBuild()" [disabled]="branches.length === 0" color="primary">
                            <mat-icon>add_circle</mat-icon>
                        </button>
                    </div>
                </ng-template>
                <div class="build-history-container">
                    @for (build of builds; track build) {
                    <div class="history-item" [ngClass]="{ selected: selectedBuildId === build.id }" [ngStyle]="getBuildColour(build)" (click)="selectBuild(build.id)">
                        <span>#{{ build.buildNumber }}</span>
                    </div>
                    }
                </div>
            </div>
            @if (builds.length === 0) {
            <div class="build-container">
                <h2 class="no-builds">No dev builds available to view</h2>
            </div>
            } @if (builds.length > 0 && !selectedBuild) {
            <div class="build-container">
                <h2 class="no-builds">No build selected</h2>
            </div>
            } @if (selectedBuild && !logOpen) {
            <div class="build-container">
                <div class="build-header">
                    <div>
                        <h1 class="build-title">Dev Build #{{ selectedBuild.buildNumber }}</h1>
                    </div>
                    <app-flex-filler></app-flex-filler>
                    <div class="buttons">
                        <div class="state">
                            @if (!selectedBuild.running && !selectedBuild.finished) {
                            <i class="queued">Queued</i>
                            } @if (selectedBuild.running) {
                            <i class="running" [ngClass]="{ warning: anyWarning(selectedBuild) }">Running...</i>
                            } @if (selectedBuild.buildResult === modpackBuildResult.SUCCESS) {
                            <span class="success">Success</span>
                            } @if (selectedBuild.buildResult === modpackBuildResult.FAILED) {
                            <span class="fail">Failed</span>
                            } @if (selectedBuild.buildResult === modpackBuildResult.CANCELLED) {
                            <span class="cancelled">Cancelled</span>
                            } @if (selectedBuild.buildResult === modpackBuildResult.WARNING) {
                            <span class="warning">Warning</span>
                            }
                        </div>
                        <app-flex-filler></app-flex-filler>
                        <ng-template [ngxPermissionsOnly]="['TESTER']">
                            @if (!selectedBuild.finished && !cancelling) {
                            <button mat-raised-button color="primary" (click)="cancelBuild()">Cancel Build</button>
                            } @if (canRebuild()) {
                            <button mat-raised-button color="primary" (click)="rebuild()">Rebuild</button>
                            }
                        </ng-template>
                        @if (selectedBuild.steps.length > 0) {
                        <button mat-raised-button color="primary" (click)="openLog()">Build Log</button>
                        }
                    </div>
                </div>
                <div class="build-content">
                    <h3 class="build-description">Changes</h3>
                    <div class="build-changelog">
                        <markdown ngPreserveWhitespaces [data]="changesMarkdown"></markdown>
                    </div>
                </div>
            </div>
            } @if (selectedBuild && logOpen) {
            <app-modpack-builds-steps [build]="selectedBuild" [rebuildCondition]="canRebuild" (onCloseLog)="closeLog()" (onRebuild)="selectIncomingBuild = true"></app-modpack-builds-steps>
            }
            <app-flex-filler></app-flex-filler>
            @if (selectedBuild) {
            <div class="build-footer">
                <div class="footer-item">
                    {{ selectedBuild.startTime | date : 'dd MMM HH:mm' : 'Europe/London' }}
                </div>
                @if (selectedBuild.finished) {
                <div class="footer-item">
                    {{ duration }}
                </div>
                }
                <app-flex-filler></app-flex-filler>
                @if (branch === 'None') {
                <div class="footer-item">Commit: {{ commit }}</div>
                } @if (branch !== 'None') {
                <div class="footer-item">Branch: {{ branch }}</div>
                }
                <div class="footer-item">Built By: {{ builderName }}</div>
            </div>
            }
        </div>
        }
    </app-full-content-area>
</app-default-content-areas>
