@use 'styles/theme-helpers' as th;

@mixin modpack-builds-dev-component-theme($theme) {
    app-modpack-builds-dev {
        a {
            color: th.primary($theme);
        }

        .flex-container {
            .build-item-container {
                background-color: var(--uksf-app-bar);

                .build-history-container {
                    .history-item {
                        border-bottom: 1px solid var(--uksf-selected);

                        &.selected {
                            background-color: var(--uksf-selected);

                            &.release {
                                color: th.primary($theme);
                            }
                        }

                        &:hover {
                            background-color: var(--uksf-hover);
                        }

                        &.no-select {
                            border: unset;

                            &:hover {
                                background-color: unset;
                            }
                        }
                    }
                }
            }

            .build-footer {
                background-color: var(--uksf-dark-bar);

                .footer-item {
                    &:nth-child(2) {
                        border-left: 1px solid var(--uksf-selected);
                    }
                }
            }
        }

        @media only screen and (max-width: 600px) {
            .flex-container {
                .build-history-container {
                    .history-item {
                        border-bottom: unset;
                        border-right: 1px solid var(--uksf-selected);
                    }
                }
            }
        }
    }
}
