<h2 mat-dialog-title>Unit Removal Request</h2>
<mat-dialog-content>
    <form #form="ngForm" (ngSubmit)="submit()">
        <app-dropdown
            #accountName="ngModel"
            (ngModelChange)="onSelectAccount($event)"
            [(ngModel)]="model.account"
            [elementName]="'Recipient'"
            [elements]="accounts"
            [isRequired]="true"
            [placeholder]="'Select recipient'"
            id="accountName"
            name="formAccount"
        >
            <ng-template #element let-element>
                {{ getAccountName(element) }}
            </ng-template>
        </app-dropdown>
        <app-dropdown
            #unit="ngModel"
            [(ngModel)]="model.unit"
            [elementName]="'Unit'"
            [elements]="units"
            [isDisabled]="units.value.length === 0"
            [isRequired]="true"
            [placeholder]="'Select unit'"
            id="unit"
            name="formUnit"
        >
            <ng-template #element let-element>
                {{ getUnitName(element) }}
            </ng-template>
        </app-dropdown>
        <app-text-input label="Reason" [(ngModel)]="model.reason" name="formReason" id="reason"
            [multiline]="true" [minRows]="1" [maxRows]="5" [required]="true"
            [validationMessages]="validationMessages.reason">
        </app-text-input>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <app-button (clicked)="submit()" [disabled]="!form.valid" [pending]="pending">Submit</app-button>
</mat-dialog-actions>
