<h2 mat-dialog-title>Unit Removal Request</h2>
<mat-dialog-content>
    <form #form="ngForm" (ngSubmit)="submit()">
        <app-autofocus-stop></app-autofocus-stop>
        <app-dropdown
            #accountName="ngModel"
            (ngModelChange)="onSelectAccount($event)"
            [(ngModel)]="model.account"
            [elementName]="'Recipient'"
            [elements]="accounts"
            [isRequired]="true"
            [placeholder]="'Select recipient'"
            id="accountName"
            name="formAccount"
        >
            <ng-template #element let-element>
                {{ getAccountName(element) }}
            </ng-template>
        </app-dropdown>
        <br />
        <app-dropdown
            #unit="ngModel"
            [(ngModel)]="model.unit"
            [elementName]="'Unit'"
            [elements]="units"
            [isDisabled]="units.value.length === 0"
            [isRequired]="true"
            [placeholder]="'Select unit'"
            id="unit"
            name="formUnit"
        >
            <ng-template #element let-element>
                {{ getUnitName(element) }}
            </ng-template>
        </app-dropdown>
        <br />
        <mat-form-field>
            <mat-label>Reason</mat-label>
            <textarea
                #reason="ngModel"
                [(ngModel)]="model.reason"
                id="reason"
                matAutosizeMaxRows="5"
                matAutosizeMinRows="2"
                matInput
                matTextareaAutosize
                name="formReason"
               
                required
                type="text"
            ></textarea>
            <mat-error *ngFor="let validation of validationMessages.reason">
                <mat-error *ngIf="reason.hasError(validation.type)" class="error-message">{{ validation.message() }}</mat-error>
            </mat-error>
        </mat-form-field>
        <br />
        <app-form-value-debug-template></app-form-value-debug-template>
        <div class="button-container">
            <app-flex-filler></app-flex-filler>
            <app-button (clicked)="submit()" [disabled]="!form.valid" [pending]="pending">Submit</app-button>
        </div>
    </form>
</mat-dialog-content>
