.flex-container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding: 0 16px 16px;
    gap: 8px;

    .list-header {
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        .filter-input {
            flex: 0 0 30%;
        }

        .refresh-button {
            margin-right: 10px;
            line-height: 36px;
            height: 36px;
            padding: 0px;
            min-width: 36px;
            align-self: center;
        }

        .mat-mdc-icon-button {
            background-color: transparent;

            .mat-icon {
                margin: 0;
                height: 21px;
                line-height: 21px;
            }
        }

        .pagination-container {
            display: flex;
            flex-direction: row;
            flex: 1;
            justify-content: flex-end;

            span {
                margin-right: 10px;
                align-self: center;
            }

            button {
                margin: 0px 5px 0 0;
                padding: 0;
                border-radius: 20px;
                min-width: 40px;
                height: 40px;

                .next {
                    border-style: solid;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 4px;
                    transform: rotate(-45deg) translate(-1px, -1px);
                    vertical-align: middle;
                }

                .previous {
                    border-style: solid;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 4px;
                    transform: rotate(135deg) translate(-1px, -1px);
                    vertical-align: middle;
                }
            }
            /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
            mat-select {
                width: 40px;
                align-self: center;
                margin-left: 10px;
            }
        }
    }

    .mat-expansion-panel {
        margin-bottom: 5px;
        border-radius: 4px;

        --mat-expansion-header-hover-state-layer-color: transparent;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .mat-expansion-panel-spacing {
        margin: 5px 0;

        &:first-of-type {
            margin: 0 0 5px;
        }
    }

    .mat-expansion-panel-header-title {
        flex-basis: 0;
        flex-grow: 1;
        height: fit-content;
        align-self: center;
    }

    .description-container {
        display: flex;
        flex-grow: 1;

        .mat-expansion-panel-header-description {
            flex-basis: 0;
            flex-grow: 1;
        }

        .mat-expansion-panel-header-description {
            justify-content: space-between;
            align-items: center;
            align-self: center;
        }

        .discharge-count {
            justify-content: flex-end;
            align-items: right;
        }
    }
}

.content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 100vw;
}

.mat-mdc-table {
    overflow: auto;
    margin: 0 0 20px 0;
}

.mat-mdc-row {
    min-height: 30px;
    padding: 0 10px;
}

.mat-mdc-header-row {
    padding: 0 10px;
}

.mat-mdc-cell {
    overflow: hidden;
    max-height: 75px;
    font-size: 11px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 2px;
}

.mat-mdc-header-cell {
    overflow: unset;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
    padding-left: 0;
    padding-right: 0;
}

.mat-column-timestamp {
    flex: 0 0 125px;
    padding-left: 0;
}

.mat-column-rank {
    flex: 0 0 125px;
}

.mat-column-unit {
    flex: 0 0 150px;
}

.mat-column-role {
    flex: 0 0 125px;
}

.mat-column-dischargedBy {
    flex: 0 0 150px;
}

.mat-column-reason {
    flex: 1 0 300px;
    padding-right: 0;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media screen and (max-width: 450px) {
    .flex-container {
        .mat-expansion-panel-header-title {
            font-size: 11px;
            margin-right: 8px;
        }

        .description-container {
            .mat-expansion-panel-header-description {
                font-size: 11px;
                margin-right: 8px;
            }
        }
    }
}
