@use 'styles/theme-helpers' as th;

@mixin personnel-discharges-component-theme($theme) {
    app-personnel-discharges {
        .discharge-1 {
            color: green;
        }
        .discharge-2 {
            color: goldenrod;
        }
        .discharge-limit {
            color: red;
        }
        .request-override {
          background-color: th.warn($theme);
          color: th.warn-contrast($theme);
        }
        .refresh-button:not(:disabled) {
            color: white;
            --mat-button-text-state-layer-color: white;
            --mat-button-text-ripple-color: rgba(255, 255, 255, 0.12);
        }
    }
}
