@use '@angular/material' as mat;

@mixin docs-content-component-theme($theme) {
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);

    app-docs-content {
        .content-container {
            .content-header {
                background-color: mat.m2-get-color-from-palette($background, 600);
            }
        }
    }

    ::-webkit-scrollbar-track {
        background-color: mat.m2-get-color-from-palette($background, side-bar);
    }

    ::-webkit-scrollbar-thumb {
        background-color: mat.m2-get-color-from-palette($background, scroll-thumb);
    }
}
