@use 'styles/theme-helpers' as th;

@mixin docs-content-quill-theme($theme) {
    app-docs-content {
        background-color: var(--uksf-gray-800);

        .content-view {
            .ngx-quill-view {
                background-color: var(--uksf-background);
                color: var(--uksf-contrast);

                .ql-editor {
                    //background-image: linear-gradient(0deg, var(--uksf-background), var(--uksf-background));
                }
            }
        }

        .content-editor {
            .ql-container {
                background-color: var(--uksf-background); // 800
                color: var(--uksf-contrast);

                .ql-editor {
                    //background-image: linear-gradient(0deg, var(--uksf-background), var(--uksf-background));
                }
            }
        }
    }

    .ql-snow {
        a {
            color: th.primary($theme) !important;

            &.ql-action,
            &.ql-remove {
                color: white !important;

                &:hover {
                    color: th.primary($theme) !important;
                }
            }
        }

        .ql-toolbar,
        &.ql-toolbar {
            background-color: var(--uksf-gray-600);

            :is(button, .ql-picker-label, .ql-picker-item):is(:hover, :focus, .ql-active, .ql-selected) {
                color: th.primary($theme) !important;

                .ql-stroke {
                    stroke: th.primary($theme) !important;
                }

                .ql-fill {
                    fill: th.primary($theme) !important;
                }
            }
        }

        .ql-stroke,
        .ql-stroke-miter {
            stroke: white;
        }

        .ql-fill {
            fill: white;
        }

        .ql-picker,
        .ql-tooltip {
            color: white;
        }

        .ql-picker-options {
            background-color: var(--uksf-gray-600);
            border-color: var(--uksf-gray-600) !important;
        }

        .ql-tooltip {
            background-color: var(--uksf-gray-600);
            border-color: var(--uksf-gray-600);
            box-shadow: 0 0 2px #000;
        }

        ::-webkit-scrollbar-track {
            background-color: var(--uksf-side-bar);
        }

        ::-webkit-scrollbar-thumb {
            background-color: var(--uksf-scroll-thumb);
        }
    }
}
