@mixin docs-content-component-theme($theme) {
    app-docs-content {
        .content-container {
            .content-header {
                background-color: var(--uksf-gray-600);
            }
        }
    }

    ::-webkit-scrollbar-track {
        background-color: var(--uksf-side-bar);
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--uksf-scroll-thumb);
    }
}
