@use '../../../../shared/components/docs-editor/docs-editor-chrome' as chrome;

:host {
    @include chrome.host-rules;
}

h3 {
    margin: 12px 0;
}

.content-placeholder {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@include chrome.container;

::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}
