.flex-container {
    padding-top: 12px;

    .mat-mdc-card {
        margin-bottom: 15px;

        p {
            margin-left: 14px;
        }

        img {
            margin: 0 5px 5px 0;
        }

        .highlight {
            color: red;
            font-weight: bold;
        }
    }
}
