@use '@angular/material' as mat;
@use 'sass:map';

@mixin modpack-guide-component-theme($theme) {
    $primary: map.get($theme, primary);

    app-modpack-guide {
        a {
          color: mat.m2-get-color-from-palette($primary);
        }
    }
}
