.flex-container {
    padding-top: 12px;

    .mat-mdc-card {
        margin-bottom: 15px;
        padding: 16px;

        p {
            margin-left: 14px;
        }

        img {
            margin: 0 5px 5px 0;
            max-width: 100%;
            height: auto;
        }

        .highlight {
            color: red;
            font-weight: bold;
        }
    }
}
