<mat-accordion class="unit-panel-container" [multi]="true" [hidden]="this.hideEmpty && isEmpty">
    <mat-expansion-panel class="unit-panel" [togglePosition]="'before'" [expanded]="true">
        <mat-expansion-panel-header [collapsedHeight]="'36px'" [expandedHeight]="'36px'">
            <mat-panel-title>
                {{ unit.preferShortname ? unit.shortname : unit.name }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="unit-panel-body">
            @if (unit.memberObjects.length > 0) {
            <div class="members-container">
                <mat-accordion [multi]="true">
                    @for (member of unit.memberObjects; track trackByMemberId($index, member)) {
                    <app-command-member-card [member]="member"></app-command-member-card>
                    }
                </mat-accordion>
            </div>
            } @if (unit.children.length > 0) {
            <div>
                @for (child of unit.children; track trackByUnitId($index, child)) {
                <app-command-unit-group-card [unit]="child" [hideEmpty]="hideEmpty"></app-command-unit-group-card>
                }
            </div>
            }
        </div>
    </mat-expansion-panel>
</mat-accordion>
