.flex-container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-left: 16px;
    padding-right: 16px;

    .unit-header {
        display: flex;
        align-items: baseline;
    }

    .back-button {
        margin-right: 4px;
    }

    a {
        text-decoration: none;
    }

    .mat-column-chainOfCommandPosition {
        flex: 0 0 70px;
        padding-left: 0;
        justify-content: space-evenly;
        max-width: 75px;
    }
}
