@if (loaded) {
<app-default-content-areas>
    <app-full-content-area>
        <div class="flex-container padding-top padding-bottom">
            <div class="title-container">
                <div class="member">
                    @if (account.membershipState == membershipState.MEMBER) {
                    <h2>{{ account.rank }}</h2>
                    } @if (account.membershipState == membershipState.MEMBER) {
                    <h2>{{ account.firstname }} {{ account.lastname }}</h2>
                    }
                </div>
                @if (account.membershipState == membershipState.CONFIRMED) {
                <h2>{{ account.firstname }} {{ account.lastname }}</h2>
                } @if (account.membershipState == membershipState.DISCHARGED) {
                <h2><b>Discharged</b> {{ account.firstname }} {{ account.lastname }}</h2>
                }
                <app-flex-filler></app-flex-filler>
                <img src="{{ account.nation | countryImage }}" alt="{{ account.nation }} flag" />
            </div>
        </div>
        <div class="flex-container padding-bottom">
            @if (isMyProfile) {
            <div class="action-container">
                <button mat-raised-button class="button" (click)="openChangeNameModal()">Change name</button>
                <button mat-raised-button class="button" (click)="openChangePasswordModal()">Change password</button>
                <button mat-raised-button class="button" (click)="connectSteam()">
                    @if (account.steamname == null || account.steamname === '') {
                    <span>Connect Steam</span>
                    } @else {
                    <span class="connected">Steam connected</span>
                    }
                </button>
                <button mat-raised-button class="button" (click)="connectDiscord()">
                    @if (account.discordId == null || account.discordId === '') {
                    <span>Connect Discord</span>
                    } @else {
                    <span class="connected">Discord connected</span>
                    }
                </button>
                <button mat-raised-button class="button" (click)="openTeamspeakModal()">
                    @if (account.teamspeakIdentities == null || account.teamspeakIdentities.length == 0) {
                    <span>Connect TeamSpeak</span>
                    } @else {
                    <span class="connected">TeamSpeak connected</span>
                    }
                </button>
            </div>
            }
        </div>
    </app-full-content-area>
</app-default-content-areas>
} @if (loaded) {
<app-default-content-areas>
    <app-main-content-area>
        <div class="flex-container padding-bottom">
            @if (account.membershipState == membershipState.MEMBER) {
            <div>
                <mat-card>
                    <div class="details-container">
                        <h3>Details</h3>
                        @if (isMyProfile || isNco) {
                        <div class="details-panel">
                            <div class="detail"><b>Email:</b> {{ account.email }}</div>
                            <div class="detail"><b>Steam ID:</b> {{ account.steamname }}</div>
                        </div>
                        }
                        <div class="details-panel">
                            <div class="detail"><b>Unit:</b> {{ account.unitAssignment }}</div>
                            <div class="detail"><b>Role:</b> {{ account.roleAssignment }}</div>
                        </div>
                    </div>
                </mat-card>
                @if (account.application != null && (isRecruiter || (isMyProfile && !isRecruiter))) {
                <div class="application-container">
                    <mat-card style="text-align: center; vertical-align: middle">
                        @if (isRecruiter) {
                        <h2>
                            <a routerLink="/recruitment/{{ account.id }}">View application</a>
                        </h2>
                        } @if (isMyProfile && !isRecruiter) {
                        <h2>
                            <a routerLink="/application">View application</a>
                        </h2>
                        }
                    </mat-card>
                </div>
                }
                <h3 class="service-record-title">Service History</h3>
                @for (serviceItem of account.serviceRecord; track trackByIndex($index, serviceItem)) {
                <mat-card class="service-record">
                    <span>{{ serviceItem.occurence }}</span>
                    <app-flex-filler></app-flex-filler>
                    <span class="date">{{ serviceItem.timestamp | date : 'mediumDate' : 'Europe/London' }}</span>
                </mat-card>
                }
            </div>
            }
        </div>
    </app-main-content-area>
    <app-side-content-area>
        <div class="flex-container settings">
            @if (!accountId || isAdmin) {
            <mat-card>
                <h3>Settings</h3>
                <form [formGroup]="settingsFormGroup" class="settings-form">
                    <div>
                        <mat-checkbox color="primary" formControlName="notificationsEmail" matTooltip="Receive email notifications" (change)="changeSetting()"> Email notifications </mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox color="primary" formControlName="notificationsTeamspeak" matTooltip="Receive TeamSpeak notifications" (change)="changeSetting()">
                            TeamSpeak notifications
                        </mat-checkbox>
                    </div>
                    <ng-template [ngxPermissionsOnly]="['RECRUITER']">
                        <div>
                            <mat-checkbox color="primary" formControlName="sr1Enabled" matTooltip="Toggle taking SR1 applications" (change)="changeSetting()"> Taking applications </mat-checkbox>
                        </div>
                    </ng-template>
                    <app-form-value-debug-reactive [form]="settingsFormGroup"></app-form-value-debug-reactive>
                </form>
            </mat-card>
            }
        </div>
    </app-side-content-area>
</app-default-content-areas>
}
