@use 'styles/variables' as v;

.flex-container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-left: v.$spacing-16px;
    padding-right: v.$spacing-16px;

    &.padding-top {
        padding-top: v.$spacing-16px;
    }

    &.padding-bottom {
        padding-bottom: v.$spacing-16px;
    }

    .title-container {
        display: flex;
        flex-direction: row;
        min-width: 400px;

        .member {
            display: flex;
            flex-direction: row;

            :last-child {
                margin-left: 10px;
            }
        }

        h2 {
            margin: auto 0;
        }

        img {
            width: 135px;
        }
    }

    .action-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .button {
            margin-bottom: 5px;
            margin-right: 5px;
            height: 36px;
            min-width: 125px;

            .connected {
                margin-bottom: v.$spacing-4px;
                color: green;
            }
        }
    }

    .details-container {
        display: flex;
        flex-direction: column;

        h3 {
            margin: 0;
        }

        .details-panel {
            display: flex;
            flex: 1;
            margin: 15px 0;

            .detail {
                flex: 1;
                max-width: 350px;
            }
        }
    }

    .application-container {
        margin-top: 16px;

        h2 {
            margin: 0;
        }
    }

    .service-record-title {
        margin-top: 16px;
        margin-bottom: 15px;
    }

    .service-record {
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
        padding: v.$spacing-12px;

        .date {
            margin-left: 5px;
            min-width: fit-content;
            align-self: center;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &.settings {
        padding-left: 0;
    }

    .settings-form {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

@include v.below(v.$layout-medium) {
    .flex-container {
        &.settings {
            padding: v.$spacing-16px;
        }
    }
}

@include v.below(v.$layout-narrow) {
    .flex-container {
        .title-container {
            .member {
                flex-direction: column;

                :last-child {
                    margin-left: 0;
                }
            }

            img {
                width: 75px;
                height: 37.5px;
                align-self: center;
            }
        }

        .details-container {
            h3 {
                margin-bottom: 10px;
            }

            .details-panel {
                display: flex;
                flex-direction: column;
                margin: 0;

                .detail {
                    margin: 5px 0;
                }
            }
        }

        .service-record {
            padding: 6px;
        }
    }
}

// Custom breakpoint: title stacks on very narrow screens
@media screen and (max-width: 450px) {
    .flex-container {
        .title-container {
            flex-direction: column;

            img {
                margin-top: 5px;
                align-self: unset;
            }
        }
    }
}
