@use '@angular/material' as mat;
@use 'sass:map';

@mixin profile-page-component-theme($theme) {
    $background: map.get($theme, background);
    $foreground: map.get($theme, foreground);
    $primary: map.get($theme, primary);

    app-profile-page {
        a {
          color: mat.m2-get-color-from-palette($primary);
        }
    }
}
