@use '@angular/material' as mat;

@mixin personnel-page-component-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);

    .report {
      background-color: mat.m2-get-color-from-palette($background, card);
      color: mat.m2-get-color-from-palette($foreground, base);

      &:hover {
        background-color: mat.m2-get-color-from-palette($background, hover);
      }
    }
}
