:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.nav-bar {
    flex: 0 0 auto;
    padding: 0;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 5px 0 #000;

    ::ng-deep .mat-mdc-tab-header {
        border-bottom-color: rgba(255, 255, 255, 0.04);
    }
}

mat-tab-nav-panel {
    display: block;
    flex: 1 1 auto;
    min-height: 0;
    overflow: auto;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

.spinner-container {
    height: 416px;
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 50%;
    transform: translate(-170px, 0);
}

.flex-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-left: 0;
}

.flex-container-slim {
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

.div-container {
    width: 100%;
}

