.gmt-note {
    margin: 0 0 10px;
    font-size: 12px;
    color: inherit;
}

.modal-form {
    width: 100%;
    min-width: 400px;

    .reason-field {
        width: 100%;
    }

    .mat-mdc-form-field {
        width: 100%;

        input {
            cursor: pointer;
        }
    }
}

.invalid-message {
    text-align: center;
    width: 100%;
    margin: 10px 0;
}
