<div *ngIf="!sent">
    <h2 mat-dialog-title>Request Password Reset</h2>
    <form #form="ngForm" (ngSubmit)="submit()">
        <div class="special-field-form-container">
            <label for="name">If you see this, keep this field blank</label>
            <input type="text" id="name" name="formName" [(ngModel)]="model.name" tabindex="-1" autocomplete="off" [maxLength]="0" />
        </div>
        <mat-form-field class="full-width">
            <input
                matInput
                #email="ngModel"
                id="email"
                type="email"
                name="formEmail"
                [(ngModel)]="model.email"
                placeholder="Email Address"
                autocomplete="username"
                required
                email
                [errorStateMatcher]="instantErrorStateMatcher"
            />
            <mat-error *ngFor="let validation of validationMessages.email">
                <mat-error class="error-message" *ngIf="email.hasError(validation.type)">{{ validation.message }}</mat-error>
            </mat-error>
        </mat-form-field>
        <app-button-hidden-submit></app-button-hidden-submit>
    </form>
    <div class="options-container">
        <app-flex-filler></app-flex-filler>
        <a class="option-link" (click)="returnToLogin()">Return to Login</a>
    </div>
    <br />
    <form>
        <div class="button-container">
            <app-button-pending (clicked)="submit()" [pending]="pending" [disabled]="!form.valid">Request Reset</app-button-pending>
        </div>
    </form>
</div>
<div *ngIf="sent">
    <h2 mat-dialog-title>Password Reset Requested</h2>
    <span>If an associated account exists, an email with a link to reset your password will be sent shortly</span>
    <br />
    <br />
    <div class="options-container">
        <app-flex-filler></app-flex-filler>
        <a class="option-link" (click)="returnToLogin()">Return to Login</a>
    </div>
</div>
