<h2 mat-dialog-title *ngIf="!edit">Add Server</h2>
<h2 mat-dialog-title *ngIf="edit">Edit Server</h2>
<mat-dialog-content>
    <form [formGroup]="form" class="container">
        <div class="overflow-container">
            <mat-form-field class="normal">
                <mat-label>Server Name</mat-label>
                <input #input matInput formControlName="name" required [errorStateMatcher]="instantErrorStateMatcher">
                <mat-error *ngFor="let validation of validationMessages.name">
                    <mat-error class="error-message" *ngIf="form.get('name').hasError(validation.type)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="normal">
                <mat-label>Port</mat-label>
                <input #input matInput formControlName="port" required type="number" [errorStateMatcher]="instantErrorStateMatcher">
                <mat-error *ngFor="let validation of validationMessages.port">
                    <mat-error class="error-message" *ngIf="form.get('port').hasError(validation.type)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="normal">
                <mat-label>Api Port</mat-label>
                <input #input matInput formControlName="apiPort" required type="number" [errorStateMatcher]="instantErrorStateMatcher">
                <mat-error *ngFor="let validation of validationMessages.apiPort">
                    <mat-error class="error-message" *ngIf="form.get('apiPort').hasError(validation.type)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="normal">
                <mat-label>Headless clients required</mat-label>
                <input #input matInput formControlName="numberHeadlessClients" type="number" [errorStateMatcher]="instantErrorStateMatcher">
                <mat-error *ngFor="let validation of validationMessages.numberHeadlessClients">
                    <mat-error class="error-message" *ngIf="form.get('numberHeadlessClients').hasError(validation.type)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="normal">
                <mat-label>Server Profile Name</mat-label>
                <input #input matInput formControlName="profileName" required [errorStateMatcher]="instantErrorStateMatcher">
                <mat-error *ngFor="let validation of validationMessages.profileName">
                    <mat-error class="error-message" *ngIf="form.get('profileName').hasError(validation.type)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="normal">
                <mat-label>Server Display Name</mat-label>
                <input #input matInput formControlName="hostName" required [errorStateMatcher]="instantErrorStateMatcher">
                <mat-error *ngFor="let validation of validationMessages.hostName">
                    <mat-error class="error-message" *ngIf="form.get('hostName').hasError(validation.type)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="normal">
                <mat-label>Server Password</mat-label>
                <input #input matInput formControlName="password" required [errorStateMatcher]="instantErrorStateMatcher">
                <mat-error *ngFor="let validation of validationMessages.password">
                    <mat-error class="error-message" *ngIf="form.get('password').hasError(validation.type)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="normal">
                <mat-label>Admin Password</mat-label>
                <input #input matInput formControlName="adminPassword" required [errorStateMatcher]="instantErrorStateMatcher">
                <mat-error *ngFor="let validation of validationMessages.adminPassword">
                    <mat-error class="error-message" *ngIf="form.get('adminPassword').hasError(validation.type)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="normal">
                <mat-label>Environment</mat-label>
                <mat-select formControlName="environment" required>
                    <mat-option *ngFor="let option of environments" [value]="option.value">
                        {{ option.viewValue }}
                    </mat-option>
                </mat-select>
                <mat-error *ngFor="let validation of validationMessages.environment">
                    <mat-error class="error-message" *ngIf="form.get('environment').hasError(validation.type)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="normal">
                <mat-label>Server options</mat-label>
                <mat-select formControlName="serverOption" required>
                    <mat-option *ngFor="let option of serverOptions" [value]="option.value">
                        {{ option.viewValue }}
                    </mat-option>
                </mat-select>
                <mat-error *ngFor="let validation of validationMessages.serverOption">
                    <mat-error class="error-message" *ngIf="form.get('serverOption').hasError(validation.type)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="button-container">
            <button mat-raised-button color="primary" type="button" #button (click)="submit(); button.disabled = true" [disabled]="!form.valid || changes.size === 0 || submitting">Submit</button>
        </div>
    </form>
</mat-dialog-content>
