<h2 mat-dialog-title *ngIf="!edit">Add Server</h2>
<h2 mat-dialog-title *ngIf="edit">Edit Server</h2>
<mat-dialog-content>
    <form [formGroup]="form" class="container">
        <div class="overflow-container">
            <mat-form-field class="normal">
                <mat-label>Server Name</mat-label>
                <input #input matInput formControlName="name" required [errorStateMatcher]="instantErrorStateMatcher">
                <mat-error>{{ getValidationError(form.get('name'), validationMessages.name) }}</mat-error>
            </mat-form-field>
            <mat-form-field class="normal">
                <mat-label>Port</mat-label>
                <input #input matInput formControlName="port" required type="number" [errorStateMatcher]="instantErrorStateMatcher">
                <mat-error>{{ getValidationError(form.get('port'), validationMessages.port) }}</mat-error>
            </mat-form-field>
            <mat-form-field class="normal">
                <mat-label>Api Port</mat-label>
                <input #input matInput formControlName="apiPort" required type="number" [errorStateMatcher]="instantErrorStateMatcher">
                <mat-error>{{ getValidationError(form.get('apiPort'), validationMessages.apiPort) }}</mat-error>
            </mat-form-field>
            <mat-form-field class="normal">
                <mat-label>Headless clients required</mat-label>
                <input #input matInput formControlName="numberHeadlessClients" type="number" [errorStateMatcher]="instantErrorStateMatcher">
                <mat-error>{{ getValidationError(form.get('numberHeadlessClients'), validationMessages.numberHeadlessClients) }}</mat-error>
            </mat-form-field>
            <mat-form-field class="normal">
                <mat-label>Server Profile Name</mat-label>
                <input #input matInput formControlName="profileName" required [errorStateMatcher]="instantErrorStateMatcher">
                <mat-error>{{ getValidationError(form.get('profileName'), validationMessages.profileName) }}</mat-error>
            </mat-form-field>
            <mat-form-field class="normal">
                <mat-label>Server Display Name</mat-label>
                <input #input matInput formControlName="hostName" required [errorStateMatcher]="instantErrorStateMatcher">
                <mat-error>{{ getValidationError(form.get('hostName'), validationMessages.hostName) }}</mat-error>
            </mat-form-field>
            <mat-form-field class="normal">
                <mat-label>Server Password</mat-label>
                <input #input matInput formControlName="password" required [errorStateMatcher]="instantErrorStateMatcher">
                <mat-error>{{ getValidationError(form.get('password'), validationMessages.password) }}</mat-error>
            </mat-form-field>
            <mat-form-field class="normal">
                <mat-label>Admin Password</mat-label>
                <input #input matInput formControlName="adminPassword" required [errorStateMatcher]="instantErrorStateMatcher">
                <mat-error>{{ getValidationError(form.get('adminPassword'), validationMessages.adminPassword) }}</mat-error>
            </mat-form-field>
            <mat-form-field class="normal">
                <mat-label>Environment</mat-label>
                <mat-select formControlName="environment" required>
                    <mat-option *ngFor="let option of environments" [value]="option.value">
                        {{ option.viewValue }}
                    </mat-option>
                </mat-select>
                <mat-error>{{ getValidationError(form.get('environment'), validationMessages.environment) }}</mat-error>
            </mat-form-field>
            <mat-form-field class="normal">
                <mat-label>Server options</mat-label>
                <mat-select formControlName="serverOption" required>
                    <mat-option *ngFor="let option of serverOptions" [value]="option.value">
                        {{ option.viewValue }}
                    </mat-option>
                </mat-select>
                <mat-error>{{ getValidationError(form.get('serverOption'), validationMessages.serverOption) }}</mat-error>
            </mat-form-field>
        </div>
        <div class="button-container">
            <button mat-raised-button color="primary" type="button" #button (click)="submit(); button.disabled = true" [disabled]="!form.valid || changes.size === 0 || submitting">Submit</button>
        </div>
    </form>
</mat-dialog-content>
