<div class="flex-container">
    <div class="buttons-container">
        <a href="ts3server://uk-sf.co.uk">
            <i class="fab fa-teamspeak"></i>
        </a>
        <a target="_blank" href="http://discord.uk-sf.co.uk">
            <i class="fab fa-discord"></i>
        </a>
        <a target="_blank" href="https://www.facebook.com/uksf.net/">
            <i class="fab fa-facebook"></i>
        </a>
        <a target="_blank" href="https://www.instagram.com/uksfmilsim/">
            <i class="fab fa-instagram"></i>
        </a>
        <a target="_blank" href="https://www.youtube.com/user/UKSFArmAOfficial">
            <i class="fab fa-youtube"></i>
        </a>
    </div>
    <div *ngIf="!mobile && !mobileSmall" class="copyright">
        <p>© Copyright UKSF 2011-2023</p>
    </div>
    <div *ngIf="mobile" class="copyright">
        <p>© UKSF 2011-2023</p>
    </div>
    <div *ngIf="mobileSmall" class="copyright">
        <p>© UKSF</p>
    </div>
</div>
