@use 'styles/variables' as v;

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    .buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        a {
            i {
                height: 25px;
                font-size: 25px;
                text-align: center;
            }
        }
    }

    .copyright {
        min-height: unset;
        p {
            margin: 0;
            padding: 0;
            text-align: center;
            font-size: 10px;
            line-height: 28px;
            height: 28px;
        }
    }
}

@include v.below(v.$layout-standard) {
    .flex-container {
        justify-content: center;
        .buttons-container {
            justify-content: center;
            width: fit-content;
            margin: 0 auto;
            a {
                margin: 0 5px;
                i {
                    height: 20px;
                    font-size: 20px;
                    text-align: center;
                    vertical-align: middle;
                }
            }
        }

        .copyright {
            margin-top: -20px;
            justify-self: flex-end;
            width: fit-content;
            margin-left: auto;
            p {
                text-align: right;
                vertical-align: middle;
                height: 20px;
                line-height: 20px;
            }
        }
    }
}

@include v.below(v.$layout-compact) {
    .flex-container {
        .buttons-container {
            justify-content: left;
            margin: 0 auto 0 0;
        }
    }
}
