<app-default-content-areas>
    <app-main-content-area style="grid-column: span 3">
        <div class="org-container">
            <h3>Secondary Organisation Chart</h3>
            @if (!rootNodes) {
            <div class="spinner-container">
                <mat-spinner></mat-spinner>
            </div>
            } @if (rootNodes) {
            <div class="scroll-container">
                <p-organizationChart [value]="rootNodes" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)">
                    <ng-template let-node pTemplate="unit">
                        <app-orbat-unit-node [name]="node.label" [members]="node.data.members" />
                    </ng-template>
                </p-organizationChart>
            </div>
            }
        </div>
    </app-main-content-area>
</app-default-content-areas>
