@import '~@angular/material/theming';
@mixin validation-report-modal-component-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);
    $warn: map-get($theme, warn);

    app-validation-report-modal {
        h3 {
            color: mat-color($primary);
        }

        .error {
            color: mat-color($warn);
        }

        a {
            color: mat-color($primary);
        }
    }
}
