@use 'styles/theme-helpers' as th;

@mixin application-page-component-theme($theme) {
    app-application-page {
        a {
          color: th.primary($theme);
        }

        .progress-container {
            .box {
              background-color: var(--uksf-card);
              color: th.fg-base($theme);
            }

            .enabled {
              background-color: th.primary($theme);
              color: th.primary-contrast($theme);
            }

            .complete {
              background-color: var(--uksf-gray-550);
            }
        }

        h4 {
          color: th.primary($theme);
        }
    }
}
