@use '@angular/material' as mat;

@mixin application-page-component-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);

    app-application-page {
        a {
          color: mat.m2-get-color-from-palette($primary);
        }

        .progress-container {
            .box {
              background-color: mat.m2-get-color-from-palette($background, card);
              color: mat.m2-get-color-from-palette($foreground, base);
            }

            .enabled {
              background-color: mat.m2-get-color-from-palette($primary);
              color: mat.m2-get-color-from-palette($primary, default-contrast);
            }

            .complete {
              background-color: mat.m2-get-color-from-palette($background, 550);
            }
        }
        
        h4 {
          color: mat.m2-get-color-from-palette($primary);
        }
    }
}
