@use 'styles/theme-helpers' as th;

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &.row {
        flex-direction: row;
    }
}

.progress-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 50px;
    text-align: center;
    word-break: break-word;

    .box {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        cursor: default;
        padding: 5px;
        background-color: var(--uksf-card);
        color: th.fg-base();
    }

    .enabled {
        background-color: th.primary();
        color: th.primary-contrast();
    }

    .complete {
        background-color: var(--uksf-gray-550);
    }
}

.mat-mdc-card {
    h2 {
        margin-top: 0;
    }
}

.mat-mdc-form-field {
    width: 100%;
    max-width: 300px;

    &.large-input {
        max-width: 50%;
    }
}

.normal,
.large-input {
    display: block;
    max-width: 50%;
}

.button-next {
    text-align: right;
}

a {
    color: th.primary();
}

h4 {
    color: th.primary();
}

@media screen and (max-width: 800px) {
    .mat-mdc-form-field.large-input,
    .normal,
    .large-input {
        max-width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .progress-container {
        font-size: 12px;
    }
}
