app-default-content-areas {
    margin-top: 10px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;

    &.row {
        flex-direction: row;
    }
}

.progress-container {
    display: flex;
    flex-direction: row;
    height: 50px;
    margin: 5px 0;
    text-align: center;
    word-break: break-word;

    .box {
        flex: 1;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        cursor: default;
        padding: 5px;
    }

    .box:last-child {
        margin-right: 0;
    }
}

.mat-mdc-card {
    h2 {
        margin-top: 0;
    }
}

.mat-mdc-form-field {
    width: 100%;
    max-width: 300px;

    &.large-input {
        max-width: 50%;
    }
}

.normal,
.large-input {
    display: block;
    max-width: 50%;
}

.button-next {
    text-align: right;
}

@media screen and (max-width: 800px) {
    .mat-mdc-form-field.large-input,
    .normal,
    .large-input {
        max-width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .progress-container {
        font-size: 12px;
    }
}
