.flex-container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-left: 16px;
    padding-right: 16px;
}

.mat-column-exception {
    flex: 1 1 250px;
    cursor: pointer;
}

.mat-column-httpMethod {
    flex: 0 0 60px;
}

.mat-column-url {
    flex: 0 0 200px;
    cursor: pointer;
}

.mat-column-userId {
    flex: 0 0 175px;
}

.mat-column-name {
    flex: 0 0 125px;
}
