.flex-container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding: 0 16px 16px;
}

.flex-container-slim {
    display: flex;
    flex-direction: row;
    margin-left: 0;
}

.mat-mdc-raised-button {
    margin-right: 5px;
    margin-bottom: 4px;
}

.requests-container {
    display: flex;
    flex-direction: column;
}

.mat-mdc-card {
    display: flex;
    flex: 1;
    margin-bottom: 5px;
    padding: 0;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.request-wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-width: 100%;
}

.request-type {
    font-size: 22px;
    min-width: 115px;
    max-width: 115px;
    display: flex;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.request-type-text {
    align-self: center;
    text-align: center;
    width: 100%;
}

.request-content {
    display: flex;
    padding: 24px;
    width: 100%;
}

.request-info {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: row;
}

.request-info-details-names {
    display: flex;
    flex-direction: column;
    flex: 0.3;
    min-height: 100%;
}

.request-info-details-fromto {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100%;
}

.request-info-reason {
    display: flex;
}

.request-detail {
    margin: 5px;
}

.request-review {
    display: flex;
    min-width: 300px;
    margin-left: 20px;
    flex: 0.4;
}

.request-reviewers {
    flex: 1;
    margin: auto;
}

.review-container {
    display: flex;
    vertical-align: bottom;
}

.review-label {
    vertical-align: middle;
    white-space: pre-wrap;
    line-height: 35px;
    font-size: larger;
}

.request-button-container {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.request-button-sub-container {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}

.request-spacer {
    flex: 1;
}

.mat-mdc-button {
    padding: 0;
    min-width: 45px;
    width: 45px;
    height: 45px;

    &:disabled {
        color: grey !important;
        transition: color 0.5s;
    }

    .approval-icon {
        font-size: 35px;
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
}

.override-button {
    padding: 0;
    flex: 0;
    min-width: 45px;
    width: 45px;
    height: 45px;
    margin-left: 5px;
}

.review-state-icon {
    font-size: 35px;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    margin-right: 5px;
}

.approval-updating {
    margin: 3px auto;
}

.updating {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
