@use '@angular/material' as mat;
@import "@angular/material/theming";
@mixin command-request-component-theme($theme) {
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);

    app-command-requests {
        .request-type {
          color: mat.get-color-from-palette($primary, default-contrast);
          background-color: mat.get-color-from-palette($primary);
        }

        .request-button-sub-container {
            .mat-button {
              background-color: mat.get-color-from-palette($background, card);
            }
        }
    }
}
