@use 'styles/theme-helpers' as th;

@mixin command-request-component-theme($theme) {
    app-command-requests {
        .request-type {
          color: th.primary-contrast($theme);
          background-color: th.primary($theme);
        }

        .request-button-sub-container {
            .mat-mdc-button {
              background-color: var(--uksf-card);
            }
        }
    }
}
