.normal {
    display: block;
    width: 400px;
}

.row-container {
    display: flex;
    flex-direction: column;
    margin: 16px 0 0;

    .mat-mdc-form-field {
        width: 400px;
    }

    .button-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 8px;
        margin-top: 12px;
    }

    button {
        height: fit-content;
    }
}

.account-connected {
    color: goldenrod;
}

.connected {
    color: red;
}
