<div *ngIf="state === TeamspeakConnectState.SELECT_USER">
    <p>Connect to our <a href="ts3server://uk-sf.co.uk">TeamSpeak (uk-sf.co.uk)</a></p>
    <p>Once connected, select your TeamSpeak name from the list below and press 'Request Code'</p>
    <p>If you don't select your own name, you will not receive a code!</p>
    <form [formGroup]="teamspeakForm">
        <div class="row-container">
            <mat-form-field>
                <mat-label>{{ clients.length === 0 ? 'TeamSpeak service not connected' : 'Select your TeamSpeak name' }}</mat-label>
                <mat-select formControlName="teamspeakId">
                    <mat-option *ngFor="let client of clients; trackBy: trackByClientDbId" [value]="client.clientDbId" [matTooltip]="getTooltip(client)">
                        <span [ngClass]="{ 'account-connected': isConnectedToAccount(client), connected: isConnected(client) }">{{ client.clientName }}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="button-row" *ngIf="showButtons">
                <button mat-raised-button color="warn" *ngIf="showCancel" (click)="cancel()">Cancel</button>
                <button mat-raised-button color="primary" [disabled]="!canRequestCode" (click)="requestCode()">Request Code</button>
            </div>
        </div>
    </form>
</div>
<div *ngIf="state === TeamspeakConnectState.ENTER_CODE">
    <p>Paste the confirmation code from the message sent to you in TeamSpeak into the box below</p>
    <p>If you did not receive a message with a code, please try again and ensure you select your own TeamSpeak name from the list</p>
    <form [formGroup]="formGroup">
        <div class="row-container">
            <app-text-input class="normal" label="Enter confirmation code" formControlName="code" [required]="true"
                [reserveErrorSpace]="false" (input)="changed(formGroup.controls.code.value)">
            </app-text-input>
            <div class="button-row" *ngIf="showButtons">
                <button mat-raised-button color="warn" *ngIf="showCancel" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>
<div *ngIf="state === TeamspeakConnectState.SUCCESS">
    <p>TeamSpeak was successfully connected</p>
    <div class="button-row" *ngIf="showButtons">
        <button mat-raised-button color="warn" (click)="confirmed()">Close</button>
    </div>
</div>
<div *ngIf="state === TeamspeakConnectState.FAILURE">
    <p>TeamSpeak failed to connect</p>
    <p>{{ errorMessage }}</p>
    <div class="button-row" *ngIf="showButtons">
        <button mat-raised-button color="warn" (click)="confirmed()">Close</button>
    </div>
</div>
