@use '@angular/material' as mat;
@mixin connect-teamspeak-component-theme($theme) {
    $primary: map-get($theme, primary);

    app-teamspeak-connect {
        a {
          color: mat.get-color-from-palette($primary);
        }
    }
}
