.normal {
    display: block;
    max-width: 50%;
}

.row-container {
    display: flex;
    flex-direction: column;
    margin: 16px 0 0;

    app-dropdown {
        max-width: 50%;
    }

    .button-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 8px;
        margin-top: 12px;
    }

    button {
        height: 36px;
    }
}

.account-connected {
    color: goldenrod;
}

.connected {
    color: red;
}
