.normal {
    width: 400px;
}

.row-container {
    display: flex;
    flex-direction: row;
    margin: 30px 0 0;

    .mat-mdc-form-field {
        width: 400px;
        margin-right: 25px;
    }

    button {
        margin: auto 0 auto 5px;
        height: fit-content;
    }
}

.account-connected {
    color: goldenrod;
}

.connected {
    color: red;
}
