@use 'styles/theme-helpers' as th;

@mixin new-modpack-release-modal-component-theme($theme) {
    app-new-modpack-release-modal {
        .mat-mdc-dialog-content {
            .previous-version {
                color: th.primary($theme);
            }

            .form-container {
                .versions-container {
                    .mat-mdc-radio-button {
                        .version-label {
                            color: white;

                            &.selected {
                                color: th.primary($theme);
                            }
                        }
                    }
                }
            }
        }
    }
}
