<app-autofocus-stop></app-autofocus-stop>
<h2 mat-dialog-title>New Release</h2>
<mat-dialog-content>
    <span>Previous version</span>
    <span class="previous-version">{{ previousVersion }}</span>
    <span class="select-version">Select new version</span>
    <form [formGroup]="form" class="form-container">
        <mat-radio-group class="versions-container" formControlName="version">
            <mat-radio-button #majorSelection color="primary" value="{{ major }}"
                ><span [ngClass]="{ selected: majorSelection.checked }" class="version-label">{{ major }}</span>
            </mat-radio-button>
            <mat-radio-button #minorSelection color="primary" value="{{ minor }}"
                ><span [ngClass]="{ selected: minorSelection.checked }" class="version-label">{{ minor }}</span>
            </mat-radio-button>
            <mat-radio-button #patchSelection color="primary" value="{{ patch }}"
                ><span [ngClass]="{ selected: patchSelection.checked }" class="version-label">{{ patch }}</span>
            </mat-radio-button>
        </mat-radio-group>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <app-button (click)="create()" [disabled]="!form.valid" [pending]="submitting">Create</app-button>
</mat-dialog-actions>
