:host {
    display: block;
}

span {
    display: block;
    font-size: 16px;

    &.previous-version {
        padding-bottom: 12px;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 300px;
    padding-top: 8px;

    .versions-container {
        display: flex;
        flex-direction: column;

        .mat-mdc-radio-button {
            padding-bottom: 8px;

            .version-label {
                line-height: 25px;
                padding-left: 4px;
            }
        }
    }
}
