<h2 mat-dialog-title>Change Password</h2>
<mat-dialog-content class="form-container">
    <p class="hint">You will be logged out after changing your password</p>
    <form [formGroup]="form">
        <app-text-input class="full-width" label="New Password" type="password"
            formControlName="password" [required]="true">
        </app-text-input>
        <app-text-input class="full-width" label="Confirm New Password" type="password"
            formControlName="confirmPass" [required]="true">
        </app-text-input>
        <mat-error *ngIf="form.errors != null">{{ formErrors }}</mat-error>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" type="button" (click)="changePassword()" [disabled]="!form.valid">Submit</button>
</mat-dialog-actions>
