<h2 mat-dialog-title>Discharge Request</h2>
<mat-dialog-content>
    <form [formGroup]="form">
        <div>
            <div style="text-align: center;">
                <div class="spinner-container" *ngIf="!possibleRecipients">
                    <div class="spacer"></div>
                    <mat-spinner></mat-spinner>
                    <div class="spacer"></div>
                </div>
                <div *ngIf="possibleRecipients">
                    <mat-form-field>
                        <mat-select placeholder="Select recipient" formControlName="recipient">
                            <mat-option *ngFor="let recipient of possibleRecipients" [value]="recipient.value">
                                {{recipient.displayValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <textarea matInput placeholder="Reason" formControlName="reason" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <button mat-raised-button color="primary" style="float: right;" [disabled]="!form.valid" (click)="submit()">Submit</button>
            <br style="clear: both;">
        </div>
    </form>
</mat-dialog-content>
