.spinner-container {
    height: 152px;
    display: flex;
    align-items: center;
    text-align: center;
}

.mat-dialog-content {
    min-width: 500px;
}

.mat-form-field {
    width: 100%;
}

.spacer {
    flex: 1;
}
