.icon-container {
    position: relative;
    text-align: center;
    align-items: center;
    display: flex;
    height: fit-content;
    width: 40px;
}

.mat-icon {
    cursor: pointer;

    &.notification {
        cursor: pointer;
        margin: auto;
    }

    &.clear {
        cursor: pointer;
        margin-right: 16px;
    }

    &.clear-single {
        align-items: center;
        text-align: center;
        display: flex;
        height: 48px;
        margin-right: 16px;
        margin-left: 8px;
    }

    &.notification-icon {
        height: 28px;
        width: 28px;
        line-height: 28px;
        font-size: 28px;
        flex: 1;
        cursor: auto;
    }
}

.mat-badge-content {
    right: -6px !important;
    top: -4px !important;
}

.notification-count {
    position: absolute;
    top: 4px;
    right: 0;
    width: 18px;
    height: 18px;
    background-color: red;
    border-radius: 50%;
    line-height: 18px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
}

.notification-panel-container {
    width: 480px;
    min-height: 100px;
    max-height: 448px;
    position: fixed;
    top: 58px;
    right: 55px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.notification-panel-header {
    height: 48px;
    align-items: center;
    display: flex;
}

.notification-card-container {
    overflow: auto;
    max-height: 400px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.notification-header-text {
    flex: 1;
    margin-left: 16px;
}

.notification-card {
    width: 100%;
    display: flex;
    padding: 16px 0;

    &.clickable {
        cursor: pointer;
    }
}

.notification-card-nohover {
    width: 100%;
    display: flex;
    padding: 16px 0;
}

.notification-none {
    text-align: center;
    flex: 1;
}

.notification-read {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 22px 6px 0 6px;

    &.read {
        background-color: red;
    }
}

.notification-icon-container {
    height: 48px;
    width: 48px;
    margin-right: 8px;
    align-items: center;
    text-align: center;
    display: flex;
}

.notification-text-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.notification-text {
    white-space: pre-wrap;
    margin-bottom: 8px;
    font-size: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 12.6rem;
    overflow: hidden;
}

.notification-text-timestamp {
    font-size: 13px;
}

@media only screen and (max-width: 768px) {
    .notification-panel-container {
        top: 50px;
        left: 0px;
        width: 100%;
    }
}

@media only screen and (max-width: 374px) {
    .notification-panel-container {
        top: 40px;
    }
}
