<div class="icon-container">
    <mat-icon class="notification" *ngIf="notifications.length > 0" (click)="togglePanel()">notifications</mat-icon>
    <mat-icon class="notification" *ngIf="notifications.length == 0" (click)="togglePanel()">notifications_none</mat-icon>
    <div class="notification-count" *ngIf="unreadNotifications.length > 0" (click)="togglePanel()">{{unreadNotifications.length}}</div>
</div>
<div class="notification-panel-container" *ngIf="panel">
    <div class="notification-panel-header" color="primary">
        <h4 class="notification-header-text">Notifications</h4>
        <mat-icon class="clear" matTooltip="Clear all notifications" (click)="clear()" *ngIf="notifications.length > 0">clear_all</mat-icon>
    </div>
    <div class="notification-card-container">
        <div class="notification-card-nohover" *ngIf="notifications.length == 0">
            <h4 class="notification-none">You have no notifications</h4>
        </div>
        <div *ngFor="let notification of notifications">
            <div class="notification-card" [class.clickable]="notification.link" (click)="openNotification(notification)">
                <div class="notification-read" [class.read]="!notification.read"></div>
                <div class="notification-icon-container"><mat-icon class="notification-icon">{{notification.icon}}</mat-icon></div>
                <div class="notification-text-container">
                    <span class="notification-text">{{notification.message}}</span>
                    <span class="notification-text-timestamp">{{notification.timestamp | timeAgo}}</span>
                </div>
                <mat-icon class="clear-single" matTooltip="Clear notification" (click)="clear(notification)">clear</mat-icon>
            </div>
        </div>
    </div>
</div>
