.nav-bar {
    padding: 0;
}

.flex-container {
    flex-direction: row;

    .history-container {
        display: flex;
        flex-direction: column;
        width: 100px;
        text-align: center;
        overflow-y: scroll;
        position: absolute;
        left: 225px;
        top: 123px;
        bottom: 0;

        &.builds {
            left: 0;
            top: 0;
            width: 110px;
        }

        .history-item {
            height: 50px;
            font-size: 20px;
            line-height: 50px;
            cursor: pointer;

            &.no-select {
                cursor: default;
            }
        }
    }

    .release-container {
        position: absolute;
        left: 325px;
        top: 123px;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;

        .no-builds {
            margin: auto;
            padding: 16px;
            text-align: center;
        }

        .build-container {
            overflow-y: auto;
            position: absolute;
            left: 110px;
            top: 0;
            bottom: 35px;
            right: 0;
            display: flex;
            flex-direction: column;

            .build-header {
                display: flex;
                flex-direction: row;
                padding: 0 16px;

                .build-title {
                    margin: 15px 0;
                }

                .buttons {
                    display: flex;
                    flex-direction: row;

                    .mat-mdc-raised-button {
                        margin-left: 5px;
                        align-self: center;
                    }
                }
            }

            .build-content {
                overflow-y: auto;
                position: relative;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                padding: 0 16px;

                .build-description {
                    white-space: pre-wrap;
                    margin: 0;
                    padding-bottom: 12px;
                }

                .build-changelog {
                    padding-bottom: 24px;
                }
            }
        }

        app-modpack-builds-steps {
            position: absolute;
            left: 110px;
            top: 0;
            bottom: 35px;
            right: 0;
            padding: 0;
            overflow-y: auto;
        }

        .build-footer {
            display: flex;
            flex-direction: row;
            height: 35px;
            position: absolute;
            bottom: 0;
            left: 110px;
            right: 0;
            align-items: center;

            .footer-item {
                padding: 0 10px;

                &:last-child {
                    padding-left: 0;
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

@media only screen and (max-width: 1360px) {
    .flex-container {
        .history-container {
            left: 200px;
            width: 80px;

            &.builds {
                width: 90px;
            }

            .history-item {
                height: 37px;
                font-size: 16px;
                line-height: 37px;
            }
        }

        .release-container {
            left: 280px;

            .build-container {
                left: 90px;
            }

            app-modpack-builds-steps {
                left: 90px;
            }

            .build-footer {
                left: 90px;
            }
        }
    }
}

@media only screen and (max-width: 1150px) {
    .flex-container {
        .release-container {
            .build-container {
                .build-header {
                    .build-title {
                        font-size: 28px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .flex-container {
        flex-direction: row;

        .history-container {
            flex-direction: row;
            width: 100%;
            height: 35px;
            left: 0;
            top: 175px;
            bottom: 30px;
            overflow-y: auto;
            overflow-x: scroll;

            &.builds {
                left: 0;
                top: 0;
                width: 100%;

                .history-item {
                    min-width: 75px;
                }
            }

            .history-item {
                height: 30px;
                min-width: 95px;
                font-size: 14px;
                line-height: 30px;
                padding: 1px 10px;
            }
        }

        .release-container {
            left: 0;
            top: 210px;
            bottom: 30px;

            .build-container {
                left: 0;
                top: 35px;
                bottom: 25px;

                .build-header {
                    flex-direction: column-reverse;
                    padding-top: 12px;
                    .build-title {
                        font-size: 26px;
                    }

                    .buttons {
                        flex-direction: row;
                    }
                }

                .build-content {
                    .build-description {
                        font-size: 22px;
                    }
                }
            }

            app-modpack-builds-steps {
                left: 0;
                top: 35px;
                bottom: 25px;
            }

            .build-footer {
                height: 25px;
                left: 0;
                font-size: 12px;

                .footer-item {
                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .flex-container {
        .history-container {
            top: 138px;
        }

        .release-container {
            top: 173px;
        }
    }
}

@media only screen and (max-width: 375px) {
    .flex-container {
        .history-container {
            top: 124px;
        }

        .release-container {
            top: 159px;

            .build-container {
                .build-header {
                    .buttons {
                        flex-direction: column;
                        align-self: flex-start;
                        padding-top: 0;

                        .state {
                            margin: 0;
                            align-self: flex-start;
                        }

                        .mat-mdc-raised-button {
                            margin-left: 0;
                            margin-top: 5px;
                            align-self: flex-start;
                        }
                    }
                }
            }
        }
    }
}
