@use 'styles/theme-helpers' as th;

@mixin modpack-builds-rc-component-theme($theme) {
    app-modpack-builds-rc {
        a {
            color: th.primary($theme);
        }

        .flex-container {
            .history-container {
                background-color: var(--uksf-app-bar);

                .history-item {
                    border-bottom: 1px solid var(--uksf-selected);

                    &.selected {
                        background-color: var(--uksf-selected);

                        &.release {
                            color: th.primary($theme);
                        }
                    }

                    &:hover {
                        background-color: var(--uksf-hover);
                    }

                    &.no-select {
                        border: unset;

                        &:hover {
                            background-color: unset;
                        }
                    }
                }
            }

            .release-container {
                .build-footer {
                    background-color: var(--uksf-dark-bar);

                    .footer-item {
                        &:nth-child(2) {
                            border-left: 1px solid var(--uksf-selected);
                        }
                    }
                }
            }
        }

        ::-webkit-scrollbar-track {
            background-color: var(--uksf-side-bar);
        }

        ::-webkit-scrollbar-thumb {
            background-color: var(--uksf-scroll-thumb);
        }

        @media only screen and (max-width: 1024px) {
            .flex-container {
                .history-container {
                    .history-item {
                        border-bottom: unset;
                        border-right: 1px solid var(--uksf-selected);
                    }
                }
            }
        }
    }
}
