<app-default-content-areas>
    <app-theme-emitter></app-theme-emitter>
    <app-full-content-area>
        <app-modpack-page></app-modpack-page>
        @if (rcs) {
        <div class="flex-container no-padding-left">
            <div class="history-container">
                @for (rc of rcs; track rc) {
                <div class="history-item release" [ngClass]="{ selected: selectedRcVersion === rc.version }" (click)="selectRc(rc.version)">
                    {{ rc.version }}
                </div>
                }
            </div>
            @if (rcs.length === 0) {
            <div class="release-container">
                <h2 class="no-builds">No release candidate builds available to view</h2>
            </div>
            } @else if (!selectedRc) {
            <div class="release-container">
                <h2 class="no-builds">No release candidate selected</h2>
            </div>
            } @else {
            <div class="release-container">
                <div class="history-container builds">
                    @for (build of selectedRc.builds; track build) {
                    <div class="history-item" [ngClass]="{ selected: selectedBuildId === build.id }" [ngStyle]="getBuildColour(build)" (click)="selectBuild(build.id)">
                        @if (build.environment === gameEnvironment.RC) {
                        <span>RC #{{ build.buildNumber }}</span>
                        } @else if (build.environment === gameEnvironment.RELEASE) {
                        <span>Release</span>
                        }
                    </div>
                    }
                </div>
                @if (selectedBuild === undefined) {
                <div class="build-container">
                    <div class="build-header">
                        <h1 class="build-title">No Build Selected</h1>
                    </div>
                </div>
                } @else if (!logOpen) {
                <div class="build-container">
                    <div class="build-header">
                        <div>
                            @if (selectedBuild.environment === gameEnvironment.RELEASE) {
                            <h1 class="build-title">Release {{ selectedRc.version }}</h1>
                            } @else {
                            <h1 class="build-title">{{ selectedRc.version }} RC #{{ selectedBuild.buildNumber }}</h1>
                            }
                        </div>
                        <app-flex-filler></app-flex-filler>
                        <div class="buttons">
                            <div class="state">
                                @if (!selectedBuild.running && !selectedBuild.finished) {
                                <i class="queued">Queued</i>
                                } @else if (selectedBuild.running) {
                                <i class="running" [ngClass]="{ warning: anyWarning(selectedBuild) }">Running...</i>
                                } @if (selectedBuild.buildResult === modpackBuildResult.SUCCESS) {
                                <span class="success">Success</span>
                                } @if (selectedBuild.buildResult === modpackBuildResult.FAILED) {
                                <span class="fail">Failed</span>
                                } @if (selectedBuild.buildResult === modpackBuildResult.CANCELLED) {
                                <span class="cancelled">Cancelled</span>
                                } @if (selectedBuild.buildResult === modpackBuildResult.WARNING) {
                                <span class="warning">Warning</span>
                                }
                            </div>
                            <app-flex-filler></app-flex-filler>
                            <ng-template [ngxPermissionsOnly]="['ADMIN']">
                                @if (!selectedBuild.finished && !cancelling) {
                                <button mat-raised-button color="primary" (click)="cancelBuild()">Cancel Build</button>
                                } @if (canRebuild()) {
                                <button mat-raised-button color="primary" (click)="rebuild()">Rebuild</button>
                                }
                            </ng-template>
                            @if (selectedBuild.steps.length > 0) {
                            <button mat-raised-button color="primary" (click)="openLog()">Build Log</button>
                            }
                        </div>
                    </div>
                    <div class="build-content">
                        <h3 class="build-description">Changes</h3>
                        <div class="build-changelog">
                            <markdown ngPreserveWhitespaces [data]="changesMarkdown"></markdown>
                        </div>
                    </div>
                </div>
                } @else {
                <app-modpack-builds-steps [rebuildCondition]="canRebuild" [build]="selectedBuild" (onCloseLog)="closeLog()" (onRebuild)="selectIncomingBuild = true"></app-modpack-builds-steps>
                }
                <app-flex-filler></app-flex-filler>
                @if (selectedBuild) {
                <div class="build-footer">
                    <div class="footer-item">
                        {{ selectedBuild.startTime | date : 'dd MMM HH:mm' : 'Europe/London' }}
                    </div>
                    @if (selectedBuild.running || selectedBuild.finished) {
                    <div class="footer-item">
                        {{ duration }}
                    </div>
                    }
                    <app-flex-filler></app-flex-filler>
                    @if (branch === 'None') {
                    <div class="footer-item">Commit: {{ commit }}</div>
                    } @else {
                    <div class="footer-item">Branch: {{ branch }}</div>
                    }
                    <div class="footer-item">Built By: {{ builderName }}</div>
                </div>
                }
            </div>
            }
        </div>
        }
    </app-full-content-area>
</app-default-content-areas>
