@use '@angular/material' as mat;

@mixin modpack-builds-rc-component-theme($theme) {
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);

    app-modpack-builds-rc {
        a {
            color: mat.m2-get-color-from-palette($primary);
        }

        .flex-container {
            .history-container {
                background-color: mat.m2-get-color-from-palette($background, app-bar);

                .history-item {
                    border-bottom: 1px solid mat.m2-get-color-from-palette($background, selected);

                    &.selected {
                        background-color: mat.m2-get-color-from-palette($background, selected);

                        &.release {
                            color: mat.m2-get-color-from-palette($primary, default);
                        }
                    }

                    &:hover {
                        background-color: mat.m2-get-color-from-palette($background, hover);
                    }

                    &.no-select {
                        border: unset;

                        &:hover {
                            background-color: unset;
                        }
                    }
                }
            }

            .release-container {
                .build-footer {
                    background-color: mat.m2-get-color-from-palette($background, dark-bar);

                    .footer-item {
                        &:nth-child(2) {
                            border-left: 1px solid mat.m2-get-color-from-palette($background, selected);
                        }
                    }
                }
            }
        }

        ::-webkit-scrollbar-track {
            background-color: mat.m2-get-color-from-palette($background, side-bar);
        }

        ::-webkit-scrollbar-thumb {
            background-color: mat.m2-get-color-from-palette($background, scroll-thumb);
        }

        @media only screen and (max-width: 1024px) {
            .flex-container {
                .history-container {
                    .history-item {
                        border-bottom: unset;
                        border-right: 1px solid mat.m2-get-color-from-palette($background, selected);
                    }
                }
            }
        }
    }
}
