@use '@angular/material' as mat;

@mixin modpack-page-component-theme($theme) {
    $primary: map-get($theme, primary);
    $background: map-get($theme, background);

    app-modpack-page {
        a {
            color: mat.m2-get-color-from-palette($primary);
        }
    }

    ::-webkit-scrollbar-track {
        background-color: mat.m2-get-color-from-palette($background, side-bar);
    }

    ::-webkit-scrollbar-thumb {
        background-color: mat.m2-get-color-from-palette($background, scroll-thumb);
    }
}
