@use 'styles/theme-helpers' as th;

@mixin inline-dropdown-component-theme($theme) {
    app-inline-dropdown {
        input {
            border-color: th.fg-divider($theme);
            color: th.fg-text($theme);
            background-color: var(--uksf-card);
        }

        .invalid {
            border-color: th.warn($theme);
        }
    }
}
