<h2 mat-dialog-title>New Build</h2>
<mat-dialog-content>
    <p class="hint-text">Select a branch or enter a commit id to run a new build from</p>
    <form [formGroup]="form" class="container">
        <div formGroupName="referenceGroup">
            <mat-form-field class="normal">
                <mat-select placeholder="{{ branches.length === 0 ? 'Loading branches...' : 'Select branch' }}" formControlName="branch" [errorStateMatcher]="instantErrorStateMatcher">
                    <mat-option *ngFor="let branch of branches" [value]="branch">
                        {{ branch }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="normal">
                <input matInput formControlName="commitId" placeholder="Commit ID" [errorStateMatcher]="instantErrorStateMatcher" />
                <mat-error *ngFor="let validation of validationMessages.commitId">
                    <mat-error class="error-message" *ngIf="form.get('referenceGroup.commitId').hasError(validation.type)">{{ validation.message }}</mat-error>
                </mat-error>
            </mat-form-field>
            <mat-error *ngIf="form.hasError('both')">
                <mat-error class="error-message">Cannot select both a branch and a commit ID</mat-error>
            </mat-error>
        </div>
        <div class="force-container">
            <mat-checkbox color="primary" formControlName="ace">Force ACE build</mat-checkbox>
            <mat-checkbox color="primary" formControlName="acre">Force ACRE build</mat-checkbox>
            <mat-checkbox color="primary" formControlName="f35">Force F-35 build</mat-checkbox>
        </div>
        <app-flex-filler></app-flex-filler>
        <div class="button-container">
            <button
                mat-raised-button
                color="primary"
                type="button"
                #runButton
                (click)="run(); runButton.disabled = true"
                [disabled]="submitting || !form.valid || !form.value.referenceGroup.branch || (form.value.referenceGroup.branch === 'No branch' && !form.value.referenceGroup.commitId)"
            >
                Run
            </button>
        </div>
    </form>
</mat-dialog-content>
