<app-default-content-areas>
    <app-side-content-area>
        <div class="flex-container">
            <mat-card appearance="outlined">
                <h3>Policy Topics</h3>
                <ul>
                    <li>
                        <h4>
                            <a>Intro</a>
                        </h4>
                    </li>
                    <li>
                        <h4>
                            <a>Section 1</a>
                        </h4>
                    </li>
                    <li>
                        <h4>
                            <a>Section 2</a>
                        </h4>
                    </li>
                </ul>
            </mat-card>
        </div>
    </app-side-content-area>
    <app-main-content-area>
        <div class="flex-container">
            <h2>
                <a routerLink="/information">Information</a>/Policy</h2>
            <mat-card appearance="outlined">
                <h3>Intro</h3>
                <p>Not currently implemented</p>
                <h3>Section 1</h3>
                <p>Not currently implemented</p>
                <h3>Section 2</h3>
                <p>Not currently implemented</p>
            </mat-card>
        </div>
    </app-main-content-area>
</app-default-content-areas>
