<mat-card>
    <h2>Details</h2>
    <form [formGroup]="formGroup">
        <div class="special-field-form-container">
            <label for="name">If you see this, keep this field blank</label>
            <input type="text" id="name" formControlName="name" tabindex="-1" autocomplete="off" />
        </div>
        <div>
            <mat-form-field class="large-input">
                <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" formControlName="armaExperience" maxlength="500" #armaText></textarea>
                <mat-placeholder>How much experience do you have playing Arma?</mat-placeholder>
                <mat-hint *ngIf="armaText.value.length > 200">{{armaText.value.length}} / 500</mat-hint>
                <mat-error *ngFor="let validation of validation_messages.armaExperience">
                    <mat-error class="error-message" *ngIf="formGroup.get('armaExperience').hasError(validation.type)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="large-input">
                <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="4" formControlName="unitsExperience" maxlength="250" #unitsText></textarea>
                <mat-placeholder>Other Units - have you ever been in an Arma unit? Which?</mat-placeholder>
                <mat-hint *ngIf="unitsText.value.length > 200">{{unitsText.value.length}} / 250</mat-hint>
                <mat-error *ngFor="let validation of validation_messages.unitsExperience">
                    <mat-error class="error-message" *ngIf="formGroup.get('unitsExperience').hasError(validation.type)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="large-input">
                <textarea matInput matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="10" formControlName="background" maxlength="500" #backgroundText></textarea>
                <mat-placeholder>Personal background - tell us a little about yourself</mat-placeholder>
                <mat-hint *ngIf="backgroundText.value.length > 400">{{backgroundText.value.length}} / 500</mat-hint>
                <mat-error *ngFor="let validation of validation_messages.background">
                    <mat-error class="error-message" *ngIf="formGroup.get('background').hasError(validation.type)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>
        </div>
        <mat-checkbox color="primary" formControlName="militaryExperience">Are you or have you ever been a member of the military?</mat-checkbox>
        <br>
        <br>
        <p>These options exist to give us an idea of what kind of role you are interested in. There is no guarantee you will be admited
            to any of these programmes.</p>
        <mat-checkbox color="primary" formControlName="officer">Officer Leadership</mat-checkbox>
        <br>
        <mat-checkbox color="primary" formControlName="nco">NCO Leadership</mat-checkbox>
        <br>
        <mat-checkbox color="primary" formControlName="aviation">Aviation</mat-checkbox>
        <br>
        <br>
        <mat-form-field>
            <mat-select formControlName="reference">
                <mat-option *ngFor="let referenceOption of referenceOptions" [value]="referenceOption.value">
                    {{ referenceOption.viewValue }}
                </mat-option>
            </mat-select>
            <mat-placeholder>Where did you hear about UKSF?</mat-placeholder>
        </mat-form-field>
        <br>
        <br>
        <div class="button-next">
            <button mat-raised-button color="primary" [disabled]="!formGroup.valid" (click)="next()">Next</button>
        </div>
    </form>
</mat-card>
