<app-default-content-areas>
    <app-main-content-area>
        <div class="flex-container">
            <h3>Information Areas</h3>
            <mat-card routerLink="/information/about">
                <mat-icon>info_outline</mat-icon>
                <h3>About</h3>
                <span>Find out more about our unit</span>
            </mat-card>
            <mat-card routerLink="/information/docs">
                <mat-icon>description</mat-icon>
                <h3>Docs</h3>
                <span>Docs for training, guides, etc</span>
            </mat-card>
            <mat-card routerLink="/modpack/guide">
                <mat-icon>build</mat-icon>
                <h3>Modpack</h3>
                <span>How to download and install our Modpack</span>
            </mat-card>
        </div>
    </app-main-content-area>
</app-default-content-areas>
