@use 'styles/theme-helpers' as th;

@mixin information-page-component-theme($theme) {
    app-information-page {
        .flex-container {
            .mat-mdc-card {
                &:hover {
                  background-color: var(--uksf-hover);
                }

                h3 {
                  color: th.primary($theme);
                }
            }
        }
    }
}
