@use '@angular/material' as mat;

@mixin information-page-component-theme($theme) {
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);

    app-information-page {
        .flex-container {
            .mat-mdc-card {
                &:hover {
                  background-color: mat.m2-get-color-from-palette($background, hover);
                }

                h3 {
                  color: mat.m2-get-color-from-palette($primary);
                }
            }
        }
    }
}
