.mat-mdc-row:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.spinner-container {
    height: 416px;
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 50%;
    transform: translate(-170px, 0);
}

.table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 100vw;
}

.table-header {
    min-height: 64px;
    padding: 0 4px;
    width: 100%;
}

.mat-mdc-table {
    overflow: auto;
    min-height: 360px;
}

.title {
    min-width: 75px;
}

::-webkit-scrollbar {
    width: 12px;
    min-height: 0;
}

.org-container {
    display: flex;
    flex-direction: column;

    h3 {
        padding-left: 16px;
    }

    .spinner-container {
        height: 200px;
        position: relative;
    }

    .scroll-container {
        font-size: 11px;
        overflow-x: auto;
        flex: 1;

        .inner-table {
            width: 100%;

            .row-container {
                display: flex;
                flex-direction: row;

                .unit-role {
                    font-size: 18px;
                    line-height: 1px;
                    font-family: monospace;
                    vertical-align: middle;
                }

                .name {
                    min-width: 75px;
                    font-size: 11px;
                }
            }
        }
    }
}

:host ::ng-deep .p-organizationchart {
    .node-header,
    .node-content {
        padding: 0.5em 0.7rem;
    }

    .p-organizationchart-node-content {
        padding: 0.5rem;
        border-radius: 5px;

        .p-node-toggler {
            display: none;
        }
    }
}

:host ::ng-deep .p-organizationchart-table > tbody > tr > td {
    padding: 0 0.5rem;
}
