.normal {
    width: 400px;
}

.row-container {
    display: flex;
    flex-direction: row;
    margin: 30px 0 0;

    .mat-form-field {
        width: 400px;
        margin-right: 25px;
    }

    button {
        margin: auto 0px auto 5px;
        height: fit-content;

        &.cancel {
            color: red;
        }
    }
}
