<div *ngIf="state === 0">
    <p>Connect to our <a href="ts3server://uk-sf.co.uk">TeamSpeak (uk-sf.co.uk)</a>, then select your TeamSpeak name from the list below and press 'Request Code'.</p>
    <p>If you don't select your own name, you will not receive a code!</p>
    <form [formGroup]="teamspeakForm">
        <div class="row-container">
            <mat-form-field>
                <mat-select placeholder="{{ clients.length === 0 ? 'TeamSpeak service not connected' : 'Select your TeamSpeak name' }}" formControlName="teamspeakId">
                    <mat-option *ngFor="let client of clients" [value]="client.clientDbId">
                        {{ client.clientName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <app-flex-filler></app-flex-filler>
            <button mat-raised-button color="primary" [disabled]="!teamspeakForm.value.teamspeakId || clients.length === 0" (click)="requestCode()">Request Code</button>
            <button mat-raised-button color="warn" *ngIf="showCancel" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>
<div *ngIf="state === 1">
    <p>Paste the confirmation code from the message sent to you in TeamSpeak into the box below</p>
    <p>If you did not receive a message with a code, please try again and ensure you select your own TeamSpeak name from the list</p>
    <form [formGroup]="formGroup">
        <div class="row-container">
            <mat-form-field class="normal">
                <input matInput formControlName="code" required placeholder="Enter confirmation code" (ngModelChange)="changed($event)" />
            </mat-form-field>
            <app-flex-filler></app-flex-filler>
            <button mat-raised-button color="warn" *ngIf="showCancel" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>
<div *ngIf="state === 2">
    <p>TeamSpeak was successfully connected</p>
    <div class="row-container">
        <app-flex-filler></app-flex-filler>
        <button mat-raised-button color="warn" (click)="confirmed()">Close</button>
    </div>
</div>
<div *ngIf="state === 3">
    <p>TeamSpeak failed to connect</p>
    <p>{{ errorMessage }}</p>
    <div class="row-container">
        <app-flex-filler></app-flex-filler>
        <button mat-raised-button color="warn" (click)="confirmed()">Close</button>
    </div>
</div>
