@use 'servers-list-item-layout' as layout;

.column {
    flex-direction: column;
}

.icon {
    line-height: 36px;
    height: 36px;
    padding: 0;
    min-width: 36px;
    align-self: center;

    &.delete {
        color: red;
    }
}

.mat-mdc-raised-button {
    margin-right: 5px;
}

.admin-container {
    display: flex;
    flex-direction: row;

    .control-disabled {
        line-height: 36px;
        margin-right: 10px;
    }

    .refresh-button {
        margin-right: 10px;
    }
}

.server-updating {
    animation: rotation 2s infinite linear;
}

.uploading-button {
    width: 130px;
}

.uploading-icon {
    font-size: 34px;
    line-height: 34px;
    height: 34px;
    min-width: 34px;
    padding: 0;
    animation: rotation 2s infinite linear;
}

.servers-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.servers-list {
    cursor: default;
    margin: 0;
    padding: 0 0 16px;
    list-style: none;
    width: 100%;
}

// Keep at root for .cdk-drag-preview
.servers-list-item {
    @include layout.servers-list-item-layout;
    margin: 10px 10px 0 0;

    .server-header h3 {
        // Status colors defined in operations-servers.component.scss-theme.scss
    }
}

:host ::ng-deep .mission-select {
    width: 450px !important;
    margin: 0 10px;
    align-self: center;
}

.disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.cdk-drag-placeholder {
    opacity: 0;
}

.fileDragging * {
    display: none;
    pointer-events: none;
}

.dropZone {
    border-style: dashed;
    border-width: 2px;
    border-radius: 10px;
    display: flex;
    align-items: center;

    span {
        text-align: center;
        flex: 1;
        font-size: 28px;
    }
}

@media screen and (max-width: 600px) {
    .server-buttons {
        display: flex;
        flex-direction: column;
    }
}
