@use 'styles/theme-helpers' as th;

@mixin _white-icon-button {
    background-color: transparent;

    &:not(:disabled) {
        color: white;
    }

    --mat-button-text-state-layer-color: white;
    --mat-button-text-ripple-color: rgba(255, 255, 255, 0.12);
}

@mixin operations-servers-component-theme($theme) {
    app-operations-servers {
        .uploading {
            color: var(--uksf-accent-contrast) !important;
            background-color: var(--uksf-accent) !important;
        }

        .admin-container {
            .control-disabled {
                color: red;
            }

            .refresh-button {
                @include _white-icon-button;
            }
        }

        .servers-list-item {
            background-color: var(--uksf-server);

            &.server-running {
                background-color: var(--uksf-server-running);
            }

            .server-header {
                button {
                    @include _white-icon-button;
                }

                .title-updating {
                    color: th.primary($theme);
                }

                h3 {
                    &.title-started { color: lightseagreen; }
                    &.title-running { color: green; }
                    &.title-stopping { color: red; }
                }
            }
        }

        .server-buttons {
            .admin {
                button {
                    @include _white-icon-button;

                    &.delete:not(:disabled) {
                        color: red;
                    }
                }
            }
        }

        .dropZone {
            border-color: th.primary($theme);
        }

        h3 {
            background-color: transparent !important;
        }
    }

    @at-root .cdk-drag-preview {
        .servers-list-item {
            color: th.fg-text($theme);
            background-color: var(--uksf-server);

            &.server-running {
                background-color: var(--uksf-server-running);
            }

            .server-header {
                button {
                    @include _white-icon-button;
                }

                h3 {
                    &.title-started { color: lightseagreen; }
                    &.title-running { color: green; }
                    &.title-stopping { color: red; }
                }
            }
        }

        .server-buttons {
            button {
                @include _white-icon-button;

                &.delete:not(:disabled) {
                    color: red;
                }
            }
        }
    }
}
