<app-default-content-areas>
    <app-main-content-area style="grid-column: span 3">
        <div class="flex-container column">
            @if (!servers) {
            <div class="spinner-container">
                <mat-spinner></mat-spinner>
            </div>
            }
            <app-file-drop (onFileOver)="onFileOver()" (onFileLeave)="onFileLeave()" (onFileDrop)="onFileDrop($event)">
                <div #serversContainer [ngClass]="{ fileDragging: fileDragging }">
                    <div class="admin-container">
                        <ng-template [ngxPermissionsOnly]="['ADMIN']">
                            @if (!disabled) {
                            <button (click)="toggleDisabledState()" color="primary" mat-raised-button>Disable Server Control</button>
                            } @else {
                            <button (click)="toggleDisabledState()" color="primary" mat-raised-button>Enable Server Control</button>
                            }
                            <button (click)="addServer()" color="primary" mat-raised-button>Add Server</button>
                            @if (instanceCount > 0) {
                            <button (click)="killAll()" color="primary" mat-raised-button>Kill {{ instanceCount }} Arma Instances</button>
                            }
                        </ng-template>
                        <button (click)="uploader.click()" [disabled]="isDisabled" [ngClass]="{ uploading: uploadingFile }" class="uploading-button" color="primary" mat-raised-button>
                            @if (!uploadingFile) {
                            <span>Upload Mission</span>
                            } @else {
                            <mat-icon class="uploading-icon">autorenew</mat-icon>
                            }
                        </button>
                        <app-flex-filler></app-flex-filler>
                        <div class="admin-container">
                            @if (disabled) {
                            <div class="control-disabled">Server control has been disabled by an admin</div>
                            }
                            <button mat-button class="refresh-button icon" (click)="getServers()" matTooltip="Refresh all">
                                <mat-icon>refresh</mat-icon>
                            </button>
                        </div>
                    </div>
                    @if (servers) {
                    <div>
                        @if (servers.length == 0) {
                        <div class="servers-container">
                            <h3>There are no game servers defined</h3>
                        </div>
                        } @else {
                        <div (cdkDropListDropped)="onMove($event)" [cdkDropListDisabled]="updatingOrder" [class.disabled]="updatingOrder" cdkDropList class="servers-list">
                            @for (server of servers; track trackByServerId($index, server)) {
                            <div cdkDrag>
                                <mat-card [ngClass]="{ 'server-running': server.status.running }" class="servers-list-item">
                                    <div class="server-header">
                                        <ng-template [ngxPermissionsOnly]="['ADMIN']">
                                            <span [class.disabled]="updatingOrder" cdkDragHandle class="handle">=</span>
                                        </ng-template>
                                        <h3
                                            [ngClass]="{
                                                'title-stopping': server.status.stopping,
                                                'title-launching': server.status.launching && !server.status.running,
                                                'title-running': server.status.running
                                            }"
                                        >
                                            {{ server.name }}{{ server.statusText ? ' - ' + server.statusText : '' }}
                                        </h3>
                                        <app-flex-filler></app-flex-filler>
                                        <button mat-button class="icon" (click)="openServerLog(server)" matTooltip="View server log">
                                            <mat-icon>description</mat-icon>
                                        </button>
                                    </div>
                                    <div class="server-container">
                                        @if (server.status.running) {
                                        <div class="server-details">
                                            @if (server.status.mission) {
                                            <span><b>Map:</b> {{ server.status.map }}</span>
                                            } @if (server.status.mission) {
                                            <span><b>Mission:</b> {{ server.status.mission }}</span>
                                            } @if (server.status.parsedUptime !== '00:00:00') {
                                            <span><b>Players:</b> {{ server.status.players.length }}</span>
                                            } @if (server.status.parsedUptime !== '00:00:00') {
                                            <span><b>Max Players:</b> {{ server.status.maxPlayers }}</span>
                                            } @if (server.status.parsedUptime !== '00:00:00') {
                                            <span><b>Uptime:</b> {{ server.status.parsedUptime }}</span>
                                            }
                                            <app-flex-filler></app-flex-filler>
                                        </div>
                                        }
                                        <app-flex-filler></app-flex-filler>
                                        <div class="server-buttons">
                                            <div class="admin">
                                                <ng-template [ngxPermissionsOnly]="['ADMIN']">
                                                    <button
                                                        (click)="deleteServer($event, server)"
                                                        [disabled]="isPending(server.id) || server.status.running || server.status.launching || server.status.stopping"
                                                        class="icon delete"
                                                        mat-button
                                                        matTooltip="Delete game server"
                                                    >
                                                        <mat-icon>highlight_off </mat-icon>
                                                    </button>
                                                    <button
                                                        (click)="editServer($event, server)"
                                                        [disabled]="isPending(server.id) || server.status.running || server.status.launching || server.status.stopping"
                                                        class="icon"
                                                        mat-button
                                                        matTooltip="Edit game server"
                                                    >
                                                        <mat-icon>edit</mat-icon>
                                                    </button>
                                                </ng-template>
                                                <ng-template [ngxPermissionsOnly]="['SR5']">
                                                    <button
                                                        (click)="editServerMods($event, server)"
                                                        [disabled]="isPending(server.id) || server.status.running || server.status.launching || server.status.stopping"
                                                        class="icon"
                                                        mat-button
                                                        matTooltip="Edit game server mods"
                                                    >
                                                        <mat-icon>extension </mat-icon>
                                                    </button>
                                                </ng-template>
                                            </div>
                                            <app-flex-filler></app-flex-filler>
                                            @if (!server.status.running && !server.status.launching && !server.status.stopping) {
                                            <app-dropdown
                                                [(ngModel)]="server.missionSelection"
                                                [displayWith]="displayWithMission"
                                                [elementFilter]="missionFilter"
                                                [elementMatcher]="missionMatcher"
                                                [elementName]="'Mission'"
                                                [elements]="missions"
                                                [formFieldClass]="'mission-select'"
                                                [style.visibility]="isPending(server.id) || isDisabled ? 'hidden' : 'visible'"
                                                [optionClass]="'mission-option'"
                                                [placeholder]="'Select mission'"
                                                [showErrors]="false"
                                                [reserveErrorSpace]="false"
                                                [tooltip]="getMissionTooltip"
                                            >
                                                <ng-template #element let-element>{{ getMissionName(element) }}</ng-template>
                                            </app-dropdown>
                                            }
                                            <div class="control-buttons">
                                                @if (!server.status.launching && !server.status.running && !server.status.stopping) {
                                                <button
                                                    (click)="launch(server)"
                                                    [disabled]="isPending(server.id) || !server.missionSelection || isDisabled"
                                                    [ngClass]="{ 'control-button': !server.status.launching && !server.status.running && !server.status.stopping }"
                                                    color="primary"
                                                    mat-raised-button
                                                >
                                                    Launch
                                                </button>
                                                }
                                                @if (server.launchedBy && (server.status.launching || server.status.running)) {
                                                <span class="launched-by"><b>Launched by:</b> {{ server.launchedBy | displayName | async }}</span>
                                                } @if (server.status.launching || server.status.running) {
                                                <button (click)="stop(server)" [disabled]="isPending(server.id) || isDisabled" color="primary" mat-raised-button>Stop</button>
                                                }
                                                @if (server.status.stopping && admin) {
                                                <button (click)="kill(server)" [disabled]="isPending(server.id) || isDisabled" color="warn" mat-raised-button>Kill</button>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                            }
                        </div>
                        }
                    </div>
                    }
                </div>
                @if (fileDragging) {
                <div class="dropZone" [style.height.px]="dropZoneHeight" [style.width.px]="dropZoneWidth">
                    <span>Drop mission files here to upload them</span>
                </div>
                }
            </app-file-drop>
            <input #uploader (change)="upload($event.target.files)" accept=".pbo" hidden multiple style="display: none" type="file" />
        </div>
    </app-main-content-area>
</app-default-content-areas>
