@use '@angular/material' as mat;
@mixin operations-servers-component-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    app-operations-servers {
        .uploading {
            color: mat.get-color-from-palette($accent, default-contrast) !important;
            background-color: mat.get-color-from-palette($accent) !important;
        }

        .admin-container {
            .control-disabled {
                color: red;
            }

            .refresh-button {
                background-color: transparent;
            }
        }

        .servers-list-item {
            background-color: mat.get-color-from-palette($background, server);

            &.server-running {
                background-color: mat.get-color-from-palette($background, server-running);
            }

            .server-header {
                button {
                    background-color: transparent;
                }

                .title-updating {
                    color: mat.get-color-from-palette($primary);
                }

                h3 {
                    &.title-started { color: lightseagreen; }
                    &.title-running { color: green; }
                    &.title-stopping { color: red; }
                }
            }
        }

        .server-buttons {
            .admin {
                button {
                    background-color: transparent;
                }
            }
        }

        .dropZone {
            border-color: mat.get-color-from-palette($primary);
        }

        h3 {
            background-color: transparent !important;
        }
    }

    @at-root .cdk-drag-preview {
        .servers-list-item {
            color: mat.get-color-from-palette($foreground, text);
            background-color: mat.get-color-from-palette($background, server);

            &.server-running {
                background-color: mat.get-color-from-palette($background, server-running);
            }

            .server-header {
                button {
                    background-color: transparent;
                }

                h3 {
                    &.title-started { color: lightseagreen; }
                    &.title-running { color: green; }
                    &.title-stopping { color: red; }
                }
            }
        }

        .server-buttons {
            button {
                background-color: transparent;
            }
        }
    }
}
