<app-default-content-areas>
    <app-main-content-area style="grid-column: span 3">
        <app-admin-page></app-admin-page>
        <div class="update-container">
            <div class="update-info-container">
                Build ID:
                <app-loading-placeholder [width]="80" [height]="25" [loading]="!current">
                    <ng-template #element>
                        <span [ngStyle]="{ color: getBuildColour() }" matTooltip="Current build ID">{{ current.currentBuild }}</span>
                    </ng-template>
                </app-loading-placeholder>
                <mat-icon>chevron_right</mat-icon>
                <app-loading-placeholder [width]="75" [height]="25" [loading]="!latest">
                    <ng-template #element>
                        <span matTooltip="Latest build ID">{{ latest.latestBuild }}</span>
                    </ng-template>
                </app-loading-placeholder>
            </div>
            <div class="update-info-container">
                Update Date:
                <app-loading-placeholder [width]="80" [height]="25" [loading]="!current">
                    <ng-template #element>
                        <span [ngStyle]="{ color: getDateColour() }" matTooltip="Last updated date">{{ current.currentUpdated | date: 'mediumDate' }}</span>
                    </ng-template>
                </app-loading-placeholder>
                <mat-icon>chevron_right</mat-icon>
                <app-loading-placeholder [width]="100" [height]="25" [loading]="!latest">
                    <ng-template #element>
                        <span matTooltip="Most recent release date">{{ latest.latestUpdate | date: 'mediumDate' }}</span>
                    </ng-template>
                </app-loading-placeholder>
            </div>
            <div class="update-info-container">
                Installed Arma version:
                <app-loading-placeholder [width]="35" [height]="25" [loading]="!installed">
                    <ng-template #element>
                        <span>{{ installed.installedVersion }}</span>
                    </ng-template>
                </app-loading-placeholder>
            </div>
            <div class="update-info-container">
                Update required?
                <span [ngStyle]="{ color: getUpdateRequiredColour() }" class="update-info"> {{ getUpdateRequiredText() }}</span>
            </div>
            <app-button-pending (clicked)="update()" [pending]="updating" [disabled]="isUpdateDisabled()">Update</app-button-pending>
        </div>
    </app-main-content-area>
</app-default-content-areas>
