.mat-expansion-panel {
    min-width: 800px;
    margin-bottom: 8px;

    &.mat-expansion-panel-spacing {
        margin: 0px;
    }

    .mat-expansion-panel-header.mat-expanded {
        height: 48px;
    }

    .permissions-header {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 16px;

        span {
            font-style: italic;
            font-size: 12px;
            margin: auto 0;
        }
    }
    
    .permissions-form {
        display: flex;
        flex-direction: column;
    
        .mat-checkbox {
            width: fit-content;
            padding-bottom: 8px;
        }
    
        .permissions-section-container {
            display: flex;
            flex-direction: row;
            gap: 8px;
    
            .permissions-section {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
    
            .mat-divider {
                margin: 0 16px;
            }
        }
    }
}

@media screen and (max-width: 1360px) {
    .mat-expansion-panel {
        min-width: 600px;
    }
}

@media screen and (max-width: 1024px) {
    .mat-expansion-panel {
        min-width: 300px;

        .permissions-form {
            .permissions-section-container {
                flex-direction: column;
                gap: 8px;
        
                .mat-divider {
                    display: none;
                }
            }
        }
    }
}
