@use '~@angular/material' as mat;
@import "~@angular/material/theming";
@mixin add-unit-modal-component-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);

    app-add-unit-modal {
        .button-delete {
          background-color: mat.get-color-from-palette($background, selected);
        }
    }
}
