<app-autofocus-stop></app-autofocus-stop>
<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>
    <form [formGroup]="form" class="modal-form">
        <app-text-input label="Reason" formControlName="input" [required]="true" [maxlength]="200"
            [validationMessages]="validationMessages">
        </app-text-input>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="submit()" [disabled]="!form.valid">Submit</button>
</mat-dialog-actions>
