.mat-mdc-dialog-content {
    min-height: 100px;
    font-size: 18px;

    span {
        white-space: pre-wrap;
    }

    .textarea-container {
        .textarea {
            font-size: 14px;
            flex: 1;
            width: 100%;
            height: 100%;
        }
    }
}
