<h2 mat-dialog-title>Add Training</h2>
<mat-dialog-content>
    <form [formGroup]="form" class="container">
        <mat-form-field class="normal">
            <mat-label>Training Name</mat-label>
            <input #input [errorStateMatcher]="instantErrorStateMatcher" formControlName="name" matInput required />
            <mat-error>{{ getValidationError(form.get('name'), validationMessages.name) }}</mat-error>
        </mat-form-field>
        <mat-form-field class="normal">
            <mat-label>Short Name</mat-label>
            <input #input [errorStateMatcher]="instantErrorStateMatcher" formControlName="shortName" matInput />
            <mat-error>{{ getValidationError(form.get('shortName'), validationMessages.shortName) }}</mat-error>
        </mat-form-field>
        <mat-form-field class="normal">
            <mat-label>TeamSpeak Group ID</mat-label>
            <input #input [errorStateMatcher]="instantErrorStateMatcher" formControlName="teamspeakGroup" matInput />
            <mat-error>{{ getValidationError(form.get('teamspeakGroup'), validationMessages.teamspeakGroup) }}</mat-error>
        </mat-form-field>
        <div class="button-container">
            <app-flex-filler></app-flex-filler>
            <app-button (clicked)="submit()" [disabled]="!form.valid" [pending]="pending">Submit</app-button>
        </div>
    </form>
</mat-dialog-content>
