<h2 mat-dialog-title>Add Training</h2>
<mat-dialog-content>
    <form [formGroup]="form" class="modal-form">
        <app-text-input class="normal" label="Training Name" formControlName="name" [required]="true"
            [validationMessages]="validationMessages.name">
        </app-text-input>
        <app-text-input class="normal" label="Short Name" formControlName="shortName"
            [validationMessages]="validationMessages.shortName">
        </app-text-input>
        <app-text-input class="normal" label="TeamSpeak Group ID" formControlName="teamspeakGroup"
            [validationMessages]="validationMessages.teamspeakGroup">
        </app-text-input>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <app-button (clicked)="submit()" [disabled]="!form.valid" [pending]="pending">Submit</app-button>
</mat-dialog-actions>
