<h2 mat-dialog-title>Promotion/Demotion Request</h2>
<mat-dialog-content>
    <form #form="ngForm" (ngSubmit)="submit()">
        <app-autofocus-stop></app-autofocus-stop>
        <app-selection-list
            #accountList="ngModel"
            [(ngModel)]="model.accounts"
            (ngModelChange)="onSelectAccount()"
            [elementName]="'Recipient'"
            [elements]="accounts"
            [clearOnSelect]="true"
            [placeholder]="'Add recipient'"
            [listDisabledTooltip]="getAccountTooltip"
            id="accountList"
            name="formAccountList"
        >
            <ng-template #element let-element>
                {{ getAccountName(element) }}
            </ng-template>
        </app-selection-list>
        <app-dropdown
            #rank="ngModel"
            [(ngModel)]="model.rank"
            (ngModelChange)="onSelectRank()"
            [elementName]="'Rank'"
            [elements]="ranks"
            [isRequired]="true"
            [placeholder]="'Select new rank'"
            id="rank"
            name="formRank"
        >
            <ng-template #element let-element>
                {{ getRankName(element) }}
            </ng-template>
        </app-dropdown>
        <mat-form-field>
            <textarea
                #reason="ngModel"
                [(ngModel)]="model.reason"
                id="reason"
                matAutosizeMaxRows="5"
                matAutosizeMinRows="2"
                matInput
                matTextareaAutosize
                name="formReason"
                placeholder="Reason"
                required
                type="text"
            ></textarea>
            <mat-error *ngFor="let validation of validationMessages.reason">
                <mat-error *ngIf="reason.hasError(validation.type)" class="error-message">{{ validation.message() }}</mat-error>
            </mat-error>
        </mat-form-field>
        <br />
        <app-form-value-debug-template></app-form-value-debug-template>
        <div class="button-container">
            <app-flex-filler></app-flex-filler>
            <app-button-pending (click)="submit()" [disabled]="!form.valid" [pending]="pending">Submit </app-button-pending>
        </div>
    </form>
</mat-dialog-content>
