@use '@angular/material' as mat;

@mixin message-modal-component-theme($theme) {
    $background: map-get($theme, background);

    app-message-modal {
        ::-webkit-scrollbar-track {
            background-color: mat.m2-get-color-from-palette($background, side-bar);
        }

        ::-webkit-scrollbar-thumb {
            background-color: mat.m2-get-color-from-palette($background, scroll-thumb);
        }
    }
}
