<app-default-content-areas>
    <app-main-content-area style="grid-column: span 3">
        <app-file-drop (onFileOver)="onFileOver()" (onFileLeave)="onFileLeave()" (onFileDrop)="onFileDrop($event)">
            <div #missionsContainer class="missions-page" [class.fileDragging]="fileDragging">
                <div class="missions-header">
                    <h2>Missions</h2>
                    <app-flex-filler></app-flex-filler>
                    <div class="header-buttons">
                        <app-text-input-boxed class="filter-input" placeholder="Filter" leadingIcon="search" [(ngModel)]="filterString" [clearable]="true" [reserveErrorSpace]="false" (input)="onFilterChanged()" (cleared)="onFilterChanged()"></app-text-input-boxed>
                        <button mat-raised-button [matMenuTriggerFor]="sortMenu">
                            <mat-icon class="icon-right">sort</mat-icon>
                            Sort
                        </button>
                        <mat-menu #sortMenu="matMenu">
                            @for (def of sortDefinitions; track trackBySortName($index, def)) {
                                <button mat-menu-item [disabled]="sortField === def.field && sortDirection === def.direction" (click)="sort(def.field, def.direction)">
                                    {{ def.name }}
                                </button>
                            }
                        </mat-menu>
                        <button mat-raised-button class="group-by-button" (click)="toggleGroupByMap()">
                            <mat-icon class="icon-right">group</mat-icon>
                            {{ groupByMap ? 'Ungroup' : 'Group by Map' }}
                        </button>
                        <button (click)="uploader.click()" [disabled]="uploading" [class.uploading]="uploading" class="uploading-button" color="primary" mat-raised-button>
                            @if (!uploading) {
                                <span>Upload Mission</span>
                            } @else {
                                <mat-icon class="uploading-icon">autorenew</mat-icon>
                            }
                        </button>
                        <input #uploader type="file" accept=".pbo" multiple hidden (change)="uploadFromButton($event)">
                    </div>
                </div>

                <mat-accordion class="missions-accordion" multi>
                    <mat-expansion-panel class="section-panel" [togglePosition]="'before'" [expanded]="true">
                        <mat-expansion-panel-header appSpotlight [spotlightContain]="true" [collapsedHeight]="'36px'" [expandedHeight]="'36px'">
                            <mat-panel-title>Active <span class="count">({{ filteredActiveMissions.length }})</span></mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            @if (groupByMap) {
                                <mat-accordion class="map-accordion" multi>
                                    @for (group of filteredActiveGroups; track trackByMapGroup($index, group)) {
                                        <mat-expansion-panel class="map-panel" [togglePosition]="'before'" [expanded]="false" [style.--map-border]="mapBorderColour(group.map)">
                                            <mat-expansion-panel-header appSpotlight [spotlightContain]="true" [collapsedHeight]="'36px'" [expandedHeight]="'36px'">
                                                <mat-panel-title>
                                                    {{ group.map }} <span class="count">({{ group.missions.length }})</span>
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <ng-template matExpansionPanelContent>
                                                @for (mission of group.missions; track trackByMissionPath($index, mission)) {
                                                    <mat-card class="mission-row">
                                                        <div class="mission-info">
                                                            <span class="mission-name">{{ mission.name }}</span>
                                                            <span class="mission-size">{{ mission.size | fileSize }}</span>
                                                            <span class="mission-date" matTooltip="Last modified">{{ mission.lastModified | date:'dd/MM/yy, HH:mm' }}</span>
                                                        </div>
                                                        <div class="mission-actions">
                                                            <button mat-icon-button (click)="download(mission)" matTooltip="Download">
                                                                <mat-icon>download</mat-icon>
                                                            </button>
                                                            <button mat-icon-button (click)="archive(mission)" matTooltip="Archive">
                                                                <mat-icon>archive</mat-icon>
                                                            </button>
                                                            <button mat-icon-button (click)="deleteMission(mission)" matTooltip="Delete">
                                                                <mat-icon>delete</mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-card>
                                                }
                                            </ng-template>
                                        </mat-expansion-panel>
                                    }
                                </mat-accordion>
                                @if (filteredActiveGroups.length === 0) {
                                    <div class="empty-state">No active missions</div>
                                }
                            } @else {
                                @for (mission of filteredActiveMissions; track trackByMissionPath($index, mission)) {
                                    <mat-card class="mission-row with-border" [style.border-left-color]="mapBorderColour(mission.map)">
                                        <span class="map-label" [style.font-size]="mapFontSize(mission.map)">{{ capitalise(mission.map) }}</span>
                                        <div class="mission-info">
                                            <span class="mission-name">{{ mission.name }}</span>
                                            <span class="mission-size">{{ mission.size | fileSize }}</span>
                                            <span class="mission-date" matTooltip="Last modified">{{ mission.lastModified | date:'dd/MM/yy, HH:mm' }}</span>
                                        </div>
                                        <div class="mission-actions">
                                            <button mat-icon-button (click)="download(mission)" matTooltip="Download">
                                                <mat-icon>download</mat-icon>
                                            </button>
                                            <button mat-icon-button (click)="archive(mission)" matTooltip="Archive">
                                                <mat-icon>archive</mat-icon>
                                            </button>
                                            <button mat-icon-button (click)="deleteMission(mission)" matTooltip="Delete">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </div>
                                    </mat-card>
                                }
                                @if (filteredActiveMissions.length === 0) {
                                    <div class="empty-state">No active missions</div>
                                }
                            }
                        </ng-template>
                    </mat-expansion-panel>

                    <mat-expansion-panel class="section-panel" [togglePosition]="'before'" [expanded]="false">
                        <mat-expansion-panel-header appSpotlight [spotlightContain]="true" [collapsedHeight]="'36px'" [expandedHeight]="'36px'">
                            <mat-panel-title>Archived <span class="count">({{ filteredArchivedMissions.length }})</span></mat-panel-title>
                        </mat-expansion-panel-header>
                        <ng-template matExpansionPanelContent>
                            @if (groupByMap) {
                                <mat-accordion class="map-accordion" multi>
                                    @for (group of filteredArchivedGroups; track trackByMapGroup($index, group)) {
                                        <mat-expansion-panel class="map-panel" [togglePosition]="'before'" [expanded]="false" [style.--map-border]="mapBorderColour(group.map)">
                                            <mat-expansion-panel-header appSpotlight [spotlightContain]="true" [collapsedHeight]="'36px'" [expandedHeight]="'36px'">
                                                <mat-panel-title>
                                                    {{ group.map }} <span class="count">({{ group.missions.length }})</span>
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <ng-template matExpansionPanelContent>
                                                @for (mission of group.missions; track trackByMissionPath($index, mission)) {
                                                    <mat-card class="mission-row">
                                                        <div class="mission-info">
                                                            <span class="mission-name">{{ mission.name }}</span>
                                                            <span class="mission-size">{{ mission.size | fileSize }}</span>
                                                            <span class="mission-date" matTooltip="Last modified">{{ mission.lastModified | date:'dd/MM/yy, HH:mm' }}</span>
                                                        </div>
                                                        <div class="mission-actions">
                                                            <button mat-icon-button (click)="download(mission)" matTooltip="Download">
                                                                <mat-icon>download</mat-icon>
                                                            </button>
                                                            <button mat-icon-button (click)="restore(mission)" matTooltip="Restore">
                                                                <mat-icon>unarchive</mat-icon>
                                                            </button>
                                                            <button mat-icon-button (click)="deleteMission(mission)" matTooltip="Delete">
                                                                <mat-icon>delete</mat-icon>
                                                            </button>
                                                        </div>
                                                    </mat-card>
                                                }
                                            </ng-template>
                                        </mat-expansion-panel>
                                    }
                                </mat-accordion>
                                @if (filteredArchivedGroups.length === 0) {
                                    <div class="empty-state">No archived missions</div>
                                }
                            } @else {
                                @for (mission of filteredArchivedMissions; track trackByMissionPath($index, mission)) {
                                    <mat-card class="mission-row with-border" [style.border-left-color]="mapBorderColour(mission.map)">
                                        <span class="map-label" [style.font-size]="mapFontSize(mission.map)">{{ capitalise(mission.map) }}</span>
                                        <div class="mission-info">
                                            <span class="mission-name">{{ mission.name }}</span>
                                            <span class="mission-size">{{ mission.size | fileSize }}</span>
                                            <span class="mission-date" matTooltip="Last modified">{{ mission.lastModified | date:'dd/MM/yy, HH:mm' }}</span>
                                        </div>
                                        <div class="mission-actions">
                                            <button mat-icon-button (click)="download(mission)" matTooltip="Download">
                                                <mat-icon>download</mat-icon>
                                            </button>
                                            <button mat-icon-button (click)="restore(mission)" matTooltip="Restore">
                                                <mat-icon>unarchive</mat-icon>
                                            </button>
                                            <button mat-icon-button (click)="deleteMission(mission)" matTooltip="Delete">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </div>
                                    </mat-card>
                                }
                                @if (filteredArchivedMissions.length === 0) {
                                    <div class="empty-state">No archived missions</div>
                                }
                            }
                        </ng-template>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            @if (fileDragging) {
                <div class="dropZone" [style.height.px]="dropZoneHeight">
                    <span>Drop mission files here to upload them</span>
                </div>
            }
        </app-file-drop>
    </app-main-content-area>
</app-default-content-areas>
