:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.aar-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    overflow: hidden;
    min-height: 0;

    ::ng-deep .nav-bar {
        padding-bottom: 0;
    }

    .iframe-wrapper {
        flex: 1;
        width: 100%;
        min-height: 0;

        iframe {
            width: 100%;
            height: 100%;
            border: none;
            display: block;
        }
    }
}
