.sidebar-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300px;

    .sidebar-header {
        display: flex;
        flex-direction: row;
        height: 36px;
        align-items: center;
        padding: 0 4px;
        cursor: default;
        box-shadow: 0 0 3px 0 #121212;

        .icon-container {
            display: flex;
            height: 30px;
            width: 30px;
            border-radius: 4px;

            .mat-icon {
                font-size: 30px;
                height: 30px;
                width: 30px;
                margin: auto;
                cursor: default;
            }
        }

        span {
            font-size: 16px;
            margin-left: 4px;
            align-self: flex-end;
            line-height: 32px;
        }

        .add-icon-container {
            display: flex;
            height: 26px;
            width: 26px;
            border-radius: 4px;

            .mat-icon {
                font-size: 24px;
                height: 24px;
                width: 24px;
                margin: auto;
                cursor: pointer;
            }
        }
    }

    .sidebar-content {
        padding: 0 4px 4px;
        height: calc(100% - 36px);
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.sidebar-collapse-container {
    display: flex;
    position: absolute;
    /* left: 0; */
    transform: translateX(300px);
    bottom: 8px;
    z-index: 1;

    .sidebar-collapse-button {
        display: flex;
        width: 48px;
        height: 48px;

        .sidebar-collapse-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            cursor: pointer;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;

            .mat-icon {
                font-size: 24px;
                height: 24px;
                width: 24px;
                transform: rotateZ(90deg);
            }
        }
    }
}

::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}
