@use 'styles/theme-helpers' as th;

@mixin app-component-theme($theme) {
    .wrapper {
        color: th.fg-base($theme);
        background-color: var(--uksf-background);

        .header {
            color: th.fg-base($theme);
            background-color: var(--uksf-app-bar);
        }

        .sideboard {
            color: th.fg-base($theme);
            background-color: var(--uksf-side-bar);
        }

        .board {
            color: th.fg-base($theme);
            background-color: var(--uksf-background);
        }
    }

    @media screen and (max-width: 1024px) {
        .wrapper {
            .small-footer {
                background-color: black;
            }
        }
    }
}
