.nav-bar {
    padding: 0;
}

.flex-container {
    flex-direction: row;

    .history-container {
        display: flex;
        flex-direction: column;
        width: 110px;
        text-align: center;
        overflow-y: scroll;
        position: absolute;
        left: 225px;
        top: 123px;
        bottom: 0;

        &.builds {
            left: 0;
            top: 0;
            width: 110px;
        }

        .history-item {
            height: 50px;
            font-size: 20px;
            line-height: 50px;
            cursor: pointer;

            &.no-select {
                cursor: default;
            }
        }
    }

    .release-container {
        position: absolute;
        left: 335px;
        top: 123px;
        bottom: 0;
        right: 0;

        .build-container {
            overflow-y: auto;
            position: absolute;
            left: 110px;
            top: 0;
            bottom: 35px;
            right: 0;
            display: flex;
            flex-direction: column;

            .build-header {
                display: flex;
                flex-direction: row;
                padding: 0 16px;

                .build-title {
                    margin: 15px 0;
                }

                .buttons {
                    display: flex;
                    flex-direction: row;

                    .mat-raised-button {
                        margin-left: 5px;
                        height: fit-content;
                        align-self: center;
                    }
                }
            }

            .build-content {
                overflow-y: auto;
                position: relative;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;

                & {
                    padding: 0 16px;
                }

                .build-description {
                    white-space: pre-wrap;
                    margin: 0;
                    padding-bottom: 12px;
                }

                .build-changelog {
                    padding-bottom: 24px;
                }
            }

            &.log {
                padding: 0;

                .log-steps {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    bottom: 0;
                    top: 0;
                    width: 150px;

                    h3 {
                        text-align: center;
                        margin: 0;
                        padding: 12px 0;
                        height: 50px;
                    }

                    .steps-container {
                        overflow-y: auto;

                        .build-step-item {
                            display: flex;
                            flex-direction: row;
                            height: 40px;
                            padding-right: 6px;
                            font-size: 16px;
                            line-height: 40px;
                            cursor: pointer;

                            .wide {
                                display: block;
                            }

                            .narrow {
                                display: none;
                            }
                        }
                    }
                }

                .log-output {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    padding: 0 16px 16px 16px;
                    position: absolute;
                    left: 150px;
                    right: 0;
                    top: 0;
                    bottom: 0;

                    .log-output-header {
                        display: flex;
                        flex-direction: row;
                        margin-bottom: 8px;

                        .build-step-title {
                            display: flex;
                            flex-direction: row;

                            i {
                                margin: 0 8px 0 0;
                                font-size: 30px;
                            }

                            .build-title {
                                margin: 15px 0;
                            }
                        }

                        .buttons {
                            display: flex;
                            flex-direction: row;

                            .mat-raised-button {
                                margin-left: 5px;
                                height: fit-content;
                                align-self: center;
                            }
                        }
                    }

                    .build-log {
                        flex: 1;
                        overflow-y: auto;

                        .log-item {
                            font-family: Menlo, Consolas, Courier New, monospace;
                            padding-left: 8px;
                            display: flex;
                            white-space: pre-wrap;
                            word-break: break-word;

                            .index {
                                min-width: fit-content;
                                padding-right: 16px;
                            }
                        }
                    }
                }

                i {
                    margin: 0 8px;
                    align-self: center;

                    &.running {
                        color: #0c78ff;
                    }

                    &.success {
                        color: green;
                    }

                    &.fail {
                        color: red;
                    }

                    &.cancelled {
                        color: goldenrod;
                    }
                }
            }

            .state {
                align-self: center;
                margin: 0 5px;
                font-size: 18px;

                .running {
                    color: #0c78ff;
                }

                .success {
                    color: green;
                }

                .fail {
                    color: red;
                }

                .cancelled {
                    color: goldenrod;
                }
            }
        }

        .build-footer {
            display: flex;
            flex-direction: row;
            height: 35px;
            position: absolute;
            bottom: 0;
            left: 110px;
            right: 0;
            align-items: center;

            .footer-item {
                padding: 0 10px;

                &:last-child {
                    padding-left: 0;
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

@media only screen and (max-width: 1360px) {
    .flex-container {
        .history-container {
            left: 200px;
            width: 90px;

            &.builds {
                width: 90px;
            }

            .history-item {
                height: 37px;
                font-size: 16px;
                line-height: 37px;
            }
        }

        .release-container {
            left: 290px;

            .build-container {
                left: 90px;

                &.log {
                    .log-steps {
                        width: 130px;

                        h3 {
                            font-size: 20px;
                        }

                        .steps-container {
                            .build-step-item {
                                height: 35px;
                                padding-right: 3px;
                                font-size: 14px;
                                line-height: 35px;
                            }
                        }
                    }

                    .log-output {
                        left: 130px;
                    }
                }
            }

            .build-footer {
                left: 90px;
            }
        }
    }
}

@media only screen and (max-width: 1150px) {
    .flex-container {
        .release-container {
            .build-container {
                .build-header {
                    .build-title {
                        font-size: 28px;
                    }
                }

                &.log {
                    .log-output {
                        .log-output-header {
                            .build-step-title {
                                i {
                                    font-size: 24px;
                                }

                                .build-title {
                                    font-size: 28px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .flex-container {
        .history-container {
            left: 0;
            top: 175px;
            bottom: 30px;
            width: 80px;

            &.builds {
                bottom: 0;
                width: 75px;
            }

            .history-item {
                height: 35px;
                font-size: 14px;
                line-height: 35px;
            }
        }

        .release-container {
            left: 80px;
            top: 175px;
            bottom: 30px;

            .build-container {
                left: 75px;
            }

            .build-footer {
                left: 75px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .flex-container {
        .history-container {
            top: 138px;
        }

        .release-container {
            top: 138px;

            .build-container {
                bottom: 30px;

                .build-header {
                    flex-direction: column-reverse;
                    padding-top: 12px;

                    .buttons {
                        flex-direction: row;
                    }
                }

                &.log {
                    .log-output {
                        .log-output-header {
                            flex-direction: column-reverse;
                            padding-top: 12px;

                            .buttons {
                                flex-direction: row;

                                .mat-raised-button {
                                    align-self: flex-end;
                                }
                            }
                        }
                    }
                }
            }

            .build-footer {
                height: 30px;
                font-size: 13px;

                .footer-item {
                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .flex-container {
        flex-direction: row;

        .history-container {
            flex-direction: row;
            width: 100%;
            height: 35px;
            overflow-y: auto;
            overflow-x: scroll;

            &.builds {
                left: 0;
                top: 0;
                width: 100%;

                .history-item {
                    min-width: 75px;
                }
            }

            .history-item {
                height: 30px;
                min-width: 95px;
                font-size: 14px;
                line-height: 30px;
                padding: 1px 10px;
            }
        }

        .release-container {
            top: 173px;
            left: 0;

            .build-container {
                left: 0;
                top: 35px;
                bottom: 25px;

                .build-header {
                    .build-title {
                        font-size: 26px;
                    }
                }

                .build-content {
                    .build-description {
                        font-size: 22px;
                    }
                }

                &.log {
                    .log-steps {
                        width: 55px;

                        h3 {
                            display: none;
                        }

                        .steps-container {
                            .build-step-item {
                                height: 35px;
                                padding-right: 3px;
                                font-size: 14px;
                                line-height: 35px;

                                .wide {
                                    display: none;
                                }

                                .narrow {
                                    display: block;
                                }
                            }
                        }
                    }

                    .log-output {
                        left: 55px;
                    }
                }
            }

            .build-footer {
                height: 25px;
                left: 0;
                font-size: 12px;
            }
        }
    }
}

@media only screen and (max-width: 475px) {
    .flex-container {
        .release-container {
            .build-container {
                &.log {
                    .log-output {
                        .log-output-header {
                            .buttons {
                                flex-direction: column;
                                align-self: flex-start;
                                padding-top: 0;

                                .state {
                                    margin: 0;
                                    align-self: flex-start;
                                }

                                .mat-raised-button {
                                    margin-left: 0;
                                    margin-top: 5px;
                                    align-self: flex-start;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .flex-container {
        .history-container {
            top: 124px;
        }

        .release-container {
            top: 159px;

            .build-container {
                .build-header {
                    .buttons {
                        flex-direction: column;
                        align-self: flex-start;
                        padding-top: 0;

                        .state {
                            margin: 0;
                            align-self: flex-start;
                        }

                        .mat-raised-button {
                            margin-left: 0;
                            margin-top: 5px;
                            align-self: flex-start;
                        }
                    }
                }
            }
        }
    }
}
