@use '@angular/material' as mat;
@import '@angular/material/theming';

@mixin personnel-loas-list-component-theme($theme) {
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);

    app-personnel-loas-list {
        .list-container {
            .mat-mdc-card {
                &.hover:hover {
                    background-color: mat.get-color-from-palette($background, hover);
                }

                .header-container {
                    .description {
                        &.pending {
                            color: goldenrod;
                        }

                        &.approved {
                            color: green;
                        }

                        &.rejected {
                            color: red;
                        }
                    }
                }
            }
        }
    }
}
