<div class="list-container">
    <div class="list-header">
        <h3>{{ selectionMode | titlecase }}</h3>
        <app-paginator [total]="totalLoas" (page)="page($event)" [hidden]="totalLoas == 0"></app-paginator>
    </div>
    @if (!loaded) {
    <div class="spinner-container1">
        <mat-spinner></mat-spinner>
    </div>
    } @if (loaded && totalLoas == 0) {
    <p>No {{ selectionMode }} LOAs</p>
    } @if (loaded && totalLoas > 0) {
    <mat-accordion>
        @for (loa of loas; track trackByLoa(loaIndex, loa); let loaIndex = $index) {
        <mat-card [ngClass]="{ disable: !loa._canViewReason }">
            <div class="header-container" appSpotlight (click)="activate(loaIndex)">
                <div class="toggle" [@indicatorRotate]="getExpandedState(loaIndex)" [ngClass]="{ disable: !loa._canViewReason }"></div>
                <div class="title-container">
                    <div class="date-container">
                        <div class="title start">
                            {{ loa.start | date : 'dd MMM yy' : 'Europe/London' }}
                        </div>
                        <div class="title to"><mat-icon>east</mat-icon></div>
                        <div class="title end">
                            {{ loa.end | date : 'dd MMM yy' : 'Europe/London' }}
                        </div>
                    </div>
                    <mat-divider [vertical]="true"></mat-divider>
                    <div class="description name">
                        {{ loa.name }}
                    </div>
                </div>
                <app-flex-filler></app-flex-filler>
                <div class="description-container">
                    @if (loa.emergency) {
                    <div class="description end rejected">Emergency</div>
                    } @if (loa.late && !loa.emergency) {
                    <div class="description end pending">Late</div>
                    } @if (loa.longTerm) {
                    <div class="description end pending">Long Term</div>
                    } @if (loa.state === loaReviewState.PENDING) {
                    <div class="description state-icon pending"><mat-icon>schedule</mat-icon></div>
                    } @if (loa.state === loaReviewState.APPROVED) {
                    <div class="description state-icon approved"><mat-icon>check_circle_outline</mat-icon></div>
                    } @if (loa.state === loaReviewState.REJECTED) {
                    <div class="description state-icon rejected"><mat-icon>remove_circle_outline</mat-icon></div>
                    }
                </div>
            </div>
            @if (loaIndex === selectedIndex && loa._canViewReason) {
            <div class="content-container" [@bodyExpansion]>
                <div class="content-body">
                    <div class="requested">
                        <span><b>Requested</b></span>
                        <span>{{ loa.submitted | date : 'd MMM y, HH:mm' : 'Europe/London' }}</span>
                    </div>
                    <div class="content">
                        <div class="reason">
                            <span><b>Reason</b></span>
                            <span>{{ loa.reason }}</span>
                        </div>
                        @if (loa._canDelete) {
                        <button mat-raised-button color="primary" (click)="$event.stopPropagation(); delete(loa)">Delete</button>
                        }
                    </div>
                </div>
            </div>
            }
        </mat-card>
        }
    </mat-accordion>
    }
</div>
