@use '@angular/material' as mat;

@mixin personnel-loas-list-component-theme($theme) {
    $background: map-get($theme, background);
    $primary: map-get($theme, primary);

    app-personnel-loas-list {
        .list-container {
            .mat-mdc-card {
                .header-container {
                    .description {
                        &.pending {
                            color: goldenrod;
                        }

                        &.approved {
                            color: green;
                        }

                        &.rejected {
                            color: red;
                        }
                    }
                }
            }
        }
    }
}
