.spinner-container1 {
    display: flex;
    justify-content: center;
    margin: auto;
}

.list-container {
    margin-bottom: 20px;

    .list-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        h3 {
            margin: 12px 0;
        }
    }

    .mat-mdc-card {
        cursor: pointer;
        padding: 0;
        overflow: hidden;

        &.disable {
            pointer-events: none;
        }

        .header-container {
            display: flex;
            flex-direction: row;
            padding: 0 24px 0 12px;
            height: 40px;
            line-height: 40px;

            .title-container {
                display: flex;
                flex-direction: row;
                flex-grow: 1;

                .date-container {
                    display: flex;
                    align-items: center;

                    .title {
                        font-size: 15px;
                        display: flex;

                        &.start {
                            justify-content: flex-start;
                            width: 75px;
                        }

                        &.end {
                            justify-content: flex-end;
                            width: 75px;
                        }

                        &.to {
                            justify-content: center;
                            min-width: 20px;
                            margin: 0 10px;

                            .mat-icon {
                                font-size: 20px;
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }

                .mat-divider {
                    margin: 0 20px;
                    height: 25px;
                    align-self: center;
                }
            }

            .description-container {
                display: flex;
            }

            .description {
                display: flex;
                flex-grow: 1;
                align-items: center;
                font-size: 15px;

                &.end {
                    justify-content: flex-end;
                    margin-left: 16px;
                }

                &.state-icon {
                    margin-left: 8px;
                }
            }

            .toggle {
                height: fit-content;
                align-self: center;
                margin-right: 12px;

                &.disable {
                    opacity: 0;
                    pointer-events: none;
                }

                &::after {
                    content: '';
                    border-style: solid;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 3px;
                    transform: rotate(45deg) translate(-1px, -1px);
                    vertical-align: middle;
                }
            }
        }
    }

    .content-container {
        overflow: visible;

        .content-body {
            padding: 0 24px 16px 32px;
            display: flex;
            flex-direction: column;
            flex: 1;

            .requested {
                display: flex;
                flex-direction: column;
                padding-bottom: 8px;
            }

            .content {
                display: flex;
                flex-direction: row;
                flex: 1;
                justify-content: space-between;
                align-items: center;

                .reason {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    padding-right: 16px;
                }

                .mat-mdc-raised-button {
                    align-self: flex-end;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .list-container {
        .mat-mdc-card {
            .header-container {
                padding: 0 10px;

                .title-container {
                    .date-container {
                        .title {
                            font-size: 11px;

                            &.start {
                                width: 54px;
                            }

                            &.end {
                                width: 54px;
                            }

                            &.to {
                                min-width: 12px;
                                font-size: 9px;
                                margin: 0;

                                .mat-icon {
                                    font-size: 16px;
                                    width: 16px;
                                    height: 17px;
                                }
                            }
                        }
                    }

                    .mat-divider {
                        margin: 0 10px;
                    }
                }

                .name {
                    font-size: 11px;
                    margin-right: 4px;
                }

                .description {
                    font-size: 11px;

                    &.end {
                        margin-left: 4px;
                        white-space: nowrap;
                    }
                }
            }

            .content-container {
                .content-body {
                    padding: 0 12px 8px 30px;

                    .requested {
                        font-size: 11px;
                    }

                    .content {
                        font-size: 11px;
                    }
                }
            }
        }
    }
}
