@use 'styles/theme-helpers' as th;

@mixin units-orbat-aux-component-theme($theme) {
    app-units-orbat-aux {
        ::-webkit-scrollbar-track {
            background-color: var(--uksf-card);
        }

        ::-webkit-scrollbar-thumb {
            background-color: var(--uksf-hover);
        }

        .p-organizationchart {
            .p-organizationchart-line-down {
                background-color: var(--uksf-org-line);
            }

            .p-organizationchart-line-left {
                border-right: 1px solid var(--uksf-org-line);
            }

            .p-organizationchart-line-top {
                border-top: 1px solid var(--uksf-org-line);
            }

            .p-organizationchart-node-content {
                border-color: var(--uksf-org-line);

                .p-node-toggler {
                    color: var(--uksf-org-line);
                }

                &.p-organizationchart-selectable-node {
                    &:hover {
                        border-color: var(--uksf-org-line);
                        background-color: var(--uksf-org-hover);
                        color: th.fg-base($theme);

                        h4 {
                            color: th.primary($theme);
                        }

                        a {
                            color: th.primary($theme);
                        }
                    }
                }
            }

            .p-widget-content {
                color: th.fg-base($theme);
                background-color: var(--uksf-org-content);

                h4 {
                    color: th.fg-base($theme);
                    background-color: transparent;
                }
            }
        }
    }
}
