@use '@angular/material' as mat;
@use 'sass:map';
@mixin loading-placeholder-component-theme($theme) {
    $background: map.get($theme, background);

    app-loading-placeholder {
        .loading-shimmer {
            background-color: mat.m2-get-color-from-palette($background, 550);
            background-image: linear-gradient(60deg, mat.m2-get-color-from-palette($background, 550), mat.m2-get-color-from-palette($background, 600), mat.m2-get-color-from-palette($background, 550));
        }
    }
}
