@mixin loading-placeholder-component-theme($theme) {
    app-loading-placeholder {
        .loading-shimmer {
            background-color: var(--uksf-gray-550);
            background-image: linear-gradient(60deg, var(--uksf-gray-550), var(--uksf-gray-600), var(--uksf-gray-550));
        }
    }
}
