<h2 mat-dialog-title>Edit unit</h2>
<mat-dialog-content>
    <form [formGroup]="unitEditForm">
        <div style="display:flex;width:100%">
            <img [src]="imageSource" style="width:100px;height:100px;margin-right:10px;">
            <div style="width:100%;clear:right;">
                <mat-icon matTooltip="Upload to imgur, provide url" style="width:100%;margin-bottom: 25px;font-size:14px;">
                    <span>
                        <mat-form-field style="width:100%;clear:right;">
                            <input matInput placeholder="Icon URL" formControlName="icon">
                        </mat-form-field>
                    </span>
                </mat-icon>
                <mat-form-field style="width:100%;clear:right;">
                    <input matInput placeholder="Callsign" formControlName="callsign">
                </mat-form-field>
            </div>
        </div>
        <h4>Dynamic fields</h4>

        <mat-grid-list cols="5" rowHeight="75px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                Unit code: 1para/s
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                Callsign: Guardian 1-1
            </mat-grid-tile>
        </mat-grid-list>
        <h4>Names</h4>
        <mat-form-field style="width:29%;">
            <input matInput placeholder="Short name" formControlName="shortname">
        </mat-form-field>
        <mat-form-field style="width:70%;clear:right;">
            <input matInput placeholder="Standard name" formControlName="standardname">
        </mat-form-field>
        <mat-form-field style="width:100%;clear:right;">
            <input matInput placeholder="Long name" formControlName="longname">
        </mat-form-field>
        <h4>Settings</h4>
        <mat-form-field style="width:50%;">
            <mat-select placeholder="Parent unit" formControlName="parent">
                <mat-option *ngFor="let parent of parents" [value]="parent.value">
                    {{ parent.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field style="width:49%;">
            <mat-select placeholder="Unit type" formControlName="type">
                <mat-option *ngFor="let food of unitsTypes" [value]="food.value">
                    {{ food.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field style="width:50%;">
            <mat-select placeholder="Branch" formControlName="branch">
                <mat-option [value]="0">
                    Combat
                </mat-option>
                <mat-option [value]="1">
                    Auxiliary
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</mat-dialog-content>
<button mat-button mat-dialog-close style="float:left;">Cancel</button>
<button mat-button mat-dialog-close style="float:right;" (click)="sendUpdate()">Save</button>
<br style="clear:both;">
