<div class="list-container">
    <div class="list-header">
        <h3>{{ selectionMode | titlecase }}</h3>
        <app-paginator [total]="totalLoas" (page)="page($event)" [hidden]="totalLoas == 0"></app-paginator>
    </div>
    <div class="spinner-container1" *ngIf="!loaded">
        <mat-spinner></mat-spinner>
    </div>
    <p *ngIf="loaded && totalLoas == 0">No {{ selectionMode }} LOAs</p>
    <mat-accordion *ngIf="loaded && totalLoas > 0">
        <mat-card *ngFor="let loa of loas; trackBy: trackByLoa; let loaIndex = index" (click)="activate(loaIndex)" [ngClass]="{ hover: loaIndex !== selectedIndex, disable: !canViewReason(loa) }">
            <div class="header-container">
                <div class="toggle" [@indicatorRotate]="getExpandedState(loaIndex)" [ngClass]="{ disable: !canViewReason(loa) }"></div>
                <div class="title-container">
                    <div class="date-container">
                        <div class="title start">
                            {{ loa.start | date: 'dd MMM yy':'Europe/London' }}
                        </div>
                        <div class="title to"><mat-icon>east</mat-icon></div>
                        <div class="title end">
                            {{ loa.end | date: 'dd MMM yy':'Europe/London' }}
                        </div>
                    </div>
                    <mat-divider [vertical]="true"></mat-divider>
                    <div class="description name">
                        {{ loa.name }}
                    </div>
                </div>
                <app-flex-filler></app-flex-filler>
                <div class="description-container">
                    <div *ngIf="loa.emergency" class="description end rejected">Emergency</div>
                    <div *ngIf="loa.late && !loa.emergency" class="description end pending">Late</div>
                    <div *ngIf="loa.longTerm" class="description end pending">Long Term</div>
                    <div *ngIf="loa.state === loaReviewState.PENDING" class="description state-icon pending"><mat-icon>schedule</mat-icon></div>
                    <div *ngIf="loa.state === loaReviewState.APPROVED" class="description state-icon approved"><mat-icon>check_circle_outline</mat-icon></div>
                    <div *ngIf="loa.state === loaReviewState.REJECTED" class="description state-icon rejected"><mat-icon>remove_circle_outline</mat-icon></div>
                </div>
            </div>

            <div class="content-container" *ngIf="loaIndex === selectedIndex && canViewReason(loa)" [@bodyExpansion]>
                <div class="content-body">
                    <div class="requested">
                        <span><b>Requested</b></span>
                        <span>{{ loa.submitted | date: 'dd/MM/yyyy HH:mm':'Europe/London' }}</span>
                    </div>
                    <div class="content">
                        <div class="reason">
                            <span><b>Reason</b></span>
                            <span>{{ loa.reason }}</span>
                        </div>
                        <button mat-raised-button *ngIf="canDelete(loa)" color="primary" (click)="$event.stopPropagation(); delete(loa)">Delete</button>
                    </div>
                </div>
            </div>
        </mat-card>
    </mat-accordion>
</div>
