.sideNav {
    .sideNavItem {
        padding-left: 30px;
        display: flex;
        flex-direction: row;
        line-height: 48px;
        font-size: large;
        align-items: center;

        &.selected {
            &:hover {
                cursor: pointer;
            }
        }

        &:hover {
            cursor: pointer;
        }

        .mat-icon {
            margin-right: 20px;
            transform: rotate(0.03deg);
        }

        span {
            height: 100%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .sideNav {
        display: flex;
        overflow-x: auto;
        justify-content: center;

        .sideNavItem {
            padding: 5px 8px;
            font-size: small;
            flex-direction: column;
            line-height: unset;

            &.selected {
                box-shadow: unset;
            }

            .mat-icon {
                margin: 0px;
            }

            &:first-of-type {
                padding-left: 10px;
            }

            &:last-of-type {
                padding-right: 10px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .sideNav {
        .sideNavItem {
            .mat-icon {
                margin: 0px;
                font-size: 20px;
                height: 20px;
                width: 20px;
            }

            span {
                font-size: 10px;
            }
        }
        .newVersionNavItem {
            justify-content: center;
            span {
                white-space: nowrap;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .sideNav {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 374px) {
    .sideNav {
        .sideNavItem {
            padding: 8px;
            span {
                display: none;
            }
        }
    }
}
