<div class="unit-node" [class.has-body]="!isEmpty">
    <div class="un-head">{{ name }}</div>
    @if (!isEmpty) {
    <div class="un-body">
        @for (m of members; track m.name) {
        <div class="un-row">
            <span class="un-name" [class.att]="m.isAttachedMedic">{{ m.name }}</span>
            @if (m.chainOfCommandPosition) {
            <span class="un-pill">{{ m.chainOfCommandPosition }}</span>
            } @else if (m.isAttachedMedic) {
            <mat-icon class="un-medic" matTooltip="Attached combat medic">medical_services</mat-icon>
            } @else if (m.attachedTroopName) {
            <span class="un-troop" [matTooltip]="'Combat medic attached to ' + m.attachedTroopName">
                <mat-icon>medical_services</mat-icon>{{ m.attachedTroopName }}
            </span>
            }
        </div>
        }
    </div>
    }
</div>
