<form [formGroup]="form" class="selection-list-form">
    @if (listPosition === 'top') {
    <div class="selection-list-container" [ngClass]="{ empty: listModel.length === 0, disabled: disabled }">
        @for (element of listModel; track trackByDefault($index, element)) {
        <div class="selection-element">
            <span [matTooltipDisabled]="!element.disabled" [matTooltip]="listDisabledTooltip(element)" [ngClass]="{ disabled: element.disabled }">{{ element.displayValue }}</span>
            <app-flex-filler></app-flex-filler>
            @if (!disabled) {
            <mat-icon class="remove" (click)="remove(element)" matTooltip="Remove from selection"> highlight_off </mat-icon>
            }
        </div>
        }
    </div>
    }
    <input formControlName="list" autocomplete="off" hidden tabindex="-1" name="list" />
    <div class="form-field-wrapper" [class.form-field-focused]="focused" [class.form-field-has-error]="hasListError" [class.form-field-disabled]="disabled" [ngClass]="formFieldClass">
        <div class="form-field">
            @if (placeholder) {
            <label class="form-field-label" [class.required]="required" [class.floating]="labelFloating" [attr.for]="inputId">{{ placeholder }}</label>
            }
            <input
                #textInput
                [id]="inputId"
                [attr.aria-describedby]="showErrors && hasListError ? inputId + '-error' : null"
                formControlName="textInput"
                [matAutocomplete]="auto"
                [required]="required"
                spellcheck="false"
                type="text"
                name="textInput"
                autocomplete="off"
                [attr.disabled]="disabled ? '' : null"
                [matTooltip]="inputTooltip"
                (focus)="onInputFocus()"
                (blur)="onInputBlur()"
            />
            @if (textModel && !disabled) {
            <button type="button" class="form-field-clear" aria-label="Clear" (click)="clearTextInput(); $event.stopPropagation()">
                <mat-icon>close</mat-icon>
            </button>
            }
        </div>
        <div [id]="inputId + '-error'" class="form-field-error" [class.visible]="showErrors && hasListError" [class.reserve-space]="reserveErrorSpace">
            {{ listErrorMessage }}
        </div>
    </div>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelect($event)" [displayWith]="autoDisplayWith" [autoActiveFirstOption]="false">
        <cdk-virtual-scroll-viewport [maxBufferPx]="1000" [minBufferPx]="600" [ngStyle]="{ height: scrollPanelHeight }" itemSize="48">
            <mat-option
                *cdkVirtualFor="let element of filteredElements | async; trackBy: trackBy"
                [matTooltipDisabled]="tooltip === null"
                [matTooltipShowDelay]="150"
                [matTooltip]="getElementTooltip(element)"
                [ngClass]="optionClass"
                [value]="element"
                [disabled]="getElementDisabled(element)"
            >
                @if (elementTemplateRef) {
                <ng-container [ngTemplateOutletContext]="{ $implicit: element }" [ngTemplateOutlet]="elementTemplateRef"></ng-container>
                } @else {
                {{ displayWith(element) }}
                }
            </mat-option>
        </cdk-virtual-scroll-viewport>
    </mat-autocomplete>
    @if (listPosition === 'bottom') {
    <div class="selection-list-container" [ngClass]="{ empty: listModel.length === 0, disabled: disabled }">
        @for (element of listModel; track trackByDefault($index, element)) {
        <div class="selection-element">
            <span [matTooltipDisabled]="!element.disabled" [matTooltip]="listDisabledTooltip(element)" [ngClass]="{ disabled: element.disabled }">{{ element.displayValue }}</span>
            <app-flex-filler></app-flex-filler>
            @if (!disabled) {
            <mat-icon class="remove" (click)="remove(element)" matTooltip="Remove from selection"> highlight_off </mat-icon>
            }
        </div>
        }
    </div>
    }
</form>
