@use 'styles/form-field' as ff;

.selection-list-form {
    .selection-list-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 4px 0;

        &.empty {
            padding: 0;
        }

        .selection-element {
            flex: 1;
            display: flex;
            flex-direction: row;
            padding: 8px 16px;
            align-items: center;
            margin-bottom: 4px;
            border-radius: 4px;
            min-height: 40px;

            .disabled {
                text-decoration: line-through;
            }

            .remove {
                cursor: pointer;
            }
        }
    }
}

.form-field-wrapper { @include ff.wrapper(); }
.form-field { @include ff.field(); }
.form-field-label { @include ff.label(); }
.form-field-clear { @include ff.clear-button(); }
.form-field-error { @include ff.error(); }

::ng-deep .cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
    width: 100%;
    min-width: unset;
}
