@use '@angular/material' as mat;
@mixin selection-list-component-theme($theme) {
    $background: map-get($theme, background);

    app-selection-list {
        .selection-list-form {
            .selection-list-container {
                &.disabled {
                    color: rgba(255, 255, 255, 0.3);
                }

                .selection-element {
                    background-color: mat.m2-get-color-from-palette($background, selected);

                    .disabled {
                        color: rgba(255, 255, 255, 0.3);
                    }

                    .remove {
                        color: red;
                    }
                }
            }
        }
    }
}
