@mixin selection-list-component-theme($theme) {
    app-selection-list {
        .selection-list-form {
            .selection-list-container {
                &.disabled {
                    color: rgba(255, 255, 255, 0.3);
                }

                .selection-element {
                    background-color: var(--uksf-selected);

                    .disabled {
                        color: rgba(255, 255, 255, 0.3);
                    }

                    .remove {
                        color: red;
                    }
                }
            }
        }
    }
}
