<div *ngIf="!sent">
    <h2 mat-dialog-title>Request Password Reset</h2>
    <form #form="ngForm" (ngSubmit)="submit()">
        <div class="special-field-form-container">
            <label for="name">If you see this, keep this field blank</label>
            <input type="text" id="name" name="formName" [(ngModel)]="model.name" tabindex="-1" autocomplete="off" [maxLength]="0" />
        </div>
        <app-text-input class="full-width" label="Email Address" type="email"
            name="formEmail" [(ngModel)]="model.email" autocomplete="username"
            [required]="true" email
            [validationMessages]="validationMessages.email">
        </app-text-input>
        <app-button-hidden-submit></app-button-hidden-submit>
    </form>
    <div class="options-container">
        <app-flex-filler></app-flex-filler>
        <a class="option-link" (click)="returnToLogin()">Return to Login</a>
    </div>
    <div class="button-container">
        <app-button (clicked)="submit()" [disabled]="!form.valid" [pending]="pending">Request Reset</app-button>
    </div>
</div>
<div *ngIf="sent">
    <h2 mat-dialog-title>Password Reset Requested</h2>
    <p>If an associated account exists, an email with a link to reset your password will be sent shortly</p>
    <div class="options-container">
        <app-flex-filler></app-flex-filler>
        <a class="option-link" (click)="returnToLogin()">Return to Login</a>
    </div>
</div>
