@use '@angular/material' as mat;
@use 'sass:map';

@mixin personnel-roster-component-theme($theme) {
    $background: map.get($theme, background);
    $foreground: map.get($theme, foreground);
    $primary: map.get($theme, primary);

    app-personnel-roster {
        .mat-mdc-row:hover {
            background-color: mat.m2-get-color-from-palette($background, hover);
        }
    }
}
