<app-default-content-areas>
    <app-main-content-area style="grid-column: span 3">
        <div class="flex-container">
            <div class="spinner-container" *ngIf="!rosterData">
                <mat-spinner></mat-spinner>
            </div>
            <table mat-table class="table-container mat-elevation-z8" [dataSource]="rosterData">
                <ng-container matColumnDef="nation">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let member" [routerLink]="['/profile', member.id]">
                        <img src="{{ member.nation | countryImage }}" alt="{{ member.nation }}" />
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                    <mat-cell *matCellDef="let member" [routerLink]="['/profile', member.id]">
                        {{ member.name }}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="rank">
                    <mat-header-cell *matHeaderCellDef>Rank</mat-header-cell>
                    <mat-cell *matCellDef="let member" [routerLink]="['/profile', member.id]">{{ member.rank }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="roleAssignment">
                    <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
                    <mat-cell *matCellDef="let member" [routerLink]="['/profile', member.id]">{{ member.roleAssignment }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="unitAssignment">
                    <mat-header-cell *matHeaderCellDef>Unit</mat-header-cell>
                    <mat-cell *matCellDef="let member" [routerLink]="['/profile', member.id]">{{ member.unitAssignment }}</mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </table>
        </div>
    </app-main-content-area>
</app-default-content-areas>
