@use 'styles/variables' as v;

.flex-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 300px;
    min-height: 100px;
    font-size: 18px;

    span {
        white-space: pre-wrap;
    }

    .flex-container-row {
        display: flex;
        flex-direction: row;

        button {
            margin: 5px 0px 5px 5px;
        }

        .cancel {
            color: red;
        }
    }
}
