@use 'styles/theme-helpers' as th;

@mixin footer-bar-component-theme($theme) {
    app-footer-bar {
      background-color: var(--uksf-side-bar);

      .flex-container {
        .buttons-container {
          a {
            i {
              color: th.primary($theme);
            }
          }
        }

        .copyright {
          background-color: transparent;
                p {
                  color: th.fg-base($theme);
                }
            }
        }
    }

    @media screen and (max-width: 1024px) {
        app-footer-bar {
            background-color: black;
        }
    }
}
