@use '@angular/material' as mat;
@use 'sass:map';
@mixin footer-bar-component-theme($theme) {
    $foreground: map.get($theme, foreground);
    $background: map.get($theme, background);
    $primary: map.get($theme, primary);

    app-footer-bar {
      background-color: mat.m2-get-color-from-palette($background, side-bar);

      .flex-container {
        .buttons-container {
          a {
            i {
              color: mat.m2-get-color-from-palette($primary);
            }
          }
        }

        .copyright {
          background-color: transparent;
                p {
                  color: mat.m2-get-color-from-palette($foreground, base);
                }
            }
        }
    }

    @media screen and (max-width: 1024px) {
        app-footer-bar {
            background-color: black;
        }
    }
}
