<h2 mat-dialog-title>Forgot Password</h2>
<mat-dialog-content>
    <div *ngIf="!success">
        <form [formGroup]="form">
            <div class="special-field-form-container">
                <label for="name">If you see this, keep this field blank</label>
                <input type="text" id="name" formControlName="name" tabindex="-1" autocomplete="off" />
            </div>
            <mat-form-field style="width: 100%;">
                <input matInput formControlName="email" type="email" required placeholder="Email" autocomplete="username">
            </mat-form-field>
            <br>
            <mat-error *ngIf="form.errors != null">{{formErrors}}</mat-error>
            <div *ngIf="fail" style="color: red;">
                That email address is not associated with any account
            </div>
            <br>
            <div class="button-container">
                <button mat-raised-button color="primary" type="button" (click)="submit()" [disabled]="!isEmailValid()">Submit</button>
            </div>
        </form>
    </div>
    <div *ngIf="success">
        An email has been sent containing a password reset link
    </div>
</mat-dialog-content>
