@use 'styles/form-field' as ff;

:host {
    display: block;
    min-width: 120px;
}

.form-field-wrapper { @include ff.wrapper(); }
.form-field { @include ff.field(); }
.form-field-label { @include ff.label(); }
.form-field-clear { @include ff.clear-button(); }
.form-field-arrow { @include ff.arrow-button(); }
.form-field-error { @include ff.error(); }

.form-field-simple {
    cursor: pointer;

    input[readonly] {
        cursor: pointer;
    }
}

::ng-deep .cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
    width: 100%;
    min-width: unset;
}
