.mat-mdc-form-field {
    width: 100%;

    .mat-mdc-icon-button {
        background-color: transparent;
        margin-left: -21px;

        .mat-icon {
            margin: 0;
            height: 21px;
            line-height: 21px;
        }
    }
}

::ng-deep .cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
    width: 100%;
    min-width: unset;
}
