<form #form="ngForm">
    <input [(ngModel)]="model" autocomplete="off" hidden tabindex="-1" name="model" />
    <div class="form-field-wrapper" [class.form-field-focused]="focused" [class.form-field-has-error]="hasError" [class.form-field-disabled]="disabled" [ngClass]="formFieldClass">
        <div class="form-field" [class.form-field-simple]="!autocomplete" (click)="!autocomplete && !disabled ? openPanel() : null">
            @if (placeholder) {
            <label class="form-field-label" [class.required]="required" [class.floating]="labelFloating" [attr.for]="inputId">{{ placeholder }}</label>
            } @if (autocomplete && !allowFreeText) {
            <input
                #textInput="ngModel"
                [id]="inputId"
                [attr.aria-describedby]="showErrors && hasError ? inputId + '-error' : null"
                (ngModelChange)="onTextModelChange($event)"
                [(ngModel)]="textModel"
                [disabled]="disabled"
                [matAutocomplete]="auto"
                [mustSelectFromDropdownElementDisplayWith]="displayWith"
                [mustSelectFromDropdownElementMatcher]="elementMatcher"
                [mustSelectFromDropdownElements]="allElements"
                [required]="required"
                [placeholder]="inputPlaceholder"
                mustSelectFromDropdown
                spellcheck="false"
                type="text"
                name="textInput"
                autocomplete="off"
                (focus)="onInputFocus()"
                (blur)="onInputBlur()"
            />
            } @else if (autocomplete && allowFreeText) {
            <input
                #textInput="ngModel"
                [id]="inputId"
                (ngModelChange)="onTextModelChange($event)"
                [(ngModel)]="textModel"
                [disabled]="disabled"
                [matAutocomplete]="auto"
                [placeholder]="inputPlaceholder"
                spellcheck="false"
                type="text"
                name="textInput"
                autocomplete="off"
                (focus)="onInputFocus()"
                (blur)="onInputBlur()"
                (keydown.enter)="onFreeTextEnter($event)"
            />
            } @else {
            <input
                #textInput="ngModel"
                [id]="inputId"
                [attr.aria-describedby]="showErrors && hasError ? inputId + '-error' : null"
                [(ngModel)]="textModel"
                [disabled]="disabled"
                [matAutocomplete]="auto"
                [required]="required"
                readonly
                spellcheck="false"
                type="text"
                name="textInput"
                autocomplete="off"
                (focus)="onInputFocus()"
                (blur)="onInputBlur()"
            />
            } @if (autocomplete && textModel && !disabled) {
            <button type="button" class="form-field-clear" aria-label="Clear" (click)="clear(); $event.stopPropagation()">
                <mat-icon>close</mat-icon>
            </button>
            } @if (!autocomplete && !disabled) {
            <button type="button" class="form-field-arrow" aria-label="Open" (click)="openPanel(); $event.stopPropagation()">
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            }
        </div>
        <div [id]="inputId + '-error'" class="form-field-error" [class.visible]="showErrors && hasError" [class.reserve-space]="reserveErrorSpace">
            {{ errorMessage }}
        </div>
    </div>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelect($event)" [displayWith]="autoDisplayWith" [autoActiveFirstOption]="autocomplete">
        <cdk-virtual-scroll-viewport [maxBufferPx]="1000" [minBufferPx]="600" [ngStyle]="{ height: scrollPanelHeight }" itemSize="48">
            <mat-option
                *cdkVirtualFor="let element of filteredElements | async; trackBy: trackBy"
                [matTooltipDisabled]="tooltip === null"
                [matTooltipShowDelay]="150"
                [matTooltip]="getElementTooltip(element)"
                [ngClass]="optionClass"
                [value]="element"
                [disabled]="getElementDisabled(element)"
            >
                @if (elementTemplateRef) {
                <ng-container [ngTemplateOutletContext]="{ $implicit: element }" [ngTemplateOutlet]="elementTemplateRef"></ng-container>
                } @else {
                {{ displayWith(element) }}
                }
            </mat-option>
        </cdk-virtual-scroll-viewport>
    </mat-autocomplete>
</form>
