<app-default-content-areas>
    <app-theme-emitter></app-theme-emitter>
    <app-main-content-area>
        <div class="flex-container">
            <div class="applications">
                <h3 *ngIf="waiting.length > 0 || allWaiting.length > 0">Active Applications</h3>
                <div *ngIf="waiting.length == 0 && allWaiting.length > 0">
                    <h4>You have no active applications</h4>
                </div>
                <div *ngIf="waiting.length > 0" class="applications-container">
                    <mat-card class="application-card mine" (click)="openApplication(application)" *ngFor="let application of waiting">
                        <div class="name">
                            <h4 [ngStyle]="{ color: getApplicationColour(application) }">{{ application.account.firstname }} {{ application.account.lastname }}</h4>
                        </div>
                        <div class="details">
                            <div class="row top">
                                <div class="item recruiter">
                                    <b>SR1: </b>
                                    <small>{{ application.recruiter }}</small>
                                </div>
                                <div class="item teamspeak">
                                    <b>TeamSpeak: </b>
                                    <small>
                                        <span class="green" *ngIf="teamspeakStates.Item(application.account.id) | async as teamspeakState; else teamspeakStateLoading">
                                            {{ teamspeakState.online ? 'Online as ' + teamspeakState.nickname : 'Offline' }}
                                        </span>
                                        <ng-template #teamspeakStateLoading><span class="red">Offline</span></ng-template>
                                    </small>
                                </div>
                                <div class="item applied">
                                    <b>Applied: </b>
                                    <small>{{ application.account.application.dateCreated | date : 'mediumDate' : 'Europe/London' }}</small>
                                </div>
                            </div>
                            <div class="row bottom">
                                <div class="item email" (click)="$event.stopPropagation()">
                                    <b>Email: </b>
                                    <small
                                        ><a [attr.href]="'mailto:' + application.account.email" target="_blank">{{ application.account.email }}</a></small
                                    >
                                </div>
                                <div class="item steam">
                                    <b>Steam: </b>
                                    <small>
                                        <a [attr.href]="application.steamProfile" target="_blank" (click)="$event.stopPropagation()">Steam Profile</a>
                                    </small>
                                </div>
                                <div class="item processing">
                                    <span>
                                        <b>Processing: </b>
                                    </span>
                                    <small [ngStyle]="{ color: getApplicationColour(application) }">
                                        {{ application.daysProcessing }}
                                        <span *ngIf="application.daysProcessing == 1; else days">Day</span>
                                        <ng-template #days>Days</ng-template>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <br />
                <div *ngIf="loaded && waiting.length == 0 && allWaiting.length == 0">
                    <h4>There are no active applications</h4>
                </div>
                <div *ngIf="allWaiting.length > 0" class="applications-container">
                    <h4>Other Applications</h4>
                    <mat-card class="application-card others" (click)="openApplication(application)" *ngFor="let application of allWaiting">
                        <div class="name">
                            <h4 [ngStyle]="{ color: getApplicationColour(application) }">{{ application.account.firstname }} {{ application.account.lastname }}</h4>
                        </div>
                        <div class="details">
                            <div class="row top">
                                <div class="item recruiter">
                                    <b>SR1: </b>
                                    <small>{{ application.recruiter }}</small>
                                </div>
                                <div class="item teamspeak">
                                    <b>TeamSpeak: </b>
                                    <small>
                                        <span class="green" *ngIf="teamspeakStates.Item(application.account.id) | async as teamspeakState; else teamspeakStateLoading">
                                            {{ teamspeakState.online ? 'Online as ' + teamspeakState.nickname : 'Offline' }}
                                        </span>
                                        <ng-template #teamspeakStateLoading><span class="red">Offline</span></ng-template>
                                    </small>
                                </div>
                                <div class="item applied">
                                    <b>Applied: </b>
                                    <small>{{ application.account.application.dateCreated | date : 'mediumDate' : 'Europe/London' }}</small>
                                </div>
                            </div>
                            <div class="row bottom">
                                <div class="item email" (click)="$event.stopPropagation()">
                                    <b>Email: </b>
                                    <small
                                        ><a [attr.href]="'mailto:' + application.account.email" target="_blank">{{ application.account.email }}</a></small
                                    >
                                </div>
                                <div class="item steam">
                                    <b>Steam: </b>
                                    <small>
                                        <a [attr.href]="application.steamProfile" target="_blank" (click)="$event.stopPropagation()">Steam Profile</a>
                                    </small>
                                </div>
                                <div class="item processing">
                                    <span>
                                        <b>Processing: </b>
                                    </span>
                                    <small [ngStyle]="{ color: getApplicationColour(application) }">
                                        {{ application.daysProcessing }}
                                        <span *ngIf="application.daysProcessing == 1; else days">Day</span>
                                        <ng-template #days>Days</ng-template>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div class="history">
                <span class="history-header" *ngIf="loaded">
                    <div class="history-header-part-container title">
                        <h3>Application History</h3>
                    </div>
                    <div class="history-header-part-container actions">
                        <div class="history-header-part search">
                            <mat-form-field>
                                <input matInput #searchInput type="text" placeholder="Search" [(ngModel)]="searchValue" (ngModelChange)="search($event)" />
                                <button (click)="searchValue = ''; search('')" *ngIf="searchValue" aria-label="Clear" mat-raised-button matSuffix>
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="history-header-part-container buttons">
                            <div class="history-header-part sort">
                                <button mat-raised-button [matMenuTriggerFor]="sortMenu">
                                    <mat-icon class="icon-right">sort</mat-icon>
                                    Sort
                                </button>
                                <mat-menu #sortMenu="matMenu">
                                    <button mat-menu-item (click)="sort(0)">Name</button>
                                    <button mat-menu-item (click)="sort(1)">Date Applied</button>
                                    <button mat-menu-item (click)="sort(2)">Date Completed</button>
                                </mat-menu>
                                <button mat-raised-button [matMenuTriggerFor]="filterMenu">
                                    <mat-icon class="icon-right">filter_list</mat-icon>
                                    Filter SR1
                                </button>
                                <mat-menu #filterMenu="matMenu">
                                    <button mat-menu-item (click)="filter('')">All</button>
                                    <div *ngFor="let sr1 of recruiters">
                                        <button mat-menu-item (click)="filter(sr1)">{{ sr1 }}</button>
                                    </div>
                                </mat-menu>
                            </div>
                            <app-flex-filler></app-flex-filler>
                            <div class="history-header-part pagination">
                                <button mat-mini-fab color="primary" [disabled]="index <= 0" (click)="navigate(0)" matTooltip="Previous" style="margin-right: 10px; vertical-align: middle">
                                    <mat-icon class="icon-right">navigate_before</mat-icon>
                                </button>
                                <button
                                    mat-mini-fab
                                    color="primary"
                                    [disabled]="index + length >= filteredAndSearched.length"
                                    (click)="navigate(1)"
                                    matTooltip="Next"
                                    style="margin-right: 10px; vertical-align: middle"
                                >
                                    <mat-icon class="icon-right">navigate_next</mat-icon>
                                </button>
                                <mat-select style="width: 50px" [(ngModel)]="length" (selectionChange)="index = 0; navigate(-1)">
                                    <mat-option *ngFor="let option of lengths" [value]="option.value">
                                        {{ option.name }}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>
                    </div>
                </span>
                <div class="history-applications" *ngIf="loaded">
                    <mat-card class="history-application" (click)="openApplication(application)" *ngFor="let application of applicationHistory; trackBy: trackByApplication">
                        <div class="name">
                            <b [ngClass]="getHistoryColour(application)">{{ application.displayName }}</b>
                        </div>
                        <div class="details">
                            <div class="item recruiter">
                                <b>SR1: </b>
                                <small>{{ application.recruiter }}</small>
                            </div>
                            <div class="item applied">
                                <b>Applied: </b>
                                <small>{{ application.account.application.dateCreated | date : 'mediumDate' : 'Europe/London' }}</small>
                            </div>
                            <div class="item accepted">
                                <span *ngIf="application.account.application.state == applicationState.ACCEPTED; else rejected">
                                    <b>Accepted: </b>
                                </span>
                                <ng-template #rejected>
                                    <b>Rejected: </b>
                                </ng-template>
                                <small>{{ application.account.application.dateAccepted | date : 'mediumDate' : 'Europe/London' }}</small>
                            </div>
                            <div class="item processed">
                                <b>Processed: </b>
                                <small
                                    >{{ application.daysProcessed }}
                                    <span *ngIf="application.daysProcessed == 1; else days">Day</span>
                                    <ng-template #days>Days</ng-template>
                                </small>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </app-main-content-area>
    <app-side-content-area>
        <div class="flex-container stats">
            <div class="stats-container" *ngIf="accountService.account != null">
                <div class="stats-item">
                    <h3>SR1 State</h3>
                    <mat-card>
                        <div class="state-container">
                            <h4 *ngIf="accountService.account.settings.sr1Enabled" class="enabled">You are taking applicatons</h4>
                            <h4 *ngIf="!accountService.account.settings.sr1Enabled" class="disabled">You are not taking applicatons</h4>
                            <button mat-raised-button color="primary" class="state-button" (click)="setAccountSr1Enabled()">
                                <span *ngIf="accountService.account.settings.sr1Enabled; else enable">Disable</span>
                                <ng-template #enable>Enable</ng-template>
                            </button>
                        </div>
                    </mat-card>
                </div>
                <div class="stats-item activity">
                    <h3>SR1 Activity</h3>
                    <mat-card>
                        <div class="activity-row">
                            <ng-template [ngxPermissionsOnly]="['RECRUITER_LEAD']">
                                <div class="item state header"></div>
                            </ng-template>
                            <div class="item recruiter"><b>Recruiter</b></div>
                            <div class="item active"><b>Active</b></div>
                            <div class="item accepted"><b>Accepted</b></div>
                            <div class="item rejected"><b>Rejected</b></div>
                            <div class="item total"><b>Total</b></div>
                        </div>
                        <div class="activity-row" *ngFor="let item of activity">
                            <ng-template [ngxPermissionsOnly]="['RECRUITER_LEAD']">
                                <div class="item state">
                                    <mat-checkbox color="primary" matTooltip="Recruiter enabled/disabled" [(ngModel)]="item.account.settings.sr1Enabled" (change)="setSr1Enabled(item)"></mat-checkbox>
                                </div>
                            </ng-template>
                            <div class="item recruiter">{{ item.name }}</div>
                            <div class="item active">{{ item.active }}</div>
                            <div class="item accepted">{{ item.accepted }}</div>
                            <div class="item rejected">{{ item.rejected }}</div>
                            <div class="item total">{{ item.active + item.accepted + item.rejected }}</div>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div class="stats-container" *ngIf="activity != null && yourStats != null && sr1Stats != null">
                <div class="stats-item statistics">
                    <h3>SR1 Statistics</h3>
                    <mat-card>
                        <mat-tab-group>
                            <mat-tab label="Your Statistics" style="width: 100%">
                                <mat-card>
                                    <h4>Last Month</h4>
                                    <p *ngFor="let stats of yourStats.lastMonth">{{ stats.fieldName }} - {{ stats.fieldValue }}</p>
                                    <br />
                                    <h4>Total</h4>
                                    <p *ngFor="let stats of yourStats.overall">{{ stats.fieldName }} - {{ stats.fieldValue }}</p>
                                </mat-card>
                            </mat-tab>
                            <mat-tab label="All Statistics" style="width: 100%">
                                <mat-card>
                                    <h4>Last Month</h4>
                                    <p *ngFor="let stats of sr1Stats.lastMonth">{{ stats.fieldName }} - {{ stats.fieldValue }}</p>
                                    <br />
                                    <h4>Total</h4>
                                    <p *ngFor="let stats of sr1Stats.overall">{{ stats.fieldName }} - {{ stats.fieldValue }}</p>
                                </mat-card>
                            </mat-tab>
                        </mat-tab-group>
                    </mat-card>
                </div>
            </div>
        </div>
    </app-side-content-area>
</app-default-content-areas>
