@use 'styles/theme-helpers' as th;

@mixin operations-page-component-theme($theme) {
    .report {
      background-color: var(--uksf-card);
      color: th.fg-base($theme);

      &:hover {
        background-color: var(--uksf-hover);
      }
    }
}
