:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

.spinner-container {
    height: 416px;
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 50%;
    transform: translate(-170px, 0);
}

.flex-container {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    padding-left: 16px;
    padding-right: 16px;
}

.flex-container-slim {
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

.div-container {
    width: 100%;
}

.mat-mdc-card {
    margin-bottom: 5px;
}

.reports-container {
    display: flex;
    width: 100%;
}

.report-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.report-section {
    flex-grow: 1;
    max-height: 650px;
    overflow-y: auto;
}

.report {
    margin-bottom: 2px;
    cursor: pointer;
    padding: 15px;
}
