@use '@angular/material' as mat;
@import "@angular/material/theming";

@mixin operations-page-component-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);

    .report {
      background-color: mat.get-color-from-palette($background, card);
      color: mat.get-color-from-palette($foreground, base);

      &:hover {
        background-color: mat.get-color-from-palette($background, hover);
      }
    }
}
