<mat-dialog-content class="form-container">
    <form [formGroup]="form">
        <h2 mat-dialog-title>Change Password</h2>
        <br>
        <mat-form-field class="full-width">
            <input matInput formControlName="password" type="password" required placeholder="New Password">
        </mat-form-field>
        <br>
        <mat-form-field class="full-width">
            <input matInput formControlName="confirmPass" type="password" required placeholder="Confirm New Password">
        </mat-form-field>
        <br>
        <mat-error *ngIf="form.errors != null">{{formErrors}}</mat-error>
        <br>
        <div class="button-container">
            <button mat-raised-button color="primary" type="button" (click)="changePassword()" [disabled]="!form.valid">Submit</button>
        </div>
        <br>
        <sub>You will be logged out after changing your password</sub>
    </form>
</mat-dialog-content>
