<mat-dialog-content class="form-container">
    <h2 mat-dialog-title>Change Password</h2>
    <form [formGroup]="form">
        <mat-form-field class="full-width">
            <input matInput formControlName="password" type="password" required placeholder="New Password" />
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput formControlName="confirmPass" type="password" required placeholder="Confirm New Password" />
        </mat-form-field>
        <br />
        <mat-error *ngIf="form.errors != null">{{ formErrors }}</mat-error>
        <div class="button-container">
            <app-flex-filler></app-flex-filler>
            <button mat-raised-button color="primary" type="button" (click)="changePassword()" [disabled]="!form.valid">Submit</button>
            <app-flex-filler></app-flex-filler>
        </div>
        <sub>You will be logged out after changing your password</sub>
    </form>
</mat-dialog-content>
