.paginator-container {
    display: flex;

    .current-page {
        margin-right: 6px;
        align-self: center;
    }

    button {
        margin-left: 6px;
        padding: 0;
        border-radius: 18px;
        min-width: 36px;
        width: 36px;
        height: 36px;

        .mat-icon {
            font-size: 30px !important;
            width: 30px !important;
            height: 30px !important;
            line-height: 30px !important;
            margin: 0;
        }
    }
    /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
    mat-select {
        width: 40px;
        align-self: center;
        margin-left: 12px;
    }
}
