.paginator-container {
    display: flex;

    .current-page {
        margin-right: 6px;
        align-self: center;
    }

    button {
        margin-left: 6px;
        padding: 0;
        border-radius: 18px;
        min-width: 36px;
        width: 36px;
        height: 36px;

        .mat-icon {
            font-size: 30px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            margin: 0;
        }
    }
    mat-select {
        width: 40px;
        align-self: center;
        margin-left: 12px;
    }
}
