<app-autofocus-stop></app-autofocus-stop>
<h2 mat-dialog-title>New Build</h2>
<mat-dialog-content>
    <p class="hint-text">Select a branch or enter a commit id to run a new build from</p>
    <form [formGroup]="form" class="modal-form">
        <app-dropdown class="normal" placeholder="Configuration" [autocomplete]="false"
            [elements]="configurationElements$" formControlName="configuration" [isRequired]="true"
            elementName="configuration">
            <ng-template #element let-element>{{ element.displayValue }}</ng-template>
        </app-dropdown>
        <div formGroupName="referenceGroup">
            <app-dropdown class="normal"
                [placeholder]="branchElements.length === 0 ? 'Loading branches...' : 'Select branch'"
                [autocomplete]="false" [elements]="branchElements$" formControlName="branch"
                elementName="branch">
                <ng-template #element let-element>{{ element.displayValue }}</ng-template>
            </app-dropdown>
            <app-text-input class="normal" label="Commit ID" formControlName="commitId"
                [validationMessages]="validationMessages.commitId">
            </app-text-input>
            <mat-error *ngIf="form.get('referenceGroup').hasError('both')">Cannot select both a branch and a commit ID</mat-error>
        </div>
        <div class="force-container">
            <mat-checkbox color="primary" formControlName="ace">Force ACE build</mat-checkbox>
            <mat-checkbox color="primary" formControlName="acre">Force ACRE build</mat-checkbox>
            <mat-checkbox color="primary" formControlName="air">Force Air build</mat-checkbox>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button
        mat-raised-button
        color="primary"
        type="button"
        #runButton
        (click)="run(); runButton.disabled = true"
        [disabled]="submitting || !form.valid || !selectedBranchValue || (selectedBranchValue === 'No branch' && !form.value.referenceGroup.commitId)"
    >
        Run
    </button>
</mat-dialog-actions>
