.mat-mdc-dialog-content {
    overflow: unset;

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;

        .normal {
            width: 100%;
        }

        .force-container {
            display: flex;
            flex-direction: column;
        }
    }

    .button-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}
