.modal-form {
    display: flex;
    flex-direction: column;
    width: 100%;

    .normal {
        display: block;
        width: 100%;
    }

    .force-container {
        display: flex;
        flex-direction: column;
    }
}
