.loa-filter-buttons-container {
    display: flex;
}

.loa-filter-button {
    margin-right: 5px;
    height: min-content;
}

.mat-icon {
    margin-right: 2px;
}

.mat-mdc-row {
    min-height: unset;
    padding: 10px;
}

.mat-mdc-cell {
    font-size: 13px;
}
