@use '../../admin-shared' as admin;

@include admin.admin-table-base;
@include admin.column-name;

.mat-column-discordUserEventType {
    flex: 0 0 125px;
}

.mat-column-instigatorId {
    flex: 0 0 150px;
}

.mat-column-instigatorName {
    flex: 0 0 125px;
}

.mat-column-channelName {
    flex: 0 0 100px;
}
