@mixin command-units-component-theme($theme) {
    app-command-units {
        .node-content-wrapper {
            &:hover {
              background-color: var(--uksf-hover);
            }
            &.is-dragging-over {
              background-color: var(--uksf-hover);
            }
        }
        .node-drop-slot {
            &.is-dragging-over {
              background-color: var(--uksf-hover);
            }
        }
    }
}
