@use 'styles/theme-helpers' as th;

@mixin validation-report-modal-component-theme($theme) {
    app-validation-report-modal {
        h3 {
            color: th.primary($theme);
        }

        .error {
            color: th.warn($theme);
        }

        a {
            color: th.primary($theme);
        }
    }
}
