<app-default-content-areas>
    <app-main-content-area style="grid-column: span 3">
        <app-command-page></app-command-page>
        <div class="flex-container">
            <div class="flex-container-slim">
                <button mat-raised-button color="primary" (click)="rankRequest()">Promote/Demote</button>
                <button mat-raised-button color="primary" (click)="unitRoleRequest()">Assign Unit Role</button>
                <button mat-raised-button color="primary" (click)="roleRequest()">Assign Role</button>
                <button mat-raised-button color="primary" (click)="transferRequest()">Transfer</button>
                <button mat-raised-button color="primary" (click)="unitRemovalRequest()">Unit Removal</button>
                <button mat-raised-button color="primary" (click)="dischargeRequest()">Discharge</button>
            </div>
            <br />
            <div class="requests-container" *ngIf="myRequests.length == 0 && otherRequests.length > 0">
                <h3>You have no pending command requests</h3>
            </div>
            <div class="requests-container" *ngIf="myRequests.length == 0 && otherRequests.length == 0">
                <h3>There are no pending command requests</h3>
            </div>
            <div class="requests-container" *ngIf="otherRequests.length == 0"></div>
            <div class="requests-container" *ngIf="myRequests.length > 0">
                <h3>Requests needing your review</h3>
                <mat-card *ngFor="let request of myRequests">
                    <div class="request-wrapper">
                        <div class="request-type">
                            <span class="request-type-text">{{ request.data.type }}</span>
                        </div>
                        <div class="request-content">
                            <div class="request-info">
                                <div class="request-info-details-names">
                                    <span class="request-detail"> <b>Requester:</b> {{ request.data.displayRequester }} </span>
                                    <div class="request-spacer"></div>
                                    <span class="request-detail"> <b>Recipient:</b> {{ request.data.displayRecipient }} </span>
                                    <div class="request-spacer"></div>
                                    <span class="request-detail"> <b>Date Created:</b> {{ request.data.dateCreated | date: 'mediumDate' }} </span>
                                </div>
                                <div class="request-info-details-fromto">
                                    <span class="request-detail">
                                        <b>From:</b>
                                        <span *ngIf="isDate(request.data.displayFrom); else nonDateFrom"> {{ request.data.displayFrom | date: 'mediumDate' }}</span>
                                        <ng-template #nonDateFrom> {{ request.data.displayFrom }}</ng-template>
                                    </span>
                                    <div class="request-spacer"></div>
                                    <span class="request-detail">
                                        <b>To:</b>
                                        <span *ngIf="isDate(request.data.displayValue); else nonDateTo"> {{ request.data.displayValue | date: 'mediumDate' }}</span>
                                        <ng-template #nonDateTo> {{ request.data.displayValue }}</ng-template>
                                    </span>
                                    <div class="request-spacer"></div>
                                    <span class="request-detail"> <b>Reason:</b> {{ request.data.reason }} </span>
                                </div>
                            </div>
                            <div class="request-review">
                                <div class="request-reviewers">
                                    <b>Reviewers:</b>
                                    <div>
                                        <p class="review-container" *ngFor="let review of request.reviews">
                                            <mat-icon class="review-state-icon">{{
                                                review.state == reviewState.APPROVED ? 'done' : review.state == reviewState.REJECTED ? 'clear' : 'hourglass_empty'
                                            }}</mat-icon>
                                            <span class="review-label">{{ review.name }}</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="request-button-container">
                                    <div class="request-spacer"></div>
                                    <div class="request-button-sub-container">
                                        <button
                                            *ngIf="canReview(request)"
                                            mat-button
                                            style="color: green"
                                            (click)="setReview(request, reviewState.APPROVED, false)"
                                            matTooltip="Accept"
                                            [disabled]="request.updating"
                                        >
                                            <mat-icon *ngIf="!request.updating || request.reviewState != 0 || request.reviewOverriden" class="approval-icon">done</mat-icon>
                                            <mat-spinner *ngIf="request.updating && request.reviewState == 0 && !request.reviewOverriden" class="approval-updating" [diameter]="30"></mat-spinner>
                                        </button>
                                        <button
                                            *ngIf="request.canOverride"
                                            mat-button
                                            class="override-button"
                                            style="color: green"
                                            (click)="setReview(request, reviewState.APPROVED, true)"
                                            matTooltip="Override accept"
                                            [disabled]="request.updating"
                                        >
                                            <mat-icon *ngIf="!request.updating || request.reviewState != 0 || !request.reviewOverriden" class="approval-icon">report_problem</mat-icon>
                                            <mat-spinner *ngIf="request.updating && request.reviewState == 0 && request.reviewOverriden" class="approval-updating" [diameter]="30"></mat-spinner>
                                        </button>
                                    </div>
                                    <div class="request-button-sub-container">
                                        <button
                                            *ngIf="canReview(request)"
                                            mat-button
                                            style="color: red"
                                            (click)="setReview(request, reviewState.REJECTED, false)"
                                            matTooltip="Reject"
                                            [disabled]="request.updating"
                                        >
                                            <mat-icon *ngIf="!request.updating || request.reviewState != 1 || request.reviewOverriden" class="approval-icon">clear</mat-icon>
                                            <mat-spinner *ngIf="request.updating && request.reviewState == 1 && !request.reviewOverriden" class="approval-updating" [diameter]="30"></mat-spinner>
                                        </button>
                                        <button
                                            *ngIf="request.canOverride"
                                            mat-button
                                            class="override-button"
                                            style="color: red"
                                            (click)="setReview(request, reviewState.REJECTED, true)"
                                            matTooltip="Override reject"
                                            [disabled]="request.updating"
                                        >
                                            <mat-icon *ngIf="!request.updating || request.reviewState != 1 || !request.reviewOverriden" class="approval-icon">report</mat-icon>
                                            <mat-spinner *ngIf="request.updating && request.reviewState == 1 && request.reviewOverriden" class="approval-updating" [diameter]="30"></mat-spinner>
                                        </button>
                                    </div>
                                    <div class="request-spacer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="requests-container" *ngIf="otherRequests.length > 0">
                <h3>Other requests</h3>
                <mat-card *ngFor="let request of otherRequests">
                    <div class="request-wrapper">
                        <div class="request-type">
                            <span class="request-type-text">{{ request.data.type }}</span>
                        </div>
                        <div class="request-content">
                            <div class="request-info">
                                <div class="request-info-details-names">
                                    <span class="request-detail"> <b>Requester:</b> {{ request.data.displayRequester }} </span>
                                    <div class="request-spacer"></div>
                                    <span class="request-detail"> <b>Recipient:</b> {{ request.data.displayRecipient }} </span>
                                    <div class="request-spacer"></div>
                                    <span class="request-detail"> <b>Date Created:</b> {{ request.data.dateCreated | date: 'mediumDate' }} </span>
                                </div>
                                <div class="request-info-details-fromto">
                                    <span class="request-detail">
                                        <b>From:</b>
                                        <span *ngIf="isDate(request.data.displayFrom); else nonDateFromOther"> {{ request.data.displayFrom | date: 'mediumDate' }}</span>
                                        <ng-template #nonDateFromOther> {{ request.data.displayFrom }}</ng-template>
                                    </span>
                                    <div class="request-spacer"></div>
                                    <span class="request-detail">
                                        <b>To:</b>
                                        <span *ngIf="isDate(request.data.displayValue); else nonDateToOther"> {{ request.data.displayValue | date: 'mediumDate' }}</span>
                                        <ng-template #nonDateToOther> {{ request.data.displayValue }}</ng-template>
                                    </span>
                                    <div class="request-spacer"></div>
                                    <span class="request-detail"> <b>Reason:</b> {{ request.data.reason }} </span>
                                </div>
                            </div>
                            <div class="request-review">
                                <div class="request-reviewers">
                                    <b>Reviewers:</b>
                                    <div>
                                        <p class="review-container" *ngFor="let review of request.reviews">
                                            <mat-icon class="review-state-icon">{{
                                                review.state == reviewState.APPROVED ? 'done' : review.state == reviewState.REJECTED ? 'clear' : 'hourglass_empty'
                                            }}</mat-icon>
                                            <span class="review-label">{{ review.name }}</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="request-button-container" *ngIf="request.canOverride">
                                    <div class="request-spacer"></div>
                                    <div class="request-button-sub-container">
                                        <button
                                            mat-button
                                            class="override-button"
                                            style="color: green"
                                            (click)="setReview(request, reviewState.APPROVED, true)"
                                            matTooltip="Override accept"
                                            [disabled]="request.updating"
                                        >
                                            <mat-icon *ngIf="!request.updating || request.reviewState != 0 || !request.reviewOverriden" class="approval-icon">report_problem</mat-icon>
                                            <mat-spinner *ngIf="request.updating && request.reviewState == 0 && request.reviewOverriden" class="approval-updating" [diameter]="30"></mat-spinner>
                                        </button>
                                    </div>
                                    <div class="request-button-sub-container">
                                        <button
                                            mat-button
                                            class="override-button"
                                            style="color: red"
                                            (click)="setReview(request, reviewState.REJECTED, true)"
                                            matTooltip="Override reject"
                                            [disabled]="request.updating"
                                        >
                                            <mat-icon *ngIf="!request.updating || request.reviewState != 1 || !request.reviewOverriden" class="approval-icon">report</mat-icon>
                                            <mat-spinner *ngIf="request.updating && request.reviewState == 1 && request.reviewOverriden" class="approval-updating" [diameter]="30"></mat-spinner>
                                        </button>
                                    </div>
                                    <div class="request-spacer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </app-main-content-area>
</app-default-content-areas>
