<app-default-content-areas>
    <app-full-content-area>
        <app-modpack-page></app-modpack-page>
        <div class="flex-container no-padding-left">
            <div class="release-history-container">
                <div class="release-history-item" [ngClass]="{'selected': selectedRelease === release}" *ngFor="let release of publicReleases" (click)="select(release)">
                    <i *ngIf="release.isDraft">{{release.version}}</i>
                    <span *ngIf="!release.isDraft">{{release.version}}</span>
                </div>
            </div>
            <div class="release-container" *ngIf="selectedRelease">
                <div class="release-header">
                    <div>
                        <h1 class="release-title" *ngIf="!selectedRelease.isDraft">Release Version {{selectedRelease.version}}</h1>
                        <h1 class="release-title" *ngIf="selectedRelease.isDraft">Release Version {{selectedRelease.version}} <i>(Draft)</i></h1>
                    </div>
                    <app-flex-filler></app-flex-filler>
                    <div class="buttons" *ngIf="selectedRelease.isDraft">
                        <ng-template [ngxPermissionsOnly]="['ADMIN']">
                            <button mat-raised-button color="primary" *ngIf="!editing" (click)="edit()">
                                Edit Draft
                            </button>
                            <button mat-raised-button color="primary" *ngIf="editing" (click)="save()">
                                Save Draft
                            </button>
                            <button mat-raised-button color="primary" *ngIf="editing" (click)="togglePreview()">
                                Toggle Preview
                            </button>
                            <button mat-raised-button color="primary" *ngIf="editing" (click)="discard()">
                                Discard Changes
                            </button>
                        </ng-template>
                        <button mat-raised-button color="primary" *ngIf="!editing" (click)="release()">
                            Release
                        </button>
                    </div>
                </div>
                <div class="release-content" *ngIf="!editing">
                    <div class="release-date" *ngIf="selectedRelease.isDraft">Draft created {{selectedRelease.timestamp | timeAgo}}</div>
                    <div class="release-date" *ngIf="!selectedRelease.isDraft">Released {{selectedRelease.timestamp | timeAgo}}</div>
                    <h4 class="release-description" *ngIf="selectedRelease.description">{{selectedRelease.description}}</h4>
                    <div class="release-changelog">
                        <markdown ngPreserveWhitespaces [data]="changelogMarkdown"></markdown>
                    </div>
                </div>
                <div class="release-content" *ngIf="editing">
                    <div class="release-description" *ngIf="!preview">
                        <textarea [(ngModel)]="descriptionEditing" type="text" placeholder="Release description" rows="3" maxlength="200" wrap="soft" (input)="validateDescription($event)"></textarea>
                    </div>
                    <h4 class="release-description" *ngIf="preview">{{descriptionEditing}}</h4>
                    <div class="release-changelog" *ngIf="!preview">
                        <textarea [(ngModel)]="changelogEditing" type="text" placeholder="Changelog" maxlength="5000" wrap="soft"></textarea>
                    </div>
                    <div class="release-changelog" *ngIf="preview">
                        <markdown ngPreserveWhitespaces [data]="changelogMarkdown"></markdown>
                    </div>
                </div>
            </div>
        </div>
    </app-full-content-area>
</app-default-content-areas>
