<app-default-content-areas>
    <app-full-content-area>
        <app-modpack-page></app-modpack-page>
        <div class="flex-container no-padding-left">
            <div class="release-history-container">
                <div class="release-history-item" [ngClass]="{'selected': selectedRelease === release}" *ngFor="let release of releases" (click)="select(release)">
                    {{release.version}}
                </div>
            </div>
            <div class="release-container" *ngIf="selectedRelease">
                <h1 class="release-title">Release Version {{selectedRelease.version}}</h1>
                <h4 class="release-description">{{selectedRelease.description}}</h4>
                <div class="release-changelog">
                    <markdown ngPreserveWhitespaces [data]="changelogMarkdown"></markdown>
                </div>
            </div>
        </div>
    </app-full-content-area>
</app-default-content-areas>
