@use '../../admin-shared' as admin;

@include admin.admin-table-base;
@include admin.admin-button;

.tools-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.impersonate-form {
    display: flex;
    flex-direction: row;
}

.mat-mdc-form-field {
    width: 100%;
}

.dropdown {
    width: 300px;
}

.button-container {
    display: flex;
    flex-direction: row;
    padding-left: 16px;
}

app-button {
    align-self: center;
    margin: 5px 5px 0 0;
}
