@use '../../admin-shared' as admin;

@include admin.admin-table-base;
@include admin.admin-button;

.tools-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.impersonate-form {
    display: flex;
    flex-direction: row;
}

.mat-mdc-form-field {
    width: 100%;
}

.dropdown {
    width: 300px;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16px;
}
