.nav-bar {
    padding: 0;

    .mat-tab-header {
        border-bottom: unset;
    }

    .mat-tab-nav-bar {
        z-index: 1;
        box-shadow: 0px 0px 5px 0px #000;
    }
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

.spinner-container {
    height: 416px;
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 50%;
    transform: translate(-170px, 0);
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-left: 16px;
    padding-right: 16px;

    &.no-padding {
        padding: 0;
    }

    &.no-padding-left {
        padding-left: 0;
    }
}

.state {
    align-self: center;
    margin: 0 8px;
    font-size: 18px;

    .queued {
        color: gray;
    }

    .running {
        color: #0c78ff;
    }

    .success {
        color: green;
    }

    .fail {
        color: red;
    }

    .cancelled {
        color: goldenrod;
    }

    .warning {
        color: orangered;
    }
}
