.comment-form {
    display: flex;
    flex-direction: column;

    mat-form-field {
        width: 100%;
    }

    button {
        align-self: flex-end;
        width: fit-content;
    }
}

.comments-container {
    max-height: 1000px;
    overflow: auto;

    .comment-wrapper {
        display: block;
        margin-bottom: 18px;

        .author {
            width: 100%;
            height: 24px;
            display: flex;

            > span {
                vertical-align: middle;
            }

            span {
                filter: blur(0px);
            }

            .author-string {
                margin: auto 8px auto 0;
                font-size: 13px;
                font-weight: bold;
                vertical-align: middle;
            }

            .date-string {
                font-size: 13px;
                vertical-align: middle;
                margin: auto 0;
                flex: 1;
            }

            .delete-button {
                margin: 0px;
                padding: 0px;
                min-width: 0px;
                line-height: 0px;
            }
        }
    }

    .comment {
        padding-right: 24px;

        .comment-string {
            white-space: pre-wrap;
            word-break: break-word;
        }
    }
}
