@use 'styles/theme-helpers' as th;

@mixin side-bar-component-theme($theme) {
  .sideNav {
    .sideNavItem {
      color: th.fg-base($theme);

      &.selected {
        color: th.primary($theme);
        background-color: var(--uksf-selected);
        box-shadow: inset 3px 0 0 0 th.primary($theme);
      }

      &:hover {
        background-color: var(--uksf-hover);
      }
        }

        .newVersionNavItem {
          background-color: th.primary($theme);
          color: th.primary-contrast($theme);

          &:hover {
            background-color: th.primary($theme);
          }
        }
    }
}
