<div class="sideNav">
    <div class="sideNavItem newVersionNavItem" *ngIf="newVersion" (click)="updateVersion()" matTooltip="Click to update to latest version">
        <mat-icon>system_update</mat-icon><span>New version</span>
    </div>
    <div style="text-decoration: none" *ngFor="let navigationItem of getSideBarElements; trackBy: trackByLink">
        <div class="sideNavItem selected" *ngIf="isSelected(navigationItem)" [routerLink]="navigationItem.link" routerLinkActive="active">
            <mat-icon *ngIf="navigationItem.icon != ''">{{ navigationItem.icon }}</mat-icon>
            <span>{{ navigationItem.text }}</span>
        </div>
        <div class="sideNavItem" *ngIf="!isSelected(navigationItem)" [routerLink]="navigationItem.link" routerLinkActive="active">
            <mat-icon *ngIf="navigationItem.icon != ''">{{ navigationItem.icon }}</mat-icon>
            <span>{{ navigationItem.text }}</span>
        </div>
    </div>
</div>
