<div class="sideNav">
    @if (newVersion) {
    <div class="sideNavItem newVersionNavItem" (click)="updateVersion()" matTooltip="Click to update to latest version"><mat-icon>system_update</mat-icon><span>New version</span></div>
    } @for (navigationItem of getSideBarElements; track trackByLink($index, navigationItem)) {
    <div style="text-decoration: none">
        @if (isSelected(navigationItem)) {
        <div class="sideNavItem selected" [routerLink]="navigationItem.link" routerLinkActive="active">
            @if (navigationItem.icon !== '') {
            <mat-icon>{{ navigationItem.icon }}</mat-icon>
            }
            <span>{{ navigationItem.text }}</span>
        </div>
        } @else {
        <div class="sideNavItem" [routerLink]="navigationItem.link" routerLinkActive="active">
            @if (navigationItem.icon !== '') {
            <mat-icon>{{ navigationItem.icon }}</mat-icon>
            }
            <span>{{ navigationItem.text }}</span>
        </div>
        }
    </div>
    }
</div>
