.mat-dialog-content {
    display: flex;
    min-width: 600px;
    width: 900px;

    .form-container {
        flex: 1;

        .mat-form-field {
            width: 100%;
        }

        .basics-container {
            display: flex;
            flex-direction: column;
            gap: 8px;

            app-dropdown {
                flex: 1;
            }
        }
    
        .permissions-container {
            flex: 1;
            display: flex;
            flex-direction: row;
            padding: 24px 0;
            justify-content: space-between;
    
            app-docs-permissions {
                flex: 0.49;
            }
        }
    
        .button-container {
            display: flex;
            flex-direction: row;
        }
    
        .hint {
            font-style: italic;
        }
    }
}

::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}
