.mat-dialog-content {
    display: flex;
    min-width: 600px;

    .mat-form-field {
        width: 100%;
    }

    .permissions-container {
        flex: 1;
        display: flex;
        flex-direction: row;
        padding: 24px 0;
        justify-content: space-between;

        app-docs-permissions {
            flex: 0.49;
        }
    }

    .button-container {
        display: flex;
        flex-direction: row;
    }

    .hint {
        font-style: italic;
    }
}

::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}
