<app-default-content-areas>
    <app-full-content-area>
        <app-modpack-page></app-modpack-page>
        <div class="flex-container">
            <div class="mods-header">
                <h1>Workshop Mods</h1>
                <ng-template [ngxPermissionsOnly]="['ADMIN']">
                    <button mat-raised-button color="primary" (click)="install()">Install</button>
                </ng-template>
            </div>
            <div class="mods-container">
                @for (mod of mods; track trackBySteamId($index, mod)) {
                <mat-card class="mod-card">
                    <div class="mod-card-section">
                        <h3>{{ mod.name }}</h3>
                        @if (mod.rootMod) {
                        <span class="mod-badge root-mod">Root Mod</span>
                        }
                        <app-flex-filler></app-flex-filler>
                        <span>{{ mod.statusMessage }}</span>
                    </div>
                    <div class="mod-card-section">
                        <div class="mod-links">
                            <span class="mod-link-steam">
                                Steam ID:
                                <a target="_blank" rel="nofollow" href="https://steamcommunity.com/sharedfiles/filedetails/?id={{ mod.steamId }}">
                                    {{ mod.steamId }}
                                </a>
                            </span>
                            @if (mod.modpackVersionFirstAdded) {
                            <span class="mod-link-added">
                                Added with:
                                <a target="_blank" [href]="'/modpack/releases?version=' + mod.modpackVersionFirstAdded">
                                    {{ mod.modpackVersionFirstAdded }}
                                </a>
                            </span>
                            } @if (mod.modpackVersionLastUpdated) {
                            <span class="mod-link-updated">
                                Last updated with:
                                <a target="_blank" [href]="'/modpack/releases?version=' + mod.modpackVersionLastUpdated">
                                    {{ mod.modpackVersionLastUpdated }}
                                </a>
                            </span>
                            }
                        </div>
                        <app-flex-filler></app-flex-filler>
                        @if (mod._updateAvailable) {
                        <span>Update available</span>
                        }
                        <ng-template [ngxPermissionsOnly]="['ADMIN']">
                            <div class="mod-card-buttons">
                                @if (mod._hasError) {
                                <button mat-button class="icon delete" (click)="showError(mod)" matTooltip="View error">
                                    <mat-icon>error_outline</mat-icon>
                                </button>
                                } @if (mod._interventionRequired) {
                                <button mat-button class="icon" (click)="resolveIntervention(mod)" matTooltip="Resolve Intervention">
                                    <mat-icon>construction</mat-icon>
                                </button>
                                } @if (mod._updateAvailable) {
                                <button mat-button class="icon" (click)="update(mod)" matTooltip="Update">
                                    <mat-icon>download</mat-icon>
                                </button>
                                } @if (mod._canUninstall) {
                                <button mat-button class="icon" (click)="uninstall(mod)" matTooltip="Uninstall">
                                    <mat-icon>eject</mat-icon>
                                </button>
                                } @if (mod._canDelete) {
                                <button mat-button class="icon delete" (click)="delete(mod)" matTooltip="Delete">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                }
                            </div>
                        </ng-template>
                    </div>
                </mat-card>
                }
            </div>
        </div>
    </app-full-content-area>
</app-default-content-areas>
