<app-default-content-areas>
    <app-full-content-area>
        <app-modpack-page></app-modpack-page>
        <div class="flex-container">
            <div class="mods-header">
                <h1>Workshop Mods</h1>
                <ng-template [ngxPermissionsOnly]="['ADMIN']">
                    <button mat-raised-button color="primary" (click)="install()">Install</button>
                </ng-template>
            </div>
            <div class="mods-container">
                <mat-card class="mod-card" *ngFor="let mod of mods; trackBy: trackBySteamId">
                    <div class="mod-card-section">
                        <h3>{{ mod.name }}</h3>
                        <span *ngIf="mod.rootMod" class="mod-badge root-mod">Root Mod</span>
                        <app-flex-filler></app-flex-filler>
                        <span>{{ mod.statusMessage }}</span>
                    </div>
                    <div class="mod-card-section">
                        <div class="mod-links">
                            <span class="mod-link-steam">
                                Steam ID:
                                <a target="_blank" rel="nofollow" href="https://steamcommunity.com/sharedfiles/filedetails/?id={{ mod.steamId }}">
                                    {{ mod.steamId }}
                                </a>
                            </span>
                            <span class="mod-link-added" *ngIf="mod.modpackVersionFirstAdded">
                                Added with:
                                <a target="_blank" [href]="'/modpack/releases?version=' + mod.modpackVersionFirstAdded">
                                    {{ mod.modpackVersionFirstAdded }}
                                </a>
                            </span>
                            <span class="mod-link-updated" *ngIf="mod.modpackVersionLastUpdated">
                                Last updated with:
                                <a target="_blank" [href]="'/modpack/releases?version=' + mod.modpackVersionLastUpdated">
                                    {{ mod.modpackVersionLastUpdated }}
                                </a>
                            </span>
                        </div>
                        <app-flex-filler></app-flex-filler>
                        <span *ngIf="mod._updateAvailable">Update available</span>
                        <ng-template [ngxPermissionsOnly]="['ADMIN']">
                            <div class="mod-card-buttons">
                                <button mat-button class="icon delete" *ngIf="mod._hasError" (click)="showError(mod)" matTooltip="View error">
                                    <mat-icon>error_outline</mat-icon>
                                </button>
                                <button mat-button class="icon" *ngIf="mod._interventionRequired" (click)="resolveIntervention(mod)" matTooltip="Resolve Intervention">
                                    <mat-icon>construction</mat-icon>
                                </button>
                                <button mat-button class="icon" *ngIf="mod._updateAvailable" (click)="update(mod)" matTooltip="Update">
                                    <mat-icon>download</mat-icon>
                                </button>
                                <button mat-button class="icon" *ngIf="mod._canUninstall" (click)="uninstall(mod)" matTooltip="Uninstall">
                                    <mat-icon>eject</mat-icon>
                                </button>
                                <button mat-button class="icon delete" *ngIf="mod._canDelete" (click)="delete(mod)" matTooltip="Delete">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </ng-template>
                    </div>
                </mat-card>
            </div>
        </div>
    </app-full-content-area>
</app-default-content-areas>
