.flex-container {
    flex-direction: column;

    .mods-header {
        display: flex;
        flex-direction: row;
        padding: 16px 0;
        width: 100%;
        justify-content: space-between;

        h1 {
            margin: 0;
        }

        .mat-mdc-raised-button {
            margin-left: 5px;
            height: fit-content;
            align-self: center;
        }
    }

    .mods-container {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .mod-card {
            display: flex;
            flex-direction: column;
            padding: 10px;

            .mod-card-section {
                display: flex;
                flex-direction: row;
                gap: 4px;

                &:first-child {
                    margin-bottom: 8px;
                }

                h3 {
                    margin: auto;
                }

                span {
                    margin: auto;
                }

                .mod-badge {
                    color: white;
                    padding: 2px 8px;
                    border-radius: 4px;
                    font-size: 12px;
                    font-weight: 500;
                    margin: auto 8px;

                    &.root-mod {
                        background-color: #4a148c;
                    }
                }

                .mod-links {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-self: flex-end;

                    span {
                        margin: 0 16px 0 0;
                    }
                }

                .mod-card-buttons {
                    display: flex;
                    flex-direction: row;
                    gap: 4px;
                    min-height: 36px;

                    .icon {
                        line-height: 36px;
                        height: 36px;
                        padding: 0;
                        min-width: 36px;
                        align-self: center;
                    }

                    button {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

@media only screen and (max-width: 1360px) {
    .flex-container {
        .release-history-container {
            left: 200px;
        }

        .release-container {
            left: 360px;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .flex-container {
        .release-history-container {
            left: 0;
            top: 175px;
            bottom: 30px;
        }

        .release-container {
            left: 160px;
            top: 175px;
            bottom: 30px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .flex-container {
        .release-history-container {
            top: 138px;
        }

        .release-container {
            top: 138px;

            .release-header {
                flex-direction: column-reverse;

                .release-date {
                    display: none;
                }

                .buttons {
                    flex-direction: row;
                    padding-top: 12px;
                    justify-content: center;
                    flex-wrap: wrap;

                    app-button {
                        margin: 0 2.5px;
                    }
                }
            }

            .release-content {
                .release-date {
                    &.released {
                        display: block;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .flex-container {
        flex-direction: row;

        .release-history-container {
            flex-direction: row;
            width: 100%;
            height: 35px;
            overflow-y: auto;
            overflow-x: auto;

            .release-history-item {
                height: 30px;
                min-width: 75px;
                font-size: 14px;
                line-height: 30px;
                padding: 1px 10px;
            }
        }

        .release-container {
            top: 173px;
            left: 0;

            .release-header {
                .release-title {
                    font-size: 26px;
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .flex-container {
        .release-container {
            .release-header {
                .buttons {
                    app-button {
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .flex-container {
        .release-history-container {
            top: 124px;
        }

        .release-container {
            top: 159px;
        }
    }
}
