@use 'styles/theme-helpers' as th;

@mixin modpack-workshop-component-theme($theme) {
    app-modpack-workshop {
        a {
            color: th.primary($theme);
        }

        .flex-container {
            .mods-container {
                .mod-card {
                    .mod-card-section {
                        .mod-card-buttons {
                            button {
                                background-color: transparent;

                                &:not(:disabled) {
                                    color: white;
                                }

                                --mat-button-text-state-layer-color: white;
                                --mat-button-text-ripple-color: rgba(255, 255, 255, 0.12);

                                &.delete:not(:disabled) {
                                    color: red;
                                }
                            }
                        }
                    }
                }
            }
        }

        ::-webkit-scrollbar-track {
            background-color: var(--uksf-side-bar);
        }

        ::-webkit-scrollbar-thumb {
            background-color: var(--uksf-scroll-thumb);
        }

        //@media only screen and (max-width: 600px) {
        //    .flex-container {
        //
        //    }
        //}
    }
}
