@use 'styles/theme-helpers' as th;

@mixin admin-servers-component-theme($theme) {
    app-admin-servers {
        .page-container {
            .update-info-container {
                span {
                    color: th.primary($theme);
                }
            }
        }
    }
}
