@use '../../admin-shared' as admin;

@include admin.admin-table-base;
@include admin.admin-button;

.update-info-container {
    display: flex;
    flex-direction: row;
    height: 25px;
    margin: 8px 8px 8px 0;
    font-size: 18px;

    app-loading-placeholder {
        margin-left: 8px;
    }

    .mat-icon {
        margin-left: 8px;
    }

    .update-info {
        margin-left: 8px;
    }
}

.updating-title {
    margin-top: 16px;
}

app-button {
    margin-top: 6px;
}
