@use '@angular/material' as mat;
@use 'sass:map';

@mixin admin-servers-component-theme($theme) {
    $primary: map.get($theme, primary);
    $background: map.get($theme, background);

    app-admin-servers {
        .page-container {
            .update-info-container {
                span {
                    color: mat.m2-get-color-from-palette($primary);
                }
            }
        }
    }
}
