<app-default-content-areas>
    <app-main-content-area style="grid-column: span 3">
        <app-admin-page></app-admin-page>
        <div class="page-container">
            <div class="update-info-container">
                Build ID:
                <app-loading-placeholder [height]="'25px'" [loading]="!current" [width]="'80px'">
                    <ng-template #element>
                        <span [ngStyle]="{ color: getBuildColour() }" matTooltip="Current build ID">{{ current.currentBuild }}</span>
                    </ng-template>
                </app-loading-placeholder>
                <mat-icon>chevron_right</mat-icon>
                <app-loading-placeholder [height]="'25px'" [loading]="!latest" [width]="'75px'">
                    <ng-template #element>
                        <span matTooltip="Latest build ID">{{ latest.latestBuild }}</span>
                    </ng-template>
                </app-loading-placeholder>
            </div>
            <div class="update-info-container">
                Update Date:
                <app-loading-placeholder [height]="'25px'" [loading]="!current" [width]="'80px'">
                    <ng-template #element>
                        <span [ngStyle]="{ color: getDateColour() }" matTooltip="Last updated date">{{ current.currentUpdated | date: 'mediumDate':'Europe/London' }}</span>
                    </ng-template>
                </app-loading-placeholder>
                <mat-icon>chevron_right</mat-icon>
                <app-loading-placeholder [height]="'25px'" [loading]="!latest" [width]="'100px'">
                    <ng-template #element>
                        <span matTooltip="Most recent release date">{{ latest.latestUpdate | date: 'mediumDate':'Europe/London' }}</span>
                    </ng-template>
                </app-loading-placeholder>
            </div>
            <div class="update-info-container">
                Installed Arma version:
                <app-loading-placeholder [height]="'25px'" [loading]="!installed" [width]="'35px'">
                    <ng-template #element>
                        <span>{{ installed.installedVersion }}</span>
                    </ng-template>
                </app-loading-placeholder>
            </div>
            <div class="update-info-container">
                Update required?
                <span [ngStyle]="{ color: getUpdateRequiredColour() }" class="update-info"> {{ getUpdateRequiredText() }}</span>
            </div>
            <app-button (clicked)="update()" [disabled]="isUpdateDisabled()" [pending]="updating">Update</app-button>
        </div>
    </app-main-content-area>
</app-default-content-areas>
