<app-centre-wrapper>
    <mat-card class="container">
        <form *ngIf="!isPasswordReset()">
            <div *ngIf="isValidatingCode()">
                <span>Login to validate {{validationTarget}}</span>
                <br>
            </div>
            <form [formGroup]="form">
                <div class="special-field-form-container">
                    <label for="name">If you see this, keep this field blank</label>
                    <input type="text" id="name" formControlName="name" tabindex="-1" autocomplete="off" />
                </div>
                <mat-form-field class="full-width">
                    <input matInput formControlName="userid" required id="emailAddress" type="email" placeholder="Email Address" autocomplete="username">
                </mat-form-field>
                <br>
                <mat-form-field class="full-width">
                    <input matInput formControlName="password" type="password" required placeholder="Password" autocomplete="current-password">
                </mat-form-field>
            </form>
        </form>
        <form *ngIf="isPasswordReset()">
            <div>
                <span>Enter your email and new password</span>
                <br>
            </div>
            <form [formGroup]="form">
                <div class="special-field-form-container">
                    <label for="name">If you see this, keep this field blank</label>
                    <input type="text" id="name" formControlName="name" tabindex="-1" autocomplete="off" />
                </div>
                <mat-form-field class="full-width">
                    <input matInput formControlName="userid" required id="emailAddress" type="email" placeholder="Email Address" autocomplete="username">
                </mat-form-field>
                <br>
                <mat-form-field class="full-width">
                    <input matInput formControlName="password" type="password" required placeholder="New Password" autocomplete="new-password">
                </mat-form-field>
                <br />
                <mat-form-field class="full-width">
                    <input matInput formControlName="confirmPass" type="password" required placeholder="Confirm New Password" autocomplete="new-password">
                </mat-form-field>
            </form>
        </form>
        <div>
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="width: 50%;">
                            <mat-checkbox color="primary" [(ngModel)]="stayLogged">Stay signed in</mat-checkbox>
                        </td>
                        <td style="width: 50%; text-align: right;">
                            <a style="cursor: pointer;" (click)="forgotPassword()">Forgot Password</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="loginError != ''">
            <br>
            <div class="invalid-message">
                <span>{{loginError}}</span>
            </div>
        </div>
        <br>
        <form>
            <div class="button-container">
                <button mat-raised-button color="primary" type="button" (click)="submit()">
                    <span *ngIf="!isPasswordReset(); else submitText">Login</span>
                    <ng-template #submitText>Submit</ng-template>
                </button>
            </div>
        </form>
    </mat-card>
</app-centre-wrapper>
