.container {
    width: 90%;
    max-width: 500px;
    margin: 10px;
    padding: 15px;
}

.full-width {
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.invalid-message {
    text-align: center;
    width: 100%;
}
