.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 520px;
    width: 400px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.normal {
    display: block;
    width: 400px;
}

