<h2 *ngIf="!edit" mat-dialog-title>Add Unit</h2>
<h2 *ngIf="edit" mat-dialog-title>Edit Unit</h2>
<mat-dialog-content>
    <form [formGroup]="form" class="container">
        <div style="text-align: center">
            <div class="container">
                <h4>Required Fields</h4>
                <mat-form-field class="normal">
                    <mat-label>Unit Name</mat-label>
                    <input [errorStateMatcher]="instantErrorStateMatcher" formControlName="name" matInput required />
                    <mat-error *ngFor="let validation of validationMessages.name; trackBy: trackByIndex">
                        <mat-error *ngIf="form.get('name').hasError(validation.type)" class="error-message">{{ validation.message }}</mat-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="normal">
                    <mat-label>Short Name</mat-label>
                    <input matInput formControlName="shortname" required [errorStateMatcher]="instantErrorStateMatcher" />
                    <mat-error *ngFor="let validation of validationMessages.shortname; trackBy: trackByIndex">
                        <mat-error class="error-message" *ngIf="form.get('shortname').hasError(validation.type)">{{ validation.message }}</mat-error>
                    </mat-error>
                </mat-form-field>
                <mat-checkbox color="primary" formControlName="preferShortname">Prefer displaying short name</mat-checkbox>
                <mat-form-field class="normal">
                    <mat-label>Branch Type</mat-label>
                    <mat-select formControlName="branch" required (selectionChange)="resolveAvailableParentUnits()">
                        <mat-option *ngFor="let type of branchTypes; trackBy: trackByIndex" [value]="type.value">
                            {{ type.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="normal" *ngIf="!this.edit || this.unit.parent !== '000000000000000000000000'">
                    <mat-label>Parent Unit</mat-label>
                    <mat-select formControlName="parent" required>
                        <mat-option *ngFor="let unit of availableParentUnits; trackBy: trackByUnitId" [value]="unit.id">
                            {{ unit.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngFor="let validation of validationMessages.parent; trackBy: trackByIndex">
                        <mat-error class="error-message" *ngIf="form.get('parent').hasError(validation.type)">{{ validation.message }}</mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <br />
            <div class="container">
                <h4>Optional Fields</h4>
                <mat-form-field class="normal">
                    <mat-label>TeamSpeak Group ID</mat-label>
                    <input matInput formControlName="teamspeakGroup" type="number" [errorStateMatcher]="instantErrorStateMatcher" />
                    <mat-error *ngFor="let validation of validationMessages.teamspeakGroup; trackBy: trackByIndex">
                        <mat-error class="error-message" *ngIf="form.get('teamspeakGroup').hasError(validation.type)">{{ validation.message }}</mat-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="normal">
                    <mat-label>Discord Role ID</mat-label>
                    <input matInput formControlName="discordRoleId" [errorStateMatcher]="instantErrorStateMatcher" />
                    <mat-error *ngFor="let validation of validationMessages.discordRoleId; trackBy: trackByIndex">
                        <mat-error class="error-message" *ngIf="form.get('discordRoleId').hasError(validation.type)">{{ validation.message }}</mat-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="normal">
                    <mat-label>Callsign</mat-label>
                    <input matInput formControlName="callsign" [errorStateMatcher]="instantErrorStateMatcher" />
                    <mat-error *ngFor="let validation of validationMessages.callsign">
                        <mat-error class="error-message" *ngIf="form.get('callsign').hasError(validation.type)">{{ validation.message }}</mat-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="normal">
                    <mat-label>Unit Icon</mat-label>
                    <input matInput formControlName="icon" />
                </mat-form-field>
            </div>
            <div class="button-container">
                <button (click)="delete()" *ngIf="edit" [disabled]="pending" class="button-delete" mat-raised-button type="button">Delete</button>
                <app-flex-filler *ngIf="edit"></app-flex-filler>
                <app-button (clicked)="submit()" [disabled]="!form.valid || !changesMade" [pending]="pending"> Submit </app-button>
            </div>
        </div>
    </form>
</mat-dialog-content>
