.mat-mdc-dialog-content {
    max-height: fit-content;
}

.container {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.normal {
    width: 400px;
}

.button-delete {
    color: red !important;
}
