.form-container {
    flex: 1;

    app-text-input {
        display: block;
    }

    .basics-container {
        display: flex;
        flex-direction: column;
        gap: 8px;

        app-dropdown {
            flex: 1;
        }
    }

    .permissions-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 8px 0;
        gap: 8px;

        app-docs-permissions {
            flex: 1;
        }
    }

    .hint {
        font-style: italic;
    }
}
