<mat-card appearance="outlined">
    <h2>Email Confirmation</h2>
    <form [formGroup]="formGroup">
        <p>
            An email has been sent to <b>'{{ accountService.account.email }}'</b> containing a confirmation code. Please copy this code to your clipboard and return to this page to confirm the code.
        </p>
        <p>If the code does not work or you did not receive a code, press 'Resend Code' (This will invalidate the previous code)</p>
        <br />
        <mat-form-field class="normal">
            <input matInput formControlName="code" required placeholder="Enter confirmation code" (ngModelChange)="changed($event)" autocomplete="off" />
        </mat-form-field>
        <div class="button-next">
            <app-button (clicked)="resend()" [disabled]="pending || resent" [pending]="pending">Resend Code</app-button>
        </div>
    </form>
</mat-card>
