@use '~@angular/material' as mat;
$dark-primary-text: black;
$dark: (
    50: #545454,
    100: #484848,
    200: #424242,
    300: #363636,
    400: #303030,
    500: #242424,
    600: #181818,
    700: #121212,
    800: #0e0e0e,
    900: #000000,
    A100: #1c1c1c,
    A200: #121212,
    A400: #121212,
    A700: #121212,
    contrast: (
        50: white,
        100: white,
        200: white,
        300: white,
        400: white,
        500: white,
            600: white,
            700: white,
            800: white,
            900: white,
            A100: white,
            A200: white,
            A400: white,
            A700: white
    )
);
$dark-pallette: mat.define-palette($dark, 700, 500, 900);

$light: (
        50: #fcfcfc,
        100: #f5f5f5,
        200: #eeeeee,
        300: #e0e0e0,
        400: #d4d4d4,
        500: #c6c6c6,
        600: #bababa,
        700: #adadad,
  800: #a1a1a1,
  900: #949494,
  A100: #ffffff,
  A200: #eeeeee,
  A400: #bdbdbd,
  A700: #616161,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
          600: $light-primary-text,
          700: $light-primary-text,
          800: $light-primary-text,
          900: $light-primary-text,
          A100: $dark-primary-text,
          A200: $dark-primary-text,
          A400: $dark-primary-text,
          A700: $light-primary-text,
  )
);
$light-pallette: mat.define-palette($light, 500, 100, 700);

$gold: (
        50: #fcebb1,
        100: #fce597,
        200: #fcdf7e,
        300: #fcd34c,
        400: #fcc921,
        500: #fec400,
        600: #fcb500,
        700: #fca400,
    800: #fc9700,
    900: #fc8f00,
    A100: #fec400,
    A200: #fec400,
    A400: #fec400,
    A700: #fec400,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $dark-primary-text,
            600: $dark-primary-text,
            700: $dark-primary-text,
            800: $dark-primary-text,
            900: $dark-primary-text,
            A100: $dark-primary-text,
            A200: $dark-primary-text,
            A400: $dark-primary-text,
            A700: $dark-primary-text
    )
);
$gold-pallette: mat.define-palette($gold, 500, 300, 700);
