@use '@angular/material' as mat;
@import '~@ali-hm/angular-tree-component/css/angular-tree-component.css';

// Core
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-typography-config());`
@include mat.all-component-typographies();
@include mat.core();

// Themes
@import 'darkTheme.scss';
//@import 'lightTheme.scss';

// Base
@import 'app/app.component.scss-theme.scss';
@import 'app/shared/components/teamspeak-connect/teamspeak-connect.component.scss-theme.scss';
@import 'app/core/components/footer-bar/footer-bar.component.scss-theme.scss';
@import 'app/core/components/header-bar/header-bar.component.scss-theme.scss';
@import 'app/core/components/notifications/notifications.component.scss-theme.scss';
@import 'app/core/components/side-bar/side-bar.component.scss-theme.scss';

// Pages
@import 'app/features/information/components/about-page/about-page.component.scss-theme.scss';
@import 'app/features/home/components/home-page/home-page.component.scss-theme.scss';
@import 'app/features/information/components/information-page/information-page.component.scss-theme.scss';
@import 'app/features/auth/components/login-page/login-page.component.scss-theme.scss';
@import 'app/features/modpack/modpack-page/modpack-page.component.scss-theme.scss';
@import 'app/features/application/components/application-page/application-page.component.scss-theme.scss';
@import 'app/features/operations/components/operations-page/operations-page.component.scss-theme.scss';
@import 'app/features/personnel/components/personnel-page/personnel-page.component.scss-theme.scss';
@import 'app/features/profile/components/profile-page/profile-page.component.scss-theme.scss';
@import 'app/features/recruitment/components/recruitment-application-page/recruitment-application-page.component.scss-theme.scss';
@import 'app/features/recruitment/components/recruitment-page/recruitment-page.component.scss-theme.scss';
@import 'app/features/units/components/unit-page/unit-page.component.scss-theme.scss';
@import 'app/features/units/components/units-page/units-page.component.scss-theme.scss';

// Components
@import 'app/features/admin/components/admin-servers/admin-servers.component.scss-theme';
@import 'app/features/admin/components/admin-variables/admin-variables.component.scss-theme';
@import 'app/shared/components/comment-display/comment-display.component.scss-theme.scss';
@import 'app/features/docs/components/docs-content/docs-content.component.scss-theme';
@import 'app/features/docs/components/docs-content/docs-content.quill.scss-theme';
@import 'app/features/docs/components/docs-permissions/docs-permissions.component.scss-theme';
@import 'app/features/docs/components/docs-sidebar/docs-sidebar.component.scss-theme';
@import 'app/features/docs/components/docs-sidebar/docs-folder/docs-folder.component.scss-theme';
@import 'app/features/docs/components/docs-sidebar/docs-document/docs-document.component.scss-theme';
@import 'app/shared/components/elements/file-drop/file-drop.component.scss-theme.scss';
@import 'app/shared/components/elements/inline-edit/inline-edit.component.scss-theme.scss';
@import 'app/shared/components/elements/inline-dropdown/inline-dropdown.component.scss-theme.scss';
@import 'app/shared/components/elements/loading-placeholder/loading-placeholder.component.scss-theme.scss';
@import 'app/shared/components/elements/selection-list/selection-list.component.scss-theme';
@import 'app/shared/components/elements/theme-emitter/theme-emitter.component.scss-theme.scss';
@import 'app/features/command/components/command-requests/command-request.component.scss-theme.scss';
@import 'app/features/command/components/command-members/command-members.component.scss-theme.scss';
@import 'app/features/command/components/command-members/command-member-card/command-member-card.component.scss-theme.scss';
@import 'app/features/command/components/command-ranks/command-ranks.component.scss-theme.scss';
@import 'app/features/command/components/command-roles/command-roles.component.scss-theme.scss';
@import 'app/features/command/components/command-units/command-units.component.scss-theme.scss';
@import 'app/features/operations/components/operations-servers/operations-servers.component.scss-theme.scss';
@import 'app/features/personnel/components/personnel-discharges/personnel-discharges.component.scss-theme.scss';
@import 'app/features/personnel/components/personnel-loas-list/personnel-loas-list.component.scss-theme.scss';
@import 'app/features/personnel/components/personnel-roster/personnel-roster.component.scss-theme';
@import 'app/features/units/components/units-orbat/units-orbat.component.scss-theme.scss';
@import 'app/features/units/components/units-orbat-aux/units-orbat-aux.component.scss-theme.scss';
@import 'app/features/units/components/units-orbat-secondary/units-orbat-secondary.component.scss-theme.scss';

// Modals
@import 'app/features/command/modals/add-unit-modal/add-unit-modal.component.scss-theme.scss';
@import 'app/features/operations/modals/edit-server-mods-modal/edit-server-mods-modal.component.scss-theme.scss';
@import 'app/shared/modals/request-loa-modal/request-loa-modal.component.scss-theme.scss';
@import 'app/shared/modals/message-modal/message-model.component.scss-theme';
@import 'app/shared/modals/validation-report-modal/validation-report-modal.scss-theme';

// Modpack
@import 'app/features/modpack/modpack-builds-dev/modpack-builds-dev.component.scss-theme.scss';
@import 'app/features/modpack/modpack-builds-rc/modpack-builds-rc.component.scss-theme.scss';
@import 'app/features/modpack/modpack-builds-steps/modpack-builds-steps.component.scss-theme.scss';
@import 'app/features/modpack/modpack-guide/modpack-guide.component.scss-theme.scss';
@import 'app/features/modpack/modpack-releases/modpack-releases.component.scss-theme.scss';
@import 'app/features/modpack/modpack-workshop/modpack-workshop.component.scss-theme.scss';
@import 'app/features/modpack/new-modpack-release-modal/new-modpack-release-modal.component.scss-theme.scss';
@import 'app/features/modpack/install-workshop-mod-modal/install-workshop-mod-modal.component.scss-theme';
@import 'app/features/modpack/workshop-mod-intervention-modal/workshop-mod-intervention-modal.component.scss-theme';

// Add components themes
@mixin custom-components-theme($theme) {
    // Base
    @include app-component-theme($theme);
    @include connect-teamspeak-component-theme($theme);
    @include footer-bar-component-theme($theme);
    @include header-bar-component-theme($theme);
    @include notifications-component-theme($theme);
    @include side-bar-component-theme($theme);

    // Pages
    @include about-page-component-theme($theme);
    @include home-page-component-theme($theme);
    @include information-page-component-theme($theme);
    @include login-page-component-theme($theme);
    @include modpack-page-component-theme($theme);
    @include application-page-component-theme($theme);
    @include operations-page-component-theme($theme);
    @include personnel-page-component-theme($theme);
    @include profile-page-component-theme($theme);
    @include recruitment-application-page-component-theme($theme);
    @include recruitment-page-component-theme($theme);
    @include unit-page-component-theme($theme);
    @include units-page-component-theme($theme);

    // Components
    @include admin-servers-component-theme($theme);
    @include admin-variables-component-theme($theme);
    @include comment-display-component-theme($theme);
    @include docs-sidebar-component-theme($theme);
    @include docs-folder-component-theme($theme);
    @include docs-document-component-theme($theme);
    @include docs-content-component-theme($theme);
    @include docs-content-quill-theme($theme);
    @include docs-permissions-component-theme($theme);
    @include file-drop-component-theme($theme);
    @include inline-edit-component-theme($theme);
    @include inline-dropdown-component-theme($theme);
    @include loading-placeholder-component-theme($theme);
    @include selection-list-component-theme($theme);
    @include theme-emitter-component-theme($theme);
    @include command-request-component-theme($theme);
    @include command-members-component-theme($theme);
    @include command-member-card-component-theme($theme);
    @include command-ranks-component-theme($theme);
    @include command-roles-component-theme($theme);
    @include command-units-component-theme($theme);
    @include operations-servers-component-theme($theme);
    @include personnel-discharges-component-theme($theme);
    @include personnel-loas-list-component-theme($theme);
    @include personnel-roster-component-theme($theme);
    @include units-orbat-component-theme($theme);
    @include units-orbat-aux-component-theme($theme);
    @include units-orbat-secondary-component-theme($theme);

    // Modals
    @include add-unit-modal-component-theme($theme);
    @include edit-server-mods-modal-component-theme($theme);
    @include request-loa-modal-component-theme($theme);
    @include validation-report-modal-component-theme($theme);
    @include message-modal-component-theme($theme);

    // Modpack
    @include modpack-builds-dev-component-theme($theme);
    @include modpack-builds-rc-component-theme($theme);
    @include modpack-builds-steps-component-theme($theme);
    @include modpack-guide-component-theme($theme);
    @include modpack-releases-component-theme($theme);
    @include modpack-workshop-component-theme($theme);
    @include new-modpack-release-modal-component-theme($theme);
    @include workshop-mod-intervention-modal-component-theme($theme);
}

.dark-theme {
    @include mat.all-component-themes($dark-theme);
    @include custom-components-theme($dark-theme);

    $foreground: map-get($dark-theme, foreground);
    $background: map-get($dark-theme, background);

    .mat-impersonated {
        color: #eee !important;
        background-color: #09c900 !important;
    }
    .mat-impersonated[disabled] {
        background-color: rgba(0, 0, 0, 0.12) !important;
    }

    .nav-bar {
        display: block;
        padding: 0 0 12px 0;

        .mat-mdc-tab-link {
            color: mat.get-color-from-palette($foreground, base);
            background-color: mat.get-color-from-palette($background, background);

            &:hover {
                background-color: mat.get-color-from-palette($background, hover);
            }
        }
    }

    b {
        filter: blur(0px);
    }

    .mat-mdc-button {
        background-color: mat.get-color-from-palette($background, selected);
    }

    input {
        color: mat.get-color-from-palette($foreground, base) !important;
        background-color: transparent !important;
    }

    .mat-expansion-indicator::after {
        transform: rotate(45deg) translate(-2px, -2px);
    }

    .mat-mdc-tab-nav-bar {
        overflow: auto;
    }
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
.mat-checkbox-layout {
    white-space: normal !important;
}

.cdk-virtual-scroll-orientation-horizontal {
    .cdk-virtual-scroll-content-wrapper {
        display: flex;
        flex-direction: row;
    }
}

.variables-list {
    .mat-expansion-panel-body {
        padding: 0 0 0 24px;
    }
}

.mods-list-item-container {
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    .mat-checkbox-layout {
        margin-bottom: 0;
    }
}

.trainings-list-item-container {
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    .mat-checkbox-layout {
        margin-bottom: 0;
    }
}

.member-panel-content-element {
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    .mat-checkbox-layout {
        margin: 0;
        /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
        .mat-checkbox-label {
            color: white;
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
        }
    }
}

.pbos-list-item-container {
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    .mat-checkbox-layout {
        margin-bottom: 0;
    }
}

.stats-item {
    /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
    .mat-checkbox-layout {
        margin-bottom: 0;
    }
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-icon-button,
.mat-mdc-outlined-button,
.mat-mdc-unelevated-button,
.mat-mdc-fab,
.mat-mdc-mini-fab,
.mat-tab-label,
.mat-mdc-tab-link {
    font-weight: unset;
}

/* TODO(mdc-migration): The following rule targets internal classes of autocomplete that may no longer apply for the MDC version.*/
.mat-autocomplete-panel {
    max-height: 456px !important;
}

@media screen and (max-height: 800px) {
    /* TODO(mdc-migration): The following rule targets internal classes of autocomplete that may no longer apply for the MDC version.*/
    .mat-autocomplete-panel {
        max-height: 312px !important;
    }
}

@media screen and (max-height: 700px) {
    /* TODO(mdc-migration): The following rule targets internal classes of autocomplete that may no longer apply for the MDC version.*/
    .mat-autocomplete-panel {
        max-height: 264px !important;
    }
}
