@use 'styles/theme-helpers' as th;

@mixin recruitment-application-page-component-theme($theme) {
    app-recruitment-application-page {
        a {
            color: th.primary($theme);
        }
        .p-rating-icon {
            color: th.primary($theme);
        }
    }
}
