:host {
    width: 100%;
    height: 100%;
    max-width: 2560px;
    margin: auto;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;

    &.flex-row {
        flex-direction: row;
    }

    &.no-padding {
        padding: 0;
    }

    &.padding-right {
        padding-right: 16px;
    }

    &.padding-left {
        padding-left: 16px;
    }

    &.padding-top {
        padding-top: 16px;
    }

    &.padding-bottom-thin {
        padding-bottom: 8px;
    }

    &.flex-half {
        flex: 0.5;
    }

    &.flex-third {
        flex: 0.33;
    }

    &.flex-two-thirds {
        flex: 0.67;
    }
}

h3 {
    margin: 15px 0;
}

.updating {
    margin: 13px;
}

.flex-grow {
    flex: 1;

    & mat-card {
        flex: 1;
    }
}

.flex-spread {
    justify-content: space-between;
}

.margin-bottom {
    margin-bottom: 16px;

    p {
        margin-bottom: 0;
    }
}

.margin-bottom-small {
    margin-bottom: 8px;
}

.fit-content {
    height: fit-content;
}

.header {
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &.small {
        font-size: 12px;
    }
}

.scrollable {
    overflow: auto;
    max-height: 300px;
}

img {
    margin: -3px 5px;
    vertical-align: unset;
    width: 20px;
    height: 15px;
}

::ng-deep .p-rating {
    ::ng-deep .p-rating-icon {
        font-size: 18px;
        line-height: 0;
        margin-right: 4px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.comment-hint {
    display: block;
    font-size: 12px;
    opacity: 0.7;
    margin-bottom: 8px;
}

.back-button {
    vertical-align: top;
    margin-right: 4px;
    margin-top: -8px;
}

.controls {
    margin: auto;
    justify-content: flex-end;

    .mat-mdc-button {
        margin-left: 16px;
    }
}

.recruiter {
    margin: auto;
    margin-left: 16px;

    .recruiter-dropdown {
        min-width: 180px;
    }
}

.green {
    color: green;
}

.goldenrod {
    color: goldenrod;
}

.red {
    color: red;
}

@media screen and (max-width: 768px) {
    .flex-container {
        &.padding-right {
            padding-right: 8px;
        }

        &.padding-left {
            padding-left: 8px;
        }

        &.padding-top {
            padding-top: 8px;
        }

        &.collapse {
            flex-direction: column !important;
        }
    }

    .controls {
        justify-content: flex-start;

        .mat-mdc-button {
            margin-left: 8px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .flex-container {
        &.padding-right {
            padding-right: 0;
        }

        &.padding-left {
            padding-left: 0;
        }

        &.collapse-small {
            flex-direction: column !important;
        }
    }
}

@media screen and (max-width: 450px) {
    .small-centred {
        text-align: center;
    }

    .updating {
        margin: 13px auto;
    }

    .flex-container {
        &.collapse-tiny {
            flex-direction: column !important;
        }
    }

    .recruiter {
        margin: 0;
        justify-content: center;
    }

    .controls {
        margin: 0;
        justify-content: center;

        .mat-mdc-button {
            margin: 0 4px;
            flex: 1;
            max-width: 200px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
