<div *ngIf="application != null" class="flex-container flex-row padding-bottom-thin collapse">
    <div class="flex-container flex-grow flex-row no-padding collapse-tiny">
        <h3 class="small-centred">
            <mat-icon (click)="back()">arrow_back</mat-icon>
            {{ application.account.firstname }} {{ application.account.lastname }}'s Application
            {{ application.account.application.state == applicationState.ACCEPTED ? ' - ' : application.account.application.state == applicationState.REJECTED ? ' - ' : '' }}
            <span [ngClass]="{ green: application.account.application.state == applicationState.ACCEPTED, red: application.account.application.state == applicationState.REJECTED }">
                {{ application.account.application.state == applicationState.ACCEPTED ? 'Accepted' : application.account.application.state == applicationState.REJECTED ? 'Rejected' : '' }}
            </span>
        </h3>
        <mat-spinner *ngIf="updating" class="updating" [diameter]="30"></mat-spinner>
    </div>
    <div class="flex-container flex-grow flex-row no-padding collapse-tiny">
        <div class="flex-container flex-grow flex-row no-padding controls">
            <button
                mat-button
                *ngIf="application.account.application.state == applicationState.WAITING"
                class="green"
                (click)="updateApplicationState(applicationState.ACCEPTED)"
                [disabled]="!isAcceptableAge() || updating"
            >
                <span [matTooltip]="!isAcceptableAge() ? 'Application cannot be accepted due to age requirements' : null">Approve</span>
            </button>
            <button mat-button *ngIf="application.account.application.state == applicationState.WAITING" class="red" (click)="updateApplicationState(applicationState.REJECTED)" [disabled]="updating">
                Reject
            </button>
            <button
                mat-button
                *ngIf="
                    application.account.application.state != applicationState.WAITING &&
                    application.account.membershipState != membershipState.MEMBER &&
                    application.account.membershipState != membershipState.DISCHARGED
                "
                class="goldenrod"
                (click)="updateApplicationState(applicationState.WAITING)"
                [disabled]="updating"
            >
                Reactivate
            </button>
            <button
                mat-button
                *ngIf="
                    application.account.application.state != applicationState.WAITING &&
                    application.account.membershipState != membershipState.MEMBER &&
                    application.account.membershipState == membershipState.DISCHARGED
                "
                class="goldenrod"
                [routerLink]="['/personnel/discharges']"
                [queryParams]="{ filter: application.account.lastname }"
                [disabled]="updating"
            >
                View Discharge
            </button>
            <button
                mat-button
                *ngIf="application.account.application.state == applicationState.ACCEPTED && application.account.membershipState == membershipState.MEMBER"
                class="red"
                (click)="resetApplicationToCandidate()"
                [disabled]="updating"
            >
                Reset to Candidate
            </button>
        </div>
        <ng-template [ngxPermissionsOnly]="['RECRUITER_LEAD']">
            <div class="flex-container flex-row no-padding recruiter">
                <div>
                    <mat-form-field [floatLabel]="'never'" class="select-thin">
                        <mat-label>{{ application.recruiter }}</mat-label>
                        <mat-select
                            [(ngModel)]="selected"
                            (selectionChange)="setNewRecruiter($event.value)"
                            [disableOptionCentering]="true"
                            [panelClass]="'select-small'"
                            [disabled]="updating"
                        >
                            <mat-option *ngFor="let recruiter of recruiters" [value]="recruiter.id">
                                {{ recruiter.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </ng-template>
    </div>
</div>
<div *ngIf="application != null">
    <div class="flex-container">
        <div class="flex-container flex-row flex-grow no-padding collapse-small">
            <div class="flex-container flex-two-thirds no-padding padding-right">
                <div class="flex-container flex-grow no-padding">
                    <h4>Candidate Information</h4>
                    <mat-card>
                        <div class="flex-container flex-row no-padding margin-bottom">
                            <div class="header"><b>Name</b></div>
                            <div>{{ application.account.firstname }} {{ application.account.lastname }}</div>
                        </div>
                        <div class="flex-container flex-row no-padding margin-bottom">
                            <div class="header"><b>Nationality</b></div>
                            <div><img alt="{{ application.account.nation }} flag" src="{{ application.account.nation | countryImage }}" />{{ application.account.nation | countryName }}</div>
                        </div>
                        <div class="flex-container flex-row no-padding margin-bottom">
                            <div class="header"><b>Date of Birth</b></div>
                            <div>{{ application.account.dob | date: 'd MMM y':'Europe/London' }}</div>
                        </div>
                        <div class="flex-container flex-row no-padding margin-bottom">
                            <div class="header"><b>Age</b></div>
                            <div [ngStyle]="{ color: getAgeColour() }">
                                {{ application.age.years }} Years {{ application.age.months > 0 ? application.age.months + (application.age.months == 1 ? ' Month' : ' Months') : '' }}
                            </div>
                        </div>
                        <div class="flex-container flex-row no-padding margin-bottom">
                            <div class="header"><b>Reference</b></div>
                            <div>{{ application.account.reference }}</div>
                        </div>
                        <div class="flex-container no-padding">
                            <div class="header"><b>Background</b></div>
                            <p class="scrollable">
                                <span>{{ application.account.background }}</span>
                            </p>
                        </div>
                    </mat-card>
                </div>
                <div class="flex-container flex-two-thirds no-padding collapse-small">
                    <div class="flex-container flex-row flex-third no-padding">
                        <div class="flex-container flex-grow no-padding">
                            <h4>Candidate Experience</h4>
                            <mat-card>
                                <div class="flex-container no-padding">
                                    <div class="header"><b>Arma Experience</b></div>
                                    <p class="scrollable">
                                        <span>{{ application.account.armaExperience }}</span>
                                    </p>
                                </div>
                                <div class="flex-container no-padding margin-bottom">
                                    <div class="header"><b>Previous Units</b></div>
                                    <p class="scrollable">
                                        <span>{{ application.account.unitsExperience }}</span>
                                    </p>
                                </div>
                                <div class="flex-container no-padding margin-bottom">
                                    <div class="header"><b>Military Experience</b></div>
                                    <div>{{ application.account.militaryExperience ? 'Yes' : 'No' }}</div>
                                </div>
                            </mat-card>
                        </div>
                        <div class="flex-container flex-grow no-padding padding-left">
                            <h4>Specialist Preferences</h4>
                            <mat-card *ngIf="application.account.rolePreferences.length > 0">
                                <div *ngFor="let rolePreference of application.account.rolePreferences" class="flex-container flex-row no-padding margin-bottom-small">
                                    <div class="header">
                                        <b>{{ rolePreference }}</b>
                                        <b>Yes</b>
                                    </div>
                                </div>
                                <div *ngFor="let rolePreference of otherRolePreferenceOptions" class="flex-container flex-row no-padding margin-bottom-small">
                                    <div class="header small">
                                        <span>{{ rolePreference }}</span>
                                        <span>No</span>
                                    </div>
                                </div>
                            </mat-card>
                            <mat-card *ngIf="application.account.rolePreferences.length === 0">
                                <div class="flex-container flex-row no-padding margin-bottom-small">
                                    <div class="header"><b>None</b></div>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-container flex-third no-padding">
                <div class="flex-container no-padding">
                    <h4>Application Dates</h4>
                    <mat-card>
                        <div class="flex-container flex-row flex-grow no-padding margin-bottom">
                            <div class="header"><b>Date Applied</b></div>
                            <div>{{ application.account.application.dateCreated | date: 'd MMM y':'Europe/London' }}</div>
                        </div>
                        <div *ngIf="application.account.application.state == applicationState.WAITING">
                            <div class="flex-container flex-row flex-grow no-padding margin-bottom">
                                <div class="header"><b>Next Candidate Op</b></div>
                                <div>{{ application.nextCandidateOp }}</div>
                            </div>
                            <div class="flex-container flex-row flex-grow no-padding margin-bottom">
                                <div class="header"><b>Days Processing</b></div>
                                <div>{{ application.daysProcessing }} {{ application.daysProcessing == 1 ? 'Day' : 'Days' }}</div>
                            </div>
                        </div>
                        <div *ngIf="application.account.application.state != applicationState.WAITING">
                            <div class="flex-container flex-row flex-grow no-padding margin-bottom">
                                <div class="header"><b>Date Processed</b></div>
                                <div>{{ application.account.application.dateAccepted | date: 'd MMM y':'Europe/London' }}</div>
                            </div>
                            <div class="flex-container flex-row flex-grow no-padding margin-bottom">
                                <div class="header"><b>Processing Duration</b></div>
                                <div>{{ application.daysProcessed }} {{ application.daysProcessed == 1 ? 'Day' : 'Days' }}</div>
                            </div>
                        </div>
                        <div class="flex-container flex-row flex-grow no-padding margin-bottom">
                            <div class="header"><b>Average Processing Duration</b></div>
                            <div>{{ application.averageProcessingTime }} {{ application.averageProcessingTime == 1 ? 'Day' : 'Days' }}</div>
                        </div>
                    </mat-card>
                </div>
                <div class="flex-container no-padding">
                    <h4>Candidate Contacts</h4>
                    <mat-card>
                        <div class="flex-container flex-row flex-grow no-padding margin-bottom">
                            <div class="header"><b>TeamSpeak</b></div>
                            <div *ngIf="teamspeakState | async as teamspeakState; else teamspeakStateLoading">
                                <div [ngClass]="{ green: teamspeakState.online, red: !teamspeakState.online }">
                                    {{ teamspeakState.online ? 'Online as ' + teamspeakState.nickname : 'Offline' }}
                                </div>
                            </div>
                            <ng-template #teamspeakStateLoading>
                                <div class="red">Offline</div>
                            </ng-template>
                        </div>
                        <div class="flex-container flex-row flex-grow no-padding margin-bottom">
                            <div class="header"><b>Discord</b></div>
                            <div *ngIf="discordState | async as discordState; else discordStateLoading">
                                <div [ngClass]="{ green: discordState.online, red: !discordState.online }">{{ getDiscordName(discordState) }}</div>
                            </div>
                            <ng-template #discordStateLoading>
                                <div class="red">Offline</div>
                            </ng-template>
                        </div>
                        <div class="flex-container flex-row flex-grow no-padding margin-bottom">
                            <div class="header"><b>Steam</b></div>
                            <div><a [attr.href]="application.steamProfile" target="_blank">Steam Profile</a></div>
                        </div>
                        <div class="flex-container flex-row flex-grow no-padding margin-bottom">
                            <div class="header"><b>Email</b></div>
                            <div>
                                <a [attr.href]="'mailto:' + application.account.email" target="_blank">{{ application.account.email }}</a>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="flex-container flex-row flex-grow no-padding collapse">
            <div class="flex-container flex-row flex-grow no-padding padding-top collapse-small">
                <div class="flex-container flex-grow no-padding fit-content">
                    <h4>Application Chat</h4>
                    <mat-card>
                        <ng-template [ngxPermissionsOnly]="['RECRUITER']">
                            <sup>Visible to candidate</sup>
                        </ng-template>
                        <app-comment-display #applicationCommentsDisplay [threadId]="application.account.application.applicationCommentThread"></app-comment-display>
                    </mat-card>
                </div>
                <ng-template [ngxPermissionsOnly]="['RECRUITER']">
                    <div class="flex-container flex-grow no-padding padding-left fit-content">
                        <h4>Recruiter Chat</h4>
                        <mat-card>
                            <sup>Only visible to SR1</sup>
                            <app-comment-display #recruiterCommentsDisplay [threadId]="application.account.application.recruiterCommentThread"></app-comment-display>
                        </mat-card>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
