@use '@angular/material' as mat;
@import "@angular/material/theming";

@mixin comment-display-component-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);

    app-comment-display {
        .comment-form {
            button {
              background-color: mat.get-color-from-palette($background, selected);
            }
        }
        .comments-container {
            .comment-wrapper {
                .author {
                    .author-string {
                      color: mat.get-color-from-palette($primary);
                    }

                    .date-string {
                      color: mat.get-color-from-palette($background, hover);
                    }

                    .delete-button {
                        background-color: transparent;

                        &:hover {
                          color: mat.get-color-from-palette($primary);
                        }
                    }

                    .mat-button-focus-overlay {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}
