@use 'styles/theme-helpers' as th;

@mixin comment-display-component-theme($theme) {
    app-comment-display {
        .comments-container {
            .comment-wrapper {
                .author {
                    .author-string {
                      color: th.primary($theme);
                    }

                    .date-string {
                      color: var(--uksf-hover);
                    }

                    .delete-button {
                        background-color: transparent;

                        &:hover {
                          color: th.primary($theme);
                        }
                    }
                }
            }
        }
    }
}
