<div class="comment-form" *ngIf="canPost">
    <form [formGroup]="commentForm">
        <app-text-input label="Enter comment" formControlName="commentContent"
            [multiline]="true" [maxRows]="10" [maxlength]="1000" [reserveErrorSpace]="false"
            [hint]="commentForm.controls.commentContent.value?.length > 900 ? commentForm.controls.commentContent.value.length + ' / 1000' : ''"
            (keydown.enter)="postComment()">
        </app-text-input>
    </form>
    <app-button (clicked)="postComment()" [disabled]="!hasText()">Submit</app-button>
</div>
<div class="comments-container">
    <div class="comment-wrapper" *ngFor="let comment of comments; trackBy: trackById">
        <div class="author">
            <span class="author-string">{{ getAuthorDisplayName(comment.displayName) }}</span>
            <span class="date-string">{{ comment.timestamp | timeAgo }}</span>
            <button class="delete-button" mat-icon-button *ngIf="canDelete(comment)" (click)="deleteComment(comment)" matTooltip="Delete comment">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        <div class="comment">
            <span class="comment-string">{{ comment.content }}</span>
        </div>
    </div>
</div>
