@use '@angular/material' as mat;
@use 'sass:map';

@mixin comment-display-component-theme($theme) {
    $background: map.get($theme, background);
    $foreground: map.get($theme, foreground);
    $primary: map.get($theme, primary);

    app-comment-display {
        .comments-container {
            .comment-wrapper {
                .author {
                    .author-string {
                      color: mat.m2-get-color-from-palette($primary);
                    }

                    .date-string {
                      color: mat.m2-get-color-from-palette($background, hover);
                    }

                    .delete-button {
                        background-color: transparent;

                        &:hover {
                          color: mat.m2-get-color-from-palette($primary);
                        }
                    }
                }
            }
        }
    }
}
