@use 'styles/variables' as v;

.comment-form {
    display: flex;
    flex-direction: column;
    margin-bottom: v.$spacing-16px;

    app-text-input {
        width: 100%;
    }

    app-button {
        align-self: flex-end;
        margin-top: v.$spacing-8px;
    }
}

.comments-container {
    max-height: 1000px;
    overflow: auto;

    .comment-wrapper {
        display: block;
        margin-bottom: 18px;

        .author {
            width: 100%;
            height: v.$spacing-24px;
            display: flex;

            > span {
                vertical-align: middle;
            }

            span {
                filter: blur(0px);
            }

            .author-string {
                margin: auto v.$spacing-8px auto 0;
                font-size: 13px;
                font-weight: bold;
                vertical-align: middle;
            }

            .date-string {
                font-size: 13px;
                vertical-align: middle;
                margin: auto 0;
                flex: 1;
            }

            .delete-button {
                width: 36px;
                height: 36px;
                padding: 6px;
                line-height: 1;
                border-radius: 4px;

                ::ng-deep .mat-mdc-button-persistent-ripple,
                ::ng-deep .mat-mdc-focus-indicator {
                    border-radius: 4px;
                }
            }
        }
    }

    .comment {
        padding-right: v.$spacing-24px;

        .comment-string {
            white-space: pre-wrap;
            word-break: break-word;
        }
    }
}
