a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

.spinner-container {
    height: 416px;
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 50%;
    transform: translate(-170px, 0);
}

.mat-mdc-dialog-content {
    min-width: 600px;

    .mat-mdc-form-field {
        width: 100%;
    }

    .button-container {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 700px) {
    .mat-mdc-dialog-content {
        min-width: 400px;
    }
}

@media screen and (max-width: 600px) {
    .mat-mdc-dialog-content {
        min-width: 300px;
    }
}
