<app-default-content-areas>
    <app-main-content-area style="grid-column: span 3">
        <div class="flex-container">
            <div class="div-container">
                <div class="flex-container-slim">
                    <div class="loa-buttons-container">
                        <div>
                            <button mat-raised-button class="new-loa-button" color="primary" (click)="createLoa()">New LOA</button>
                        </div>
                        <app-flex-filler></app-flex-filler>
                        <app-text-input
                            class="loa-filter"
                            label="Filter"
                            [(ngModel)]="filterString"
                            [clearable]="true"
                            [reserveErrorSpace]="false"
                            tooltip="Use operators 'AND' or 'OR' to combine filters"
                            (input)="filter()"
                            (cleared)="filter()"
                        >
                        </app-text-input>
                        <div class="loa-filter-buttons-container">
                            <button [matMenuTriggerFor]="viewModeMenu" mat-raised-button matTooltip="Change view mode to see LOAs for the selected group">
                                <mat-icon class="icon-right">{{ viewMode.icon }}</mat-icon>
                                <span class="item-text">{{ viewMode.name }}</span>
                            </button>
                            <mat-menu #viewModeMenu="matMenu">
                                @for (mode of viewModes; track mode) {
                                <button (click)="changeViewMode(mode)" [disabled]="viewMode.mode === mode.mode" mat-menu-item>
                                    <mat-icon class="icon-right">{{ mode.icon }}</mat-icon>
                                    <span class="item-text">{{ mode.name }}</span>
                                </button>
                                }
                            </mat-menu>
                            <button [matMenuTriggerFor]="dateModeMenu" mat-raised-button matTooltip="Change date mode to see LOAs for the selected mode">
                                <mat-icon class="icon-right">{{ dateMode.icon }}</mat-icon>
                                <span class="item-text">{{ dateMode.name }}{{ getDisplayForDateMode(dateMode.mode) }}</span>
                            </button>
                            <mat-menu #dateModeMenu="matMenu">
                                @for (mode of dateModes; track mode) {
                                <button (click)="changeDateMode(mode)" [disabled]="dateMode.mode === mode.mode" mat-menu-item>
                                    <mat-icon class="icon-right">{{ mode.icon }}</mat-icon>
                                    <span class="item-text">{{ mode.name }}</span>
                                </button>
                                }
                            </mat-menu>
                        </div>
                        @if (dateMode.mode === 'select') {
                        <app-date-input
                            class="select-date-picker"
                            label="Select date"
                            [(ngModel)]="selectedDate"
                            [touchUi]="mobile"
                            [reserveErrorSpace]="false"
                            (ngModelChange)="update()"
                        ></app-date-input>
                        }
                    </div>
                    <h6>All dates and times are in GMT</h6>
                    <div>
                        <app-personnel-loas-list [selectionMode]="'current'" (deleteEvent)="delete($event)"></app-personnel-loas-list>
                        <app-personnel-loas-list [selectionMode]="'future'" (deleteEvent)="delete($event)"></app-personnel-loas-list>
                        <app-personnel-loas-list [selectionMode]="'past'" [deletable]="false"></app-personnel-loas-list>
                    </div>
                </div>
            </div>
        </div>
    </app-main-content-area>
</app-default-content-areas>
