:host {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.loa-buttons-container {
    display: flex;
    align-items: flex-end;

    .new-loa-button {
        margin-right: 5px;
    }

    .loa-filter-buttons-container {
        display: flex;

        .mat-mdc-raised-button {
            margin-left: 8px;

            .icon-right {
                margin-right: 6px;
            }
        }
    }

    .loa-filter {
        width: 30%;
        margin-right: 10px;
    }

    .mat-mdc-form-field {
        &.select-date-picker {
            min-width: 100px;
            width: 10%;
            margin-left: 10px;
        }

        .mat-mdc-icon-button {
            background-color: transparent;

            .mat-icon {
                margin: 0;
                height: 21px;
                line-height: 21px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .loa-buttons-container {
        flex-direction: column;
        align-items: start;

        &:nth-child(1) {
            margin-bottom: 5px;
        }

        .loa-filter {
            width: 95%;
        }
    }
}

::ng-deep .mat-mdc-menu-item {
    ::ng-deep .icon-right {
        margin-right: 6px;
    }

    ::ng-deep .item-text {
        vertical-align: middle;
    }
}
