.flex-container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

td {
    margin-right: 15px;
    padding-right: 15px;
    vertical-align: top;
}

.rating {
    display: flex;
}

.rating-label {
    float: left;
    font-size: smaller;
}

.mat-icon {
    cursor: pointer;
    vertical-align: top;
    height: 26px;
    line-height: 26px;
}
