@use '~@angular/material' as mat;

@mixin recruitment-application-page-component-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);

    app-recruitment-application-page {
        a {
            color: mat.get-color-from-palette($primary);
        }
        .p-rating-icon {
            color: mat.get-color-from-palette($primary);
        }
    }
}
