<app-default-content-areas>
    <app-main-content-area style="grid-column: span 3">
        <app-admin-page></app-admin-page>
        <div class="page-container">
            <div class="table-header">
                <app-text-input class="filter-input" label="Filter" [(ngModel)]="filter"
                    [clearable]="true" [reserveErrorSpace]="false"
                    (input)="applyFilter(filter)" (cleared)="applyFilter('')">
                </app-text-input>
                <app-flex-filler></app-flex-filler>
                <span class="expand-hint">Some columns can be expanding by clicking on the data cell</span>
            </div>
            <div class="spinner-container" *ngIf="!dataLoaded">
                <mat-spinner></mat-spinner>
            </div>
            <div class="table-container mat-elevation-z8">
                <mat-table [dataSource]="datasource" matSort>
                    <ng-container matColumnDef="timestamp">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Timestamp </mat-header-cell>
                        <mat-cell *matCellDef="let row"
                            ><span>{{ row.timestamp | date: 'dd/MM/yy HH:mm:ss':'Europe/London' }}</span></mat-cell
                        >
                    </ng-container>
                    <ng-container matColumnDef="level">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Level </mat-header-cell>
                        <mat-cell *matCellDef="let row" [ngClass]="levelClass(row.level)"
                            ><span>{{ levelToString(row.level) }}</span></mat-cell
                        >
                    </ng-container>
                    <ng-container matColumnDef="message">
                        <mat-header-cell *matHeaderCellDef style="cursor: auto"> Message </mat-header-cell>
                        <mat-cell *matCellDef="let row" (click)="openMessageDialog($event.target.textContent)"
                            ><span>{{ row.message }}</span></mat-cell
                        >
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="logDisplayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: logDisplayedColumns"> </mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[25, 50, 100, 200]"></mat-paginator>
            </div>
        </div>
    </app-main-content-area>
</app-default-content-areas>
