@use '../../admin-shared' as admin;

@include admin.admin-table-base;
@include admin.column-user-id;
@include admin.column-name;

.mat-column-level {
    flex: 0 0 85px;
}

.mat-column-exception {
    flex: 1 1 250px;
    cursor: pointer;
}

.mat-column-httpMethod {
    flex: 0 0 85px;
}

.mat-column-url {
    flex: 0 0 200px;
    cursor: pointer;
}

.log-level-error {
    color: red;
}

.log-level-warning {
    color: goldenrod;
}
