<app-default-content-areas>
    <app-main-content-area>
        <mat-tab-group>
            <mat-tab label="Live Viewer">
            </mat-tab>
            <mat-tab label="ORBAT Tool">
            </mat-tab>
            <mat-tab label="Game Window">
            </mat-tab>
            <mat-tab label="Command App">
            </mat-tab>
            <mat-tab label="Command Terminal">
                <mat-card style="max-height:412px;overflow-y:scroll;">
                    <pre *ngFor="let message of messages">{{message}}</pre>
                </mat-card>
                <br>
                <form [formGroup]="terminalForm">
                    <button mat-raised-button [disabled]="!terminalForm.valid" (click)="sendTerminal()" style="float:right">Send</button>
                    <div style="overflow:hidden;">
                        <mat-form-field style="width:100%">
                            <input matInput placeholder="Type a command (try 'Help' to get started)" formControlName="terminalInput">
                        </mat-form-field>
                    </div>
                </form>
            </mat-tab>
        </mat-tab-group>
    </app-main-content-area>
</app-default-content-areas>
