@use 'styles/theme-helpers' as th;

.flex-container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

.section {
    height: fit-content;
    background-position-y: center;
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-container {
    height: 100%;
    padding: 16px;
}

.text-container {
    h3 {
        border-bottom: solid;
    }
}

h4 {
    display: inline;
}

a {
    color: th.primary();
}

.text-container {
    color: white;
    background-color: #000000d6;
}
