@use 'styles/theme-helpers' as th;

@mixin about-page-component-theme($theme) {
    app-about-page {
        a {
            color: th.primary($theme);
        }

        .text-container {
            color: white;
            background-color: #000000d6;
        }
    }
}
