@use '@angular/material' as mat;

@mixin about-page-component-theme($theme) {
    $primary: map-get($theme, primary);

    app-about-page {
        a {
            color: mat.m2-get-color-from-palette($primary);
        }

        .text-container {
            color: white;
            background-color: #000000d6;
        }
    }
}
