<div class="sections-container">
    <div class="section" style="background-image: url(assets/dist/images/about/a1.jpg);">
        <div class="text-container">
            <h3>UKSF</h3>
            <p>We are a like-minded community dedicated to fun and immersion</p>
            <br />
            <p>The unit is based on a real task force responsible for British special forces missions around the globe</p>
            <br />
            <p>Our members carry out a multitude of mission types in a variety of environments using a broad spectrum of skills</p>
            <br />
            <p>Whilst we teach our members the basics of Arma soldier skills, we are not for the casual Arma player</p>
        </div>
    </div>
    <div class="section" style="background-image: url(assets/dist/images/about/a2.jpg);">
        <div class="text-container">
            <h3>Our values</h3>
            <p>Regardless of age, members are expected to conduct themselves in a mature fashion</p>
            <br />
            <p>Everyone is ultimately here to have fun. Operations are tailored to challenge both the team and the individual, whilst remaining engaging and enjoyable for all</p>
            <br />
            <p>UKSF operates in units, which are further split into small teams. We expect members to be able to function in a team without issue</p>
            <br />
            <p>Like the units we try to simulate, we expect a continuously good skill level from members. Everyone must hold themselves and their peers to a high standard</p>
            <br />
            <p>
                We aim to achieve as high a level of immersion as possible on our operations, covering everything from communications and procedures, to analysis of intel and operational documentation
            </p>
        </div>
    </div>
    <div class="section" style="background-image: url(assets/dist/images/about/a3.jpg);">
        <div class="text-container">
            <h3>Special Forces</h3>
            <p>
                The Special Forces playstyle is the core of UKSF operations. The various teams within UKSF take on a variety of roles and specialisations including but not limited to: Airborne,
                Waterborne, and Mobility
            </p>
            <br />
            <p>
                Variety is a key part of playing as Special Forces and as such, our missions and campaigns can cover everything from large scale operations, stealth strikes against key targets, hiding
                in plain sight in civilian clothing, counter-insurgency operations, insurgent operations, and everything in between
            </p>
            <br />
            <p>
                Our members attain the necessary skills through training and specialisation courses, with ample opportunity for practice. This ensures that everyone knows their role, and standards on
                operations are kept high to maximise peoples' enjoyment
            </p>
        </div>
    </div>
    <div class="section" style="background-image: url(assets/dist/images/about/a4.jpg);">
        <div class="text-container">
            <h3>Aviation</h3>
            <p>Our high-standards dedicated aviation wing provides ground units with vital support in the field, and plays an important role in the success of each operation</p>
            <br />
            <p>We offer roles in rotary transport and attack aircraft, and various fixed-wing aircraft</p>
            <br />
            <p>Each role is responsible for a variety of missions in support of ground and other air units, and pilots are held to the highest standard during every mission they undertake</p>
            <br />
            <p>In addition to our in-depth procedures, full Air Traffic Control and Combat Air Controller communications creates a rich simulation environment</p>
        </div>
    </div>
    <div class="section" style="background-image: url(assets/dist/images/about/a5.jpg);">
        <div class="text-container">
            <h3>Training</h3>
            <p>Frequent training enables us to achieve a high level of realism and immersion</p>
            <br />
            <p>A 4 week basic training course is completed by all members before specialising in any role</p>
            <br />
            <p>Specialist training courses enable members to immerse themselves in rewarding roles and contribute to the mission in a unique way</p>
            <br />
            <p>
                The specialist roles we offer include Medic, Sniper, FAC, NCO, and Officer. In addition to these roles, there are qualifications that enable the use of specialist weapon systems, such
                as anti-tank, gunner, and marksman
            </p>
        </div>
    </div>
    <div class="section" style="background-image: url(assets/dist/images/about/a6.jpg);">
        <div class="text-container">
            <h3>When we play</h3>
            <p>Our main operations are every Saturday at 7:45pm BST. We expect all members to attend this event on a regular basis</p>
            <br />
            <p>Training sessions run every Wednesday at 7:45pm BST. Specialist units also train on an ad-hoc basis on other days</p>
            <br />
            <p>Side operations run most days of the week at 7:30pm BST. These are optional but encouraged</p>
        </div>
    </div>
    <div class="section" style="background-image: url(assets/dist/images/about/a7.jpg);">
        <div class="text-container">
            <h3>Getting started</h3>
            <p>If you are interested in becoming a member of UKSF, fill in an <a routerLink="/application">application</a></p>
            <br />
            <p>A recruitment officer will contact you to organise a trial session once you submit an application</p>
            <br />
            <p>
                If you have questions before you apply, please speak to any of our members on
                <a href="ts3server://uk-sf.co.uk">TeamSpeak</a>
            </p>
            <br />
            <p>Or you can talk with us on our <a target="_blank" href="http://discord.uk-sf.co.uk">Discord</a></p>
        </div>
    </div>
</div>
