.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 700px;

    .normal {
        display: block;
        width: 100%;
    }

    .root-mod {
        display: flex;
        margin: 8px 0 0;
    }
}
