.mat-mdc-dialog-content {
    overflow: unset;
    display: flex;
    flex-direction: column;
    min-width: 700px;

    .form-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        .normal {
            width: 100%;
        }

        .root-mod {
            display: flex;
            margin: 8px 0 0;
        }
    }

    .button-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}
