@use '@angular/material' as mat;

@mixin new-modpack-release-modal-component-theme($theme) {
    $primary: map-get($theme, primary);

    app-new-modpack-release-modal {
        .mat-mdc-dialog-content {
            .previous-version {
                color: mat.get-color-from-palette($primary);
            }

            .form-container {
                .versions-container {
                    .mat-mdc-radio-button {
                        .version-label {
                            color: white;

                            &.selected {
                                color: mat.get-color-from-palette($primary);
                            }
                        }
                    }
                }
            }
        }
    }
}
