@use 'styles/theme-helpers' as th;

@mixin login-page-component-theme($theme) {
    app-login-page {
        a {
          color: th.primary($theme);
        }
        .invalid-message {
          color: th.warn($theme);
        }
    }
}
