@use '@angular/material' as mat;

@mixin login-page-component-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $warn: map-get($theme, warn);

    app-login-page {
        a {
          color: mat.m2-get-color-from-palette($primary);
        }
        .invalid-message {
          color: mat.m2-get-color-from-palette($warn);
        }
    }
}
